<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title endblock %} | {{ 'service.name'|trans }}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="SkreenHouseFactory">
	<meta name="language" content="fr-FR" />
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="noindex,nofollow">
	{% block meta %}{% endblock %}

  {% stylesheets
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/slider.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/modal.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/style.less'
        filter='less,?yui_css'
        output='css/v3.css'
        %}
      <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Votre navigateur est <em>ancien!</em> <a href="http://browsehappy.com/">Mettez-le à jour</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installez Google Chrome Frame</a> pour profiter utiliser mySkreen dans les meilleurs conditions.</p><![endif]-->

    {% include 'SkreenHouseFactoryV3Bundle:Main:_modal.html.twig' %}

    <div id="header">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_header.html.twig' with {'menus': menus} %}
    </div>

    {% block content %}
    {% endblock %}

    <div id="player">
      <i class="icon-resize-small icon-white"></i>
      <div class="metas player-overlay"><span class="title"></span><br/><span class="subtitle"></span><br/><span class="actions"></span></div>
      <div class="embed"></div>
    </div>

    <div id="redirect" class="collapse in">
    {% block redirect %}
    {% endblock %}
    </div>
    
    <div id="top-links">
    {% for key,m in menus %}
      <ul>{{  'all.the.format'|trans({'%format%': key|lower}) }} : 
      {% for l in m %}
        <li><a href="link-v2('{{ l.seo_url }}');" title="{{ l.name }} {{  key }} {{ 'access.streaming'|trans }}">{{ l.name }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
    </div>

{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.8.0.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.cookies.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap-ajax-typeahead.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/easyXDM.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/*' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/*' 
    filter='?yui_js' 
    output='js/compiled/v3.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if nostat is not defined %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6151896-8']);
  _gaq.push(['_trackPageview']);
  (function() { 
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.id = 'scriptAnalytics';
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
    var s = document.body.appendChild(ga); 
    })(); 
</script>
{% endif %}
</body>
</html>