<div class="bande_plus_fonce nopadding">
  <div class="container">
    <h2>A voir en ce moment</h2>
    <ul class="notifications">
      {% for n in notifications|to_array %}
      <li class="tv-component plays broadcast">
        <a href="{{ n.link }}" class="link">
          <img src="{{ n.channel_ico }}" class="channel pull-left">
          <img src="{{ n.ico }}" alt="notification" class="ico pull-left">
          <div class="title">{{ n.title }}</div>
          <div class="subtitle">{{ n.title_episode }}</div>
          <div class="label label-success">{{ n.subtitle }}</div>
        </a>
      </li>
      <li class="divider notification plays broadcast"></li>
      {% endfor %}
    </ul>
  </div>
</div>
