{% extends "SkreenHouseFactoryV3Bundle:Channel:_base-channel.html.twig" %}

{% block customcontent %}
  <div id="view-appsinstall" >
    <div class="myworldisblue">
      <div class="container">
        <a href="https://itunes.apple.com/us/app/myskreen/id714308898?l=fr&ls=1&mt=8" class="store store2">
          <img src="{{ asset('bundles/skreenhousefactoryv3/images/btn_dwnld_iphone.jpg') }}" alt="Bouton téléchargement iphone">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr" class="store store1">
          <img src="{{ asset('bundles/skreenhousefactoryv3/images/btn_dwnld_android.jpg') }}" alt="Bouton téléchargement android">
        </a>
      </div>
    </div>
    <div class="container textbgcol"> 
      <div class="row">
        <div class="col-xs-8">
          <h2 class="lato title-3 fav" data-id="64">Disponible sur iOS et Android</h2>
          <p>Découvrez la nouvelle appli gratuite myskreen et profitez du guide de programmes le plus simple et le plus complet :
            </br>
            <ul class="list-style">
              <li><span>Télé</span></li>
              <li><span>Replay</span></li>
              <li><span>VOD</span></li>
              <li><span>Cinéma</span></li>
            </ul>
          </p>
          <h3 class="title-4">Un programme vous intéresse ?</h3>
          <p>myskreen vous indique où et comment le regarder en 1 clic !
            <br>
            Vous pouvez même ajouter vos programmes préférés à vos listes et créer votre télé personnelle à la carte !
          </p>
          <a href="{{ path('homes', {home: null})|replace({'//': '/'}) }}">
            <button type="button" class="btn btn-default">Découvrir myskreen</button>
          </a>
        </div>
        <div class="col-xs-8">
          <h2 class="lato title-3">L’Intégrale des Inconnus</h2>
          <p>Retrouvez en ce moment l’Intégrale des Inconnus ! Tous les sketches cultes sont enfin disponibles en streaming gratuit sur l’appli myskreen.
          </p>
          <br>
          <br>
          <h4 class="title-5">     A voir et à revoir absolument :</h4>
          <ul class="list-style">
            <li><span> Stade 2</span></li>
            <li><span>Les Chasseurs</span></li>
            <li><span>C'est toi que je t'aime</span></li>
            <li><span>La ZUP</span></li> 
            <li><span>Télémagouilles</span></li>     
          </ul>
          <p>...et tant d’autres sketches des Inconnus qui vous ont forcément marqué et qui sont toujours tant d’actualité !</p>
          <a href="{{ path ('channel', {'slug':'les-inconnus'})}}">
            <button type="button" class="btn btn-default">Voir l'Intégrale</button>
          </a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <hr style="padding-top: 50px;">
      <div class="row" style="padding-top: 50px;">
        <div class="col-xs-8" style="text-align: center;">
          <a href="https://itunes.apple.com/us/app/myskreen/id714308898?l=fr&ls=1&mt=8" class="">
            <img src="{{ asset('bundles/skreenhousefactoryv3/images/iphone.png') }}" alt="Retrouvez l’appli myskreen sur l'app store">
            <img src="{{ asset('bundles/skreenhousefactoryv3/images/qr-appstore.png') }}" alt="Retrouvez l’appli myskreen sur l'app store">
          </a>
        </div>
        <div class="col-xs-8"  style="text-align: center;">
          <a href="https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr" class="">
            <img src="{{ asset('bundles/skreenhousefactoryv3/images/android.png') }}" alt="Retrouvez l’appli myskreen sur l'app store">
            <img src="{{ asset('bundles/skreenhousefactoryv3/images/qr-google.png') }}" alt="Retrouvez l’appli myskreen sur google play">
          </a>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <hr/>
      {% include 'SkreenHouseFactoryV3Bundle:Main:_adsense.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block custommodal %}
  {# Pas de channel-modal pour cette chaine #}
{% endblock %}

{% block custompagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/channel/apps.less'
      filter='lessphp,?yui_css'
      output='css/channel/apps.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}