{% extends "SkreenHouseFactoryV3Bundle:Channel:_base-channel.html.twig" %}

{% block customcontent %}
  <div id="cover" class="cover28">
    <div id="channel28" class="header-container">
      <div class="header-content">
        <h1 data-channel="{{ channel.title }}"><a href="{{ path('channel', {slug: channel.slug }) }}">{{ channel.title }}</a></h1>
        <div class="info_saison">
          <strong>En Streaming une semaine <br>avant la diffusion télé! </strong>
        </div>
        <div class="well">
          <div class="actions slider">
            <span class="text2">L'épisode {{ episode.episode_number }} du {{ (play.starttime + 7*24*3600) | localizeddate("medium","none",app.request.locale,"Europe/Paris","d MMMM") }} en <strong>avant-première :</strong></span>
            <br>
            <div>
              <a href="{{ path('any_url', {url: episode.seo_url|slice(1, episode.seo_url|length-1)}) }}?rent">
                <div class="bande btn btn-primary">Vous regardez un extrait gratuit. Voir en intégralité :
                  <br>
                  <span>0,99€ l'épisode ou 3,99€ le Pass Semaine</span>
                </div>
              </a>
              <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&noPub=1&program_id={{ episode.id }}&height=240&width=520&channel_header=1" height="240" width="520"></iframe>
            </div>
          </div>
          <div id="countdown"></div>
          <p class="intro" id="note"></p>
          <br>
        </div>
        <div class="pull-right actions" data-id="{{ channel.id }}" data-playlist="page">
          <a class="btn btn-large btn-primary" data-placement="left" href="/serie/drames/3517970-plus-belle-la-vie/?rent">Souscrire au Pass Semaine</a>
        </div>
      </div>
    </div>
  </div>
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/css/jquery.countdown/jquery.countdown.css'
      filter='less,?yui_css'
      output='css/countdown.css'%}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
  {% include  'SkreenHouseFactoryV3Bundle:Channel:_packs.html.twig' %}
{% endblock %}

{% block custompagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.countdown.js'
      filter='?yui_js' 
      output='js/compiled/countdown.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}