{% extends "SkreenHouseFactoryV3Bundle:Channel:_base-channel.html.twig" %}

{% block customcontent %}
  <div class="bande-couleur-replay">
    <div class="container">
      <div class="row">
        <div class="col-xs-11">
          <div id="fake_h1">Mes listes : Replay</div>
          <p class="user-off">Soyez averti des prochains replays de vos programmes préférés.</p>
          <p class="user-on">Les derniers Replay présents dans vos listes.</p>
        </div>
        <div class="col-xs-5">
          <p class="listes-plus user-off">
            <a class="btn-suivre meslistes-plus" data-toggle-text="<i class='glyphicon glyphicon-collapse-up'></i><span>&nbsp;Fermer</span>" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><i class="glyphicon glyphicon-collapse-down"></i><span>&nbsp;Plus d'infos...</span></a>
          </p>
          <p class="listes-plus user-on">
            <a class="btn btn-suivre meslistes-plus" data-toggle-text="Fermer&nbsp;<i class='glyphicon glyphicon-collapse-up'></i>" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><span></span><i class="glyphicon glyphicon-collapse-down"></i></a>
          </p>
        </div>
        {# <p>Partagez vos listes avec vos amis et suivez ce qu'ils regardent.</p> #}
      </div>
    </div>
  </div>
  <div class="bande_couleur_degrade">
    {# Pas connecté #}
    <div class="container user-off">
      <div class="row">
        <p>Ajoutez vos émissions préférées à vos listes et ne ratez plus aucun Replay.</p>
        {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: '', no_background: true } %}
      </div>
    </div>
    {# Connecté #}
    <div class="container user-on">
      <div class="row">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {id: 'replay'}, noheader: true} %}
      </div>
    </div>
  </div>
  <div class="bandeau-filters">
   <div class="container container-filters sk-font">
     Toute la télé<br/><a class="label" href="{{ path('channel', {slug: 'itele'}) }}">Télé en direct</a> <a class="label" href="{{ path('tvgrid') }}">Programme TV</a> <a class="label" href="{{ path('channel', {slug: 'web-tv'}) }}">Web TV</a>
    </div>
  </div>

  {% set tnt_channels = ['TF1','FRANCE 2','FRANCE 3','CANAL','FRANCE 4','FRANCE 5','FRANCE Ô','ARTE','M6','D8','D17','W9','TMC','NT1','NRJ 12','FRANCE 24','BFM TV','BFM Business','iTélé','Public Sénat','HD1','6Ter','numéro 23','DISNEY CHANNEL','Gulli','RMC découverte','cherie 25','KTO'] %}
  <div id="header70">
    <div class="container">
      <div class="row replaytop">
        <div class="col-xs-4">
          <div class="prog-list">
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: pack['replay-bientot'].programs, name: pack['replay-bientot'].name, link: pack['replay-bientot'].seo_url, name_link: 'Tous les prochains replays', origin: 'fournisseur_avenir', list_number: '2' } %}
          </div>
        </div>
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: pack['replay-populaires'], h_title: "h2", loop_index: 1 } %}
        <div class="col-xs-4">
          <div class="prog-list">
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: pack['replay-derniers'].programs, name: pack['replay-derniers'].name, link: pack['replay-derniers'].seo_url, name_link: 'Les derniers replays', origin: 'fournisseur_replay', list_number: '1' } %}
          </div>
        </div>
      </div>
      <div class="row chaines-listing clearfix">
        <div class="clearfix">
          {% for c in tnt_channels %}
          {% set slug = c|lower|replace({ ' +': '', ' ': '-', 'é': 'e', 'à': 'a', 'ô': 'o', 'î': 'i', "\'": '-'})|raw %}
          <a class="logo_chaine" href="{{ path('channel', {slug: slug}) }}" data-toggle="tooltip" data-placement="{{ loop.index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14] ?'top':'bottom' }}" data-original-title="{{c|upper}}">
            <img src="http://mskstatic.com/35/medias/ico/chaines/{{ slug }}_medium.png" alt="{{ c }} Replay">
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="more-replay">
  <div class="relative">
    {% include  'SkreenHouseFactoryV3Bundle:Channel:_description.html.twig' %}
    {% include  'SkreenHouseFactoryV3Bundle:Channel:_packs.html.twig' %}
  </div>
  </div>
{% endblock %}

{% block custompagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/channel/replay.less'
      filter='lessphp,?yui_css'
      output='css/channel/replay.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}