{% set counts = data|pagination(page,30) %}
<ul class="pagination">  
  {% for keys,count in counts%}
    <li{% if keys == page %} class="active"{% endif %}>
    {% if count is null %}
      <span data-link-to-replace="{% if app.request.get('facet') is not null %}{{ path('category_facet_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), facet: app.request.get('facet'), page: keys})|rot13 }}{% elseif app.request.get('format') is not null %}{{ path('category_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), page: keys })|rot13 }}{% else %}{{ path('format_page', {category_slug: app.request.get('category_slug'), page: keys})|rot13 }}{% endif %}">
          ...
      </span>
    {% elseif count == true %}
      <a href="{% if app.request.get('facet') is not null%}{{ path('category_facet_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), facet: app.request.get('facet'), page: keys}) }}{% elseif app.request.get('format') is not null %}{{ path('category_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), page: keys }) }}{% else %}{{ path('format_page', {category_slug: app.request.get('category_slug'), page: keys}) }}{% endif %}">{{ keys }}</a>
    {% elseif count == false %}
        <span data-link-to-replace="{% if app.request.get('facet') is not null %}{{ path('category_facet_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), facet: app.request.get('facet'), page: keys})|rot13 }}{% elseif app.request.get('format') %}{{ path('category_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), page: keys })|rot13 }}{% else %}{{ path('format_page', {category_slug: app.request.get('category_slug'), page: keys})|rot13 }}{% endif %}">
          {{ keys }}
        </span>
    {% endif %}
    </li>
  {% endfor %}
</ul>
