<div id="view-channel" data-id="{{ data.id }}" class="container">
<div class="pull-right share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ data.seo_url, text: 'Je regarde ' ~ data.name ~ ' sur mySkreen et vous ?' } %}</div>

<ul class="breadcrumb">
  <li{% if app.request.get('facet') is null and app.request.get('page') is null and app.request.get('format') is null %} class="active"{% endif %} itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('any_url', {url: data.seo_url|replace({'/': ''})}) }}/"><span itemprop="title">{{ data.name }}</span></a>{% if app.request.get('facet') or app.request.get('page') or app.request.get('format') %} <span class="divider">/</span>{% endif %}</li>
  {% if app.request.get('format') %}
  <li{% if app.request.get('page') is null and app.request.get('facet') is null %} class="active"{% endif %} itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('channel_format', {format: app.request.get('format'), slug: data.seo_url|replace({'/': ''})}) }}"><span itemprop="title">{{ app.request.get('format') }}</span></a>{% if app.request.get('page') or app.request.get('facet') %} <span class="divider">/</span>{% endif %} </li>
		{% endif %}
  {% if app.request.get('facet') %}
  <li{% if app.request.get('page') is null %} class="active"{% endif%} itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('channel_facet', {facet: app.request.get('facet'), slug: data.seo_url|replace({'/': ''})}) }}"><span itemprop="title">{{ app.request.get('facet') }}</span></a>{% if app.request.get('page') %} <span class="divider">/</span>{% endif %}</li>
  {% endif %}
  {% if app.request.get('page') %}
  <li class="active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('channel_format_page', {format: app.request.get('format'), slug: data.seo_url|replace({'/': ''})}) }}/page-{{ app.request.get('page') }}/"><span itemprop="title">Page {{ app.request.get('page') }}</span></a></li>
  {% endif %}
</ul>

	{% if data.type in ['broadcast','cinema'] %}
	<div class="pull-right actions" data-id="{{ data.id }}">
		<a class="fav fav-{{ data.type == 'broadcast' ? 'epg' : 'theater' }} btn btn-large btn-primary" data-placement="left"><i class="icon-plus-sign icon-white"></i> {{ 'action.add.favorites'|trans }}</a>
	</div>
	{% endif %}

<img class="channel-logo pull-left" src="{{ data.img }}" />
<h1>Regardez {% if app.request.get('format') %}{{ app.request.get('format') }} &raquo; {% endif %}{{ data.name }}{% if app.request.get('facet') %} <small> - {{ app.request.get('facet') }}</small>{% endif %}{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h1>
<p class="channel-description">{{ data.description }}</p>

{% if app.request.get('page') is null and 
      app.request.get('format') is null and 
      app.request.get('facet') is null %}
  {% if data.epg is defined and data.epg %}
    {% include 'SkreenHouseFactoryV3Bundle:Content:_channel-replay.html.twig' with {channel: data} %}
  {% endif %}
  <h2>{{ data.name }} : tous les programmes</h2>
{% endif%}

<div class="pagination">
  <ul>
      <li{% if app.request.get('facet') is null %} class="active"{% endif %}><a href="{{ path('channel', { slug: app.request.get('slug')}) }}">{{ 'nav.all'|trans }}</a></li>
    {% for l in alpha %}
      <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a href="{{ path('channel_facet', {slug: app.request.get('slug'), facet: l}) }}">{{ l }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="facets">
{% for k,f in formats %}
  <a href="{{ path('channel_format', {format: k, slug: app.request.get('slug')}) }}" class="badge{% if app.request.get('facet') == f %} badge-info"{% endif %}">{{ f }}</a>
{% endfor %}
<hr/>
{% if app.request.get('format') %}
  {% for k,s in subcategories %}
    <a href="{{ path('channel_format_facet', {format: app.request.get('format'), slug: app.request.get('slug'), facet: k}) }}" class="label{% if app.request.get('facet') == s %} label-info"{% endif %}">{{ s }}</a>
  {% endfor %}
  <hr/>
{% endif%}
</div>


<h3 class="pager-count">{{ data.count }} programmes{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>
<ul class="pager">
{% if data.count > 30 and app.request.get('format') is null  %}
  {% if app.request.get('page') > 2 %}
  <li class="previous">
    <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 précédents</a>
  </li>
  {% elseif app.request.get('page') == 2 %}
  <li class="previous">
    <a href="{{ path('channel', {format: app.request.get('format'), slug: app.request.get('slug')}) }}">&larr; 30 précédents</a>
  </li>
  {% endif %}
  {% if data.programs|length > 0 %}
  <li class="next">
    <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">30 suivants &rarr;</a>
  </li>
  {% endif %}
{% endif %}
</ul>

<div id="channel-programs" class="slider slider-list">
  <ul class="items">
  {% for program in data.programs %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program, theater_id: data.type == 'cinema' ? data.id : '' } %}
  {% endfor %}
  </ul>
</div>

	{% if data.tweets is defined %}
	<h4>{{ data.name }} sur Twitter</h4>
	{% include 'SkreenHouseFactoryV3Bundle:Main:_tweets.html.twig' with {tweets: data.tweets } %}
	{% endif %}
	</div>
</div>