<div id="view-person" data-id="{{ data.id }}" class="container">

  <div class="pull-right actions" data-id="{{ data.id }}">
    <a class="fav fav-person btn btn-large btn-primary" data-placement="left"><i class="icon-plus-sign icon-white"></i> {{ 'action.add.favorites'|trans }}</a>
  </div>

  <div class="pull-right share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ data.seo_url, text: 'Je regarde tout ' ~ data.name ~ ' sur mySkreen et vous ?' } %}</div>
  <h1>{{ data.name }}{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h1>

  <div class="view-person-main">

    {#<div class="row">
      <div id="program-follow" class="span3 view-program-block actions" data-id="{{ data.id }}">
        <p class="lead" style="margin: 0px;">{{ 'data.follow.block.title.all'|lower|trans }}</p>
        <a class="fav btn btn-large btn-block" data-placement="bottom"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
      </div>
      <div id="program-friends" class="span3 view-program-block">
        <p class="lead" style="margin: 0px;">{{ 'data.friends.block.title.all'|lower|trans }}</p>
        <div class="user-off">{% include 'SkreenHouseFactoryV3Bundle:Main:_fb-connect.html.twig' with {popover: 'friends.popover.content'|trans } %}</div>
        <div class="user-on"></div>
      </div>
    </div>
    #}
  </div>

  <div class="view-person-column view-column pull-left actions" data-id="{{ data.id }}">
    {#
    <div style="position:relative;">
      <img src="{{ data.picture }}" alt="{{ data.name }}" />
    </div>

    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#related"><i class="icon-chevron-right"></i> {{ 'program.related'|trans }}</a></li>
      <li><a href="#infos"><i class="icon-chevron-right"></i> {{ 'program.infos'|trans }}</a></li>
    </ul>
    #}
  </div>

  <hr/>

  <h2>Sa filmographie{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>

  {% if data.programs|length == 30 or app.request.get('page') > 1 %}
  <ul class="pager">
    {% if app.request.get('page') > 2 %}
    <li class="previous">
      <a href="{{ path('person_page', {type: app.request.get('type'), id: app.request.get('id'), slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 précédents</a>
    </li>
    {% elseif app.request.get('page') == 2 %}
    <li class="previous">
      <a href="{{ path('person', {type: app.request.get('type'), id: app.request.get('id'), slug: app.request.get('slug')}) }}">&larr; 30 précédents</a>
    </li>
    {% endif %}
    <li class="next">
      <a href="{{ path('person_page', {type: app.request.get('type'), id: app.request.get('id'), slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">30 suivants &rarr;</a>
    </li>
  </ul>
  {% endif %}

  <div id="person-programs" class="slider slider-list">
    <ul class="items">
    {% for program in data.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>

	{% if data.tweets is defined %}
	<h4>{{ data.name }} sur Twitter</h4>
	{% include 'SkreenHouseFactoryV3Bundle:Main:_tweets.html.twig' with {tweets: data.tweets } %}
	{% endif %}
	</div>
</div>