<li itemprop="{{ channel.type is defined and channel.type == 'cinema' ? 'itemOffered' : 'about' }}" itemscope itemtype="http://schema.org/Movie">
  <div class="row">
    <div class="col-xs-4">
      <a itemprop="url" href="{{ p.seo_url }}"><img itemprop="image" src="{{ p.picture }}" /></a>
    </div>
    <div class="col-xs-12">
      <h2 itemprop="name"><a href="{{ p.seo_url }}">{{ p.title }}</a></h2>
      {% if p.theater_release_date is defined %}
        <p class="infos">Sortie en salle : <time itemprop="datePublished" datetime="{{ p.theater_release_date_timestamp|date('Y-m-d') }}">{{ p.theater_release_date }}</time></p>
      {% endif %}

      <p class="infos">{% if p.format %}<a href="{{ p.format.seo_url }}">{{ p.format.name }}</a>{% endif %}{% if p.categories is defined %} - <span itemprop="genre">{{ p.categories|to_array|join(', ') }}</span>{% endif %}, <time itemprop="duration" datetime="PT{{ (program.duration * 60 - 3600)|date('H-i')|replace({"-":"H"}) }}M">{{ p.duration }}</time>mn</p>
      {% if p.categories is defined %}
        <p itemprop="description" content="{{ p.description|striptags|raw }}">{{ p.description|striptags|slice(0,230)|raw }}...</p>
      {% endif %}
  
      {% if p.offers is defined %}
        {% if p.offers.theaters_schedules is defined and p.offers.theaters_schedules %}
          <div class="panel-theater">
            <div class="panel-collapse">
              {% include 'SkreenHouseFactoryV3Bundle:Cinema:_schedules.html.twig' with {
                cinema: {
                  id: cinema.id,
                  schedules: p.offers.theaters_schedules|to_array|first
                }
              } %}
            </div>
          </div>
        {% endif %}
      {% endif %}
      <br/>
      <p>
        {% if p.offers is defined and p.offers.theaters is defined and p.offers.theaters %}
          <span class="btn btn-default" data-link-to-replace="{{ p.seo_url|rot13 }}"><i class="glyphicon glyphicon-map-marker"></i> {{ p.theater_release_date_timestamp > "now"|date('U') ? 'pluralization.cinema.nb_salles_avant_premiere'|transchoice(p.offers.theaters|split(',')|length,{'%count%' : p.offers.theaters|split(',')|length}) : 'pluralization.cinema.nb_salles'|transchoice(p.offers.theaters|split(',')|length,{'%count%' : p.offers.theaters|split(',')|length}) }} </span>  &nbsp;
        {% endif %}
        {% set teaser = p.player is defined and p.player ? p.player : p.teaser %}
        {% if teaser %}
          <a class="btn btn-default" data-play-iframe="{{ teaser.id }}"><i class="glyphicon glyphicon-play"></i> Voir la bande-annonce</a> &nbsp;
        {% endif %}
        {% if cinema is defined and program is defined %}
          <a class="btn btn-default" data-schedule-cine-around="{{ {program_id: program.id, geoloc_from_theater_id: cinema.id}|json_encode }}"><i class="glyphicon glyphicon-record"></i> Autres séances à proximité</a>
        {% endif %}
      </p>
    </div>
  </div>
</li>