{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block meta %}
{% if category.programs|length < 6 or app.request.get('facet')|length == 1 or app.request.get('page') %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{{ category.name }}" />
<meta property="og:description" content="{{ category.description }}" />
<meta property="og:type" content="category" />
<meta property="og:url" content="http://www.myskreen.com{% if app.request.get('format') %}{{ '/' ~ app.request.get('format') }}{% endif %}{{ category.seo_url }}" />
{% if category.picture %}
<meta property="og:image" content="{{ category.picture }}" />
<link rel="image_src" href="{{ category.picture }}" />
{% endif %}
<meta name="object_type" content="category" />
{% endblock %}
{% block title %}
{{ app.request.get('format') }} - {{ category.name }}
{% if app.request.get('facet') %}, {% if app.request.get('facet')|length > 1 %}{{ subcategories[app.request.get('facet')] }}{% else %}{{ app.request.get('facet') }}{% endif %}{% endif %}
{% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}
{% endblock %}
{% block description %}{{ category.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}

{% block content %}
<div id="view-category" data-id="{{ category.id }}" class="container">
  <div class="pull-right share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ category.seo_url, text: 'Je regarde des ' ~ category.name ~ ' sur mySkreen et vous ?' } %}</div>
  <h1>{% if app.request.get('format') %}{{ app.request.get('format')|upper }} &raquo; {% endif %}{{ category.name }}{% if app.request.get('facet') %} &raquo; {% if app.request.get('facet')|length > 1 %}{{ subcategories[app.request.get('facet')] }}{% else %}{{ app.request.get('facet') }}{% endif %}{% endif %}{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h1>

  <div class="view-main view-category-main">
    <div id="program-description">
      <p id="synopsis" class="lead">
      {{ category.description }}
      </p>
    </div>

    {#<div class="row">
      <div id="program-follow" class="span3 view-program-block actions" data-id="{{ category.id }}">
        <p class="lead" style="margin: 0px;">{{ 'category.follow.block.title.all'|lower|trans({'%category%': category.name}) }}</p>
        <a class="fav btn btn-large btn-block" data-placement="bottom"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
      </div>
      <div id="program-friends" class="span3 view-program-block">
        <p class="lead" style="margin: 0px;">{{ 'category.friends.block.title.all'|lower|trans({'%category%': category.name}) }}</p>
        <div class="user-off">{% include 'SkreenHouseFactoryV3Bundle:Main:_fb-connect.html.twig' with {popover: 'friends.popover.content'|trans } %}</div>
        <div class="user-on"></div>
      </div>
    </div>#}
  </div>

  {#
  <div class="view-category-column view-column pull-left actions" data-id="{{ category.id }}">
    <div style="position:relative;">
      <img src="{{ category.picture }}" alt="{{ category.name }}" />
    </div>
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#related"><i class="icon-chevron-right"></i> {{ 'program.related'|trans }}</a></li>
      <li><a href="#infos"><i class="icon-chevron-right"></i> {{ 'program.infos'|trans }}</a></li>
    </ul>
  </div>
  #}

  <div class="pagination">
    <ul>
        <li{% if app.request.get('facet') is null %} class="active"{% endif %}><a href="{{ path('category', {format: app.request.get('format'), category_slug: app.request.get('category_slug')}) }}">{{ 'nav.all'|trans }}</a></li>
      {% for l in alpha %}
        <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a href="{{ path('category_facet', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), facet: l}) }}">{{ l }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% for k,s in subcategories %}
    <a href="{{ path('category_facet', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), facet: k}) }}" class="label{% if app.request.get('facet') == k %} label-info"{% endif %}">{{ s }}</a>
  {% endfor %}
  <hr/>


  <h3 class="pager-count">{{ category.count }} programmes{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>
  {% if category.count > 30 %}
  <ul class="pager">
    {% if app.request.get('page') > 2 %}
    <li class="previous">
      <a href="{{ path('category_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 précédents</a>
    </li>
    {% elseif app.request.get('page') == 2 %}
    <li class="previous">
      <a href="{{ path('category', {format: app.request.get('format'), category_slug: app.request.get('category_slug')}) }}">&larr; 30 précédents</a>
    </li>
    {% endif %}
    <li class="next">
      <a href="{{ path('category_page', {format: app.request.get('format'), category_slug: app.request.get('category_slug'), page: app.request.get('page', 1) + 1}) }}">30 suivants &rarr;</a>
    </li>
  </ul>
  {% endif %}

  <div id="category-programs" class="slider slider-list">
    <ul class="items">
    {% for program in category.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}