{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block meta %}
  {% if category.programs|length < 6 or app.request.get('facet')|length == 1 or app.request.get('page') %}
    <meta name="robots" content="noindex,follow" />
  {% endif %}
  <meta property="og:title" content="{% if app.request.get('format') %}{{ app.request.get('format') }} : {% endif %}{{ category.name }}{% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}" />
  <meta property="og:description" content="{% if app.request.get('format') %}{{ app.request.get('format') }} : {% endif %}{{ category.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.myskreen.com{% if app.request.get('format') %}{{ '/' ~ app.request.get('format') }}{% endif %}{{ category.seo_url }}" />
  {% if category.picture %}
    <meta property="og:image" content="{{ category.picture }}" />
    <link rel="image_src" href="{{ category.picture }}" />
  {% endif %}
  <!--
  {% if app.request.get('page') is defined %}
  <link rel="next" href="http://www.myskreen.com/{{app.request.get('access')}}/page-{{app.request.get('page') + 1}}/">
    {% if app.request.get('page') > 1 %}
    <link rel="prev" href="http://www.myskreen.com/{{app.request.get('access')}}/page-{{app.request.get('page') - 1}}/">
    {% endif %}
  {% endif %}-->
  <meta name="object_type" content="website" />
{% endblock %}
{% block title %}
  {% if app.request.get('format') %}{{ app.request.get('format')|capitalize }} {% endif %}
  {% if app.request.get('facet') %}{% if app.request.get('facet')|length > 1 and subcategories[app.request.get('facet')] is defined %}{{ subcategories[app.request.get('facet')] }}{% else %}{{ app.request.get('facet') }}{% endif %}{% endif %}
  {{ category.name }}
  {% if app.request.get('access') %}{% if app.request.get('access') == 'video-a-la-demande' %} en {% endif %}{{ ('access.' ~ app.request.get('access'))|trans }} {% endif %}
  {% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}
{% endblock %}
{% block description %}
  {% if app.request.get('format') %}{{ app.request.get('format') }} {% endif %}
  {% if app.request.get('facet') %}{{ app.request.get('facet') }} {% endif %}
  {% if app.request.get('category.name') %}{{ app.request.get('category.name') }} {% endif %}
  {% if app.request.get('access') %}{{ app.request.get('access') }} {% else %}streaming {% endif %}
  {% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}
  {{ category.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}

{% block body_class %}view-category {{ sliders is defined ? ' with-sliders' : '' }}{% endblock %}


{% block content %}

    {#<h1 class="clearfix">
      {% if app.request.get('format') %}{{ ('format.pluriel.'~app.request.get('format'))|trans|capitalize }} :{% endif %} la catégorie {{ category.name }}{% if app.request.get('access') and app.request.get('access') != 'myskreen' %} en {{ ('access.' ~ app.request.get('access'))|trans }}{% endif %}
    </h1>#}

  <div class="bande_notifications nopadding">
    <div class="container">
      {% if category.is_format != true %}
      <ul class="breadcrumb">
        {% if app.request.get('format') %}
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('format', {category_slug: app.request.get('format')}) }}"><span itemprop="title">{{ ('format.singulier.'~app.request.get('format'))|trans|upper }}</span></a></li>
        {% endif %}
        <li{% if app.request.get('page') is null and app.request.get('facet') is null and app.request.get('access') is null %} class="active"{% endif %} itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('any_url', {url: app.request.get('format') ~ (category.root is defined ? category.root.seo_url : category.seo_url) })|replace({'//':'/'})  }}"><span itemprop="title">{{ category.root is defined ? category.root.name : category.name }}</span></a></li>
        {% if app.request.get('facet') and subcategories[app.request.get('facet')] is defined %}
          <li{% if app.request.get('page') is null and app.request.get('access') is null %} class="active"{% endif%} itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('category', {format: app.request.get('format'), category_slug: category.seo_url|replace({'/': ''})}) }}{{ app.request.get('facet') }}/"><span itemprop="title">{{ subcategories[app.request.get('facet')] }}</span></a></li>
        {% endif %}
        {% if app.request.get('page') %}
          {% if app.request.get('format') %}
            <li class="active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('category', {format: app.request.get('format'), category_slug: category.seo_url|replace({'/': ''})})|replace({'//':'/'}) }}page-{{ app.request.get('page') }}/"><span itemprop="title">Page {{ app.request.get('page') }}</span></a></li>
          {% endif %}
        {% endif %}
        {% if app.request.get('access') and app.request.get('access') != 'myskreen' and app.request.get('format') %}
          <li class="active" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('category', {format: app.request.get('format'), category_slug: category.seo_url|replace({'/': ''})})|replace({'//':'/'}) }}/{{ app.request.get('access') }}/"><span itemprop="title">{{ ('access.' ~ app.request.get('access'))|trans }}</span></a></li>
        {% endif %}
      </ul>
      {% endif %}
      <h1>{{ category.name }} en streaming</h1>
      {% if category.format is not defined %}
      {% elseif category.format %}
        <a data-id="{{ category.format.id~'+'~category.id }}" rel="popover" data-placement="left" class="btn btn-suivre btn-plus fav-format-category">Ajouter à mes listes </a>
      {% else %}
        <a data-id="{{ category.id }}" rel="popover" data-placement="left" class="btn btn-suivre btn-plus fav-format-category">Ajouter à mes listes </a>
      {% endif %}
    </div>
  </div>
    
<div class="bande_fonce">
  <div class="container clearfix">
    {#
    {% if app.request.get('format') and app.request.get('access') is null and app.request.get('facet') is null %}
        {% for k,a in access if a|replace({'vod': 'video-a-la-demande'}) in facet_access|keys %}
          {% if a == 'myskreen' %}
            {% if category.slug and app.request.get('format') %}
              <div class="pull-right">
                <div class="myskreen-visible">Visible sur myskreen</div>
                <div class="onoffswitch" data-ajax="{{ path('category_access', {format: app.request.get('format'), category_slug: category.slug, access: a })|replace({'//':'/'}) }} #view-category-ajax" rel="#view-category">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                  </label>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% elseif app.request.get('format') and app.request.get('facet') and app.request.get('access') is null %}
        {% for k,a in access if a|replace({'vod': 'video-a-la-demande'}) in facet_access|keys %}
          {% if a == 'myskreen' %}
            {% if category.slug and app.request.get('format') %}
              <div class="pull-right">
                <div class="myskreen-visible">Visible sur myskreen</div>
                <div class="onoffswitch" data-ajax="{{ path('category_facet_access', {format: app.request.get('format'), category_slug: category.slug, facet: app.request.get('facet'), access: a })|replace({'//':'/'}) }} #view-category-ajax" rel="#view-category">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <div class="onoffswitch-inner"></div>
                    <div class="onoffswitch-switch"></div>
                  </label>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% elseif app.request.get('access') and app.request.get('access') == 'myskreen' %}
        <div class="pull-right">
          <div class="myskreen-visible">Visible sur myskreen</div>
          <div class="onoffswitch" data-ajax="{% if app.request.get('facet') %}{{ path('category_facet', {format: app.request.get('format'), category_slug: category.slug, facet: app.request.get('facet')})|replace({'//':'/'}) }}{% elseif app.request.get('format') %}{{ path('category', {format: app.request.get('format'), category_slug: category.slug})|replace({'//':'/'}) }}{% else %}{{ path('format', {category_slug: category.slug})|replace({'//':'/'}) }}{% endif %} #view-category-ajax" rel="#view-category">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked="checked">
            <label class="onoffswitch-label" for="myonoffswitch">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
            </label>
          </div>
        </div>
      {% endif %}  
  #}
  {#
  facets<br/>
  route: {{ app.request.attributes.get('_route') }}<br/>
  categories: {{ categories is defined ? categories|join(',') : '' }}<br/>
  format: {{ app.request.get('format') }}<br/>
  facet: {{ app.request.get('facet') }}<br/>
  access: {{ app.request.get('access') }}<br/>
  category_slug: {{ category.slug }}<br/> 
  #}

    <div class="facets">
    {% if app.request.attributes.get('_route') in ['format','channel'] and category.slug != 'jeunesse' and categories|length > 1 %}
      <br/>
      <p class="sk-font">Tous les genres</p>
      {% for k,s in categories %}
        <a href="{{ path('category', {format: category.slug, category_slug: k})|replace({'//':'/'}) }}" class="label {% if category.slug == k %}label-info{% else %}label-default{% endif %}">{{ s }}</a>
      {% endfor %}
    {% elseif app.request.get('facet') or app.request.get('access') %}
      {% for k,s in facet_access if k|replace({'video-a-la-demande': 'vod', 'replay': 'catchup'}) in access and k != 'myskreen' %}
        {% if k not in facet_access|keys or app.request.get('facet') %}
          <span data-link-to-replace="{{ path('category_facet_access', {format: app.request.get('format'), category_slug: category.slug, facet: app.request.get('facet'), access: k})|replace({'//':'/'})|rot13 }}" class="label {% if app.request.get('access') == k %}label-warning{% else %}label-default{% endif %}">
        {% else %}
          <span data-link-to-replace="{{ path('category_access', {format: app.request.get('format'), category_slug: category.slug, access: k})|replace({'//':'/'})|rot13 }}" class="label {% if app.request.get('access') == k %}label-warning{% else %}label-default{% endif %}">
        {% endif %}
        {{ s }}</span>
      {% endfor %}
    {% elseif app.request.get('format') %}
      {% for k,s in subcategories if k %}
        <span data-link-to-replace="{{ path('category_facet', {format: app.request.get('format'), category_slug: category.slug, facet: k})|replace({'//':'/'})|rot13 }}" class="label {% if app.request.get('facet') == k %}label-info{% else %}label-default{% endif %}">
        {{ s }}</span>
      {% endfor %}
    {% endif %}
  </div>
  
  
  <p class="sk-font"><a data-toggle-hide=".more-filters" data-toggle-text="... Cacher les filtres">Plus de filtres ...</a></p>
  <div class="more-filters hide facets">
    {% if app.request.get('format') and (app.request.get('facet') is null or app.request.get('facet')|length < 2) %}
      {# alpha #}
      <p class="sk-font">Ordre alphabétique</p>
      <ul class="pagination nomargin">
        <li{% if app.request.get('facet') is null %} class="active"{% endif %}><span data-link-to-replace="{{ path('category', {format: app.request.get('format'), category_slug: category.slug})|replace({'//': '/'})|rot13 }}">{{ 'nav.all'|trans }}</span></li>
        {# 
          <li{% if app.request.get('access') == 'vod' %} class="active"{% endif %}><a href="{{ path('category', {format: app.request.get('format'), category_slug: category.slug})|replace({'//': '/'}) }}">En VOD</a></li>
        <li{% if app.request.get('access') == 'cinema' %} class="active"{% endif %}><a href="{{ path('category', {format: app.request.get('format'), category_slug: category.slug})|replace({'//': '/'}) }}">Au cinéma</a></li>
        <li{% if app.request.get('access') == 'tv' %} class="active"{% endif %}><a href="{{ path('category', {format: app.request.get('format'), category_slug: category.slug})|replace({'//': '/'}) }}">TV & Replay</a></li>
        #}
        {% for l in alpha %}
          <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><span data-link-to-replace="{{ path('category_facet', {format: app.request.get('format'), category_slug: category.slug, facet: l})|replace({'//': '/'})|rot13 }}">{{ l }}</span></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    <p class="sk-font">Sur quelle chaîne ?</p>
    {% for k,c in channels if k %}
      {% if category.slug and app.request.get('format') and category.slug != 'jeunesse' %}
        <span class="label label-default" data-link-to-replace="{{ path('channel_format_facet', {slug: k|replace({'-+': ''}), format: app.request.get('format'), facet: category.slug })|rot13 }}">
      {% elseif category.slug and category.slug != 'jeunesse' %}
        <span class="label label-default" data-link-to-replace="{{ path('channel_format', {slug: k|replace({'-+': ''}), format: category.slug})|rot13 }}">
      {% endif %}
      {{ c }}</span>
    {% endfor %}

    {% if app.request.get('format') and app.request.get('access') is null and app.request.get('facet') is null %}
      <p class="sk-font">Quel support ?</p>
      {% for k,a in access if a|replace({'vod': 'video-a-la-demande'}) in facet_access|keys %}
        {% if a != 'myskreen' %}
          {% if category.slug and app.request.get('format') %}
            <span class="label label-default" data-link-to-replace="{{ path('category_access', {format: app.request.get('format'), category_slug: category.slug, access: a|replace({'vod': 'video-a-la-demande'}) })|replace({'//':'/'})|rot13 }}">
          {% endif %}
          {{ facet_access[a|replace({'vod': 'video-a-la-demande'})] }}</span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

</div>
</div>



{# NOTIFS
  {% if category.format is not defined %}
    {% include  'SkreenHouseFactoryV3Bundle:Main:_notifications.html.twig' with {origin: 'cette catégorie', notifications: category.notifications, title: category.name ~ ' en streaming', h: 'h1' } %}
  {% elseif category.format %}
    {% include  'SkreenHouseFactoryV3Bundle:Main:_notifications.html.twig' with {origin: 'cette catégorie', notifications: category.notifications, title: category.name ~ ' en streaming', h: 'h1', btn_suivre: {id: category.format.id~'+'~category.id, class: 'fav-format-category', text: 'Ajouter à mes listes', placement: 'left'} } %}
  {% else %}
    {% include  'SkreenHouseFactoryV3Bundle:Main:_notifications.html.twig' with {origin: 'cette catégorie', notifications: category.notifications, title: category.name ~ ' en streaming', h: 'h1', btn_suivre: {id: category.id, class: 'fav-category', text: 'Ajouter à mes listes', placement: 'left'} } %}
  {% endif %}
  #}


<div id="view-category" data-id="{{ category.id }}" data-format-facet="{{ app.request.get('format', category.slug) }}" class="container slider-player view-category-{{ app.request.get('format') }} {% if sliders is defined and sliders|length %} with-sliders{% endif %}">
  <div id="view-category-ajax">
    <div class="description-seo description-seo-absolute">
      <div class="container scroll well">
        <h2>Programmes à voir</h2>
        <p>{% if app.request.get('access') %}{{ ('access.' ~ app.request.get('access'))|trans }} : {% endif %}{{ category.description|raw }}</p>
      </div>
    </div>

    <h3 class="pager-count">{{ category.count }} programmes{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>

    {# pager #}
    {% include 'SkreenHouseFactoryV3Bundle:Content:_category-pager.html.twig' with {facet_access: facet_access} %}


    {# player #}
    <div class="teaser-container">
      <div class="teaser-category"><iframe src="" scrolling="no" frameborder="0"></iframe></div>
      <div class="teaser-title player-encart sk-font"></div>
    </div>
    <div class="teaser-container-float"></div>

    {# sliders #}
    {% if sliders is defined %}
      {% for slider in sliders|to_array if slider.id is defined and slider.programs|to_array|length %}
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with { slider: slider, loop_index: loop.index} %}
      {% endfor %}
      <br/>
      <br/>
      <hr/>
      <h2 class="clear">{{ category.name }} : tout le streaming</h2>
    {% endif %}

    {# programs #}
    <div id="category-programs" class="slider slider-list">
      <ul class="items">
        {% for program in category.programs|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
        {% endfor %}
      </ul>
      <ul class="pager_to_replace"></ul>
      {% if category.slug is not null and app.request.get('format') is not null and app.request.get('access') is null and app.request.get('facet') is null %}
        {% include 'SkreenHouseFactoryV3Bundle:Content:_category-pagination.html.twig' with {data: category.count, page :  app.request.get('page', 1)} %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block pagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/category.less'
      filter='lessphp,?yui_css'
      output='css/category.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/category.js'
    filter='?yui_js' 
    output='js/compiled/pages/category.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}