{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}
{% block meta %}
{% if channel.programs|length < 6 or app.request.get('page') %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{% if app.request.get('format') %}{{ app.request.get('format') }} : {% endif %}{{ channel.name }}{% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}{% if app.request.get('facet') %}, {{ app.request.get('facet') }}{% endif %}" />
<meta property="og:description" content="{{ channel.description|striptags }}" />
<meta property="og:type" content="channel" />
<meta property="og:url" content="http://www.myskreen.com/{{ channel.seo_url }}" />
{% if channel.picture %}
<meta property="og:image" content="{{ channel.picture }}" />
<link rel="image_src" href="{{ channel.picture }}" />
{% endif %}
<meta name="object_type" content="channel" />
{% endblock %}
{% block title %}
{{ channel.name }}
{%- if app.request.get('format') %}, {{ app.request.get('format') }}{% endif -%}
{%- if app.request.get('facet') %}, {{ app.request.get('facet') }}{% endif -%}
{%- if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif -%}
{%- endblock %}
{% block description %}{{ channel.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}

{% block content %}
<div id="view-channel" data-id="{{ channel.id }}" class="container">


  <div class="pull-right share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ channel.seo_url, text: 'Je regarde ' ~ channel.name ~ ' sur mySkreen et vous ?' } %}</div>
  <img class="channel-logo pull-left" src="{{ channel.img }}" />
  <h1>{% if app.request.get('format') %}{{ app.request.get('format') }} &raquo; {% endif %}{{ channel.name }}{% if app.request.get('facet') %} <small> - {{ app.request.get('facet') }}</small>{% endif %}{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h1>
  <p class="channel-description">{{ channel.description }}</p>

  {% if app.request.get('page') is null and 
        app.request.get('format') is null and 
        app.request.get('facet') is null %}
    {% if channel.epg is defined and channel.epg %}
      {% include 'SkreenHouseFactoryV3Bundle:Content:_channel-replay.html.twig' with {channel: channel} %}
    {% endif %}
    <h2>{{ channel.name }} : tous les programmes</h2>
  {% endif%}

  <div class="pagination">
    <ul>
        <li{% if app.request.get('facet') is null %} class="active"{% endif %}><a href="{{ path('channel', { slug: app.request.get('slug')}) }}">{{ 'nav.all'|trans }}</a></li>
      {% for l in alpha %}
        <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a href="{{ path('channel_facet', {slug: app.request.get('slug'), facet: l}) }}">{{ l }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="facets">
  {% for k,f in formats %}
    <a href="{{ path('channel_format', {format: k, slug: app.request.get('slug')}) }}" class="badge{% if app.request.get('facet') == f %} badge-info"{% endif %}">{{ f }}</a>
  {% endfor %}
  <hr/>
  {% if app.request.get('format') %}
    {% for k,s in subcategories %}
      <a href="{{ path('channel_format_facet', {format: app.request.get('format'), slug: app.request.get('slug'), facet: k}) }}" class="label{% if app.request.get('facet') == s %} label-info"{% endif %}">{{ s }}</a>
    {% endfor %}
    <hr/>
  {% endif%}
  </div>


  <h3 class="pager-count">{{ channel.count }} programmes{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>
  <ul class="pager">
  {% if channel.count > 30 and app.request.get('format') is null  %}
    {% if app.request.get('page') > 2 %}
    <li class="previous">
      <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 précédents</a>
    </li>
    {% elseif app.request.get('page') == 2 %}
    <li class="previous">
      <a href="{{ path('channel', {format: app.request.get('format'), slug: app.request.get('slug')}) }}">&larr; 30 précédents</a>
    </li>
    {% endif %}
    {% if channel.programs|length > 0 %}
    <li class="next">
      <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">30 suivants &rarr;</a>
    </li>
    {% endif %}
  {% endif %}
  </ul>

  <div id="channel-programs" class="slider slider-list">
    <ul class="items">
    {% for program in channel.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}