{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}
{% block meta %}
{% if category.programs|length < 6 or app.request.get('page') %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{{ channel.name }}" />
<meta property="og:description" content="{{ channel.description }}" />
<meta property="og:image" content="?" />
<meta property="og:type" content="channel" />
<meta property="og:url" content="{{ channel.seo_url }}" />
<link rel="image_src" href="?" />
<meta name="object_type" content="channel" />
{% endblock %}
{% block title %}
{{ channel.name }}
{% if app.request.get('format') %}, {{ app.request.get('format') }}{% endif %}
{% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}
{% endblock %}
{% block description %}{{ channel.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}

{% block content %}
<div id="view-channel" data-id="{{ channel.id }}" class="container">


  <div class="pull-right share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ channel.seo_url, text: 'Je regarde ' ~ channel.name ~ ' sur mySkreen et vous ?' } %}</div>
  <img class="channel-logo pull-left" src="{{ channel.img }}" />
  <h1>{% if app.request.get('format') %}{{ app.request.get('format') }} &raquo; {% endif %}{{ channel.name }}{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h1>

  {% if channel.epg is defined and channel.epg %}
    {% include 'SkreenHouseFactoryV3Bundle:Content:_channel-replay.html.twig' with {channel: channel} %}
  {% endif %}

  <div class="view-channel-main">

    <div id="program-description">
      <p id="synopsis" class="lead">
      {{ channel.description }}
      </p>
    </div>

    {#<div class="row">
      <div id="program-follow" class="span3 view-program-block actions" data-id="{{ channel.id }}">
        <p class="lead" style="margin: 0px;">{{ 'channel.follow.block.title.all'|lower|trans }}</p>
        <a class="fav btn btn-large btn-block" data-placement="bottom"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
      </div>
      <div id="program-friends" class="span3 view-program-block">
        <p class="lead" style="margin: 0px;">{{ 'channel.friends.block.title.all'|lower|trans }}</p>
        <div class="user-off">{% include 'SkreenHouseFactoryV3Bundle:Main:_fb-connect.html.twig' with {popover: 'friends.popover.content'|trans } %}</div>
        <div class="user-on"></div>
      </div>
    </div>#}
  </div>

  <div class="view-channel-column view-column pull-left actions" data-id="{{ channel.id }}">
    {#
    <div style="position:relative;">
      <img src="{{ channel.picture }}" alt="{{ channel.name }}" />
    </div>

    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#related"><i class="icon-chevron-right"></i> {{ 'program.related'|trans }}</a></li>
      <li><a href="#infos"><i class="icon-chevron-right"></i> {{ 'program.infos'|trans }}</a></li>
    </ul>
    #}
  </div>

  <br class="clear"/>

  <div class="pagination">
    <ul>
        <li{% if app.request.get('facet') is null %} class="active"{% endif %}><a href="{{ path('channel', { slug: app.request.get('slug')}) }}">{{ 'nav.all'|trans }}</a></li>
      {% for l in alpha %}
        <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a href="{{ path('channel_facet', {slug: app.request.get('slug'), facet: l}) }}">{{ l }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% for k,f in formats %}
    <a href="{{ path('channel_format', {format: app.request.get('format'), slug: app.request.get('slug'), facet: k}) }}" class="badge{% if app.request.get('facet') == f %} badge-info"{% endif %}">{{ f }}</a>
  {% endfor %}
  <hr/>

  {% if app.request.get('format') %}
    {% for k,s in subcategories %}
      <a href="{{ path('channel_format_facet', {format: app.request.get('format'), slug: app.request.get('slug'), facet: k}) }}" class="label{% if app.request.get('facet') == s %} label-info"{% endif %}">{{ s }}</a>
    {% endfor %}
    <hr/>
  {% endif%}


  <h3 class="pager-count">{{ channel.count }} programmes{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>
  {% if channel.count > 30 %}
  <ul class="pager">
    {% if app.request.get('page') > 2 %}
    <li class="previous">
      <a href="{{ path('channel_page', {format: app.request.get('format'), slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 précédents</a>
    </li>
    {% elseif app.request.get('page') == 2 %}
    <li class="previous">
      <a href="{{ path('channel', {format: app.request.get('format'), slug: app.request.get('slug')}) }}">&larr; 30 précédents</a>
    </li>
    {% endif %}
    <li class="next">
      <a href="{{ path('channel_page', {format: app.request.get('format'), slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">30 suivants &rarr;</a>
    </li>
  </ul>
  {% endif %}

  <div id="channel-programs" class="slider slider-list">
    <ul class="items">
    {% for program in channel.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}