{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block meta %}
{% if data.programs|length < 6 or app.request.get('page') %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{% if app.request.get('format') %}{{ app.request.get('format') }} : {% endif %}{{ data.name }}{% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}{% if app.request.get('facet') %}, {{ app.request.get('facet') }}{% endif %}" />
<meta property="og:description" content="{{ data.description|striptags }}" />
<meta property="og:type" content="channel" />
<meta property="og:url" content="http://www.myskreen.com/{{ data.seo_url }}" />
{% if data.picture %}
<meta property="og:image" content="{{ data.picture }}" />
<link rel="image_src" href="{{ data.picture }}" />
{% endif %}
<meta name="object_type" content="channel" />
{% endblock %}

{% block title %}{{ channel.titre }}{% endblock %}
{% block description %}{{ channel.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}

{% block content %}
<div id="cover"{% if channel.cover %} style="background: url('{{ channel.cover }}') top center no-repeat;"{% endif %}>
<div class="header-container">
  <div class="header-content">
    <div class="pull-right actions" data-id="{{ data.id }}">
      <a class="fav fav-onglet btn btn-large btn-primary" data-placement="left"><i class="icon-plus-sign icon-white"></i> {{ 'action.add.favorites_channel'|trans }}</a>
    </div>
    <h1>{{ channel.titre }}</h1>
    {% if channel.img is defined %}
    <img class="channel-logo pull-left" src="{{ channel.img }}" />
    {%elseif data.img is defined %}
    <img class="channel-logo pull-left" src="{{ data.img }}" /> {{ data.img }}
    {% endif %}
    {% if channel.description %}
    <p class="lead channel-description">{{ channel.description }}</p>
    {% endif %}
  </div>
</div>
</div>
{% if channel.type == "ChannelFournisseur" %}
  {% include 'SkreenHouseFactoryV3Bundle:Content:_channel_fournisseur.html.twig' with {data:data} %}
{% elseif channel.type == "ChannelOnglet" %}
  {% include 'SkreenHouseFactoryV3Bundle:Content:_channel_onglet.html.twig' with {data:data} %}
{% elseif channel.type == "ChannelPersonne" %}
  {% include 'SkreenHouseFactoryV3Bundle:Content:_channel_personne.html.twig' with {data:data} %}
{% endif %}
{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/channel.js'
    
    filter='?yui_js' 
    output='js/compiled/pages/channel.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}