{% extends app.request.get('layout_partner') ? 'SkreenHouseFactoryPartnersBundle::' ~ app.request.get('layout_partner') ~ '.html.twig' : 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block meta %}
  {% if selection.programs|length < 6 %}
    <meta name="robots" content="noindex,follow" />
  {% endif %}
  <meta property="og:title" content="{{ selection.name }}" />
  <meta property="og:description" content="{{ selection.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.myskreen.com{{ selection.seo_url }}" />
  {% if selection.picture is defined and  selection.picture != '' %}
    <meta property="og:image" content="{{ selection.picture }}" />
    <link rel="image_src" href="{{ selection.picture }}" />
  {% endif %}
  <meta name="object_type" content="website" />
{% endblock %}
{% block title %}{{ selection.name|striptags }}{% if selection.onglet.channel.fournisseur is defined %} {{ selection.onglet.channel.title }} en Replay{% endif %}{% endblock %}
{% block description %}{% if selection.onglet.channel.fournisseur is defined %}{{ selection.name|striptags }} de {{ selection.onglet.channel.title }} et tous les Programmes des Chaines de la TNT en Replay et en Direct Live GRATUITEMENT et en 1 Clic sur mySkreen !{% else %}{{ selection.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endif %}{% endblock %}
{#
{% block body_class %}{% if selection.onglet.type == 'page' %}view-channel view-channel-selection cover{% endif %}{% endblock %}



{% block body_background %}
{% if is_channel == true %}
  {% if selection.onglet.channel.cover %}url('{{ selection.onglet.channel.fournisseur is defined ? selection.onglet.channel.cover|replace({'/1500/450/c': ''}) : selection.onglet.channel.cover }}') top center no-repeat{% endif %}
  {% endif %}
{% endblock %}

#}

{% block content %}
{# 
{% if is_channel == true %}
  {% if custom_header %}
    {% render 'SkreenHouseFactoryV3Bundle:Channel:header'~ selection.onglet.channel.id with {channel: selection.onglet.channel, from_selection : from_selection ,  data: selection.onglet, fav: 'page',trigger_fav: 
channel.personne is defined ? 'Suivre ' ~ data.name : ''} %}
  {% else %}
    {% if selection.onglet.channel.fournisseur is defined %}
      {% include 'SkreenHouseFactoryV3Bundle:Channel:_header-fournisseur.html.twig' with {channel: selection.onglet.channel , fournisseur: selection.onglet.channel.fournisseur, from_selection : from_selection } %}
    {% else%}
    {% include 'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {channel: selection.onglet.channel, data: selection.onglet, from_selection : from_selection ,fav: 'page'} %}
    {% endif%}

  {% endif %}
{% endif %}
#}

  {% if '-cinema-' in app.request.uri or '/cinema/' in app.request.uri %}
    {% include 'SkreenHouseFactoryV3Bundle:Cinema:_addtolist.html.twig' %}
  {% endif %}

  <div id="view-selection" class="container">
    {% if selection.onglet.type == 'page' %}
      <ul class="breadcrumb">
        {% if selection.onglet.channel is defined and selection.onglet.channel %}
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('any_url', {url: selection.onglet.channel.slug|replace({'/': ''})}) }}/"><span itemprop="title">{{ selection.onglet.channel.title }}</span></a></li>
        {% endif %}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">{{ selection.name|raw }}</span></li>
      </ul>
    {% endif %}

    <h1{% if selection.name == 'Les sorties cinéma de la semaine' or selection.name == 'Bientôt dans les salles' %} itemscope itemtype="http://schema.org/CollectionPage" itemref="selection-programs md-description"{% endif %}><span class="sk-font"{% if selection.name == 'Les sorties cinéma de la semaine' or selection.name == 'Bientôt dans les salles' %} itemprop="name"{% endif %}>{{ selection.name|raw }}{% if selection.onglet.channel.fournisseur is defined %} de {{ selection.onglet.channel.title }}{% endif %}</span></h1>
    <div id="md-description" class="row description-seo description-seo-absolute scroll well"><span{% if selection.name == 'Les sorties cinéma de la semaine' or selection.name == 'Bientôt dans les salles' %} itemprop="description"{% endif %}>{{ selection.description|raw }}</span></div>
    <div class="row">

      {% if selection.template is defined and selection.template == 'liste' %}
        <div id="selection-programs" class="list col-xs-11">
          <ul class="items">
            {% for program in selection.programs %}
              {% if loop.index > 1 %}<li class="divider"></li>{% endif %}
              {% include 'SkreenHouseFactoryV3Bundle:Content:_list.html.twig' with {p: program} %}
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <div id="selection-programs" class="slider slider-list col-xs-11">
          <ul class="items">
            {% for program in selection.programs %}
              {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="col-xs-5" id="selection-related">
        {#<a class="btn btn-large btn-inverse btn-block trigger-tv" href="#" data-couchmode="{{ {'type': 'pack', 'id': selection.id}|json_encode }}"><i class="icon-off icon-white"></i> {{ 'program.tv.on'|trans }}</a>#}
        <ul class="list-group">
          {% if selection.onglet.type != 'page' %}
            <li class="list-group-item list-share">
              <div class="share-block clearfix">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ selection.seo_url, text: selection.name ~ ' sur mySkreen', fb_layout: 'box_count', tw_layout: 'vertical', g_size: 'tall', g_annotation: 'bubble' } %}</div>
            </li>
          {% endif %}
          <li class="list-group-item list-share">
            <h3 class="sk-font"><a href="{{ path('any_url', {url: selection.onglet.seo_url[1:selection.onglet.seo_url|length-1]}) }}">{{ selection.onglet.title is defined and selection.onglet.title ? selection.onglet.title : selection.onglet.name }}</a></h3>
          </li>
          {% for pack in selection.onglet.sliders|to_array %}
            <li class="list-group-item"><a href="{{ path('any_url', {url: pack.seo_url[1:pack.seo_url|length-1]}) }}">&raquo; {{ pack.name|raw }}</a></li>
          {% endfor %}
          <li class="list-group-item"><a href="#">&raquo; Haut de la page</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container nopadding">
    <hr/>
    {% include 'SkreenHouseFactoryV3Bundle:Main:_adsense.html.twig' %}
  </div>
{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/selection.js'
    filter='?yui_js' 
    output='js/compiled/pages/selection.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}