{% extends app.request.get('layout_partner') ? 'SkreenHouseFactoryPartnersBundle::' ~ app.request.get('layout_partner') ~ '.html.twig' : 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block meta %}
{% if selection.programs|length < 6 %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{{ selection.name }}" />
<meta property="og:description" content="{{ selection.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.myskreen.com{{ selection.seo_url }}" />
{% if selection.picture is defined and  selection.picture != '' %}
<meta property="og:image" content="{{ selection.picture }}" />
<link rel="image_src" href="{{ selection.picture }}" />
{% endif %}
<meta name="object_type" content="website" />
{% endblock %}
{% block title %}{{ selection.name|striptags }}{% if selection.onglet.channel.fournisseur is defined %} {{ selection.onglet.channel.title }} en Replay{% endif %}{% endblock %}
{% block description %}{% if selection.onglet.channel.fournisseur is defined %}{{ selection.name|striptags }} de {{ selection.onglet.channel.title }} et tous les Programmes des Chaines de la TNT en Replay et en Direct Live GRATUITEMENT et en 1 Clic sur mySkreen !{% else %}{{ selection.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endif %}{% endblock %}
{#
{% block body_class %}{% if selection.onglet.type == 'page' %}view-channel view-channel-selection cover{% endif %}{% endblock %}



{% block body_background %}
{% if is_channel == true %}
  {% if selection.onglet.channel.cover %}url('{{ selection.onglet.channel.fournisseur is defined ? selection.onglet.channel.cover|replace({'/1500/450/c': ''}) : selection.onglet.channel.cover }}') top center no-repeat{% endif %}
  {% endif %}
{% endblock %}

#}

{% block content %}
{# 
{% if is_channel == true %}
  {% if custom_header %}
    {% render 'SkreenHouseFactoryV3Bundle:Channel:header'~ selection.onglet.channel.id with {channel: selection.onglet.channel, from_selection : from_selection ,  data: selection.onglet, fav: 'page',trigger_fav: 
channel.personne is defined ? 'Suivre ' ~ data.name : ''} %}
  {% else %}
    {% if selection.onglet.channel.fournisseur is defined %}
      {% include 'SkreenHouseFactoryV3Bundle:Channel:_header-fournisseur.html.twig' with {channel: selection.onglet.channel , fournisseur: selection.onglet.channel.fournisseur, from_selection : from_selection } %}
    {% else%}
    {% include 'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {channel: selection.onglet.channel, data: selection.onglet, from_selection : from_selection ,fav: 'page'} %}
    {% endif%}

  {% endif %}
{% endif %}
#}
<div id="view-selection" class="container">
  {% if selection.onglet.type == 'page' %}

    <ul class="breadcrumb">

      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('any_url', {url: selection.onglet.channel.slug|replace({'/': ''})}) }}/"><span itemprop="title">{{ selection.onglet.channel.title }}</span></a></li>
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">{{ selection.name|raw }}</span></li>
    </ul>
  {% endif %}

  <h1>{{ selection.name|raw }}{% if selection.onglet.channel.fournisseur is defined %} de {{ selection.onglet.channel.title }}{% endif %}</h1>
  
  <div id="selection-related">
  {#<a class="btn btn-large btn-inverse btn-block trigger-tv" href="#" data-couchmode="{{ {'type': 'pack', 'id': selection.id}|json_encode }}"><i class="icon-off icon-white"></i> {{ 'program.tv.on'|trans }}</a>#}
  
  <ul class="list-group">
    {% if selection.onglet.type != 'page' %}
    <li class="list-group-item list-share">
      <div class="share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ selection.seo_url, text: selection.name ~ ' sur mySkreen' } %}</div>
    </li>
    {% endif %}
    {% for pack in selection.onglet.sliders|to_array %}
    <li class="list-group-item"><a href="{{ path('any_url', {url: pack.seo_url[1:pack.seo_url|length-1]}) }}">{{ pack.name|raw }}</a></li>
    {% endfor %}
  </ul>
  </div>

  <div id="selection-programs" class="slider slider-list">
    <ul class="items">
    {% for program in selection.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>
  <div id="description-seo">{{ selection.description|raw }}</div>
</div>
{% endblock %}