{% for c in data.channels %}
<li data-id="{{ c.id }}"{% if c.live.player is defined %} data-live="player"{% elseif c.live.url is defined %} data-live="url"{% endif %}>
	<a href="{{ c.seo_url }}"{% if c.live and c.live.player is defined %} id="player-{{ c.id }}" data-play-iframe="{{ c.live.player }}"{% endif%}><i class="icon-trash"></i><img src="{{ c.img }}" alt="{{ c.name }}" />programme {{ c.name }}</a>
	<ul>{% include 'SkreenHouseFactoryV3Bundle:Timeline:_channel-schedule.html.twig' with {c: c} %}</ul>
</li>
{% endfor %}