{% for o in c.epg|to_array %}
{% if o.broadcast_begin is defined %}
{% set timestamp_end = data.timestamp + 3*3600 %}
{% set start =  o.broadcast_begin|date('U') - data.timestamp > 0 ? ((o.broadcast_begin|date('U') - data.timestamp)*5/60)|number_format : 0 %}
{% set end   =  o.broadcast_end|date('U') > timestamp_end ? timestamp_end : o.broadcast_end|date('U') %}
{% set width =  ((end - (start ? o.broadcast_begin|date('U') : data.timestamp))*5/60)|number_format %}
<li data-program-id="{{ o.program.episodeof_id is defined ? o.program.episodeof_id : o.program.id }}" class="diff {{ width < 60 ? 'is-short' : 'is-long' }}{{ 'now'|date('U') - data.timestamp < 3600 and o.is_live ? ' is-live' : '' }} {{ o.program.onglet }}{{ o.has_replay is defined and o.has_replay ? ' has-replay' : '' }}{{ o.program.nb_like > 5 ? ' is-popular' : '' }}{{ 'Sport' in o.program.categories ? ' sports' : '' }}" data-begin="{{ o.broadcast_begin|date('U') }}" data-end="{{ o.broadcast_end|date('U') }}" style="left: {{ start }}px;width: {{ width }}px;">
	{% if width < 80  %}
	<a class="link" rel="popover" data-placement="{{ start > 5*60 ? 'left' : 'right' }}" data-original-title="<a class='close pull-right'>&times;</a>{{ o.broadcastdate }} - {{ o.program.format ? o.program.format.name : '' }}" data-content="{% if o.has_replay %}<p class='alert alert-success'><b>Bientôt en Replay :</b> cliquez sur suivre pour être alerté lorsque le Replay sera disponible.</p><hr/>{% endif %}<img class='img-tvgrid-popover' src='{{ o.program.picture }}' alt='{{ o.program.title }}' style='height:200px'/>{{ o.program.description|length > 50 ? o.program.description|slice(0, 50) ~ ' ...' : o.program.description }}<br/><a class='btn btn-defaut' href='{{ o.program.seo_url }}'>Tout sur le programme</a>">
	<i class="glyphicon glyphicon-question-sign"></i>
	</a>
	{% else %}
	<div class="btn actions btn-group hide" >
	<!-- <a data-id="{{ o.program.episodeof_id is defined ? o.program.episodeof_id : o.program.id }}" class="btn-defaut fav fav-like"><i class="glyphicon glyphicon-plus-sign"></i></a>
	-->
	{% if o.player %}<a class="btn-defaut" data-play="{{ o.player.id }}"><i class="glyphicon glyphicon-play"></i></a>{% elseif o.url %}<a class="" target="_blank" href="{{ o.url }}"><i class="icon-share"></i></a>{% endif %}</div>
	<a class="link" rel="#content" data-ajax-play="{{o.id}}" data-ajax="{{ path('any_url', {url: o.program.url[1:o.program.url|length-1]}) }}#program-offers" >
		<div class="nowrap"><span class="header">{{ o.broadcast_begin|date('H:i') }} {{ o.program.format ? o.program.format.name : '' }}</span></div>
		{%- if o.is_live and c.live %}<span class="label label-warning">{#<i class="icon-{{ o.player ? 'play' : 'share' }} icon-white"></i> #}Live</span>
		{% elseif o.url or o.player %}<span class="label label-info">{#<i class="icon-{{ o.player ? 'play' : 'share' }} icon-white"></i> #}Replay</span>
		{% elseif o.has_replay is defined and o.has_replay %}<span class="label">{#<i class="icon-time icon-white"></i> #}Replay</span>
		{% endif -%}
		<span class="t">{{ o.program.title|replace({' - ': '</span><span class="st">'})|raw }}</span>
	</a>
	{% endif %}
</li>
{% endif %}
{% endfor %}