<ul class="timeline"><li>{{ data.timestamp|date('H:i') }}</li><li>{{ (data.timestamp + 3600)|date('H:i') }}</li><li><span class="pull-right">{{ (data.timestamp + 3*3600)|date('H:i') }}</span>{{ (data.timestamp + 2*3600)|date('H:i') }}</li></ul>
<div class="schedule-cache"></div>
<div class="schedule-infos">
{% for c in data.channels %}
<ul class="schedule-channel" id="schedule-channel-{{ c.id }}">
	{% for o in c.epg %}
	{% if o.broadcast_begin is defined %}
	{% set timestamp_end = data.timestamp + 3*3600 %}
	{% set start =  o.broadcast_begin|date('U') - data.timestamp > 0 ? ((o.broadcast_begin|date('U') - data.timestamp)*5/60)|number_format : 0 %}
	{% set end   =  o.broadcast_end|date('U') > timestamp_end ? timestamp_end : o.broadcast_end|date('U') %}
	{% set width =  ((end - (start ? o.broadcast_begin|date('U') : data.timestamp))*5/60)|number_format %}
	<li data-program-id="{{ o.program.episodeof_id is defined ? o.program.episodeof_id : o.program.id }}" class="diff {{ width < 40 ? 'is-short' : 'is-long' }}{{ 'now'|date('U') - data.timestamp < 3600 and o.is_live ? ' is-live' : '' }} {{ o.program.onglet }}{{ o.has_replay is defined and o.has_replay ? ' has-replay' : '' }}{{ o.program.nb_like > 5 ? ' is-popular' : '' }}{{ 'Sport' in o.program.categories ? ' sports' : '' }}" data-begin="{{ o.broadcast_begin|date('U') }}" data-end="{{ o.broadcast_end|date('U') }}" style="left: {{ start }}px;width: {{ width }}px;">
		<a rel="popover" data-placement="{{ start > 5*90 ? 'left' : 'right' }}" data-original-title="<a class='close pull-right'>&times;</a>{{ o.broadcastdate }} - {{ o.program.format }}" data-content="<img class='img-tvgrid-popover' src='{{ o.program.picture }}' alt='{{ o.program.title }}' style='height:200px'/>{{ o.program.description }}<div class='clear actions' data-id='{{ o.program.episodeof_id is defined ? o.program.episodeof_id : o.program.id }}'><a class='btn btn-primary fav fav-like'><i class='icon-plus-sign icon-white'></i> {{ 'action.add.favorites'|trans }}</a>&nbsp;{% if o.player %}<a class='btn' data-play='{{ o.id }}'><i class='icon-play'></i> {{ 'watch'|trans }}</a>{% elseif o.url %}<a class='btn' target='_blank' href='{{ o.url }}'><i class='icon-share'></i>{{ 'watch'|trans }}</a>{% elseif o.has_replay %} <a class='btn' href='{{ o.program.seo_url }}'>{{ 'all.diff'|trans }}</a><hr class='clear'/><p class='alert alert-success'><b>Bientôt en Replay :</b> cliquez sur suivre pour être alerté lorsque le Replay sera disponible.</p>{% endif %}</div>">
			<span class="header">{{ o.broadcast_begin|date('H:i') }} {{ o.program.format }}</span>
			{%- if o.is_live and c.live %}<span class="label label-warning"><i class="icon-{{ o.player ? 'play' : 'share' }} icon-white"></i> Live</span>
			{% elseif o.url or o.player %}<span class="label label-info"><i class="icon-{{ o.player ? 'play' : 'share' }} icon-white"></i>  Replay</span>
			{% elseif o.has_replay is defined and o.has_replay %}<span class="label"><i class="icon-time icon-white"></i> Replay</span>
			{% endif -%}
			<span class="title">{{ o.program.title }}</span>
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
{% endfor %}
</div>