{% if app.request.get('q') is null %}
<div class="channels-modal">
   <form id="channels-search" data-form-ajax="#channels-list" class="form-search modal-catchform-disable pull-left form-inline" role="form" method="get" action="http://{{ app.request.httpHost() }}{{ app.request.basePath() }}{{ path('tvgrid_addchannel') }}">
    <input type="hidden" name="dataType" value="text html">
    <div class="form-group inline-block" style="width: 70%;">
      <label class="sr-only">{{ 'channels.search.placeholder'|trans }}</label>
      <input class="form-control search-query" name="q" placeholder="{{ 'channels.search.placeholder'|trans }}" value="{{ app.request.get('q') }}">
    </div>

    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"> </i>  {{ 'channels.search.submit'|trans }}</button>
  </form>
</div>
{% endif %}

<div id="channels-list" class="clear" data-api-url="{{ path('tvgrid_addchannel') }}">
{% if channels|length == 0 and app.request.get('init') is null %}
  <p class="alert">{{ 'tvgrid.channels.noprogram.search'|trans }}</p>
{% elseif app.request.get('init') is null %}
  <div class="scroll" style="overflow-y: auto; max-height: 250px;">
  <table class="table table-striped">
  {% for channel in channels %}
    {% if channel.epg is defined and channel.epg %}
    <tr>
      <td>
      {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: channel.id, class: 'fav-epg pull-right', text: 'Ajouter à la grille', name: channel.name } %}
      <img src="{{ channel.img }}" alt="{{ channel.name }}"/> {{ channel.name }}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
  </div>
	<script>
	console.log('Timeline/_popin-addchannel.html.twig script', 'onload search results', Skhf.session.datas);
	if (typeof Skhf.session.datas != 'undefined' && Skhf.session.datas.email) {
		UI.loadPlaylistTriggers('epg', Skhf.session.datas.epg.split(','), $('.modal'));
	}
	</script>
{% endif %}
</div>