{% extends app.request.isXmlHttpRequest ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block title %}{{ 'page.title.tvgrid'|trans({'%date%': data.timestamp|localizeddate('full')|replace({'00:00': '00'})}) }}{% endblock %}
{% block description %}{{ 'page.description.tvgrid'|trans }}{% endblock %}

{% block content %}
<link rel="stylesheet" media="screen" href="{{ asset('bundles/skreenhousefactoryv3/jquery-ui/css/no-theme/jquery-ui-1.10.1.custom.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/skreenhousefactoryv3/jquery-ui/css/flick/jquery-ui-1.10.1.custom.min.css') }}" />
<div id="view-tvgrid" class="container">
  <div id="grid" data-timestamp="{{ data.timestamp }}" data-reload-ajax="{{ path('tvgrid') }}">
  <div class="btn-group btn-filters" data-toggle="buttons-radio">
    <a class="btn btn-default btn-info" data-filter="">Tout</a>
    <a class="btn btn-default" data-filter="films">Films</a>
    <a class="btn btn-default" data-filter="documentaires">Documentaires</a>
    <a class="btn btn-default" data-filter="emissions">Emissions</a>
    <a class="btn btn-default" data-filter="sports">Sports</a>
    <a class="btn btn-default" data-filter="series">Séries</a>
    <a class="btn btn-default" data-filter="spectacles">Spectacles</a>
  </div>

  {% set date = data.timestamp|localizeddate('full')|split('now'|date('Y')) %}
  <h2 class="inline-block">Programme TV</h2>
  <h1 class="inline-block"><time timestamp="{{ data.timestamp }}">{{ date[0]|capitalize}}{{ data.timestamp|date('Y')}} à {{ date[1]|date('H') }}h</time></h1>
  <div id="datepicker"></div>
  <ul class="nav nav-pills">
    <li class="{{ app.request.get('date') == 'hier-soir' ? 'active ' : '' }}yesterdaynight time-change"><a href="{{ path('tvgrid_date', {date: 'hier-soir'}) }}">Hier soir</a></li>
    <li class="{{ app.request.get('date') == 'en-ce-moment' ? 'active ' : '' }}now time-change"><a href="{{ path('tvgrid_date',{date:'en-ce-moment'}) }}">En ce moment</a></li>
    <li class="{{ app.request.get('date') is null ? 'active ' : '' }}tonight time-change"><a href="{{ path('tvgrid') }}">Ce soir</a></li>
    <li class="datepicker"><a class="calendar btn"><i class="glyphicon glyphicon-calendar"></i></a></li>
    <li >
      <select id="opt-hour" class="btn-default hourpicker" data-current-hour="{{date[1]|date('H')}}">
        {% for h in range(0, 23) %}
        <option value="{{h}}" {%if h==date[1]|date('H') %} selected{% endif %}>{{h}}h00</option>
        {% endfor %}
      </select>
    </li>
    <li class="pull-right addchannel">
      <a class="btn btn-default" data-modal="remote" data-modal-title="Ajouter une chaîne" data-modal-message="Personnalisez votre guide TV Replay." href="{{ path('tvgrid_addchannel') }}"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;de chaînes</a>
    </li> 
    <select id="filter" class="pull-right btn-default dropdown dropdown-update hide">
        <option>Que voir ?</option>
        <option value="films">Films</option>
        <option value="documentaires">Documentaires</option>
        <option value="emissions">Emissions</option>
        <option value="sports">Sports</option>
        <option value="series">Séries</option>
        <option value="spectacles">Spectacles</option>
        <option class="divider">-----------------</option>
        <option value="in-playlists">Dans vos playlists</option>
        <option value="has-replay">En Replay</option>
        <option value="is-popular">Les plus suivis</option>
        <option class="divider">-----------------</option>
        <option value="">Tout</option>
      
    </select>
  </ul>
  <div class="relative">
  <div class="horaire">
    <a href="{{ path('tvgrid_date', {date: data.timestamp - 36000 }) }}" class="btn btn-small btn-inverse btn-precedent" ><i class="glyphicon glyphicon-chevron-left"></i> Préc.</a>
    <a href="{{ path('tvgrid_date', {date: data.timestamp + 36000 }) }}" class="btn btn-small btn-inverse btn-suivant">Suivant <i class="glyphicon glyphicon-chevron-right"></i></a>
 </div>
  <ul class="timeline">
    <li></li>
    <li>&nbsp;{{ data.timestamp|date('H:i')|replace({':': 'h'}) }}</li>
    <li>{{ (data.timestamp + 3600)|date('H:i')|replace({':': 'h'}) }}</li>
    <li>{{ (data.timestamp + 2*3600)|date('H:i')|replace({':': 'h'}) }}&nbsp;</li>
    
  </ul>
  <div class="channel-wrap">
    <div title="En direct" class="time-bar hide"></div>
    <div class="arrow arrow-up tooltip:after hide"></div>
    <ul id="channels" class="nav nav-list">
    {% include 'SkreenHouseFactoryV3Bundle:Timeline:_channels-schedule.html.twig' with {data: data } %}
  </ul>
</div>
<ul class="nav nav-pills">
   <li class="addchannel-bottom">
      <a class="btn btn-default" data-modal="remote" data-modal-title="Ajouter une chaîne" data-modal-message="Personnalisez votre guide TV Replay." href="{{ path('tvgrid_addchannel') }}"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;de chaînes</a>
    </li>
  </ul>
</div>
  </div>
  {% if periode == null or periode == 'ce-soir' %}
    <div>
      <h3> Votre programme t&eacute;l&eacute; avec mySkreen</h3>
      <p>mySkreen est un guide innovant qui permet de consulter le programme t&eacute;l&eacute; du moment, du soir et de la journ&eacute;e.</p>
      <p>Vous avez rat&eacute; votre &eacute;mission ou vous souhaitez connaitre la derni&egrave;re diffusion de votre s&eacute;rie f&eacute;tiche&nbsp;? Vous avez le pouvoir de revenir dans les jours pr&eacute;c&eacute;dents.</p>
      <p>Choisissez votre tranche horaire, vos chaines TV pr&eacute;f&eacute;r&eacute;es et par genre (<strong>films</strong>, <strong>documentaires</strong>, <strong>&eacute;missions</strong>, <strong>sports</strong>, <strong>s&eacute;ries</strong>, <strong>spectacles</strong>), ajoutez vos programmes dans votre playlist, soyez avertis de la diffusions. Avec mySkreen cr&eacute;ez votre <strong>guide t&eacute;l&eacute; et replay&nbsp;</strong>100%&nbsp;personnalisable.</p>
      <h3>Les programmes tant attendus&nbsp;!</h3>
      <p>Tous les ans, chaque saison nous attendons avec impatience les diffusions de nos programmes pr&eacute;f&eacute;r&eacute;es sur les plus grandes chaines de t&eacute;l&eacute;vision fran&ccedil;aise. Retrouvez sur le programme t&eacute;l&eacute; tous les programmes des chaines <strong>TF1 replay</strong>, <strong>France 2 replay</strong>, <strong>France 3 replay</strong>, <strong>Canal plus replay</strong>, <strong>Arte replay</strong>, <strong>M6 replay</strong>.</p>
      <p>C&rsquo;est avec gourmandise et admirations que nous allons suivre les &eacute;missions de cuisine. Qui va&nbsp;devenir&nbsp;le nouveau chef prodige ? R&eacute;ponse avec <a href="http://www.myskreen.com/emission/loisirs-passions/3407268-masterchef/" target="_self">Master Chef</a> (<strong>TF1</strong>) <a href="http://www.myskreen.com/emission/loisirs-passions/5113132-qui-sera-le-prochain-grand-patissier/" target="_self">Qui sera le prochain grand p&acirc;tissier&nbsp;</a>(<strong>France 2</strong>), <a href="http://www.myskreen.com/emission/loisirs-passions/3878003-top-chef/" target="_self">Top Chef</a> (<strong>M6</strong>),&nbsp;<a href="http://www.myskreen.com/emission/loisirs-passions/5199822-la-meilleure-boulangerie-de-france/" target="_self">La meilleure boulangerie de France</a> (<strong>M6</strong>)</p>
      <p>Apr&egrave;s l&rsquo;app&eacute;tit&nbsp;<a href="http://www.myskreen.com/documentaire/decouverte/1723524-rendez-vous-en-terre-inconnue/" target="_self">Rendez-vous en terre inconnue</a> (<strong>France 2</strong>) divertissons-nous avec des &eacute;missions suivies par des millions de fran&ccedil;ais avec <a href="http://www.myskreen.com/emission/divertissement/4459602-l-amour-est-dans-le-pre/" target="_self">L&rsquo;amour est dans le pr&eacute;</a> (<strong>M6</strong>),<a href="http://www.myskreen.com/emission/divertissement/4590771-koh-lanta-8-caramoan/" target="_self">Koh-Lanta</a> (<strong>TF1</strong>) <a href="http://www.myskreen.com/emission/decouverte/1220781-thalassa/" target="_self">Thalassa</a> (<strong>France 3</strong>), <a href="http://www.myskreen.com/emission/arts/4554207-the-voice-la-plus-belle-voix/" target="_self">The Voice, la plus belle voi</a>x (<strong>TF1</strong>),<a href="http://www.myskreen.com/emission/decouverte/4778996-la-parenthese-inattendue/" target="_self">La parenth&egrave;se inattendue</a> (<strong>France 2</strong>) <a href="http://www.myskreen.com/emission/divertissement/4646294-secret-story/" target="_self">Secret Story</a> (<strong>TF1</strong>).</p>
      <p>Retrouvez sur les chaines hertziennes les magazines d&rsquo;informations, d&rsquo;actualit&eacute;s et de soci&eacute;t&eacute;s avec <a href="http://www.myskreen.com/emission/societe/2572078-capital/" target="_self">Capital</a> (<strong>M6</strong>), <a href="http://www.myskreen.com/documentaire/societe/1737717-envoye-special/" target="_self">Envoy&eacute; sp&eacute;cial</a> (<strong>France 2</strong>), <a href="http://www.myskreen.com/emission/societe/3455715-le-grand-journal-canal/" target="_self">Le Grand journal</a> (<strong>Canal +</strong>) <a href="http://www.myskreen.com/emission/societe/1661632-sept-a-huit/" target="_self">Sept &agrave; huit</a> (<strong>TF1</strong>), <a href="http://www.myskreen.com/emission/societe/1217749-66-minutes/" target="_self">66 minutes</a> (<strong>M6</strong>), <a href="http://www.myskreen.com/emission/arts/3894755-secrets-d-histoire/" target="_self">Secrets d&rsquo;histoire</a> (<strong>France 2</strong>).</p>
      <p>Suivez l&rsquo;actualit&eacute; sportive sur la chaine du sport et sur les diff&eacute;rents programmes propos&eacute;s en replay et gratuitement avec <a href="http://www.myskreen.com/emission/sport/590231-auto-moto/" target="_self">Auto-moto</a> (<strong>TF1</strong>) <a href="http://www.myskreen.com/emission/sport/590231-auto-moto/" target="_self">Stade 2</a> (<strong>France 2</strong>) <a href="http://www.myskreen.com/journal/sport/1214380-tout-le-sport/" target="_self">Tout le sport</a> (<strong>France 3</strong>), <a href="http://www.myskreen.com/emission/sport/1283828-canal-football-club/" target="_self">Canal Football Club</a> (<strong>Canal +</strong>), <a href="http://www.myskreen.com/emission/sport/1250210-telefoot/" target="_self">T&eacute;l&eacute;foot</a> (<strong>TF1</strong>), ne manquez pas les &eacute;v&egrave;nements de l&rsquo;ann&eacute;e avec le <a href="http://www.myskreen.com/emission/sport/5108391-cyclisme-tour-de-france-2013/" target="_self">Tour de France</a> et <a href="http://www.myskreen.com/emission/sport/5053416-tennis-internationaux-de-france-2013/" target="_self">Roland Garros</a> sur <strong>France 2 replay</strong>.</p>
      <p>Ajoutez vos s&eacute;ries &agrave; votre playlist pour ne jamais rater un seul moment de votre s&eacute;rie culte, <a href="http://www.myskreen.com/serie/drames/2442289-les-feux-de-l-amour/" target="_self">Les feux de l&rsquo;amour</a> sur <strong>TF1 replay</strong>, <a href="http://www.myskreen.com/serie/comedies/5210357-y-a-pas-d-age/" target="_self">Y&rsquo;a pas d&rsquo;&acirc;ge</a> sur <strong>France 2 replay</strong>, <a href="http://www.myskreen.com/serie/drames/3517970-plus-belle-la-vie/" target="_self">Plus belle la vie</a> sur <strong>France 3 replay</strong> et <a href="http://www.myskreen.com/plus-belle-la-vie-en-avance/" target="_self">en avance</a> sur mySkreen. Retrouvez &eacute;galement <a href="http://www.myskreen.com/serie/policier-thriller/3427231-fbi-duo-tres-special/" target="_self">FBI&nbsp;: duo tr&egrave;s sp&eacute;cial</a> sur <strong>M6 replay</strong>, <a href="http://www.myskreen.com/serie/drames/4844362-la-gifle/" target="_self">La Gifle</a> sur <strong>arte replay</strong> ou encore <a href="http://www.myskreen.com/serie/policier-thriller/737295-engrenages/" target="_self">Engrenages</a> sur <strong>Canal + replay</strong>.</p>
      <h3>Mais aussi sur les cha&icirc;nes TNT&hellip;</h3>
      <p>Retrouvez sur mySkreen les s&eacute;ries en <strong>replay et en streaming</strong>, vous en avez pour tous les gouts avec notre s&eacute;lection : <a href="http://www.myskreen.com/serie/policier-thriller/592077-b-r-i-g-a-d/" target="_self">B.R.I.G.A.D</a> sur <strong>Numero 23 replay,</strong>&nbsp;<a href="http://www.myskreen.com/serie/humour/5190823-vdm/" target="_self">VDM</a> sur <strong>NT1 replay</strong>,&nbsp;<a href="http://www.myskreen.com/serie/drames/3921180-les-mysteres-de-l-amour/" target="_self">Les myst&egrave;res de l&rsquo;amour</a> sur <strong>TMC replay</strong>, <a href="http://www.myskreen.com/serie/drames/1778006-90210-beverly-hills-nouvelle-generation/" target="_self">90210 Beverly Hills : nouvelle g&eacute;n&eacute;ration</a> sur <strong>6 ter replay</strong>, <a href="http://www.myskreen.com/serie/nc/5186496-franklin-bash/" target="_self">Franklin &amp; Bash</a> sur <strong>Cherie 25 replay</strong>, <a href="http://www.myskreen.com/serie/policier-thriller/2047734-julie-lescaut/" target="_self">Julie Lescaut</a> sur <strong>HD1 replay</strong> ainsi que les s&eacute;ries et mangas sur <strong>Gulli replay</strong> et <strong>D17 replay</strong>.</p>
      <p>Partez en voyage &agrave; la d&eacute;couverte de la France et du monde avec&nbsp;&nbsp;<a href="http://www.myskreen.com/documentaire/decouverte/2568173-j-irai-dormir-chez-vous/" target="_self">J'irai dormir chez vous</a>&nbsp;sur <strong>France 5 replay</strong>, <a href="http://www.myskreen.com/emission/decouverte/5124804-explo-grand-format/" target="_self">Expl&Ocirc; grand format</a> sur <strong>France &Ocirc;</strong>,&nbsp;<a href="http://www.myskreen.com/documentaire/decouverte/3476233-littoral-entre-ciel-terre-et-mer/" target="_self">Littoral, entre ciel, terre et mer</a> sur <strong>RMC d&eacute;couverte</strong> ou encore <a href="http://www.myskreen.com/serie/decouverte/4712924-le-clan-des-suricates-l-aventure-commence/" target="_self">Le clan des suricates : l'aventure commence</a> sur <strong>Numero 23</strong>.</p>
      <p>Il y en a pour tous les gouts avec les magazines et les divertissements<strong> en replay et en streaming gratuit sur mySkreen</strong> avec les c&eacute;l&egrave;bres &eacute;missions <a href="http://www.myskreen.com/emission/societe/3514709-tellement-vrai/" target="_self">Tellement vrai</a> sur <strong>NRJ 12 replay</strong>, <a href="http://www.myskreen.com/emission/loisirs-passions/5054289-cauchemar-en-cuisine/" target="_self">Cauchemar en cuisine</a> sur <strong>W9 replay</strong>,&nbsp;<a href="http://www.myskreen.com/emission/divertissement/4926829-betes-mais-droles/" target="_self">B&ecirc;tes mais dr&ocirc;le</a> sur <strong>France 4 replay</strong> ou encore l&rsquo;&eacute;mission phare de <strong>Cyril Hanouna</strong> avec son <a href="http://www.myskreen.com/emission/societe/3435799-touche-pas-a-mon-poste/" target="_self">Touche pas &agrave; mon poste</a> sur <strong>D8 replay</strong>.</p>
      <p>Restez inform&eacute; sur mySkreen, toute l'actualit&eacute;, les &eacute;missions politiques ou d'&eacute;conomie sont disponibles sur <a href="http://www.myskreen.com/bfm-tv/" target="_self">BFMTV</a>, <a href="http://www.myskreen.com/bfm-business/" target="_self">BFM Business</a>, <a href="http://www.myskreen.com/itele/" target="_self">iT&eacute;l&eacute;</a>, <a href="http://www.myskreen.com/public-senat/" target="_self">Public S&eacute;nat</a>, <a href="http://www.myskreen.com/france-24/" target="_self">France 24</a>, <a href="http://www.myskreen.com/kto/" target="_self">KTO</a> et <a href="http://www.myskreen.com/tv5-monde/" target="_self">TV5 monde</a><strong> en replay et en streaming gratuit</strong>.</p>
      <p>Ajoutez vos programmes pr&eacute;f&eacute;r&eacute;s &agrave; vos playlists en cliquant sur "+suivre". Vous serez avertis &agrave; chaque nouvelle diffusion ou mise en ligne. Avec votre playlist, mySkreen devient votre t&eacute;l&eacute; personnelle &agrave; la carte et &agrave; la demande, compos&eacute;e uniquement des programmes que vous aimez, quelle que soit leur cha&icirc;ne et &agrave; l'heure que vous voudrez.</p>
    </div>
  {% endif %}
  </div>
</div>

{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/js/jquery-ui-1.10.1.custom.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/js/jquery.ui.datepicker-fr.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/tvgrid.js'
    filter='?yui_js' 
    output='js/compiled/tvgrid.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}