{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.tvgrid'|trans({'%date%': data.timestamp|localizeddate('full')|replace({'00:00': '00'})}) }}{% endblock %}
{% block description %}{{ 'page.description.tvgrid'|trans }}{% endblock %}
{% block meta %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block content %}
<link rel="stylesheet" media="screen" href="{{ asset('bundles/skreenhousefactoryv3/jquery-ui/css/no-theme/jquery-ui-1.10.1.custom.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/skreenhousefactoryv3/jquery-ui/css/flick/jquery-ui-1.10.1.custom.min.css') }}" />
<div id="view-tvgrid" class="container">
  <div id="grid" data-timestamp="{{ data.timestamp }}" data-reload-ajax="{{ path('tvgrid') }}">
  <div class="btn-group btn-filters" data-toggle="buttons-radio">
    <a class="btn btn-info" data-filter="">Tout</a>
    <a class="btn" data-filter="films">Films</a>
    <a class="btn" data-filter="documentaires">Documentaires</a>
    <a class="btn" data-filter="emissions">Emissions</a>
    <a class="btn" data-filter="sports">Sports</a>
    <a class="btn" data-filter="series">Séries</a>
    <a class="btn" data-filter="spectacles">Spectacles</a>
  </div>
  {% for slider in data.sliders %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}
  {% endfor %}
  <hr/>
  {% set date = data.timestamp|localizeddate('full')|split('now'|date('Y')) %}
  <h1>Programme TV du <time timestamp="{{ data.timestamp }}">{{ date[0] }}</time> </h1>
  <div id="timeslider"></div>
  <div id="datepicker"></div>
  <ul class="nav nav-pills">
    <li class="{{ app.request.get('date') == 'hier-soir' ? 'active ' : '' }}yesterdaynight time-change"><a href="{{ path('tvgrid_date', {date: 'hier-soir'}) }}">Hier soir</a></li>
    <li class="{{ app.request.get('date') is null ? 'active ' : '' }}now time-change"><a href="{{ path('tvgrid') }}">En ce moment</a></li>
    <li class="{{ app.request.get('date') == 'ce-soir' ? 'active ' : '' }}tonight time-change"><a href="{{ path('tvgrid_date', {date: 'ce-soir'}) }}">Ce soir</a></li>
    <li class="datepicker"><a class="calendar btn"><i class="icon-calendar"></i></a></li>
    <li class="pull-right addchannel">
      <a data-modal="remote" data-modal-title="Ajouter une chaîne" data-modal-message="Personnalisez votre guide TV Replay." href="{{ path('tvgrid_addchannel') }}"><i class="icon-plus-sign"></i> de chaînes</a>
    </li>
    <li class="pull-right dropdown dropdown-update">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-check"></i>&nbsp;<span>Que voir ?</span></a>
      <ul class="dropdown-menu">
        <li><a data-filter="films">Films</a></li>
        <li><a data-filter="documentaires">Documentaires</a></li>
        <li><a data-filter="emissions">Emissions</a></li>
        <li><a data-filter="sports">Sports</a></li>
        <li><a data-filter="series">Séries</a></li>
        <li><a data-filter="spectacles">Spectacles</a></li>
        <li class="divider"></li>
        <li><a data-filter="in-playlists">Dans vos playlists</a></li>
        <li><a data-filter="has-replay">En Replay</a></li>
        <li><a data-filter="is-popular">Les plus suivis</a></li>
        <li class="divider"></li>
        <li><a data-filter="">Tout</a></li>
      </ul>
    </li>
  </ul>
  <ul class="timeline">
    <li></li>
    <li>&nbsp;{{ data.timestamp|date('H:i')|replace({':': 'h'}) }}</li>
    <li>{{ (data.timestamp + 3600)|date('H:i')|replace({':': 'h'}) }}</li>
    <li><span class="pull-right">{{ (data.timestamp + 3*3600)|date('H:i')|replace({':': 'h'}) }}</span>{{ (data.timestamp + 2*3600)|date('H:i')|replace({':': 'h'}) }}&nbsp;</li>
  </ul>
  <ul id="channels" class="nav nav-list">
    {% include 'SkreenHouseFactoryV3Bundle:Timeline:_channels-schedule.html.twig' with {data: data } %}
  </ul>
  </div>
  </div>
</div>
{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/js/jquery-ui-1.10.1.custom.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/js/jquery.ui.datepicker-fr.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/tvgrid.js'
    filter='?yui_js' 
    output='js/compiled/tvgrid.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}