{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.tvgrid'|trans({'%date%': data.timestamp|localizeddate('full')|replace({'00:00': '00'})}) }}{% endblock %}
{% block description %}{{ 'page.description.tvgrid'|trans }}{% endblock %}

{% block content %}
<link rel="stylesheet" media="screen" href="{{ asset('bundles/skreenhousefactoryv3/jquery-ui/css/no-theme/jquery-ui-1.10.1.custom.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/skreenhousefactoryv3/jquery-ui/css/flick/jquery-ui-1.10.1.custom.min.css') }}" />
<div id="view-tvgrid" class="container">
  <div id="grid" data-timestamp="{{ data.timestamp }}" data-reload-ajax="{{ path('tvgrid') }}">
  <div class="btn-group btn-filters" data-toggle="buttons-radio">
    <a class="btn btn-default btn-info" data-filter="">Tout</a>
    <a class="btn btn-default" data-filter="films">Films</a>
    <a class="btn btn-default" data-filter="documentaires">Documentaires</a>
    <a class="btn btn-default" data-filter="emissions">Emissions</a>
    <a class="btn btn-default" data-filter="sports">Sports</a>
    <a class="btn btn-default" data-filter="series">Séries</a>
    <a class="btn btn-default" data-filter="spectacles">Spectacles</a>
  </div>
  {% for slider in data.sliders|to_array %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}
  {% endfor %}
  <hr/>
  {% set date = data.timestamp|localizeddate('full')|split('now'|date('Y')) %}
  <h1>Programme TV du <time timestamp="{{ data.timestamp }}">{{ date[0]|capitalize}}{{ data.timestamp|date('Y')}}
   </time> </h1>
  <div id="datepicker"></div>
  <ul class="nav nav-pills">
    <li class="{{ app.request.get('date') == 'hier-soir' ? 'active ' : '' }}yesterdaynight time-change"><a href="{{ path('tvgrid_date', {date: 'hier-soir'}) }}">Hier soir</a></li>
    <li class="{{ app.request.get('date') == 'en-ce-moment' ? 'active ' : '' }}now time-change"><a href="{{ path('tvgrid_date',{date:'en-ce-moment'}) }}">En ce moment</a></li>
    <li class="{{ app.request.get('date') is null ? 'active ' : '' }}tonight time-change"><a href="{{ path('tvgrid') }}">Ce soir</a></li>
    <li class="datepicker"><a class="calendar btn"><i class="glyphicon glyphicon-calendar"></i></a></li>
    <li >
      <select id="opt-hour" class="btn hourpicker" data-current-hour="{{date[1]|date('H')}}">
        {% for h in range(0, 23) %}
        <option value="{{h}}" {%if h==date[1]|date('H') %} selected{% endif %}>{{h}}h00</option>
        {% endfor %}
      </select>
    </li>
    <li class="pull-right addchannel">
      <a data-modal="remote" data-modal-title="Ajouter une chaîne" data-modal-message="Personnalisez votre guide TV Replay." href="{{ path('tvgrid_addchannel') }}"><i class="glyphicon glyphicon-plus-sign"></i> de chaînes</a>
    </li> 
   
    <select class="pull-right dropdown dropdown-update" id="filter">
        <option>Que voir ?</option>
        <option value="films">Films</option>
        <option value="documentaires">Documentaires</option>
        <option value="emissions">Emissions</option>
        <option value="sports">Sports</option>
        <option value="series">Séries</option>
        <option value="spectacles">Spectacles</option>
        <option class="divider">-----------------</option>
        <option value="in-playlists">Dans vos playlists</option>
        <option value="has-replay">En Replay</option>
        <option value="is-popular">Les plus suivis</option>
        <option class="divider">-----------------</option>
        <option value="">Tout</option>
      
    </select>
  </ul>
  <div>
  <div class="horaire">
    <a class="btn btn-small btn-inverse btn-precedent" ><i class="glyphicon glyphicon-chevron-left"></i> Précédent</a>
   <a class="btn btn-small btn-inverse btn-suivant">Suivant <i class="glyphicon glyphicon-chevron-right"></i></a>
 </div>
  <ul class="timeline">
    <li></li>
    <li>&nbsp;{{ data.timestamp|date('H:i')|replace({':': 'h'}) }}</li>
    <li>{{ (data.timestamp + 3600)|date('H:i')|replace({':': 'h'}) }}</li>
    <li>{{ (data.timestamp + 2*3600)|date('H:i')|replace({':': 'h'}) }}&nbsp;</li>
    
  </ul>
  <div class="channel-wrap">
    <div title="En direct" class="time-bar hide"></div>
    <div class="arrow arrow-up tooltip:after hide"></div>
    <ul id="channels" class="nav nav-list">
    {% include 'SkreenHouseFactoryV3Bundle:Timeline:_channels-schedule.html.twig' with {data: data } %}
  </ul>
</div>
</div>
  </div>
  </div>
</div>
{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/js/jquery-ui-1.10.1.custom.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/js/jquery.ui.datepicker-fr.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/tvgrid.js'
    filter='?yui_js' 
    output='js/compiled/tvgrid.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}