<div class="bande_listes">
  <div class="container">
    <div class="row">
      <div class="col-xs-11">
        <div class="user-on">
          <div id="fake_h1">Mes listes : salles de cinémas</div>
          <div class="row">
            <div class="col-xs-16 episodes">Les séances dans vos cinémas</div>
          </div>
        </div>
        <div class="user-off">
          <div id="fake_h1">Mes listes : salles de cinémas</div>
          <div class="row">
            <div class="col-xs-16 episodes">Retrouvez ici toutes les séances près de chez vous en un clin d'oeil !</div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        {# AjoutListes #}
        <div class="row user-off">
          {# Bouton Ajout/Abo #}
          <div class="col-xs-16 ajout">
            <a class="btn btn-suivre btn-plus" data-modal="remote" data-modal-title="Ajouter un cinéma" href="{{ path('theaters_search', {init: 1,'theater_ids': ''}) }}"> Ajouter un cinéma</a>
          </div>
          {# Textes Ajouts #}
          <div class="col-xs-16 cine">
            <a class="meslistes-plus" data-toggle-text="<i class='glyphicon glyphicon-collapse-up'></i>&nbsp;Fermer" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><i class="glyphicon glyphicon-collapse-down"></i><span>&nbsp;Plus d'infos...</span></a>
          </div>
        </div>
        {# Gestion Listes Connecté #}
        <div class="row user-on">
          {# Bouton Ajout/Abo #}
          <div class="col-xs-16 ajout">
            <a class="btn btn-suivre meslistes-plus" data-toggle-text="Fermer&nbsp;<i class='glyphicon glyphicon-collapse-up'></i>" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide" data-relocation="{{ path('user_theaters') }}"><span></span><i class="glyphicon glyphicon-collapse-down"></i>&nbsp;0 cinéma dans vos listes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bande_couleur_degrade">
  {# Pas connecté #}
  <div class="container user-off">
    <div class="row">
      <p>Ajoutez vos cinémas préférés à vos listes et retrouvez-ici, en un clin d'oeil, 
        <br>les films et les séances qu'ils diffusent.</p>
      <img class="cinema-sample" src="{{ asset('bundles/skreenhousefactoryv3/images/meslistes/cinema-sample.png') }}"/>
    </div>
  </div>
  <div class="container user-on" id="theaters-playlist">
    <div class="tab-pane" id="theater-playlist">
      <div class="theaters-on">
        <a class="pull-right btn btn-suivre btn-xs" data-modal="remote" data-modal-title="{{ 'theaters.playlist.add'|trans }}" href="{{ path('theaters_search', {'init': 1,'theater_ids': ''}) }}"><span class="glyphicon glyphicon-pencil"></span> Modifier mes cinémas</a>
        <div id="theaters-names"></div>
        {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {id: 'cinema'}, noheader: true, class: 'slider-meslistes'} %}
      </div>
    </div>
  </div>
</div>
