{% if app.request.get('init') or app.request.isXmlHttpRequest == false %}
<div class="theaters-modal">
  <form id="theaters-search" action="{{ path('theaters_search') }}" data-form-ajax="{{ app.request.isXmlHttpRequest ? '.modal ' : '' }}#theaters-list" class="form-search modal-catchform-disable pull-left">
    <div class="input-group">
      <input type="text" name="q" class="span3 search-query" placeholder="{{ 'theaters.search.placeholder'|trans }}">
      <input type="submit" class="input-group-addon btn btn-default trigger-theaters" value="{{ 'theaters.search.submit'|trans }}" />
    <a class="btn btn-default" class="trigger-theaters" id="trigger-theaters-geoloc"><i class="glyphicon glyphicon-map-marker"></i> {{ 'theaters.search.geoloc'|trans }}</a>
    </div>
  </form>
  <div id="theaters-list" class="clear"></div>
</div>
{% endif %}
{% if app.request.get('q') %}
  <h3>Recherche : {{ app.request.get('q') }}</h3>
{% elseif app.request.get('init') is null %}
  <h3>Cinémas près d'ici</h3>
{% endif %}
{% if cinemas|length == 0 and app.request.get('init') is null %}
  <p class="alert">
    {% if app.request.get('q') %}
      {{ 'program.theaters.noprogram.search'|trans }}
    {% else %}
      {{ 'program.theaters.noprogram.geoloc'|trans }}
    {% endif %}
  </p>
{% elseif app.request.get('init') is null %}
  <div class="scroll" style="overflow-y: auto; max-height: 250px;">
  <table class="table table-striped">
  {% for cinema in cinemas %}
    {% if cinema.adress is defined %}
    <tr><td class="actions" data-id="{{ cinema.id }}">
      {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: cinema.id, name: cinema.name, class: 'fav-cinema'} %}
      <a class="btn btn-default pull-right" href="{{ path('any_url', {url: cinema.seo_url|slice(1, cinema.seo_url|length-1) }) }}"> Films & horaires</a>
      <strong>{{ cinema.name }}</strong><br/>
      <em>{{ cinema.adress }} {{ cinema.city }} {{ cinema.zip_code }}</em>
    </td></tr>
    {% endif %}
  {% endfor %}
  </table>
  </div>
{% endif %}