{% if app.request.get('init') %}
<div class="theaters-modal">
  <form id="theaters-search" class="form-search modal-catchform-disable pull-left">
    <div class="input-group">
      <input type="text" class="span3 search-query" placeholder="{{ 'theaters.search.placeholder'|trans }}">
      <span class="input-group-addon">
      <input type="submit" class="input-group-addon btn btn-default trigger-theaters" value="{{ 'theaters.search.submit'|trans }}" />
    </span>
    </div>
  </form>
  <a class="btn btn-default" href="javascript://" class="trigger-theaters" id="trigger-theaters-geoloc"><i class="icon-map-marker"></i> {{ 'theaters.search.geoloc'|trans }}</a>
  <div id="theaters-list" class="clear" data-api-url="{{ path('theaters_search') }}"></div>
</div>
{% endif %}
{% if app.request.get('q') %}
  <h3>Recherche : {{ app.request.get('q') }}</h3>
{% elseif app.request.get('init') is null %}
  <h3>Cinémas près d'ici</h3>
{% endif %}
{% if cinemas|length == 0 and app.request.get('init') is null %}
  <p class="alert">
    {% if app.request.get('q') %}
      {{ 'program.theaters.noprogram.search'|trans }}
    {% else %}
      {{ 'program.theaters.noprogram.geoloc'|trans }}
    {% endif %}
  </p>
{% elseif app.request.get('init') is null %}
  <div class="scroll" style="overflow-y: auto; max-height: 250px;">
  <table class="table table-striped">
  {% for cinema in cinemas %}
    {% if cinema.adress is defined %}
    <tr><td class="actions" data-id="{{ cinema.id }}">
      <a class="fav fav-cinema pull-right btn btn-primary" data-id="{{ cinema.id }}" data-name="{{ cinema.name }}" href="#"><i class="icon-plus-sign icon-white"></i> Suivre</a>
      <strong>{{ cinema.name }}</strong><br/>
      <em>{{ cinema.adress }} {{ cinema.city }} {{ cinema.zip_code }}</em>
    </td></tr>
    {% endif %}
  {% endfor %}
  </table>
  </div>
{% endif %}