<ul class="nav nav-tabs">
  {% set days = cinema.schedules|to_array %}
  {% for date,info in days %}
    <li{% if loop.index == 1%} class="active" {% endif %}><a href="#{{ date }}-{{ cinema.id }}" data-toggle="tab">{{ info.name ~ ' ' ~ date[-2:] }}</a></li>
  {% endfor %}
</ul>
<div class="tab-content">
  {% for date,info in days %}
    {% set s = attribute(cinema.schedules, date) %}
    {% set hasVF = 0 %}
    {% set hasVO = 0 %}
    {% set noV = 1 %}
    {% for h in s.schedules|to_array %}
      {% if h.version == "VO"%}
        {% set hasVO = 1%}
        {% set noV = 0 %}
      {% endif %}
      {% if h.version == "VF"%}
        {% set hasVF = 1%}
        {% set noV = 0 %}
      {% endif %}
    {% endfor %}
    <div class="tab-pane fade{% if loop.index == 1%} active in{% endif %}" id="{{ date }}-{{ cinema.id }}">
      {% if noV == 1%}
        {% for h in s.schedules|to_array %}
          {% if not loop.last %}
            {{ h.hour }}&nbsp;/&nbsp;
          {% else %}
            {{ h.hour }}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if hasVO == 1 %}
        <span class="label label-default">VO</span>
        {% for h in s.schedules|to_array %}
          {% if h.version == "VO"%}
            {% if not loop.last %}
              {{ h.hour }}&nbsp;/&nbsp;
            {% else %}
              {{ h.hour }}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if hasVF == 1 and hasVO == 1 %}
        </br>
      {% endif %}
      {% if hasVF == 1 %}
        <span class="label label-default">VF</span>
        {% for h in s.schedules|to_array %}
          {% if h.version == "VF"%}
            {% if not loop.last %}
              {{ h.hour }}&nbsp;/&nbsp;
            {% else %}
              {{ h.hour }}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>