{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{% if app.request.get('category') %}Les films à l'affiche : {{ app.request.get('category') }}{% else %}{{'page.title.cinema.boxoffice'|trans({'%alpha%': app.request.get('alpha')}) }}{% endif %}{% endblock %}

{% set description_text %}Tous les films à l'affiche au cinéma,{% if app.request.get('category') %} dans la catégorie {{ app.request.get('category') }}{% else %} commençant par la lettre {{ app.request.get('alpha') }}{% endif %}, sont recensés sur myskreen.com.{% endset %}
{% block description %}{{ description_text }}{% endblock %}

{% block content %}

  {% include 'SkreenHouseFactoryV3Bundle:Cinema:_addtolist.html.twig' %}
  <div class="bande_fonce">
    <div itemscope itemtype="http://schema.org/CollectionPage" itemref="user-programs" class="container">
      <h1 itemprop="name" content="{% if app.request.get('category') %}Les films à l'affiche : {{ app.request.get('category') }}{% else %}{{'page.title.cinema.boxoffice'|trans({'%alpha%': app.request.get('alpha')}) }}{% endif %}">{{ app.request.get('category') ? 'Box-office : ' ~ categories[app.request.get('category')] : 'cinema.boxoffice.h1'|trans }}</h1>
      <meta itemprop="description" content="{{ description_text }}"/>
      <p class="sk-font">
        {% if app.request.get('alpha') is not null and app.request.get('alpha') != 'a' %}
          <a data-toggle-hide=".filter-categories">Par genre</a>
        {% else %}
          Tous les genres
        {% endif %}
      </p>
      <div class="filter-categories {% if app.request.get('alpha') is not null and app.request.get('alpha') != 'a' %} hide{% endif %}">
      {% for k,c in categories %}
        <a class="inline-block label {{ app.request.get('category') == k ? 'label-info' : 'label-default' }}" href="{{ path('cinema_boxoffice_category', {category: k}) }}"><span{{ app.request.get('category') == k ? ' itemprop="genre"' : '' }}>{{ c }}</span></a>
      {% endfor %}
      </div>
      <br class="clear"/>
      <p class="sk-font">
        {% if app.request.get('category') is not null %}
          <a data-toggle-hide=".filter-alpha">Par ordre alphabétique</a>
        {% else %}
          Ordre alphabétique
        {% endif %}
      </p>
      <div class="filter-alpha {% if app.request.get('category') is not null %} hide{% endif %}">
      <ul class="pagination nomargin">
        {% for l in alpha %}
         {% if l == 'a' %}
          <li{% if app.request.get('alpha') == l %} class="active"{% endif %}><a href="{{ path('cinema_boxoffice') }}">{{ l }}</a></li>
          {% else %}
          <li{% if app.request.get('alpha') == l %} class="active"{% endif %}><a href="{{ path('cinema_boxoffice_alpha', {alpha: l}) }}">{{ l }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
  {% if app.request.get('alpha') == 'a' %}
    <div class="description-seo description-seo-absolute">
      <div class="container scroll well">
      <h2>Le Top du Box-Office</h2>
      <p>Vous adorez le cinéma mais ne savez pas quoi aller voir ? Faites confiance au Box-Office et ne ratez pas les films dont tout le monde parle !</p>
      <p>A moins que vous ne préfériez faire confiance à la <a href="http://www.myskreen.com/cinema/selection/8030213-cinema-la-selection-de-la-presse/">Sélection de la presse</a>.</p>
      <p>Vous n’avez toujours pas trouvé le film qui vous correspond ? Si vous alliez faire un tour sur <a href="http://www.myskreen.com/cinema/selection/7845147-les-sorties-cinema-de-la-semaine/">Les sorties ciné de la semaine</a> ou <a href="http://www.myskreen.com/cinema/selection/8238809-les-films-toujours-a-l-affiche/">Les films toujours à l’affiche</a> ? Ils vous diront ce qui passe en ce moment au cinéma.</p>
      <p>Ca y est, vous avez choisi un film ? Regardez maintenant s’il passe dans votre salle préférée… C’est bon ?
      Ajoutez-la à vos cinémas et soyez immédiatement averti de sa programmation !</p>
      <p>Vous ne voulez surtout pas passer à côté d’un film vous a tapé dans l’oeil ? Cliquez sur Suivre, le film se retrouve dans votre playlist et vous êtes averti immédiatement de toutes ses diffusions, au cinéma, à la télé, en replay ou encore en VOD !</p>
    </div>
    </div>
  {% endif %}
  <br/>
  <br/>
  <div class="container">
    <div id="user-programs" class="slider slider-list">
      <ul class="items">
        {% for p in programs|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {'p': p, 'origin': 'boxoffice'} %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}