<h3>{% if app.request.get('q') %}
  Recherche : {{ app.request.get('q') }}
{% elseif app.request.get('playlist') %}
  {{ 'theaters.playlist.title'|trans }}
{% else %}
  {% if app.request.get('theater_ids') is null %}
  Séances près d'ici
  {% endif %}
{% endif %}</h3>
{% if cinemas|length == 0 %}
  {% if app.request.get('q') %}
    <p class="alert">{{ 'program.theaters.noprogram.search'|trans }}</p>
  {% elseif app.request.get('playlist') %}
    <p class="alert">{{ 'program.theaters.noprogram.playlist'|trans }} <a class="pull-right" data-modal="remote" data-modal-title="Ajouter un cinéma" href="{{ path('theaters_search', {'init': 1}) }}"><i class="icon-plus-sign"></i> {{ 'theaters.playlist.add'|trans }}</a></p>
  {% elseif app.request.get('latlng') %}
    <p class="alert">{{ 'program.theaters.noprogram.geoloc'|trans }}</p>
  {% endif %}
{% else %}
  <div class="accordion" id="accordion-theaters">
  {% if radius is defined and radius > 10 %}
    <p class="alert alert-info">{{ 'program.theaters.extended.geoloc'|trans }}</p>
  {% endif %}
  {% for cinema in cinemas %}
    {% if cinema.adress is defined and cinema.schedules is defined %}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="btn btn-xs btn-default pull-right" href="{{path('any_url', {url: cinema.seo_url|slice(1, cinema.seo_url|length-1)}) }}">Voir ce cinéma</a>
        {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: cinema.id, class: 'fav-cinema fav-remove btn-xs pull-right', name: cinema.name, text: 'Ajouter à vos cinémas'} %}
        <a class="accordion-toggle bold" data-toggle="collapse" data-parent="#accordion-theaters" href="#theater-{{ cinema.id }}">{{ cinema.name }} <i class="glyphicon glyphicon-resize-vertical hover hover-fade"></i></a>
        {% if cinema.distance is defined %}<div class="grey">distance : environ {{ cinema.distance < 1 ? (cinema.distance*100)|number_format ~'m' : cinema.distance|number_format(1) ~ 'km' }}</div>{% endif %}
      </div>
      <div id="theater-{{ cinema.id }}" class="accordion-body collapse{% if loop.first %}  in{% endif %}">
        <table class="table table-striped accordion-inner">
        {% for day in days if attribute(cinema.schedules, day) is defined %}
          {% set s = attribute(cinema.schedules, day) %}
          <tr>
            <th>{{ day }}</th>
            <td>
              {% for h in s.schedules|to_array %}
              {{ h.hour }}
              {% if h.version %}<span class="label label-default"> {{ h.version }}</span> &nbsp;{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}