{% if app.request.get('geoloc_from_theater_id') is null %}
{% if app.request.get('q') %}
  <h3>Recherche : {{ app.request.get('q') }}</h3>
{% elseif app.request.get('playlist') %}
  <h3>{{ 'theaters.playlist.title'|trans }}</h3>
{% else %}
  {% if app.request.get('theater_ids') is null %}
    <h3>Séances près d'ici</h3>
  {% endif %}
{% endif %}
{% endif %}

{% if cinemas|length == 0 %}
  {% if app.request.get('q') %}
    <p class="bs-callout bs-callout-warning">{{ 'program.theaters.noprogram.search'|trans }}</p>
  {% elseif app.request.get('playlist') %}
    <p class="bs-callout bs-callout-warning">{{ 'program.theaters.noprogram.playlist'|trans }} <a class="pull-right btn btn-suivre" data-modal="remote" data-modal-title="Ajouter un cinéma" href="{{ path('theaters_search', {'init': 1}) }}"><i class="glyphicon glyphicon-plus"></i> {{ 'theaters.playlist.add'|trans }}</a></p>
  {% elseif app.request.get('geoloc_from_theater_id') %}
    <p class="bs-callout bs-callout-warning">{{ 'program.theaters.noprogram.around'|trans }}</p>
  {% elseif app.request.get('latlng') or app.request.get('geoloc_from_theater_id') %}
    <p class="bs-callout bs-callout-warning">{{ 'program.theaters.noprogram.geoloc'|trans }}</p>
  {% endif %}
{% else %}

  <div class="panel-group" id="accordion-theaters">
    {% if radius is defined and radius > 10 %}
      <p class="bs-callout bs-callout-info">{{ 'program.theaters.extended.geoloc'|trans }}</p>
    {% endif %}
    {% for cinema in cinemas %}
      {% if cinema.adress is defined and cinema.schedules is defined %}
        <div class="panel panel-default panel-theater">
          <div class="panel-heading">
            <a class="btn btn-xs btn-default pull-right" href="{{path('any_url', {url: cinema.seo_url|slice(1, cinema.seo_url|length-1)}) }}">Films & horaires</a>
            <a class="accordion-toggle bold" data-toggle="collapse" data-parent="#accordion-theaters" href="#theater-{{ cinema.id }}"><i class="glyphicon glyphicon-resize-vertical hover hover-fade"></i> {{ cinema.name }} ({{ cinema.zip_code }}{% if cinema.city is defined and cinema.city %} {{cinema.city}} {% endif %})</a>
            {% if cinema.distance is defined %}
              <small class="grey">distance ≃ {{ cinema.distance < 1 ? (cinema.distance*100)|number_format ~'m' : cinema.distance|number_format(1) ~ 'km' }}</small>
            {% endif %}
          </div>
          <div id="theater-{{ cinema.id }}" class="panel-collapse {{ loop.first ? 'in' : 'collapse' }}">
              {% include 'SkreenHouseFactoryV3Bundle:Cinema:_schedules.html.twig' with {cinema: cinema} %}
             <p align="center">
              {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: cinema.id, class: 'fav-cinema fav-remove', name: cinema.name, text: 'Ajouter à vos cinémas'} %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}