{% extends 'SkreenHouseFactoryV3Bundle::empty.html.twig' %}

{% block nostats %}nostat{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block title %}embed{% endblock %}
{% block description %}embed{% endblock %}

{% block css %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/bootstrap-overload.less'
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/modal_new.less'
    filter='lessphp,?yui_css'
    output='css/modal_new.css'
    %}
    <link href="{{ asset_url }}?{{ 'now'|date('dm') }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
	<div class="entete">
		<p class="text-center"><img src="http://mskstatic.com/medias/logo_white.png?ghg" alt="mySkreen" /></p>
	</div>
	<p class="text-left">MOT DE PASSE OUBLIÉ ?</p>
	<p class="message">Vous ne vous souvenez plus de votre mot de passe ?</p>
	<p class="message">Myskreen vous envoie un e-mail vous permettant de réinitialiser de manière sécurisée votre mot de passe à partir de votre e-mail.</p>
	<div class="conteneur-form">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="inputEmail" class="sr-only">E-mail</label>
				<div class="col-xs-16">
					<input type="email" class="form-control" id="inputEmail" placeholder="E-MAIL">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-16">
					<button type="submit" class="col-xs-16 btn btn-default">ENVOYER</button>
				</div>
			</div>
		</form>
	</div>
	<div class="link">
		<a onclick="window.open('{{ path('modal_signup') }}','mySkreen_sign','width=580,height=680,top=200,left=400')">S'inscrire</a>
		<a class="mdp" onclick="window.open('{{ path('modal_signin') }}','mySkreen_sign','width=580,height=680,top=200,left=400')">Se connecter</a>
	</div>
	{% javascripts
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.10.2.min.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.cookies.min.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.min.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.serializefullarray.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/*'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/ui.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/session.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/_default.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/embed.js'
	    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/*'
	    filter='?yui_js' 
	    output='js/compiled/moviepush.js'  %}
	  	<script src="{{ asset_url }}?{{ 'now'|date('dm') }}"></script>
  	{% endjavascripts %}
{% endblock %}