{% extends 'SkreenHouseFactoryV3Bundle:Modal:login.html.twig' %}

{% block form %}
	<div class="entete">
		<p class="text-center"><img src="http://mskstatic.com/medias/logo_white.png?ghg" alt="mySkreen" /></p>
		<p class="message"><strong>Votre compte GRATUIT en 1 clic :</strong> Créez vos playlists et ne ratez plus vos programmes préférés : Cinéma, TV, Replay et VOD !</p>
	</div>
	<p class="text-left">S'INSCRIRE</p>
	<div class="text-center" id="fbconnect"><img src="{{ asset('bundles/skreenhousefactoryv3/images/inscription_facebook_mp.png')}}" alt="S'inscrire avec Facebook" /></div>
	<div class="text-center" id="fbconnect-infos"></div>
	<div class="oubien">
		<span>ou</span>
	</div>
	<div class="conteneur-form">
		{{ form_start(form, {'attr': {'class': 'form-horinzontal', 'role': 'form'}}) }}
			{{ form_errors(form) }}
			<div class="form-group">
				{{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'sr-only'}}) }}
				{{ form_errors(form.email) }}
				<div class="col-xs-16">
					{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-MAIL'}}) }}
				</div>
			</div>
			<div class="form-group">
				{{ form_label(form.password, 'Mot de Passe', {'label_attr': {'class': 'sr-only'}}) }}
				{{ form_errors(form.password) }}
				<div class="col-xs-16">
					{{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'MOT DE PASSE'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-16">
					{{ form_widget(form.inscription, {'attr': {'class': 'col-xs-16 btn btn-default'}}) }}
				</div>
			</div>
		{{ form_end(form) }}
	</div>
	<div class="link">
		<a onclick="window.open('{{ path('modal_signin') }}','mySkreen_sign','width=580,height=680,top=200,left=400')">Se connecter</a>
	</div>
{% endblock %}