{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.search'|trans({'%q%': app.request.get('q')}) }}{% endblock %}
{% block description %}{{ 'page.description.search'|trans({'%q%': app.request.get('q')}) }}{% endblock %}
{% block meta %}<meta name="robots" content="noindex,follow" />{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/search.js'
    
    filter='?yui_js' 
    output='js/compiled/pages/search.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div id="view-search" class="container">
  <h1>{{ app.request.get('q') }}
    {% if results and results.count and results.count.total and results.spelling|length %}
      <p class="lead pull-right" style="margin-bottom: -10px">Vouliez-vous dire : 
      {% for spelling in results.spelling %}<a href="{{ path('search', {q: spelling|url_encode}) }}">{{ spelling }}</a> ?{% endfor %}
      </p>
    {% endif %}
  </h1>

  {% if results.person is defined  and results.person %}
  <p class="actions" data-id="{{ results.person.id }}">
    <a data-placement="right" class="fav fav-person btn btn-primary "><i class="icon-plus-sign icon-white"></i> Suivre {{ results.person.name }}</a>
    &nbsp;&nbsp;
    <a class="btn" href="{{ path('any_url', {url: results.person.seo_url|slice(1, results.person.seo_url|length-1) }) }}">Voir tous ses programmes</a>
  </p>
  {% endif %}

  <div id="search-programs">
  {% if results.count is not defined or results.count.total is not defined %}
    {% if results.count is defined %}
      <p class="alert alert-info">{{ results.count }} {{ 'search.results'|trans }}</p>
    {% else %}
      <p class="alert">{{ 'search.noresults'|trans }}</p>
      {% if results.spelling and results.spelling|length %}
      <p class="lead">Vouliez-vous dire : 
      {% for spelling in results.spelling %}<a href="{{ path('search', {q: spelling|url_encode}) }}">{{ spelling }}</a> ?{% endfor %}
        </p>
      {% endif %}
    {% endif %}
    {% set slider = {title: '', programs: results.programs, url: results.paginate ~ '.json?format=' ~ app.request.get('format')} %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}

  {% else %}
    {% if results.count.total %}
      <p class="alert alert-info">{{ results.count.total }} {{ 'search.results'|trans }}</p>
    {% else %}
      <p class="alert">{{ 'search.noresults'|trans }}</p>
      {% if results.spelling|length %}
      <p class="lead">Vouliez-vous dire : 
      {% for spelling in results.spelling %}<a href="{{ path('search', {q: spelling|url_encode}) }}">{{ spelling }}</a> ?{% endfor %}
        </p>
      {% endif %}
    {% endif %}

  {% set hasActiveTabYet = false %}
  {% set keys = {'films':'Films','documentaires':'Documentaires','emissions':'Emissions','series':'Séries','spectacles':'Spectacles','archives':'Archives','nouveautes':'Nouveautés'} %}
    <ul id="triggers" class="nav nav-pills" style="font-size: 1.2em;">
    {% for key,val in keys %}
      {% if attribute(results.count,key) %}
      {% set nb = attribute(results.count,key) %}
    <li{% if hasActiveTabYet == false %} class="active"{% set hasActiveTabYet = key %}{% endif %}><a href="#{{ key }}" id="trigger-{{ key }}" data-toggle="tab" data-nb="{{ nb }}">{{ val }} <span>{{ nb }}</span></a></li>
    {% endif %}
    {% endfor %}
        <li class="pull-right"><a href="#youtube" id="trigger-youtube" data-toggle="tab">YouTube</a></li>
    </ul>

    <div class="tab-content">
    {% for key,val in keys %}
    <div id="{{ key }}" class="tab-pane{% if hasActiveTabYet == key %} active{% endif %}">
      {% if attribute(results.count,key) %}
        <div id="user-programs" class="slider slider-list">
          <ul class="items">
        {% for p in attribute(results,val) %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {'p': p} %}
        {% endfor %}
          </ul>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <div id="youtube" class="tab-pane" data-more-streaming-query="{{ results.query|replace({'subcat:': '', 'cat:': ''}) }}">
      <div id="carousel-youtube" class="carousel slide">
          <div class="carousel-inner"></div>
            <a class="carousel-control left" href="#carousel-youtube" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel-youtube" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
  <div id="bottom-search-results"></div>
</div>
{% endblock %}