{# offers #}
<div class="col-xs-16" style="padding:0;">
  <h2 class="ms-surtitre">Toutes les offres pour voir &laquo;{{ program.title }}&raquo;{% if program.format %}, {{ program.format.name in ['Emission'] ? program.format.name ~ ' en Replay' : program.format.name ~ ' complet' }}{% endif %} :</h2>
  <div id="program-offers" class="tab-content">

    {% if program.theater_release_date is defined %}
    <p class="alert alert-success">Sortie en salle le <strong>{{ program.theater_release_date }}</strong>{# <a href="#" data-ics-date="{{ program.theater_release_date }}"><i class="icon-agenda"></i> Ajouter à votre agenda</a>#}</p>
    {% elseif program.has_vod == 6 %}
    <p class="alert alert-success">{{ program.episodeof is defined ? 'Cet épisode' : 'Ce programme' }} sera bientôt disponible en Replay. <br/>Cliquez sur &laquo; Suivre &raquo; pour être averti dès qu'il sera mis en ligne.</p>
    {% endif %}
    

    {# subscriptions #}
    {% if program.subscriptions is defined and 
    program.subscriptions|to_array|length %}
    {% for s in program.subscriptions|to_array %}
    <div class="panel panel-info">
     <div class="panel-heading">
       <h3 class="panel-title">Pass</h3>
     </div>
     <div class="tab-pane">
     <table class="table table-hover">
      <tbody>
        <tr data-id="{{ s.pass.play }}" data-play="{{ s.pass.play }}" data-play-pass="{{ s.id }}" data-play-args="{&quot;hide_sliders&quot;:1}" data-play-text="{{ 'player.content.text.deporte'|trans() }}">
          <td class="channel">
            <img src="http://mskstatic.com/65/medias/ico/chaines/pluzz-vad_medium.png" alt="pluzz VAD Streaming">
          </td>
          <td class="episode">
            <b>{{ s.name }}</b><br/>
            {{ s.description }}
          </td>
          <td class="price big">{{ s.pass.price }}€</td>
          <td class="offers">
            <button type="button" class="btn btn-voir"><i class="glyphicon glyphicon-check"></i>&nbsp;S'abonner</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {# offres #}
  {% set hasoffers = 2  %}
  {% for key in offers|keys if program.offers[key]|to_array|length > 0 %}
  {% set hasoffers = 1  %}
  {% set variabledeboucle = loop.index  %}

  <div class="panel{{ program.offers[key]|to_array|length > 3 or (key == 'external' and program.offers['deporte']|to_array|length) ? ' panel-more' : '' }} panel-{{ key }}{{ key == 'live' ? ' panel-danger' : '' }}{{ key == 'deporte' ? ' panel-info' : ' panel-default' }} count-{{ program.offers[key]|to_array|length }}">
    <div class="panel-heading dong" >
      <h3 class="panel-title{% if key == 'external' and program.offers['deporte']|to_array|length %} external-collapser pointer{% endif %}"{% if key == 'external' and program.offers['deporte']|to_array|length %} data-toggle="collapse"{% endif %} href="#{{ key }}">
        {{ offers[key] }}
        {% if key == 'external' and program.offers['deporte']|to_array|length %} 
        <i class="glyphicon glyphicon-chevron-down"></i>
        {% endif %}
      </h3>
    </div>
      		{% if key == "itunes" %}
            {% set loop_offset = 1 %}
            {% elseif key == "external"%}
            {% set loop_offset = 2 %}
            {% else %}
            {% set loop_offset = 3 %}
            {% endif %}
    {# <a name="{{ key }}"></a> #}
    <div id="{{ key }}" class="tab-pane{% if key == 'external' and program.offers['deporte']|to_array|length %} panel-collapse collapse {% endif %}">

      {# theaters #}
      {% if key == 'theater' %}
      {% set btn_deploy_offers = 0 %}
      {% if program.datas_theaters.theaters_ids|length > 0 %}

      <p class="alert alert-info">{{ program.format.name }} projeté {% if program.theater_release_date is defined %} en avant-première{% endif %} dans {{ program.datas_theaters.theaters_ids|length }} salles.</p>
      {% if program.datas_theaters.theaters_ids|length > 9 %}

      <form role="form" class="form-search pull-left col-xs-10" id="theaters-search" action="{{ path('theaters_program', {id: program.id}) }}" data-form-ajax="#theaters-list">
        <div class="input-group">
          <input name="q" class="form-control" type="text" placeholder="{{ 'theaters.search.placeholder'|trans }}">
          <div class="input-group-btn col-xs-16 nopadding">
            <button class="btn btn-primary " type="submit"><i class="glyphicon glyphicon-search"></i>&nbsp;{{ 'theaters.search.submit'|trans }}</button>
          </div>
        </div>
      </form>

      <div class="btn-group">
        <a id="trigger-theaters-geoloc" href="#theaters" class="btn btn-default">
          <i class="glyphicon glyphicon-map-marker"></i > {{ 'theaters.search.geoloc'|trans }}
          </a>
          <a id="trigger-theaters-playlist" href="#theaters" class="btn btn-suivre">
            <i class="glyphicon glyphicon-user"></i> {{ 'theaters.search.playlist'|trans }}
          </a>
        </div>

        {% endif %}
        <div id="theaters-list" class="clear" data-api-url="{{ path('theaters_program', {id: program.id}) }}">
          {% render(controller('SkreenHouseFactoryV3Bundle:Cinema:program', {id: program.id, theater_ids: app.request.get('theater_id') ? app.request.get('theater_id') : program.datas_theaters.theaters_ids|join(',') })) %}
        </div>
        {% endif %}
        {% if program.datas_theaters.theater_on_demand|length %}
        {% if program.datas_theaters.theaters_ids|length %}<hr/>{% else %}<br/>{% endif %}
        {% for o in program.datas_theaters.theater_on_demand|to_array %}


        <div class="panel panel-default ilikemycinema">
          <div class="panel-heading"><h3>Ma séance où je veux, quand je veux</h3></div>
          <div class="panel-body">
          <div class="row"> 
            <div class="col-xs-4"><img src="{{ asset('bundles/skreenhousefactoryv3/images/partenaires/ilikecinema_03.jpg') }}" alt="ilikemycinema"></div>
            <div class="col-xs-7">Créez votre propre séance pour ce film et <b>invitez vos amis</b></div>
            <div class="col-xs-5"><a target="_blank" data-redirect="{{ attribute(o, 'url') }}"><img class="ilikemycinema-btn" src="{{ asset('bundles/skreenhousefactoryv3/images/partenaires/ilikecinema_07.png') }}" alt="ilikemycinema"></a></div>
          </div>
    </div>
        </div>



        {% endfor %}
        {% endif %}

        {# par defaut #}
        {% else %}

        {% set other_episodes = '' %}
        {% set btn_deploy_offers = 0 %}

        <table class="offertable">
          <tbody>
            {% for o in attribute(program.offers, key)|to_array %}
            {% set btn_deploy_offers = btn_deploy_offers + 1 %}
            {% set o_channel = attribute(program.datas_offers.channels, o.channel_id) %}
            {% set o_access = attribute(program.datas_offers.access, o.access_id) %}
            {% set o_episode = o.episode_id is defined ? attribute(program.datas_offers.episodes,  o.episode_id) : '' %}

            {# autres episodes #}
            {% if o.episode_id is defined and 
            program.episodeof.id is defined and 
            o.episode_id != program.id and
            other_episodes != 'ok' %}
            <tr class="other-episodes {{o_access.name}}"><td colspan="6"><p>Autres épisodes <i class="glyphicon glyphicon-arrow-down"></i></p></td></tr>
            {% set other_episodes = 'ok' %}
            {% endif %}
            <tr class="{% if loop.index > loop_offset and (attribute(program.offers, 'deporte')|to_array|length == 0 or key != 'external') %}collapse collapsing-{{ key }}{% endif %}" data-id="{{ o.id }}"{% if o_access.name in ['TV'] and o_channel.live is defined and o_channel.live.player is defined and o_channel.live.player %} data-play-iframe="{{ o_channel.live.player }}"{% elseif o.url is defined and o.url and (o.deporte is not defined or o.deporte is null) %} data-redirect="{{ o.url }}"{% elseif o.deporte is defined and o.deporte %} data-play="{{ o.id }}"{% elseif key == 'tv' %} data-ics-occurrence="{{ o.id }}"{% endif %} {% if o_episode %} data-episode-id="{{ o_episode.id }}" {% endif %} data-play-text="{{ ('player.content.text.' ~ key)|trans({'%date%': 'diffusé '~  o.broadcasttime|broadcastdate}) }}">

              <td class="channel">
                <img src="{% if o.picture is defined and o.picture %}{{ o.picture }}{% else %}{{ o_channel.img }}{% endif %}" alt="{{ o_channel.name }} {{ o_channel.has_replay is defined ? 'Replay' : 'Streaming' }}" />
              </td>

              <td class="episode"{% if o_access.name not in ['Vidéo','Archive','Extrait','Bonus'] or o.cost %} colspan="2"{% endif %}>
               {% if o.title is defined and o.title %}
               <p><strong>{{ o.title }}</strong><br><span>{% if o.description|length > 57 %}{{ o.description|slice(0, 56)}}...{% else %}{{ o.description}}{% endif %}</span></p>
               {% elseif o_episode and o_episode.title %}
               <p>{{ o_episode.title }}</p>
               {% set episode_title %}{% if o_episode.season_number is defined %}Saison {{ o_episode.season_number }}{% endif %}{% if o_episode.episode_number is defined %} Ep. {{ o_episode.episode_number }}{% endif %}{% if o_episode.part_number is defined %} Partie {{ o_episode.part_number }}{% endif %}{% endset %}
               {% if o_episode.season_number is defined or 
               o_episode.episode_number is defined or 
               o_episode.part_number is defined %}
               {% if episode_title != o_episode.title %}<span>{{ episode_title }}</span>{% endif %}
               {% endif %}
               {% endif %}
               <div>
                 {% if o_access.name in ['Vidéo'] and 
                       o.broadcasttime is defined and 
                       o.broadcasttime and
                       o.cost == 0 %}
                 <time datetime="{{ o.broadcasttime }}">{{ o.broadcasttime|broadcastdate }}</time>
                 {% endif %}
               </div>
             </td>

             {#% if o_access.name not in ['Vidéo','Archive','Extrait','Bonus'] or o.cost %#}
             <td class="price{{ o.cost is defined and o.cost ? ' price-vod' : '' }} big">

               {% if (o.cost is defined and o.cost) or o_access.name in ['Vidéo','Archive','Extrait','Bonus']  %}
               <div class="rent">
                 {{ o_access.name }}
                 {% if o.tags.device is defined %}
                 <i class="glyphicon glyphicon-info-sign" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ o.tags.device|replace({',': ', '}) }}" ></i>
                 {% endif %}
               </div>
               {% elseif o_access.name in ['Live', 'TV', 'Replay'] %}
               <div class="rent">
                 <time datetime="{{ o.broadcasttime }}">{{ o.broadcasttime|broadcastdate(o_access.name) }}</time>
               </div>
               {% endif %}

               {% if (o.versions is defined and o.versions|to_array|length) or 
               (o.tags is defined and o.tags|to_array|length) %}
               <div class="ms-versions">
                  {% if o.cost is defined and o.cost and o.cost != null and program.duration %}<span>{{program.duration}} min, </span> 
                  {% endif %}
                 {% if o.deporte is defined and o.deporte and o.versions is defined %}
                 <span>{{ o.versions|to_array|keys|join(', ') }}</span>
                 {% elseif o.tags is defined and o.tags.version is defined %}
                 <span>{{ o.tags.version|replace({',': ', '}) }}</span>
                 {% endif %}

                 {% if o.tags is defined and o.tags|length %}
                 {% if o.tags.HD is defined %}
                 <i class="glyphicon glyphicon-hd-video"></i>
                 {% endif %}
                 {% if o.tags.format is defined %}
                 {{ o.tags.format|replace({'SD': '<i class="glyphicon glyphicon-sd-video"></i>'})|raw }}
                 {% endif %}
                 {% endif %}
               </div>
               {% endif %}
             </td>
             {#% endif %#}

             <td class="offers">
              {% if o_access.name in ['TV'] and 
                    o_channel.live is defined and 
                    o_channel.live.player is defined and 
                    o_channel.live.player and
                    o.is_live is defined and
                    o.is_live  %}
              <button type="button" class="btn btn-voir"><i class="glyphicon glyphicon-play"></i>&nbsp;Voir le direct</button>
              {% elseif o_access.name in ['TV'] %}
              <a class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i>&nbsp;calendrier</a>
              {% else %}
              <button type="button" class="btn btn-voir"><i class="glyphicon glyphicon-play"></i>&nbsp;{{ o.cost ? 'Voir    ' ~ (o.cost == '-' ? '- ' : o.cost|number_format(2, ',')) ~ '€' : 'Voir' }}</button>
              {% endif %}
              <br/>
              {% if o_access.name == 'TV' %}
              {% if key == 'plays'  %}
              <span class="ms-reminder">Live</span>
              <i class="glyphicon glyphicon-time"></i>
              {% elseif o.has_replay and o.broadcasttime|remainingtv %}
              <span class="ms-reminder"><i class="glyphicon glyphicon-time"></i> {{ o.broadcasttime|remainingtv }}</span>
              {% elseif o.broadcasttime|timeleft %}
              <span class="ms-reminder"><i class="glyphicon glyphicon-time"></i> {{ o_access.name == 'TV' ? 'Encore' : 'Dans' }} {{ o.broadcasttime|timeleft }}</span>
              {% endif %}
              {% elseif o.endtime is defined and o.endtime|remainingreplay %}
              <span class="ms-reminder"><i class="glyphicon glyphicon-time"></i> {{ o.endtime|remainingreplay }}</span>
              {% endif %}

            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% if attribute(program.offers, 'deporte')|to_array|length > 0 and key == 'external' %}
      <a class="btn btn-default btn-reveal" data-toggle="collapse" href="#external" >
        <i class="show-more" >...</i>&nbsp;Fermer
      </a>
      {% elseif btn_deploy_offers is defined and btn_deploy_offers > 3 %}
      <button type="button" class="btn btn-default btn-reveal" data-toggle="collapse" data-target=".collapsing-{{ key }}" data-toggle-text="&laquo; Fermer">
        <i class="show-more" >...</i>&nbsp;Voir les {{ attribute(program.offers, key)|to_array|length - 3 }} choix restants
      </button>
      {% endif %}
    </div>

  </div>
  {% endfor %}

  {# Message alternatif, pas d'offre #}
  {% if hasoffers == 2 %}

  <div class="alert alert-success">
    {% if program.episodeof is defined %}
    <p>Cette épisode n'est pas diffusé pour le moment.</p>
    <p>Cliquez sur &laquo; Suivre &raquo; pour être averti dès qu'un épisode de <strong>{{ program.episodeof.title }}</strong> est diffusé.</p>
    {% elseif program.format and program.format.name in ['Film','Documentaire'] %}
    <p><strong>{{ program.title }}</strong> n'est disponible sur aucune plateforme légale.</p>
    <p>Avec mySkreen, suivez ce programme pour être averti dès qu'il sera diffusé (TV, Replay, Streaming VOD, Cinéma) !</p>
    {% else %}
    <p><strong>{{ program.title }}</strong> n'est pas diffusé pour le moment.</p>
    <p>Avec mySkreen, suivez ce programme pour être averti dès qu'il sera diffusé (TV, Replay, Streaming VOD, Cinéma) !</p>
    {% endif %}
  </div>
  {% endif %}

  {# youtube / more streaming #}
  <div id="program-more-streaming" class="panel panel-default panel-remove-padding-bottom" data-more-streaming="{{ program.id }}">
    <div class="panel-heading">
      {% if program.offers['deporte']|to_array|length %}
      <h3 class="panel-title youtube-collapser pointer collapsed" data-toggle="collapse" href="#youtube">Sur Youtube <i class="glyphicon glyphicon-chevron-down"></i></h3>
      {% else %}
      <h3 class="panel-title">Sur Youtube</h3>
      {% endif %}

    </div>
    {% if program.offers['deporte']|to_array|length %}
    <div id="youtube" class="tab-pane panel-collapse collapse">
     {% else %}
     <div class="tab-pane">
      {% endif %}
      <div id="carousel-youtube" class="carousel slide">
       <div class="carousel-inner">
         <!-- Controls -->
         <a class="left carousel-control" href="#carousel-youtube" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-youtube" data-slide="next">
          <span class="icon-next"></span>
        </a>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-youtube" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-youtube" data-slide-to="1"></li>
          <li data-target="#carousel-youtube" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </div>
</div>

{# description seo texte #}
<a name="synopsis"></a>
<div class="panel panel-default panel-synopsis">
  <div class="panel-heading"><h2 class="panel-title">Tout sur {{ program.title }}</h2></div>
  <div class="tab-pane text-toggle-extend">
    {% if program.description|striptags|length < 560 %}
    <div class="text">
      {{ program.description|raw }}
    </div>
    {% else %}
    <div class="text show-more-height">
      <div class="gradient-hide"></div> 
      {{ program.description|raw }}
    </div>
    <div class="show-all">
      <span class="show-more">...</span><span class="show-more-text">Voir plus</span>
    </div> 
    {% endif %}

</div>
</div>