{% if program.teaser.player is defined and program.teaser.player and program.teaser.player.url %}
  <a name="teaser"></a>
  <div id="program-teaser" itemscope itemtype="http://www.schema.org/VideoObject" itemref="md-about">  
    <meta itemprop="thumbnail" content="{{ program.picture }}" />
    <meta itemprop="thumbnailUrl" content="{{ program.picture }}" />
    <meta itemprop="duration" content="{{ program.duration|iso8601 }}" />
    <meta itemprop="embedURL" content="{{ program.teaser.player.url|replace({'http://': 'https://', 'http%3A%2F%2': 'https%3A%2F%2'}) }}" />
    <meta itemprop="width" content="637" />
    <meta itemprop="height" content="368" />
    <meta itemprop="playerType" content="Flash" />
    <meta itemprop="url" content="http://www.myskreen.com/{{ program.seo_url }}" />
    <meta itemprop="name" content="{{ program.title|replace({'"': ''}) }}" />
    <meta itemprop="isFamilyFriendly" content=true />
    <meta itemprop="description" content="{{ program.description_text|striptags|html_entity_decode|replace({"\n": ' '})|slice(0,400) }}..." />
    <div id="program-teaser-meta" class="player-meta"></div>
    <div id="program-teaser-player" data-play-api="{{ {url: program.teaser.player.url}|json_encode }}" data-autoplay="1">
      <iframe src="{{ program.teaser.player.url }}" scrolling="no" frameborder="0"></iframe>
    </div>
  </div>
{% else %}
  <div id="program-teaser">  
    <div id="program-teaser-player" data-play-api="{{ {AdOnly: true, programId: program.id}|json_encode }}" data-autoplay="1">
      <iframe src="http://player.myskreen.com/ad?program_id={{ program.id }}&fromWebsite=1{{ app.environment == 'dev' ? '&env=dev' : '' }}" scrolling="no" frameborder="0"></iframe>
    </div>
  </div>
{% endif %}