{% if program.player is defined and program.player %}
  <a name="teaser"></a>
  <div id="program-teaser" itemscope itemtype="http://www.schema.org/VideoObject" itemref="md-about">  
    <meta itemprop="thumbnail" content="{{ program.picture }}" />
    {% if program.player_fb is defined %}
      <meta itemprop="embedURL" content="{{ program.player_fb|replace({'http://': 'https://', 'http%3A%2F%2': 'https%3A%2F%2'}) }}" />
    {% endif %}
    <meta itemprop="width" content="637" />
    <meta itemprop="height" content="368" />
    <meta itemprop="playerType" content="Flash" />
    <meta itemprop="url" content="http://www.myskreen.com/{{ program.seo_url }}" />
    <meta itemprop="name" content="Bande annonce - {{ program.title }}" />
    <meta itemprop="isFamilyFriendly" content=true />
    {#% if program.director|to_array|length and program.director|to_array|first %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><link itemprop="url" href="http://www.myskreen.com{{ program.director|to_array|first.seo_url }}" /></span>
    {% endif %#}
    <meta itemprop="description" content="{{ program.description|striptags }}" />
    <div id="program-teaser-meta" class="player-meta"></div>
    <div id="program-teaser-player" data-play-api="{{ {url: program.player.iframe is defined ? program.player.iframe : null, playId: program.player.id}|json_encode }}" data-autoplay="1">
      {% if program.player.iframe is defined %}
        <iframe src="{{ program.player.iframe }}{{ app.environment == 'dev' ? '&env=dev' : '' }}" scrolling="no" frameborder="0"></iframe>
      {% else %}
        <iframe src="{{ player_host }}/skPlayerPlugin/iframe.php?is_iframe=1&play={{ program.player.id }}&fromWebsite=1&default_version=VOST{{ app.environment == 'dev' ? '&env=dev' : '' }}&height=368&width=637" scrolling="no" frameborder="0"></iframe>
      {% endif %}
    </div>
  </div>
{% else %}
  <div id="program-teaser">  
    <span id="program-teaser-header"></span>
    <div id="program-teaser-player" data-play-api="{{ {AdOnly: true, programId: program.id}|json_encode }}" data-autoplay="1">
      <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&play=28370043&program_id={{ program.id }}&fromWebsite=1{{ app.environment == 'dev' ? '&env=dev' : '' }}" style="height:368px;width:637px" scrolling="no" frameborder="0"></iframe>
    </div>
  </div>
{% endif %}