{# social bar #}
<div class="ms-social-bar">
  {% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ program.seo_url, text: program.twitter_msg is defined ? program.twitter_msg : 'Je regarde ' ~ program.title ~ ' sur mySkreen et vous ?' } %}
</div>

{# Selecteur episodes (@see #program-episodes) #}
{% if program.episodeof is defined %}
<a class="btn btn-default block" href="{{ program.episodeof.seo_url }}">Tous les épisodes</a>
{% elseif program.episode_list is defined or (program.seasons is defined  and program.episode is defined) %}
<a class="btn btn-default block" data-toggle="collapse" data-target="#program-episodes">Tous les épisodes</a>
{% endif %}

<div class="ms-format" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
   {% if program.format %}<a itemprop="url" href="{{ path('any_url', {url: program.format.seo_url|slice(1, program.format.seo_url|length-1) }) }}"><span itemprop="title">{{ program.format.name }}</span></a>, {% endif %}{% if program.year is defined and program.year > 0 %}{{ program.year }}{% endif %}{% if program.duration %} - {{ program.duration }}mn{% endif %}
</div>
{# related channels #}
{% if program.related.channels is defined and
  program.related.channels.programs is defined and
  program.related.channels.programs|to_array|length %}
  <p class="ms-surtitre">Les chaînes sur le même thème</p>
  <div class="channel_module_width">

  {% for r in program.related.channels.programs|to_array %}
  <a class="channel_link" href="{{ path('any_url', {url: r.seo_url|slice(1, r.seo_url|length-1)}) }}">
    <span class="channel_texte">{{ r.title ~ ', la chaîne' }}</span>
    {% if '225/110' in r.picture %}
      <img src="{{ r.picture|replace({'225/110': '300/147'}) }}" class="channel_root" data-track-channel="{{ r.title }}" alt="{{ r.title }}" >

    {% else %}
      <img src="{{ r.picture|replace({'mskstatic.com/': 'mskstatic.com/300/147/'}) }}" class="channel_root" data-track-channel="{{ r.title }}" alt="{{ r.title }}" >
    {% endif %}

  </a>
  {% endfor %}
  </div>
{% endif %}

<div class="inner">

  <div id="program-casting" class="scroll">

    {% if program.casting is defined and program.casting|to_array|length %}
    {% for relation,persons in program.casting|to_array if persons|to_array|length %}
    <h3 class="ms-surtitre">{{ relation|trans }}{{ persons|to_array|length > 1 ? 's' : '' }}</h3>
    {% for pers in persons|to_array   %}
    <div class="{% if loop.index >= 5 %}{{ relation|replace({' ': '', '(': '', ')': ''})|lower }}_entrop collapse{% else %}in{% endif %}" itemprop="actor" itemscope itemtype="http://schema.org/Person">
      <a href="{{ path('any_url', {url: pers.seo_url|slice(1, pers.seo_url|length-1) }) }}" itemprop="url" class="fav fav-person" data-name="{{ pers.name }}" data-placement="left"><span itemprop="name">{{ pers.name }}</span></a> 
    </div>
    {% endfor %}
    {% if persons|to_array|length > 5 %}
    <div class="block">
     <a class="{{ relation|replace({' ': '', '(': '', ')': ''})|lower }}_reveal" data-toggle-text="&laquo; retour" data-toggle-display=".{{ relation|replace({' ': '', '(': '', ')': ''})|lower }}_entrop">
       et {{ persons|to_array|length - 5 }} autre{% if persons|to_array|length > 6 %}s{% endif %} {{ relation|lower }}{% if persons|to_array|length > 6 %}s{% endif %}...</a> 
     </div>
    {% endif %}
    {% endfor %}
    <br/>
    {% endif %}

    {#% if program.director|to_array %}
    <h3 class="ms-surtitre">{{ 'directed.by'|trans }}</h3>
    {% for pers in program.director|to_array %}
    <div class="inline" itemprop="director" itemscope itemtype="http://schema.org/Person">
      <a href="{{ path('any_url', {url: pers.seo_url|slice(1, pers.seo_url|length-1) }) }}" itemprop="url"><span itemprop="name" class="fav fav-person" data-name="{{ pers.name }}" data-placement="left">{{ pers.name }}</span>{% if loop.index > 0 and loop.index < program.director|to_array|length %},&nbsp;{% endif %}</a>
    </div>
    {% endfor %}
    {% endif %}

    {% if program.presenter is defined and program.presenter|to_array|length %}
    <h3 class="ms-surtitre">{{ 'presented.by'|trans }}</h3> 
    {% for pers in program.presenter|to_array  %}
    <div class="inline" itemprop="director" itemscope itemtype="http://schema.org/Person">
      <a href="{{ path('any_url', {url: pers.seo_url|slice(1, pers.seo_url|length-1) }) }}" itemprop="url"><span itemprop="name" class="fav fav-person" data-name="{{ pers.name }}" data-placement="left">{{ pers.name }}</span>{% if loop.index > 0 and loop.index < program.presenter|to_array|length %},&nbsp;{% endif %}</a> 
    </div>
    {% endfor %}
    <br/>
    {% endif %}

    {% if program.casting|to_array %}
    <h3 class="ms-surtitre">{{ 'actors'|trans }}</h3>
    {% for pers in program.casting|to_array  %}
    <div class="inline {% if loop.index > 5 %} actors_entrop hide{% endif %}" itemprop="actor" itemscope itemtype="http://schema.org/Person">
      {% if loop.first %}{% else %}<br /> {% endif %}<a href="{{ path('any_url', {url: pers.seo_url|slice(1, pers.seo_url|length-1) }) }}" itemprop="url" class="fav fav-person" data-name="{{ pers.name }}" data-placement="left"><span itemprop="name">{{ pers.name }}</span></a> 
    </div>
    {% endfor %} 
    {% if program.casting|to_array|length > 5 %}
    <div class="block">
     <a class="actors_reveal" data-toggle-text="&laquo; retour">
       et {{ program.casting|to_array|length - 5 }} autre{% if program.casting|to_array|length > 6 %}s{% endif %}  acteur{% if program.casting|to_array|length > 6 %}s{% endif %}...</a>
     </div>
    {% endif %}
    {% endif %}

    {% if program.editor|to_array  %}
    <h3 class="ms-surtitre">{{ 'editors'|trans }}</h3>
     {% for pers in program.editor | to_array %}
       <div class="inline" itemprop="editor" itemscope itemtype="http://schema.org/Person">
      {% if loop.first %}{% else %}<br /> {% endif %}<a href="{{ path('any_url', {url: pers.seo_url|slice(1, pers.seo_url|length-1) }) }}" itemprop="url" class="fav fav-person" data-name="{{ pers.name }}" data-placement="left"><span itemprop="name">{{ pers.name }}</span></a> 
      </div>
      {% endfor %}
    {% endif %#}
    
    <br/>
    <br/>
    {#<p><a href="#synopsis">Voir le synopsis</a></p>#}
  </div>
</div>

{# categories #}
{% if program.format and program.categories|length|to_array %}
<br/>
{% for c in program.categories|to_array if c.seo_url is defined  %}<div class="inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" class="label label-default" href="{{ path('category', {format: program.format.seo_url|replace({'/': ''}), category_slug: c.seo_url|replace({'/': ''})}) }}"><span itemprop="title">{{ c.name }}</span></a></div>&nbsp;{% endfor %}
<br/>
{% endif %}
{% if program.format and program.subcategories|to_array|length %}
{% for c in program.subcategories|to_array if c.seo_url is defined %}<div class="inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" class="label label-default"  href="{{ path('any_url', {url: program.format.seo_url|replace({'/': ''}) ~ c.seo_url}) }}"><span itemprop="title">{{ c.name }}</span></a></div>&nbsp;{% endfor %}
{% endif %}