{% extends app.request.isXmlHttpRequest ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{# HEAD Title #}
{% block title %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_title.html.twig' %}
{% endblock %}

{# HEAD Description #}
{% block description %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_description.html.twig' %}
{% endblock %}

{# HEAD Meta #}
{% block meta %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_metadonnees.html.twig' %}
{% endblock %}

{# HEAD Pagescripts #}
{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/program.js'
    filter='?yui_js' 
    output='js/compiled/pages/program.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{# Attribute Microdata #}
{% block body_attribute %} {% endblock %}

{# Content #}
{% block content %}
  <div id="view-program" data-id="{{ program.id }}">
    <div class="scrollplayerzone">
      {# Player + Affiche + Meilleure offre #}
      <div class="container">
        <div class="row playwrapsub hide"></div>
        {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_player.html.twig' %}
      </div>

      {# Titre + ShareBlock + AjoutListes #}
      <div class="bande_listes">
        <div class="container">
          {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_titre.html.twig' %}
        </div>
      </div>
      <div class="bande_couleur_degrade">
        <div class="container">
          <div class="row">
            <p>Soyez averti des prochaines diffusions (TV, Replay, Ciné, VOD) de ce programme.</p>
            <p>Partagez vos listes avec vos amis et suivez ce qu'ils regardent.</p>
          </div>
        </div>
        {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: '', no_background: true } %}
      </div>
      

      {# Onglets/Contenus + Chaînes #}
      <div class="bande_offers">
      <div class="container">
        <div class="row">
          {# Onglets / Contenus #} 
          <div class="col-xs-11 contents">
            {# Onglets #}
            <ul class="row" id="onglets">
              <li class="col-xs-5{% if voir.count > 0 %} active{% endif %}">{# Voir #}
                <a href="#voir" data-toggle="tab">
                  <div class="row">
                    <div class="col-xs-16">VOIR
                      {% if voir.count > 0 %}
                        <span class="badge">{{ voir.count }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">en entier</div>
                </a>
              </li>
              <li class="col-xs-6{% if voir.count == 0 and videos.count > 0 %} active{% endif %}{% if videos.count == 0 %} disabled{% endif %}">{# Vidéos #}
                <a{{ videos.count == 0 ? '' : ' href="#videos" data-toggle="tab"' }}>
                  <div class="row">
                    <div class="col-xs-16">+ DE VIDEOS
                      {% if videos.count > 0 %}
                        <span class="badge">{{ videos.count }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">extraits & bonus</div>
                </a>
              </li>
              <li class="col-xs-5{% if voir.count == 0 and videos.count == 0 %} active{% endif %}">{# Infos #}
                <a href="#infos" data-toggle="tab">
                  <div class="row">
                    <div class="col-xs-16">INFOS</div>
                  </div>
                  <div class="row">résumé & casting</div>
                </a>
              </li>
            </ul>
            {# Contenus #}
            <div class="tab-content">
              {# Contenu Infos #}
              <div class="tab-pane row{% if voir.count == 0 and videos.count == 0 %} active{% endif %}" id="infos">
                {# Affichage pour les fiches Saison seule #}
                {% if program.season_number is defined and program.episode_number is not defined %}
                  {# Episodes de la saison #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes-saison.html.twig' %}
                  {# Tous les épisodes #}
                  <div data-autoload-episodes="{{ program.episodeof and program.episodeof.id ? program.episodeof.id : program.id }}"></div>
                  {# Synopsis réduit #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' with { tab: 'season-only' } %}

                {# Affichage pour les fiches d'épisodes #}
                {% elseif program.season_number is defined and program.episode_number is defined %}
                  {# Synopsis #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' %}
                  {# Casting #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                  {# Episodes de la saison #}
                  <div data-autoload-episodes="{{ program.id }}"></div>
                  {# Tous les épisodes #}
                  <div data-autoload-episodes="{{ program.episodeof and program.episodeof.id ? program.episodeof.id : program.id }}"></div>

                {# Affichage pour toutes les autres fiches #}
                {% else %}
                  {# Synopsis #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' %}
                  {# Episodes #}
                  {% if program.episodeof is defined %}
                    <div data-autoload-episodes="{{ program.episodeof.id }}"></div>
                  {% else %}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes.html.twig' %}
                  {% endif %}
                    {# Casting #}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                {% endif %}
              </div>
              {# Contenu Voir #}
              <div class="tab-pane row{% if voir.count > 0 %} active{% endif %}" id="voir">
                {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_voir.html.twig' %}
              </div>
              {# Contenu Vidéos #}
              <div class="tab-pane row{% if voir.count == 0 and videos.count > 0 %} active{% endif %}" id="videos">
                {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_videos.html.twig' %}
              </div>
            </div>
          </div>
          {# Chaînes #}
          <div class="col-xs-5 channel-side">
            {# Chaînes #}
            {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_chaines-thema.html.twig' %}
          </div>
        </div>
      </div>
    </div>
    {# Related #}
    <div class="related">
      <div class="container">
        {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_related.html.twig' %}
      </div>
      <div class="container">
        <hr/>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:970px;height:90px"
             data-ad-client="ca-pub-4265768576048156"
             data-ad-slot="3195548951"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}