{% if program.related.channels is defined and
  program.related.channels.programs is defined and
  program.related.channels.programs|to_array|length %}
  <ul class="channel_module_width">
    {% for r in program.related.channels.programs|to_array %}
      <li>
        <a class="channel_link" href="{{ path('any_url', {url: r.seo_url|slice(1, r.seo_url|length-1)}) }}">
          <span class="channel_texte">{{ r.title ~ ', la chaîne' }}</span>
          <img src="{{ r.picture }}" class="channel_root" data-track-channel="{{ r.title }}" alt="{{ r.title }}" >
        </a>
      </li>
      {% if loop.last %}
        <li class="separator"></li>
      {% endif %}
    {% endfor %}
  </ul>
  {# Homes #}
  {% if program.homes is defined %}
    <ul class="list-group">
      <li class="list-group-item list-header">Présent dans ces sélections :</li>
        {% for h in program.homes|to_array %}
          <li class="list-group-item"><a href="{{ h.seo_url }}">&raquo; {{ h.title }}</a></li>
        {% endfor %}
    </ul>
  {% endif %}
{% else %}
  {# Homes #}
  {% if program.homes is defined %}
    <ul class="list-group">
      <li class="list-group-item list-header">Présent dans ces sélections :</li>
        {% for h in program.homes|to_array %}
          <li class="list-group-item"><a href="{{ h.seo_url }}">&raquo; {{ h.title }}</a></li>
        {% endfor %}
    </ul>
  {% endif %}
  {# Chaînes éditorialisées #}
  <span class="label label-warning">A voir en ce moment</span>
  <ul class="channel_module_width">
    <li>
      <a href="/film-souslesjupesdesfilles/" class="channel_link">
        <span class="channel_texte">Sous les jupes des filles</span>
        <img alt="Sous les jupes des filles" data-track-channel="Sous les jupes des filles" class="channel_root" src="http://mskstatic.com/225/110/c/medias/photos/channel/73-film-souslesjupesdesfilles-s.jpg?2014031118">
      </a>
    </li>
    <li>
      <a class="channel_link" href="/les-inconnus/">
        <span class="channel_texte">Les Inconnus, la chaîne</span>
        <img src="http://mskstatic.com/300/147/c/medias/photos/channel/1-les-inconnus-s.jpg?2014021509" class="channel_root" data-track-channel="Les Inconnus" alt="Les Inconnus">
      </a>
    </li>
  </ul>
{% endif %}