{% if o_channel is not defined %}
  {% set o_channel = attribute(program.datas_offers.channels, o.channel_id) %}
{% endif %}
{% if o_access is not defined %}
  {% set o_access = attribute(program.datas_offers.access, o.access_id) %}
{% endif %}
{% if o_episode is not defined %}
  {% set o_episode = o.episode_id is defined ? attribute(program.datas_offers.episodes,  o.episode_id) : '' %}
{% endif %}

<tr class="{{ key }} player-stop {{ o.cost is defined and o.cost ? '' : 'no-cost '}}{% if program.player and o.id == program.player.id %}is-playing{% endif %}{% if loop.index > loop_offset and (attribute(program.offers, 'deporte')|to_array|length == 0 or key != 'external') %}{% if inconnus_ids is defined %}{% if program.id in inconnus_ids or (program.episodeof is defined and program.episodeof.id in inconnus_ids) %}{% else %}collapse{% endif %}{% if program.id in inconnus_ids or (program.episodeof is defined and program.episodeof.id in inconnus_ids) %} in{% endif %}{% if program.id in inconnus_ids or (program.episodeof is defined and program.episodeof.id in inconnus_ids) %} in{% endif %}{% endif %}{% endif %} collapsing-{{ key }}" data-id="{{ o.id }}"{% if o_access.name in ['TV'] and o_channel.live is defined and o_channel.live.player is defined and o_channel.live.player and o.is_live is defined and o.is_live %} data-play-iframe="{{ o_channel.live.player }}"{% elseif o.url is defined and o.url and (o.deporte is not defined or o.deporte is null) %} data-redirect="{{ 'm6replay' not in o.url and 'itunes' not in o.url ? o.url|replace({'/exit/': '/redirect/'}) : o.url }}"{% elseif o.deporte is defined and o.deporte and key != "coming_soon" %} data-play="{{ o.id }}"{% elseif key == 'ba' %} data-play="{{ o.id }}"{% endif %} {% if o_episode %} data-episode-id="{{ o_episode.id }}" {% endif %} {% if key=="deporte" %}data-play-text="{{ ('player.content.text.' ~ key)|trans({'%date%': 'diffusé '~ (o.broadcasttime is defined ? o.broadcasttime|broadcastdate : '')}) }}"{% endif %}>

  <td class="channel">
    <div>{# Hack Firefox for absolute positionning of play icon #}
      <img src="{% if o.picture is defined and o.picture %}{{ o.picture }}{% elseif o_episode and o_access.name in ['Vidéo'] and o_episode.picture %}{{ o_episode.picture|replace({'/medias': '/t/medias', '273/368': '160/85'}) }}{% elseif o_episode and o_access.name in ['Replay'] and o_episode.picture and o_episode.picture|pic_filter != program.picture | pic_filter %}{{o_episode.picture}} {% else %}{{ o_channel.img|replace({'80//': '80/'}) }}{% endif %}" alt="{{ o_channel.name }} {{ o_channel.has_replay is defined ? 'Replay' : 'Streaming' }}" />
      <span class="glyphicon glyphicon-play-circle"></span>
    </div>
  </td>

  <td class="episode" colspan="2">
    {% if key == 'bonus' %}Bonus : {% elseif key == 'cut' %}Extrait : {% endif %}
    {% if o.title is defined and o.title %}
      <p>{{ o.title }}<br><span>{% if o.description|length > 57 %}{{ o.description|slice(0, 56)}}...{% else %}{{ o.description}}{% endif %}</span></p>
    {% elseif o_episode and o_episode.title %}
      <p>{{ o_episode.title }}
        {%  if o_access.name not in ['Bonus','Extrait'] %}
          {% set episode_title %}
          {% if o_episode.season_number is defined %}Saison {{ o_episode.season_number }}{% endif %}
          {% if o_episode.episode_number is defined %} Ep. {{ o_episode.episode_number }}{% endif %}
          {% if o_episode.part_number is defined %} Partie {{ o_episode.part_number }}{% endif %}
          {% endset %}
          {% if o_episode.season_number is defined or 
                o_episode.episode_number is defined or 
                o_episode.part_number is defined %}
            {% if episode_title != o_episode.title %}<br>{{ episode_title }}{% endif %}
          {% endif %}
        {% endif %}
      </p>
    {% elseif o.starttime is defined and o.starttime %}
      <p class="cut-date">{{ o.starttime|broadcastdate('', 'date') }}</p>
    {% endif %}
    <div>
      {% if o_access.name in ['Vidéo', 'Archive'] and 
            o.broadcasttime is defined and 
            o.broadcasttime and
            o.cost == 0 %}
        <time datetime="{{ o.broadcasttime }}">{{ o.broadcasttime|broadcastdate('', 'date') }}</time>
      {% endif %}
    </div>
  </td>

  <td class="price{{ o.cost is defined and o.cost ? ' price-vod' : '' }} big">
      <div class="rent">
        {% if o_access.name not in ['Extrait','Bonus','Bande annonce'] %}
          <img src="{{ o_channel.img }}" alt="{{ o_channel.name }}" />
        {% endif %}
      </div>

    {% if (o.versions is defined and o.versions|to_array|length) or 
          (o.tags is defined and o.tags|to_array|length) %}
      <div class="ms-versions">
        {% if o.tags.device is defined and (o_access.name == 'Extrait' or o_access.name == 'Bonus') %}
          <i class="glyphicon glyphicon-info-sign" data-placement="bottom" data-toggle="tooltip" data-original-title="{{ o.tags.device|replace({',': ', '}) }}" ></i>&nbsp;
        {% endif %}
        {% if o.cost is defined and o.cost and o.cost != null and program.duration %}
          <span>{{program.duration}} min, </span> 
        {% endif %}
        {% if o.deporte is defined and o.deporte and o.versions is defined %}
          <span>{{ o.versions|to_array|keys|join(', ') }}</span>
        {% elseif o.tags is defined and o.tags.version is defined %}
          <span>{{ o.tags.version|replace({',': ', '}) }}</span>
        {% endif %}

        {% if o.tags is defined and o.tags|length %}
          {% if o.tags.HD is defined %}
            <i class="glyphicon glyphicon-hd-video"></i>
          {% endif %}
          {% if o.tags.format is defined %}
            {{ o.tags.format|replace({'SD': '<i class="glyphicon glyphicon-sd-video"></i>'})|raw }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </td>

</tr>