{# Titre + ShareBlock #}
<div class="row">
  {# Titre #}
  <div class="col-xs-11">
    {% set program_itemtype %}{% if program.format and program.format.name in ['Série','Emission'] %}TVSeries{% else %}Movie{% endif %}{% endset %}
    <div class="row">
      <div class="col-xs-16">
        {# Affichage type, année, durée #}
        <span class="ms-format">
          {% if program.format %}
              <span id="md-ispartof" itemprop="isPartOf" itemscope itemtype="http://schema.org/CollectionPage">
                <a href="{{ path('any_url', {url: program.format.seo_url|slice(1, program.format.seo_url|length-1) }) }}" itemprop="url">
                  <span itemprop="name">{{ program.format.name }}</span>
                </a>
              </span>
          {% endif %}
          {% if program.year is defined and program.year > 0 %} - <span id="md-year" itemprop="copyrightYear">{{ program.year }}</span>{% endif %}{% if program.duration %}, <time id="md-duration" itemprop="duration" datetime="PT{{ (program.duration * 60 - 3600)|date('H-i')|replace({"-":"H"}) }}M">{{ program.duration }}</time> mn.{% endif %}
        </span>
      </div>
    </div>
    
    <div class="row" id="md-about" itemprop="about" itemscope itemtype="http://schema.org/{{ program_itemtype }}" itemref="md-year {{ program_itemtype == 'Movie' ? 'md-duration ' : '' }}program-casting md-tvseason">
      <meta itemprop="url" content="http://www.myskreen.com/{{ program.seo_url }}" />
      <div id="fake_h1" class="col-xs-16" itemprop="name">
        {% if program.episode_title is defined and
              program.episodeof is defined and
              program.episodeof.title|slice(0,13)|lower == 'autres vidéos' %}
          {{ program.episode_title }}
          {% if program.popular_channel is defined %}
            <span>{{ program.popular_channel.name }}</span>
          {% endif %}
        {% elseif program.episode_title is defined and
              program.episodeof is defined %}
          <a href="{{ program.episodeof.seo_url }}">{{ program.episodeof.title }}</a>
        {% else %}
          {{ program.title }}
        {% endif %}
      </div>
    </div>

    {# Gestion Episodes Séries #}
    {% set episode_title %}{% if program.season_number is defined %}Saison {{ program.season_number }}{% endif %}{% if program.episode_number is defined %} Ep. {{ program.episode_number }}{# {% elseif program.episode_title is defined %}{{ program.episode_title }} #}{% endif %}{% endset %}
    {% if program.season_number is defined %}
      <span id="md-tvseason" itemprop="season" itemscope itemtype="http://schema.org/TVSeason">
        <meta itemprop="name" content="Saison {{ program.season_number }}"/>
        <meta itemprop="seasonNumber" content="{{ program.season_number }}"/>
        {% if program.seasons is defined and program.seasons.first.episodes is defined %}
          {% set numberOfEpisodes %}{{ program.seasons|to_array|first.episodes|to_array|length }}{% endset %}
          <meta itemprop="numberOfEpisodes" content="{{ numberOfEpisodes }}">
        {% endif %}
        {% if program.episode_number is defined %}
          <span itemprop="episode" itemscope itemtype="http://schema.org/Episode"{{ program_itemtype == 'TVSeries' ? ' itemref="md-duration"' : '' }}>
            <meta itemprop="episodeNumber" content="{{ program.episode_number }}"/>
            <meta itemprop="name" content="{{ program.episode_title is defined ? program.episode_title : episode_title }}"/>
          </span>
        {% endif %}
      </span>
    {% endif %}
    {% if program.episode_title is defined and
          program.episodeof is defined %}
      <div class="row">
        <div class="col-xs-16 episodes">
          {% if episode_title and 
                program.episode_title|escape != episode_title and 
                (program.season_number is not defined or
                ('Saison ' not in program.episode_title and
                 program.episode_title != 'Saison ' ~ program.season_number)) %}
          {{ episode_title }} : 
          {% endif %}
          {{ program.episode_title }}
        </div>
      </div>
    {% endif %}
  </div>

  <div class="col-xs-5">
    {# AjoutListes #}
    <div class="row">
      {# Bouton Ajout/Abo #}
      <div class="col-xs-16 ajout">
        {% if program.popular_channel is not defined or program.popular_channel.id not in [5573] %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: program.episodeof is defined ? program.episodeof.id : program.id, class: 'fav-like', text: 'Ajouter à mes listes', placement: 'left'} %}
        {% endif %}
      </div>
      {# Textes Ajouts #}
      <div class="col-xs-16">
        <a class="meslistes-plus" data-toggle-text="<i class='glyphicon glyphicon-collapse-up'></i>&nbsp;Fermer" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><i class="glyphicon glyphicon-collapse-down"></i>&nbsp;Plus d'infos...</a>
        {# <p>Soyez averti des prochaines diffusions (Tv, Replay, Ciné, VOD).</p>
        {# <p>Partagez vos playlists avec vos amis et suivez ce qu'ils regardent.</p> #}
      </div>
    </div>
  </div>
</div>