{% set inconnus_ids = [4941177,4938680,5300091,5300092,5300093,5300095,5300097,4941165,4941207] %}
{% set o = program.best_offer %}
{% set o_channel = program.best_offer.channel %}
{% set o_access = program.best_offer.access %}
{% set o_episode = o.episode_id is defined and program.datas_offers.episodes is defined ? attribute(program.datas_offers.episodes,  o.episode_id) : '' %}
{% set episode_title %}{% if program.season_number is defined %}Saison {{ program.season_number }}{% endif %}{% if program.episode_number is defined %} Ep. {{ program.episode_number }}{% endif %}{% endset %}

<div class="col-xs-11">

  {% if o.offer_type == 'theater' %}

    <div id="best-offer-anchor" class="row best-offer theater {% if program.player and o.id == program.player.id %}is-playing{% endif %}" data-scroll-to-title="1">
      <div class="col-xs-3">
        <a class="btn btn-default" href="#best-offer-anchor">Horaires</a>
      </div>
        <div class="col-xs-13">
          <p>Au cinéma dans {{ program.datas_theaters.theaters_ids|length }} salle{{ program.datas_theaters.theaters_ids|length > 1 ? 's' : '' }}<br/><small class="grey sk-font">Sorti en salle le {{ program.theater_release_date }}</small></p>
        </div>
    </div>

  {% elseif o.offer_type == 'replay' %}

    <div class="row best-offer replay player-stop no-cost {% if program.player and o.id == program.player.id %}is-playing{% endif %}" data-id="{{ o.id }}"{% if o.deporte is defined and o.deporte is not null %} data-play="{{ o.id }}"{% else %} data-redirect="{{ 'm6replay' not in o.url and 'itunes' not in o.url ? o.url|replace({'/exit/': '/redirect/'}) : o.url }}"{% endif %}{% if program.episodeof is defined and program.episodeof|to_array|length > 0 %} data-episode-id="{{ program.id }}"{% endif %}>
      <div class="col-xs-3">
        {% if program.player and o.id == program.player.id %}
          <button type="button" class="btn btn-voir disabled">Lecture en cours</button>
        {% else %}
          <button type="button" class="btn btn-voir"><i class="glyphicon glyphicon-play" ></i>&nbsp;Voir</button>
        {% endif %}
      </div>
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-16">
            <span>En Replay gratuit
              {% if o.broadcasttime is defined and o.broadcasttime is not null %} | </span><span><time datetime="{{ o.broadcasttime }}">Diffusé le {{ o.broadcasttime|broadcastdate(o_access.name) }}</time>{% endif %}
            </span>
          </div>
        </div>
        <div class="row last-child">
          <div class="col-xs-16">
            {% if o.episode_id is defined and o.episode_id is not null %}
              {% if o.endtime is defined and o.endtime|remainingreplay is not null %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title[0:40] }}...&nbsp;
              {% elseif attribute(program.datas_offers.episodes, o.episode_id).title|length > 55 %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title[0:55] }}...
              {% else %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title }}
              {% endif %}
            {% endif %}
            {% if o.endtime is defined and o.endtime|remainingreplay is not null %}
              <span class="ms-reminder"><i class="glyphicon glyphicon-time"></i> {{ o.endtime|remainingreplay }}</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <img src="{{ o_channel.img|replace({'//medias': '/medias', '/80': '/x/50'}) }}" alt="{{ o_channel.name }} {{ o_channel.has_replay is defined ? 'Replay' : 'Streaming' }}" />
      </div>
    </div>

  {% elseif o.offer_type == 'tv' %}

    <div class="row best-offer tv no-cost {% if program.player and o.id == program.player.id %}is-playing{% endif %}" data-id="{{ o.id }}"{% if program.episodeof is defined and program.episodeof|to_array|length > 0 %} data-episode-id="{{ program.id }}"{% endif %}>
      <div class="col-xs-13">
        <div class="row">
          <div class="col-xs-16">
            <span>À la télé
              {% if o.broadcasttime is defined and o.broadcasttime is not null %} | </span><span><time datetime="{{ o.broadcasttime }}"> Diffusé le {{ o.broadcasttime|broadcastdate(o_access.name) }}</time>{% endif %}
            </span>
          </div>
        </div>
        <div class="row last-child">
          <div class="col-xs-16">
            {% if o.episode_id is defined and o.episode_id is not null %}
              {% if o_channel.has_replay is defined and o_channel.has_replay and o.broadcasttime|remainingtv is not null %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title[0:45] }}...&nbsp;
              {% elseif attribute(program.datas_offers.episodes, o.episode_id).title|length > 60 %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title[0:60] }}...
              {% else %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title }}
              {% endif %}
            {% endif %}
            {% if o_channel.has_replay is defined and o_channel.has_replay and o.broadcasttime|remainingtv is not null %}
              <span class="ms-reminder"><i class="glyphicon glyphicon-time"></i> {{ o.broadcasttime|remainingtv }}</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <img src="{{ o_channel.img|replace({'//medias': '/medias', '/80': '/x/50'}) }}" alt="{{ o_channel.name }} {{ o_channel.has_replay is defined ? 'Replay' : 'Streaming' }}" />
      </div>
    </div>

  {% elseif o.offer_type in ['external','dvd','itunes','box', 'console'] or 'youtube movies' in o_channel.name|lower %}

    <div id="best-offer-anchor" class="row best-offer external {% if program.player and o.id == program.player.id %}is-playing{% endif %}" data-id="{{ o.id }}" data-scroll-to-title="1">
      <div class="col-xs-3">
        <img src="http://mskstatic.com/medias/ftp/logos/roulette_best-offer_defbis.gif" alt="roulette de fournisseurs externes">
        {# <a type="button" class="btn btn-voir" href="#best-offer-anchor"><i class="glyphicon glyphicon-play"></i>&nbsp;Voir</a> #}
      </div>
      <div class="col-xs-13">
        <p>Recherche en cours de la meilleure offre...</p>
        {# <p>Disponible sur d'autres plateformes</p> #}
      </div>
    </div>

  {% elseif o.offer_type in ['deporte','archive'] %}

    <div class="row best-offer deporte {{ o.cost is defined and o.cost ? '' : 'no-cost '}}player-stop {% if program.player and o.id == program.player.id %}is-playing{% endif %}" data-id="{{ o.id }}"{% if o.deporte is defined and o.deporte %} data-play="{{ o.id }}"{% endif %}{% if o.offer_type == 'deporte' %} data-play-text="{{ ('player.content.text.' ~ o.offer_type)|trans({'%date%': 'diffusé '~ (o.broadcasttime is defined ? o.broadcasttime|broadcastdate : '')}) }}"{% endif %}>
      <div class="col-xs-3">
        {% if program.player and o.id == program.player.id %}
          <button type="button" class="btn btn-voir disabled">Lecture en cours</button>
        {% else %}
          <button type="button" class="btn btn-voir"><i class="glyphicon glyphicon-play" ></i>&nbsp;Voir</button>
        {% endif %}
      </div>
      <div class="col-xs-7">
        <div class="row">
          <div class="col-xs-16"><span>{{ o_access.name }} |</span><span>{% if program.duration %} {{ program.duration }} mn. {% endif %}{% if o.tags.version is defined %}{{ o.tags.version }} {% endif %}{% if o.tags.HD is defined %} / {{ o.tags.HD }}{% endif %}</span></div>
        </div>
        <div class="row last-child">
          <div class="col-xs-16">En intégralité sur mySkreen</div>
        </div>
      </div>
      <div class="col-xs-3 price">{% if o.cost is defined and o.cost is not null and o.cost != "-" %}{{ o.cost }}&nbsp;€{% endif %}</div>
      <div class="col-xs-3">
        <img src="{{ o_channel.img|replace({'//medias': '/medias', '/80': '/x/50'}) }}" alt="{{ o_channel.name }} {{ o_channel.has_replay is defined ? 'Replay' : 'Streaming' }}" />
      </div>
    </div>

  {% elseif o.offer_type == 'live' %}
  
    <div class="row best-offer live player-stop no-cost {% if program.player and o.id == program.player.id %}is-playing{% endif %}" data-id="{{ o.id }}"{% if o_access.name in ['TV'] and o_channel.live is defined and o_channel.live.player is defined and o_channel.live.player and o.is_live is defined and o.is_live %} data-play-iframe="{{ o_channel.live.player }}"{% elseif o.url is defined and o.url and (o.deporte is not defined or o.deporte is null) %} data-redirect="{{ 'm6replay' not in o.url and 'itunes' not in o.url ? o.url|replace({'/exit/': '/redirect/'}) : o.url }}"{% endif %}{% if program.episodeof is defined and program.episodeof|to_array|length > 0 %} data-episode-id="{{ program.id }}"{% endif %}>
      <div class="col-xs-4">
        {% if program.player and o.id == program.player.id %}
          <button type="button" class="btn btn-voir disabled">Lecture en cours</button>
        {% else %}
          <button type="button" class="btn btn-voir"><i class="glyphicon glyphicon-play" ></i>&nbsp;Voir le direct</button>
        {% endif %}
      </div>
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-16"><span>En ce moment
            {% if o.endtime is defined and o.endtime is not null %}
               | </span><span class="ms-reminder"><i class="glyphicon glyphicon-time"></i> {{ o.endtime|remainingtv }}
            {% endif %}</span></div>
        </div>
        <div class="row last-child">
          <div class="col-xs-16">
            {% if o.episode_id is defined and o.episode_id is not null %}
              {% if attribute(program.datas_offers.episodes, o.episode_id).title|length > 38 %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title[0:38] }}...
              {% else %}
                {{ attribute(program.datas_offers.episodes, o.episode_id).title }}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <img src="{{ o_channel.img|replace({'//medias': '/medias', '/80': '/x/50'}) }}" alt="{{ o_channel.name }} {{ o_channel.has_replay is defined ? 'Replay' : 'Streaming' }}" />
      </div>
    </div>

  {% endif %}
  
</div>