{# Synopsis #}
<div class="col-xs-16">
  <div id="program-synopsis" class="panel panel-default panel-synopsis{{ program.description|striptags|length < 907 ? ' synopsis-short' : '' }}">
    <div class="panel-heading" itemscope itemtype="http://schema.org/WebPage" itemref="md-breadcrumb affiche md-ispartof">
      <div id="md-name-description">
          <h1 class="panel-title" itemprop="name">{{ program.title }} {{ program.has_vod|accessFromHasvod }}</h1>
        <meta itemprop="description" content="{% block description %}{% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_description.html.twig' %}{% endblock %}"/>
      </div>
    </div>
    <div class="tab-pane text-toggle-extend{{ program.description|striptags|length < 907 ? '' : ' synopsis-long' }}">
      {# categories #}
      {% if program.format and program.categories|to_array|length %}
        <div id="md-breadcrumb" itemprop="breadcrumb">
          {% for c in program.categories|to_array if c.seo_url is defined  %}
            <a class="inline label label-default" href="{{ path('category', {format: program.format.seo_url|replace({'/': ''}), category_slug: c.seo_url|replace({'/': ''})}) }}" itemprop="relatedLink">{{ c.name }}</a>&nbsp;
          {% endfor %}
          {% if program.format and program.subcategories|to_array|length %}
            {% for c in program.subcategories|to_array if c.seo_url is defined %}
              <a class="inline label label-default"  href="{{ path('any_url', {url: program.format.seo_url|replace({'/': ''}) ~ c.seo_url}) }}" itemprop="relatedLink">{{ c.name }}</a>&nbsp;
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      <br/>
      <div class="row">
        {# Affiche #}
        <div class="col-xs-6" id="affiche" itemprop="primaryImageOfPage" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="name" content="{{ program.title }}" />
          {% if 'missing' not in program.picture %}
            <a class="btn" data-big-picture="{{ ('<img src="' ~ (program.picture|replace({'273/368/' : '450/'})) ~ '" alt="' ~ program.title ~ '" />')|escape }}"><i class="glyphicon glyphicon-zoom-in"></i></a>
          {% endif %}
          <img src="{{ program.picture }}" alt="{{ program.title }} {{ program.has_vod in [6,8] ? 'Replay' : 'bande annonce' }}" itemprop="contentURL"/>
        </div>
        <div class="col-xs-10">
        {% if tab is not defined %}
            <div class="text">
              {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis_text.html.twig' %}
            </div>
        {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>