{# Player + Affiche #}
<div class="row playwrap">

  {# Player #}
  <div class="col-xs-11">
    <div id="player">
      {% include 'SkreenHouseFactoryV3Bundle:Program:_program-player.html.twig' %}
    </div>
  </div>
  {# Affiche #}
  <div class="col-xs-5">
    <div id="affiche">
      {% if 'missing' not in program.picture %}
        <a class="btn" data-big-picture="{{ ('<img src="' ~ (program.picture|replace({'273/368/' : '450/'})) ~ '" alt="' ~ program.title ~ '" />')|escape }}"><i class="glyphicon glyphicon-zoom-in"></i></a>
      {% endif %}
      <img src="{{ program.picture }}" alt="{{ program.title }} {{ program.has_vod in [6,8] ? 'Replay' : 'bande annonce' }}" />
    </div>
  </div>
</div>

<div class="row">
  {# Meilleure offre #}
  {% if program.best_offer.id is defined %}
    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_best-offer.html.twig' %}
  {% else %}
    <div class="col-xs-11">
      <div class="row best-offer-empty">
        <div>
          {% if program.episodeof is defined %}
            <p>Cet épisode n'est pas diffusé pour le moment.</p>
            <p>Ajoutez <strong>{{ program.episodeof.title }}</strong> à vos listes, pour être averti dès qu'un épisode est diffusé.</p>
          {% elseif program.format and program.format.name in ['Film','Documentaire'] %}
            <p><strong>{{ program.title }}</strong> n'est disponible sur aucune plateforme légale.</p>
            <p>Avec mySkreen, ajoutez ce programme à vos listes pour être averti dès qu'il sera diffusé (TV, Replay, Streaming VOD, Cinéma) !</p>
          {% else %}
            <p><strong>{{ program.title }}</strong> n'est pas diffusé pour le moment.</p>
            <p>Avec mySkreen, ajoutez ce programme à vos listes pour être averti dès qu'il sera diffusé (TV, Replay, Streaming VOD, Cinéma) !</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {# ShareBlock #}
  <div class="col-xs-5 shareblock">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ program.seo_url, text: program.twitter_msg is defined ? program.twitter_msg : 'Je regarde ' ~ program.title ~ ' sur mySkreen et vous ?', fb_layout: 'box_count', tw_layout: 'vertical', g_size: 'tall', g_annotation: 'bubble' } %}
  </div>
</div>