{% extends app.request.isXmlHttpRequest ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{# HEAD Title #}
{% block title %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_title.html.twig' %}
{% endblock %}

{# HEAD Description #}
{% block description %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_description.html.twig' %}
{% endblock %}

{# HEAD Meta #}
{% block meta %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_metadonnees.html.twig' %}
{% endblock %}

{# HEAD Pagescripts #}
{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/program.js'
    filter='?yui_js' 
    output='js/compiled/pages/program.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{# Attribute Microdata #}
{% block body_attribute %} {% endblock %}

{# Header adsense #}
{% block header_adsense %}
    googletag.defineSlot('/22418486/Banniere_970x90', [[970, 90], [728, 90]], 'adsense-banner-program').addService(googletag.pubads());
    googletag.defineSlot('/22418486/Banniere_colonne', [250, 250], 'adsense-banner-colonne').addService(googletag.pubads());
    googletag.defineSlot('/22418486/Banniere_mobile', [[320, 50], [300, 100], [250, 250]], 'adsense-banner-program-mobile').addService(googletag.pubads());
{% endblock %}

{# Content #}
{% block content %}
  <div id="view-program" data-id="{{ program.id }}">

    {# adsense banner #}
    {#% if program.id|slice(0,1) != 5 %#}
    <div class="container">{{ include ('SkreenHouseFactoryV3Bundle:Main:_adsense.html.twig', {banner: 'program'}) }}</div>
    {#% endif %#}
     
    <div class="scrollplayerzone">
      {# Titre + ShareBlock + AjoutListes #}
      <div class="bande_listes">
        <div class="container">
          {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_titre.html.twig' %}
        </div>
      </div>
      <div class="bande_couleur_degrade">
        <div class="container">
          <div class="row">
            <p>Soyez averti des prochaines diffusions (TV, Replay, Ciné, VOD) de ce programme.</p>
            <p>Partagez votre chaîne avec vos amis et suivez ce qu'ils regardent.</p>
          </div>
        </div>
        {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: '', no_background: true } %}
      </div>

      {# Onglets/Contenus + Chaînes #}
      <div class="bande_offers">
      <div class="container">
        <div class="row">
          {# Main column #} 
          <div class="col-xs-11 contents nopadding">
            
            {# Player + Affiche + Meilleure offre #}
            <div class="row playwrapsub hide"></div>
            <div class="playwrap">
              <div id="player">
                {% include 'SkreenHouseFactoryV3Bundle:Program:_program-player.html.twig' %}
              </div>
            </div>
            
            {# Onglets 
            <ul class="row" id="onglets">
              <li class="col-xs-5{% if voir.count > 0 or videos.count == 0 %} active{% endif %}">
                <a href="#voir" data-toggle="tab">
                  <div class="row">
                    <div class="col-xs-16">VOIR
                      {% if voir.count > 0 %}
                        <span class="badge">{{ voir.count }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">en entier</div>
                </a>
              </li>
              <li class="col-xs-6{% if voir.count == 0 and videos.count > 0 %} active{% endif %}{% if videos.count == 0 %} disabled{% endif %}">
                <a{{ videos.count == 0 ? '' : ' href="#videos" data-toggle="tab"' }}>
                  <div class="row">
                    <div class="col-xs-16">+ DE VIDEOS
                      {% if videos.count > 0 %}
                        <span class="badge">{{ videos.count }}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">extraits & bonus</div>
                </a>
              </li>
            </ul>
            #}
            {# Contenus #}
            <div class="tab-content">
              
              {# Inread Teads #}
              <script type="text/javascript" src="http://as.ebz.io/api/choixPubJS.htm?pid=1133407&screenLayer=1&mode=NONE&home=http://www.myskreen.com/"></script>
              
              {# Contenu Voir & Infos #}
              <div class="tab-pane row{% if voir.count > 0 or videos.count == 0 %} active{% endif %}" id="voir">
                {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_voir.html.twig' %}
                {# Affichage pour les fiches Saison seule #}
                  {% if program.season_number is defined and program.episode_number is not defined %}
                    {# Episodes de la saison #}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes-saison.html.twig' %}
                    {# Tous les épisodes #}
                    <div data-autoload-episodes="{{ program.episodeof and program.episodeof.id ? program.episodeof.id : program.id }}"></div>
                    {# Synopsis réduit #}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' with { tab: 'season-only' } %}

                  {# Affichage pour les fiches d'épisodes #}
                  {% elseif program.season_number is defined and program.episode_number is defined %}
                    {# Synopsis #}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' %}

                    {# Casting #}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                    {# Episodes de la saison #}
                    <div data-autoload-episodes="{{ program.id }}"></div>
                    {# Tous les épisodes #}
                    <div data-autoload-episodes="{{ program.episodeof and program.episodeof.id ? program.episodeof.id : program.id }}"></div>

                  {# Affichage pour toutes les autres fiches #}
                  {% else %}
                    {# Synopsis #}
                    {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' %}
                    {# Reviews #}
                    {% if program.reviews is defined and program.reviews|to_array|length %}
                      {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_reviews.html.twig' %}
                    {% endif %}
                    {# Episodes #}
                    {% if program.episodeof is defined %}
                      <div data-autoload-episodes="{{ program.episodeof.id }}"></div>
                      {# Casting #}
                      {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                    {% else %}
                      <div data-autoload-episodes="{{ program.id }}"></div>
                      {# Casting #}
                      {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                      {% if program.seasons is defined %}
                        <div class="col-xs-16">
                          Les saisons : 
                        {% for season in program.seasons|to_array %}
                          <a href="{{ program.seo_url }}saison-{{ season.number }}/">Saison {{ season.number }}</a>, 
                        {% endfor %}
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endif %}
              </div>
              {# Contenu Vidéos 
              <div class="tab-pane row{% if voir.count == 0 and videos.count > 0 %} active{% endif %}" id="videos">
                {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_videos.html.twig' %}
              </div>
              #}
            </div>
          </div>
          {# Chaînes #}
          <div class="col-xs-5 channel-side">
            {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_videos-column.html.twig' %}
            
            <div class="shareblock clearfix">
              {% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ program.seo_url, text: program.twitter_msg is defined ? program.twitter_msg : 'Je regarde ' ~ program.title ~ ' sur mySkreen et vous ?', fb_layout: 'box_count', tw_layout: 'vertical', g_size: 'tall', g_annotation: 'bubble' } %}
            </div>
            {# Infos FB Friends #}
            <div id="program-friends">
              <div class="share-friends hide"></div>
            </div>
            {# Images Casting #}
            {% if casting_photos is defined and casting_photos|to_array|length > 0 %}
              <div class="casting-img-title">Ajoutez-les à votre chaîne</div>
              <ul class="casting-img">
                {% spaceless %}
                {% for person in casting_photos|to_array %}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting_photo.html.twig' with { person: person, placement: 'left' } %}
                {% endfor %}
                {% endspaceless %}
              </ul>
            {% endif %}
            {# Chaînes #}
            {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_chaines-thema.html.twig' %}
          </div>
        </div>
      </div>
    </div>
    {# Related #}
    {# {% include 'SkreenHouseFactoryV3Bundle:Home:_promo_pass.html.twig' %} #}
    <div class="related">
      <div class="container">
        {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_related.html.twig' %}
      </div>
    </div>
  </div>
</div>
{# {% include 'SkreenHouseFactoryV3Bundle:Main:_passlabel.html.twig' %} #}
{% endblock %}