{% extends app.request.isXmlHttpRequest ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block title %}
{% if program.format.name is defined %}
{% if program.format.name in ['Film','Documentaire','Téléfilm','Court-métrage']%} {{ 'page.title.program.default'|trans({'%title%':program.title,'%format%':program.format.name,'%version%': program.versions|to_array|length ? "en "~program.versions|join(", ") : "",})}}
{% elseif (program.format.name == "Dessin Animé et Manga" and program.duration >= 65) %} {{ 'page.title.program.film-anime'|trans({'%title%':program.title,'%version%': program.versions|to_array|length ? "en "~program.versions|join(", ") : "",})}}
{% elseif (program.format.name == "Dessin Animé et Manga" and  program.duration < 65) %} {{ 'page.title.program.serie-anime'|trans({'%title%':program.title,'%version%': program.versions|to_array|length ? "en "~program.versions|join(", ") : "",})}}
{% elseif program.format.name in ['Série','Websérie'] %} {{ 'page.title.program.serie'|trans({'%title%':program.title,'%format%':program.format.name, '%version%': program.versions|to_array|length ? "en "~program.versions|join(", ") : "",})}}
{% elseif program.format.name in ['Emission'] %} {{ program.title }} Replay
{% elseif program.format.name in ['Journal'] %} {{ program.title }} Replay

{% elseif program.format.name in ['Théâtre'] %} {{ program.title }} Streaming {% if program.has_vod in [7,8] %} Replay {% endif %} {% if program.has_vod in [1,2,12] %} VOD {% endif %} {% if program.has_vod in [3] %} DVD {% endif %} : Pièce de Théâtre Complète
{% elseif program.format.name in ['Spectacle','Concert'] %} {{ program.title }} Streaming {% if program.has_vod in [7,8] %} Replay {% endif %} {% if program.has_vod in [1,2,12] %} VOD {% endif %} {% if program.has_vod in [3] %} DVD {% endif %} : {{ program.format.name }} Complet
{% else %} {{ program.title }}{{ program.format ? ', ' ~ program.format.name : '' }} en Streaming
{% endif %}
{% else %}
{{ program.title }} {% if program.has_vod in [7,8] %} Replay {% endif %} {% if program.has_vod in [1,2,12] %} VOD {% endif %} {% if program.has_vod in [3] %} DVD {% endif %}
{% endif %}
{% endblock %}


{% block description %}
{% spaceless %}
{% if program.format.name is defined %}
{% if program.format.name in ['Film','Documentaire','Téléfilm','Court-métrage','Série','Websérie'] or (program.format.name == "Dessin Animé et Manga" and program.duration >= 65) %}
{% if program.has_vod == 4 %}
{{ 'page.description.program.film.cinema'|trans({'%title%':program.title}) }}
{% elseif program.has_vod in [5,6] %}
{% if program.format.name in ['Série','Websérie'] %}
{{ 'page.description.program.serie.tv'|trans({'%title%':program.title}) }}
{% elseif program.format.name in ['Film','Documentaire','Téléfilm','Court-métrage'] or (program.format.name == "Dessin Animé et Manga" and program.duration >= 65) %}
{{ 'page.description.program.film.tv'|trans({'%title%': program.title, '%year%':program.year }) }}
{% endif %}	
{% endif %}
{% set hasstreaming = 0 %}{% set hasreplay = 0 %}{% set hasVOD = 0 %}{% set hasDVD = 0 %}
{% if program.has_vod in [7,8] %} {% set hasreplay = 1 %} {% endif %}
{% if program.has_vod in [1,2,12] %} {% set hasVOD = 1 %} {% endif %}
{% if program.has_vod in [3] %} {% set hasDVD = 1 %} {% endif %}
{% if program.has_vod in [1,2,7,8,9,10,12,13] %} {% set hasstreaming = 1 %} {% endif %}
{% set support %}
{% if program.has_vod in [1,2,7,8,9,10,12,13] %}
en Streaming
{% if program.has_vod in [1,2,7,8,12] %}({% endif %}
{% if program.has_vod in [7,8] %}Replay{% endif %}
{% if hasreplay == 1 and hasVOD == 1 %}, {% endif %}
{% if program.has_vod in [1,2,12] %}VOD{% endif %}
{% if program.has_vod in [1,2,7,8,12] %}){% endif %}
{% if hasstreaming == 1 and hasDVD == 1 %} & {% endif %}
{% if program.has_vod in [3] %}"DVD"{% endif %}
{% endif %}
{% endset %}
{% if program.format.name in ['Série','Websérie'] %}
{{ 'page.description.program.serie.default'|trans({
'%title%':program.title,
'%format%':program.format.name,
'%version%': program.versions|to_array|length ? "en "~program.versions|join(", ") : "",
'%quality%': program.hd ? "en HD" :  "en Haute Qualité",
'%deported%': program.has_vod in [2,8,10] ? "en 1 Clic" : "",
'%support%': support})
}}
{% elseif program.format.name in ['Film','Documentaire','Téléfilm','Court-métrage'] or (program.format.name == "Dessin Animé et Manga" and program.duration >= 65) %} 
{{ 'page.description.program.film.default'|trans({
'%title%': program.title,
'%format%': (program.format.name == "Dessin Animé et Manga" and program.duration >= 65) ?  "Film" : program.format.name,
'%year%':program.year,
'%version%': program.versions|to_array|length ? "en "~program.versions|join(", ") : "",
'%quality%': program.hd ? "en HD" :  "en Haute Qualité",
'%deported%': program.has_vod in [2,8,10] ? "en 1 Clic" : "",
'%support%': support})
}}
{% elseif (program.format.name == "Dessin Animé et Manga" and program.duration < 65) %}
{{  'page.description.program.serie-anime'|trans({
'%title%':program.title,
'%format%':program.format.name,
'%quality%': program.hd ? "en HD" :  "en Haute Qualité",
'%deported%': program.has_vod in [2,8,10] ? "en 1 Clic" : "",
'%support%': support})
}}
{% endif %}
{% endif %}
{% else %}
{{ program.title }} {% if program.has_vod in [7,8] %} Replay {% endif %} {% if program.has_vod in [1,2,12] %} VOD {% endif %} {% if program.has_vod in [3] %} DVD {% endif %} sur mySkreen 
{% endif %}
{% endspaceless %}
{% endblock %}
{% block meta %}

{% include 'SkreenHouseFactoryV3Bundle:Program:_program-jsonld.html.twig' with {program: program} %}

{# twitter #}
<meta name="twitter:site" value="@mySkreen" />
<meta name="twitter:creator" content="@mySkreen">
<meta name="twitter:url" content="http://www.myskreen.com{{ program.seo_url }}">
<meta name="twitter:title" content="{{ program.title }}">
<meta name="twitter:description" content="{{ program.description_text|replace({"\n": ''}) }}">
<meta name="twitter:image:src" content="{{ program.picture }}">
{% if program.player_iframe is defined %}
<meta name="twitter:card" value="player" />
<meta name="twitter:player" value="{{ program.player_iframe }}" />
<meta name="twitter:player:stream" content="{{ program.player_stream }}">
<meta name="twitter:player:stream:content_type" content="video/mp4">
<meta name="twitter:player:height" value="360" />
<meta name="twitter:player:width" value="640" />
{% elseif program.has_vod in [1,2] %}
<meta name="twitter:card" value="product" />
<meta name="twitter:data1" content="€2.99">
<meta name="twitter:label1" content="LOCATION">
{% else %}
<meta name="twitter:card" value="summary" />
{% endif %}
<meta name="twitter:domain" content="mySkreen.com">

{# opengraph #}
<meta property="og:title" content="{{ program.title }}" />
<meta property="og:description" content="[ VIDEO ] {{ program.description_text|replace({"\n": ''}) }}" />
<meta property="og:image" content="{{ program.picture }}" />
<meta property="og:type" content="movie" />
<meta property="og:url" content="http://www.myskreen.com{{ program.seo_url }}" />
{% if program.player_fb is defined %}

<meta property="og:video:height" content="360" />
<meta property="og:video:width" content="640" />
<meta property="og:video" content="{{ program.player_fb }}" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:video:secure_url" content="{{ program.player_fb|replace({'http://': 'https://', 'http%3A%2F%2': 'https%3A%2F%2'}) }}" />
<meta property="og:video" content="{{ program.player_stream }}" />
<meta property="og:video:type" content="video/mp4" />
<meta property="video:duration" content="{{ program.duration > 0 ? program.duration * 60 : '3600' }}" />

<meta name="video_height" content="360" />
<meta name="video_width" content="640" />
<link rel="video_src" href="{{ program.player_fb }}" />
<meta name="video_type" content="application/x-shockwave-flash" />
<meta name="video_duration" content="{{ program.duration * 60 }}" />
<meta name="object_type" content="episode" />
{% endif %}
<link rel="image_src" href="{{ program.picture }}" />

{% endblock %}

{% block pagescripts %}
{% javascripts
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/program.js'
  filter='?yui_js' 
  output='js/compiled/pages/program.js'  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% endblock %}

  {% block content %}

  <div id="view-program" data-id="{{ program.id }}">
    <div class="container scrollplayerzone">

      {#% include 'SkreenHouseFactoryV3Bundle:Main:_bootstrap-grid-test.html.twig' %#}

      {# player + affiche #}

      <div class="row playwrapsub hide"></div>
      <div class="row playwrap">
        {# player #}
        <div class="col-xs-11">
          <div id="player"> 
            {% include 'SkreenHouseFactoryV3Bundle:Program:_program-player.html.twig' %}
          </div>
        </div>

        {# affiche #}
        <div class="col-xs-5  ms-prog-rightback ">
          <div id="affiche">
            <img src="{{ program.picture }}" alt="{{ program.title }} {{ program.has_vod in [6,8] ? 'Replay' : 'bande annonce' }}" />
            {% if program.popular_channel is defined %}
            <a href="{{ program.popular_channel.seo_url }}"><img class="channel" src="{{ program.popular_channel.img }}" alt="{{ program.popular_channel.name }} Replay" /></a>
            {% endif %}
          </div>
        </div> 
      </div>


      {# Selecteur episodes #}
      {% if program.episode_list is defined or program.seasons is defined %}
      <div id="program-episodes" class="row collapse">
        <div class="panel">
          <div class="panel-heading"><h3 class="panel-title">Tous les épisodes</h3><a data-target="#program-episodes" data-toggle="collapse" class="btn btn-default block"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
          <div class="tab-pane">
            {% if program.seasons is defined %}
            {% if program.seasons|to_array|first.number != '(autres)' %}
            <ul class="nav nav-pills">
              <li class="ms-nav-pills-saisons">Saison <i class="glyphicon glyphicon-play"></i></li>
              {% for season in program.seasons|to_array %}
              <li{{ loop.last ? ' class="active"' : '' }}><a data-season="{{ season.number }}">{{ season.number }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <ul id="episodes-list">
              {% for season in program.seasons|to_array %}
              {% set loop_season = loop %}
              {% for episode in season.episodes|to_array|reverse %}
              <li class="season-{{ season.number }} {{ loop_season.last ? 'in' : 'hide' }}"><a href="{{ path('any_url', {url: episode.seo_url|slice(1, episode.seo_url|length-1) }) }}">
                {% if episode.dispo %}<span class="label label-default pull-right">{{ episode.dispo }}</span>{% endif%}
                <strong>{{ episode.episode_number is defined ? 'Episode ' ~ episode.episode_number : '' }}</strong> <i class="icon-chevron-right"></i> {{ episode.title }}
              </a></li>
              {% endfor %}
              {% endfor %}
            </ul>
            {% else %}
            <ul id="episodes-list">
              {% for episode in program.episode_list|to_array %}
              <li><a href="{{ path('any_url', {url: episode.seo_url|slice(1, episode.seo_url|length-1) }) }}">
                {% if episode.dispo %}<span class="label label-default pull-right">{{ episode.dispo }}</span>{% endif%}
                <strong>{{ episode.episode_number is defined ? 'Episode ' ~ episode.episode_number : '' }}</strong> <i class="icon-chevron-right"></i> {{ episode.title }}
              </a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-xs-11 ">

          <div class="row" style="margin:0;">
            {# TITRE #}
            <div class="col-xs-12 videotitle "  style="padding:0;" itemscope itemtype="http://schema.org/Movie">
              <meta itemprop="url" content="http://www.myskreen.com/{{ program.seo_url }}" />
              <meta itemprop="name" content="{{ program.title }}" />
              {% if program.episode_title is defined and
              program.episodeof is defined and
              program.episodeof.title|slice(0,13)|lower == 'autres vidéos' %}
              <h1 itemprop="name">
                {{ program.episode_title }}
                {% if program.popular_channel is defined %}
                <span>{{ program.popular_channel.name }}</span>
                {% endif %}
              </h1>
              {% elseif program.episode_title is defined and
              program.episodeof is defined %}
              {% set episode_title %}{% if program.season_number is defined %}Saison {{ program.season_number }}{% endif %}{% if program.episode_number is defined %} Ep. {{ program.episode_number }}{% endif %}{% endset %}
              <h1 itemprop="name">{{ program.episodeof.title }}
                <span>{% if episode_title and program.episode_title != episode_title %}{{ episode_title }} : {% endif %}{{ program.episode_title }}</span>
              </h1>
              {% else %}
              <h1 itemprop="name">{{ program.title }} </h1>
              {% endif %}
            </div>
            <div class="col-xs-4 suivre"  style="padding:0;">
              {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: program.id, class: 'fav-like btn-big'} %}
            </div>
          </div>
          {% include 'SkreenHouseFactoryV3Bundle:Program:_program-offers.html.twig' %}
        </div>
      </div>
      </div>
      <div class="col-xs-5 ms-prog-rightback">
        {% include 'SkreenHouseFactoryV3Bundle:Program:_program-rightcolumn.html.twig' %}
      </div> 
    </div>
    <div id="program-related">
      {% for r in program.related if r.programs is defined and r.programs|to_array|length %}
      {% if r.name == 'same_actors' and program.casting %}
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: r, noheader: true, loop_index: loop.index, h_title: "p"} %}
      {% elseif r.name == 'same_director' and program.director %}
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: r, noheader: true,loop_index: loop.index, h_title: "p"} %}
      {% elseif r.name == 'chaines' %}
      {% if (program.related.channels is defined and program.related.channels.programs is defined and program.related.channels.programs|length > 1) %}
      <a data-track-channel="{{ r.name }}" name="{{ r.name }}"></a>
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: r,loop_index: loop.index, h_title: "p"} %}
      {% endif %}
      {% else %}
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: r, loop_index: loop.index, h_title: "p"} %}
      {% endif %}
      {% endfor %}
    </div>

  </div>
</div>
</div>
</div>

{# modal #}
{% if program.id in ['5088919'] %}
{% include 'SkreenHouseFactoryV3Bundle:Program:_modal.html.twig' with {'program': program} %}
{% endif %}
{% endblock %}