<div class="col-xs-16">
  {# Selecteur episodes #}
  {% if program.seasons is defined %}
    <div id="program-episodes-saison" class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Tous les épisodes de la saison {{ program.season_number }}</h3>
        <ul class="nav nav-pills">
          <li class="ms-nav-pills-saisons"> <i class="glyphicon glyphicon-play"></i></li>
          <li class="active"><a data-season="{{ program.season_number }}">{{ program.season_number }}</a></li>
        </ul>
      </div>
      <div class="tab-pane scroll">
        <ul id="episodes-list-saison">
          {% for episode in program.seasons|to_array|first.episodes|to_array|reverse %}
            <li class="season-{{ program.season_number }} in">
              <p class="clearfix">
                <a class="clearfix" href="{{ path('any_url', {url: episode.seo_url|slice(1, episode.seo_url|length-1) }) }}">
                  <img src="{{ episode.picture }}" alt="Image de {{ episode.title }}" class="pull-left"/>
                  {% if episode.dispo %}
                    <span class="label label-default pull-right">{{ episode.dispo }}</span>
                  {% endif %}
                  <span class="title-episode"><strong>{{ episode.episode_number is defined ? 'Episode ' ~ episode.episode_number ~ ' : ' : '' }}</strong>{{ episode.title }}</span>
                  {% set episode_description %}{{ episode.description|length > 140 ? episode.description[0:140] ~ '...' : episode.description }}{% endset %}
                  <span>{{ episode.description is not null ? episode_description : 'Afficher l\'épisode' }}</span>
                </a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>