{# Synopsis #}
<div class="col-xs-16">
  <div id="program-synopsis" class="panel panel-default panel-synopsis{{ program.description|striptags|length < 907 ? ' forced-height':'' }}">
    <div class="panel-heading" itemscope itemtype="http://schema.org/WebPage" itemref="md-breadcrumb affiche md-ispartof">
      <div id="md-name-description">
          <h1 class="panel-title" itemprop="name">Tout sur {{ program.title }} {{ program.has_vod|accessFromHasvod }}</h1>
        <meta itemprop="description" content="{% block description %}{% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_description.html.twig' %}{% endblock %}"/>
      </div>
    </div>
    <div class="tab-pane text-toggle-extend">
      {# categories #}
      {% if program.format and program.categories|to_array|length %}
          {% if program.categories|to_array|length == 1 and program.subcategories|to_array|length == 0 %}
            <div id="categorie-title" class="ms-surtitre">Catégorie</div>
          {% else %}
            <div id="categorie-title" class="ms-surtitre">Catégories</div>
          {% endif %}
          <div id="md-breadcrumb" itemprop="breadcrumb">
            {% for c in program.categories|to_array if c.seo_url is defined  %}
              <a class="inline label label-default" href="{{ path('category', {format: program.format.seo_url|replace({'/': ''}), category_slug: c.seo_url|replace({'/': ''})}) }}" itemprop="relatedLink">{{ c.name }}</a>&nbsp;
            {% endfor %}
            {% if program.format and program.subcategories|to_array|length %}
              {% for c in program.subcategories|to_array if c.seo_url is defined %}
                <a class="inline label label-default"  href="{{ path('any_url', {url: program.format.seo_url|replace({'/': ''}) ~ c.seo_url}) }}" itemprop="relatedLink">{{ c.name }}</a>&nbsp;
              {% endfor %}
            {% endif %}
          </div>
      {% endif %}

      {% if tab is not defined %}

        {% if program.description|striptags|length < 907 or program.id in ['1261263', '5703660', '5113132'] %}
          <div class="text">
            {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis_text.html.twig' %}
          </div>
        {% else %}
          <div class="text show-more-height">
            <div class="gradient-hide"></div> 
            {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis_text.html.twig' %}
          </div>
          <div class="show-all">
            <span class="show-more">...</span><span class="show-more-text">Voir plus</span>
          </div> 
        {% endif %}

      {% endif %}

    </div>
  </div>
</div>