{# Synopsis #}
<div class="col-xs-16">
  <div id="program-synopsis" class="panel panel-default panel-synopsis{{ program.description|striptags|length < 907 ? ' forced-height':'' }}">
    <div class="panel-heading">
      <h1 class="panel-title">Tout sur {{ program.title }} {{ program.has_vod|accessFromHasvod }}</h1>
    </div>
    <div class="tab-pane text-toggle-extend">
      {% if program.description|striptags|length < 907 %}
        <div class="text">
          {% set episode_title %}{% if program.season_number is defined %}Saison {{ program.season_number }}{% endif %}{% if program.episode_number is defined %} Ep. {{ program.episode_number }}{% endif %}{% endset %}
          {% if program.episode_title is defined and
                program.episodeof is defined  and
                episode_title and
                program.episode_title|replace({"Ep.":"Episode"}) != episode_title|replace({"Ep.":"Episode"}) %}
            <h2>
              {% if episode_title and
                    program.episode_title|replace({"Ep.":"Episode"}) != episode_title|replace({"Ep.":"Episode"}) %}
                {{ episode_title|replace({"Ep.":"Episode"}) }}
              {% endif %}
            </h2>
          {% endif %}
          {% if program.copyright is defined %}
            {{program.copyright}}
          {% endif %}
          {% if program.theater_release_date is defined and
                program.theater_release_date_timestamp < "now"|date('U') and
                'Sortie en salles' not in program.description %}
            <p>Sortie en salles le {{ program.theater_release_date }}</p>
          {% endif %}
          {{ program.description|raw }}
        </div>
      {% else %}
        <div class="text show-more-height">
          <div class="gradient-hide"></div> 
          {% set episode_title %}{% if program.season_number is defined %}Saison {{ program.season_number }}{% endif %}{% if program.episode_number is defined %} Ep. {{ program.episode_number }}{% endif %}{% endset %}
          {% if program.episode_title is defined and
                program.episodeof is defined  and
                episode_title and
                program.episode_title|replace({"Ep.":"Episode"}) != episode_title|replace({"Ep.":"Episode"}) %}
            <h2>
              {% if episode_title and
                    program.episode_title|replace({"Ep.":"Episode"}) != episode_title|replace({"Ep.":"Episode"}) %}
                {{ episode_title|replace({"Ep.":"Episode"}) }}
              {% endif %}
            </h2>
          {% endif %}
          {% if program.copyright is defined %}
            {{program.copyright}}
          {% endif %}
          {% if program.theater_release_date is defined and
                program.theater_release_date_timestamp < "now"|date('U') and
                'Sortie en salles' not in program.description %}
            <p>Sortie en salles le {{ program.theater_release_date }}</p>
          {% endif %}
          {{ program.description|raw }}
        </div>
        <div class="show-all">
          <span class="show-more">...</span><span class="show-more-text">Voir plus</span>
        </div> 
      {% endif %}
    </div>
  </div>
</div>