<div class="container">
  <div class="row hometop">
    <div class="col-xs-4">
      <div class="prog-list">   
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live:top_home.live, name: 'Ce soir à la télé', link: 'tvgrid', name_link: 'Voir la grille télé complète', origin: 'hometop', list_number: '1' } %}
      </div>
    </div>
    {% set combinaisons = {6: {'vertical': [[1,1,1,1,1,1]], 'horizontal': []}|to_array }|to_array %}
    {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: top_home.pack_live , h_title:"h2", loop_index: loop_index, slider_combinaisons: combinaisons } %}
    <div class="col-xs-4">
     {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-channels.html.twig' with { channels:top_home.pack_channel } %}
   </div>
   {% set tnt_channels = ['TF1','FRANCE 2','FRANCE 3','CANAL','FRANCE 4','FRANCE 5','FRANCE Ô','ARTE','M6','D8','D17','W9','TMC','NT1','NRJ 12','FRANCE 24','BFM TV','BFM Business','iTélé','Public Sénat','HD1','6Ter','numéro 23','DISNEY CHANNEL','Gulli','RMC découverte','cherie 25','KTO'] %}
  </div>
</div>
<div class="row chaines-listing clearfix">
  <div class="clearfix">
    <h2>Toutes les chaînes : Direct, Replay, Emissions...</h2>
    {% for c in tnt_channels %}
    {% set slug = c|lower|replace({ ' +': '', ' ': '-', 'é': 'e', 'à': 'a', 'ô': 'o', 'î': 'i', "\'": '-'})|raw %}
    <a class="logo_chaine" href="{{ path('channel', {slug: slug}) }}" data-toggle="tooltip" data-placement="{{ loop.index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14] ?'top':'bottom' }}" data-original-title="{{c|upper}}">
      <img src="http://mskstatic.com/35/medias/ico/chaines/{{ slug }}_medium.png" alt="{{ c }} Replay">
    </a>
  {% endfor %}
  </div>
</div>