{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}


{% block title %}{{ 'page.channel.home'|trans({'%name%': channel.name}) }}{% endblock %}

{% block content %}
<div class="container">
  <img class="pull-left" src="{{ channel.img }}" />
  <h1>{{ channel.name }}</h2>
  
  {% if channel.live %}
  <div id="lives" class="well">

    <div id="prevlive">
    {% if channel.prev_live %}
    <h6><small>Juste avant</small><br/>{{ channel.prev_live.program.title }}</h6>
    <img src="{{ channel.prev_live.program.picture }}" width="250" />
    {% endif %}
    </div>
    
    <div id="live">
    {% if channel.live and channel.live.program is defined %}
    <h2><small>En ce moment</small><br/>{{ channel.live.program.title }}</h2>
    {% if channel.live.player is defined %}
    <img src="" alt="{{ 'channel.live.program.title'|trans }} {{ 'channel.live.program.live'|trans }}" /> {{ channel.live.player }}
    {% elseif channel.live.url is defined %}
    <img src="" alt="{{ 'channel.live.program.title'|trans }} {{ 'channel.live.program.live'|trans }}" /> {{ channel.live.url }}
    {% endif %}
    <img src="{{ channel.live.program.picture }}" />
    {% endif %}
    </div>
    
    <div id="nextlive">
    {% if channel.next_live %}
    <h6><small>juste après</small><br/>{{ channel.next_live.program.title }}</h6>
    <img src="{{ channel.next_live.program.picture }}" width="250" />
    {% endif %}
    </div>
  
  </div>
  {% endif %}
  
  {#<div id="access" class="btn-group" data-toggle="buttons-radio" style="z-index: 10;">
    <button data-access="" type="button" class="trigger-channel btn btn-primary active">Tout</button>
    <button data-access="deporte" type="button" class="trigger-channel btn">Sur mySkreen</button>
    <button data-access="ios" type="button" class="trigger-channel btn">Sur iOS</button>
  </div>#}
  <div id="onglet" class="pull-right btn-group" data-toggle="buttons-radio">
    <button data-onglet="" type="button" class="trigger-channel btn btn-primary active">Tout</button>
    <button data-onglet="films" type="button" class="trigger-channel btn">Films</button>
    <button data-onglet="emissions" type="button" class="trigger-channel btn">Emissions</button>
    <button data-onglet="series" type="button" class="trigger-channel btn">Séries</button>
    <button data-onglet="documentaires" type="button" class="trigger-channel btn">Documentaires</button>
    <button data-onglet="sports" type="button" class="trigger-channel btn">Sports</button>
    <button data-onglet="spectacles" type="button" class="trigger-channel btn">Spectacles</button>
  </div>

  <select id="date" class="trigger-channel-date">
    <option></option>
    <option data-hide="epg">Il y a plus d'une semaine</option>
    <option data-hide="epg">La semaine dernière</option>
    <option data-hide="epg">Hier</option>
    <option data-hide="replay">Aujourd'hui</option>
    <option data-hide="replay">Demain</option>
    <option data-hide="replay">La semaine prochaine</option>
    <option data-hide="replay">Dans plus d'une semaine</option>
  </select>
  
  {% if channel.has_replay %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {title: 'channel.replay'|trans({'%website%': channel.has_replay}), 
                                                                                programs: channel.programs.replay, 
                                                                                id: 'channel-replay', 
                                                                                url: '/recommend/from_channel/' ~ channel.name ~ '.json?with_method=epg'}} %}
  {% endif %}
  
  {% if channel.epg %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {title: 'channel.epg'|trans({'%name%': channel.name}), 
                                                                                programs: channel.programs.epg, 
                                                                                id: 'channel-epg', 
                                                                                url: '/recommend/from_channel/' ~ channel.name ~ '.json?with_method=epg'}} %}
  {% endif %}
</div>
{% endblock %}