{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}


{% block title %}{{ 'page.channel.home'|trans({'%name%': channel.name}) }}{% endblock %}

{% block content %}
<div class="container">
  <img class="pull-left" src="{{ channel.img }}" />
  <h1>{{ channel.name }}</h2>
  
  {% if channel.live %}
  <div id="lives" class="well">

    <div id="prevlive">
    {% if channel.prev_live %}
    <h6><small>Juste avant</small><br/>{{ channel.prev_live.program.title }}</h6>
    <img src="{{ channel.prev_live.program.picture }}" width="250" />
    {% endif %}
    </div>
    
    <div id="live">
    {% if channel.live and channel.live.program is defined %}
    <h2><small>En ce moment</small><br/>{{ channel.live.program.title }}</h2>
    {#% if channel.live.player %}
    <img src="" alt="{{ channel.live.program.title }} {{ channel.live.program.live }}" />
    {% else if channel.live.url %}
    <img src="" alt="{{ channel.live.program.title }} {{ channel.live.program.live }}" />
    {% endif %#}
    <img src="{{ channel.live.program.picture }}" />
    {% endif %}
    </div>
    
    <div id="nextlive">
    {% if channel.next_live %}
    <h6><small>juste après</small><br/>{{ channel.next_live.program.title }}</h6>
    <img src="{{ channel.next_live.program.picture }}" width="250" />
    {% endif %}
    </div>
  
  </div>
  {% endif %}


  <ul class="nav nav-pills">
    <li class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Choisir une date <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Il y a plus d'une semaine</a></li>
        <li><a href="#">La semaine dernière</a></li>
        <li><a href="#">Hier</a></li>
        <li class="divider"></li>
        <li><a href="#">Demain</a></li>
        <li><a href="#">La semaine prochaine</a></li>
        <li><a href="#">Dans plus d'une semaine</a></li>
      </ul>
    </li>
    <li><a href="#">Hier soir</a></li>
    <li><a href="#">Ce soir</a></li>
  </ul>
  
  <div id="access" class="btn-group pull-right" data-toggle="buttons-radio">
    <button data-onglet="" type="button" class="btn btn-primary active">Tout</button>
    <button data-onglet="deporte" type="button" class="btn">Sur mySkreen</button>
    <button data-onglet="ios" type="button" class="btn">Sur iOS</button>
  </div>
  <div id="onglet" class="btn-group" data-toggle="buttons-radio">
    <button data-onglet="" type="button" class="btn btn-primary active">Tout</button>
    <button data-onglet="films" type="button" class="btn">Films</button>
    <button data-onglet="emissions" type="button" class="btn">Emissions</button>
    <button data-onglet="series" type="button" class="btn">Séries</button>
    <button data-onglet="documentaires" type="button" class="btn">Documentaires</button>
    <button data-onglet="sports" type="button" class="btn">Sports</button>
    <button data-onglet="spectacles" type="button" class="btn">Spectacles</button>
  </div>
  
  {% if channel.has_replay %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {title: 'channel.replay'|trans({'%website%': channel.has_replay}), 
                                                                                programs: channel.programs.replay, 
                                                                                id: 'channel-replay', 
                                                                                url: '/recommend/from_channel/' ~ channel.name ~ '.json?with_method=epg'}} %}
  {% endif %}
  
  {% if channel.epg %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {title: 'channel.epg'|trans({'%name%': channel.name}), 
                                                                                programs: channel.programs.epg, 
                                                                                id: 'channel-epg', 
                                                                                url: '/recommend/from_channel/' ~ channel.name ~ '.json?with_method=epg'}} %}
  {% endif %}
</div>
{% endblock %}