{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% set page_title = 'page.title.home.' ~ home.name %}
{% set page_description = 'page.description.home.' ~ home.name %}
{% if app.request.get('home') == 'jeunesse' %}
  {% set keywords = 'dessin animé, manga, film d\'animation, cartoon, enfants, junior, disney, pixar, série animée, kids' %}
{% elseif app.request.get('home') == 'tv-replay' %}
  {% set keywords = 'émission, rattrapage, à la demande, programme tv, reportage, divertissement, télé réalité, JT, talk show, sports' %}
{% elseif app.request.get('home') == 'film' %}
  {% set keywords = 'long métrage, cinéma, vidéo à la demande, fantastique, horreur, comédie, drame' %}
{% elseif app.request.get('home') == 'spectacle' %}
  {% set keywords = 'divertissement, théatre, concert, musique, one man show, humour, pièce, classique, scène' %}
{% elseif app.request.get('home') == 'documentaire' %}
  {% set keywords = 'reportage, société, découvertes, voyages, arts, biographies, histoire' %}
{% elseif app.request.get('home') == 'serie' %}
  {% set keywords = 'feuilleton, policier, télé, soap, à suivre, house, experts, ncis, saison' %}
{% elseif app.request.get('home') == 'cinema' %}
  {% set keywords = 'grand écran, séance, films, projection, salles, horaires, sorties, bandes-annonces' %}
{% elseif app.request.get('home') is null %}
  {% set keywords = 'replay, vidéo à la demande, streaming, cinéma' %}
{% endif %}
{% set seo_description_hauteur = ('%.0f'|format(home.sliders|to_array|length//2))*490 %}

{% block meta %}
  {% if keywords is defined %}<meta name="keywords" content="{{ keywords }}">{% endif %}
  <meta property="og:title" content="{{ page_title|trans }}" />
  <meta property="og:description" content="{{ page_description|trans }}" />
  <meta property="og:image" content="http://medias.myskreen.com/logo.png" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.myskreen.com" />
{% endblock %}
{% block title %}{{ page_title|trans }}{% endblock %}
{% block description %}{{ page_description|trans }}{% endblock %}
{% block body_class %}view-homes home-{{ home.name }}{% if home.name == 'mixte' %} view-user_start{% endif %} cover{% endblock %}


{% block pagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/start.less'
      filter='lessphp,?yui_css'
      output='css/start.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}
{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-start.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-start.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
<div id="view-home">
  <div class="description-seo description-seo-absolute">
    <div class="container well scroll">
      <h1>{{ ('page.h1.home.' ~ home.name)|trans }}</h1> 
      {% if home.description is defined %}<div>{{ home.description | raw }}</div>{% endif %}
      {% if keywords is defined %}<p>{{ keywords }}</p>{% endif %}
    </div>
  </div>

  {% if app.request.get('home') == 'cinema' %}
    {% include 'SkreenHouseFactoryV3Bundle:Cinema:_addtolist.html.twig' %}
    <div class="bande_fonce">
      <div class="container">
        <h3>Chercher un cinéma :</h3>
        {% include 'SkreenHouseFactoryV3Bundle:Cinema:_popin-search.html.twig' with {cinemas: {}} %}
      </div> 
    </div>
  {% endif %}

  {% for slider in home.sliders|to_array if slider.id is defined %}
    {% if loop.first and home.name not in ['mixte', 'cinema'] %}
      {% if home.name not in ['mixte','cinema'] %}
        {% include 'SkreenHouseFactoryV3Bundle:Main:_carousel.html.twig' with {slider: slider, class: 'carousel-a-la-une transchange', force_size: '/1250/370'} %}
      {% endif %}
    {% else %}
      {% if loop.first %}
        {% if home.more is defined %}
          {% include 'SkreenHouseFactoryV3Bundle:Home:_top_home.html.twig' with { top_home:home.more , loop_index: loop.index } %}
        {% endif %}
        <div class="container">
          <div class="row">
            <div class="first-container">
              {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: slider,h_title:"h2", loop_index: loop.index} %}

      {% else %}
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: slider,h_title:"h2", loop_index: loop.index+1 } %}
      {% endif %}

    {% endif %}
  {% endfor %}
  {% if home.more is defined %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{# {% include 'SkreenHouseFactoryV3Bundle:Main:_passlabel.html.twig' %} #}

{% if home.name == 'mixte' %}

  <div class="container">
    <div class="bs-callout bs-callout-warning">
      <h3>Plutôt Netflix ou plutôt Canalplay ?</h3>
      <p>Découvrez quel service propose les films et les séries qui vous intéressent le plus.
        <br/>
        <a class="btn btn-large btn-warning" href="{{ path('user_start', {goal: 'vod'}) }}#films">Commencer</a></p>
    </div>
  </div>
  {{ render(controller('SkreenHouseFactoryV3Bundle:User:start', {'xhr': 1})) }}
{% endif %}
{% endblock %}