{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% set page_title = 'page.title.home.' ~ home.name %}
{% set page_description = 'page.description.home.' ~ home.name %}
{% if app.request.get('home') == 'jeunesse' %}
{% set keywords = 'dessin animé, manga, film d\'animation, cartoon, enfants, junior, disney, pixar, série animée, kids' %}
{% elseif app.request.get('home') == 'tv-replay' %}
{% set keywords = 'émission, rattrapage, à la demande, programme tv, reportage, divertissement, télé réalité, JT, talk show, sports' %}
{% elseif app.request.get('home') == 'film' %}
{% set keywords = 'long métrage, cinéma, vidéo à la demande, fantastique, horreur, comédie, drame' %}
{% elseif app.request.get('home') == 'spectacle' %}
{% set keywords = 'divertissement, théatre, concert, musique, one man show, humour, pièce, classique, scène' %}
{% elseif app.request.get('home') == 'documentaire' %}
{% set keywords = 'reportage, société, découvertes, voyages, arts, biographies, histoire' %}
{% elseif app.request.get('home') == 'serie' %}
{% set keywords = 'feuilleton, policier, télé, soap, à suivre, house, experts, ncis, saison' %}
{% elseif app.request.get('home') == 'cinema' %}
{% set keywords = 'grand écran, séance, films, projection, salles, horaires, sorties, bandes-annonces' %}
{% elseif app.request.get('home') is null %}
{% set keywords = 'replay, vidéo à la demande, streaming, cinéma' %}
{% endif %}

{% block meta %}
{% if keywords is defined %}<meta name="keywords" content="{{ keywords }}">{% endif %}
<meta property="og:title" content="{{ page_title|trans }}" />
<meta property="og:description" content="{{ page_description|trans }}" />
<meta property="og:image" content="http://medias.myskreen.com/logo.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.myskreen.com" />
{% endblock %}
{% block title %}{{ page_title|trans }}{% endblock %}
{% block description %}{{ page_description|trans }}{% endblock %}
{% block body_class %}view-homes cover{% endblock %}

{% block header_filters %}
{% if home.filters|length %}
<ul class="dropdown-menu dropdown-filters dropdown-filters-{{ app.request.get('home') }}">
  <li class="nav-header">{{ home.name|replace({'v3-cine': 'cinéma'})|upper }} <i class="icon-chevron-right"></i></li>
  {% for f in home.filters %}
  <li><a href="{{ path('any_url', {url: f.url|slice(1, f.url|length-1)}) }}" target="_top">{{ f.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<div id="view-home">
  {% for slider in home.sliders if slider.id is defined %}
    {% if loop.first %}
      <div class="absolute">
        <h1>{{ ('page.h1.home.' ~ home.name)|trans }}</h1>
        {% if keywords is defined %}<p class="lead">{{ keywords }}</p>{% endif %}
      </div>
      {% include 'SkreenHouseFactoryV3Bundle:Main:_carousel.html.twig' with {slider: slider, force_size: '/1250/370'} %}
      {% if app.request.get('home') == 'cinema' %}
      <div class="container well well-small playlist">
      {% include 'SkreenHouseFactoryV3Bundle:Cinema:_theaters-playlist.html.twig' with {slider: {}} %}
      </div>
      {% endif %}
    {% else %}
      {% if loop.index == 2 %}<div class="container">{% else %}<hr/>{% endif %}
      <a name="{{ slider.name }}"></a>
      {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider } %}
    {% endif %}
  {% endfor %}
  </div>
  {% if home.name == 'mixte' %}
  <br/>
  <div id="sitemap" class="container">
    <hr/>
    <h2>mySkreen est un guide de programmes innovant qui réunit sur un seul site toutes les chaînes de télévision, tout le replay, tous les catalogues de VOD, le cinéma avec les horaires et les salles, et les web séries produites par les meilleurs sites médias. Suivez les programmes que vous aimez et soyez avertis à chaque diffusion ou nouvelle offre en streaming. Grâce à mySkreen, reprenez le pouvoir : mySkreen c’est votre télé à la carte et à la demande.</h2>
    <strong class="pull-left">Par média :&nbsp;&nbsp;&nbsp;</strong>
    <h3><a href="/programme-tv">Tv & Replay</a></h3>
    <h3><a href="/video-a-la-demande">Vidéo à la demande</a></h3>
    <h3><a href="/cinema">Cinéma</a></h3>
    <div class="clear"></div>
    <strong class="pull-left">Par type de programme :&nbsp;&nbsp;&nbsp;</strong>
    <h3><a href="/film/liste">Films</a></h3>
    <h3><a href="/telefilm">Téléfilms</a></h3>
    <h3><a href="/documentaire/liste">Documentaires</a></h3>
    <h3><a href="/serie/liste">Séries</a></h3>
    <h3><a href="/emission/liste">Emission</a></h3>
    <h3><a href="/journal">Journaux</a></h3>
    <h3><a href="/court-metrage">Court-métrages</a></h3>
    <h3><a href="/theatre">Pièces de théatre</a></h3>
    <h3><a href="/concert">Concerts</a></h3>
    <h3><a href="/clip">Clips musicaux</a></h3>
    <h3><a href="/spectacle">Spectacles</a></h3>
    <h3><a href="/jeunesse">Jeunesse</a></h3>
    <h3><a href="/dessin-anime-et-manga">Dessin-animés et mangas</a></h3>
    <h3><a href="/webserie">Web-séries</a></h3>
    <div class="clear"></div>
    <strong class="pull-left">Par diffuseur :&nbsp;&nbsp;&nbsp;</strong>
    <h3><a href="{{ path('sitemap_channels', {type: 'broadcast'}) }}">Chaînes TV & Replay</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'vod'}) }}">Chaînes Vidéo à la demande</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'webcast'}) }}">Chaînes Web</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'thematique'}) }}">Chaînes thématiques</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'cinema'}) }}">Salles de cinéma</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'dvd'}) }}">Dvd et Blu-ray</a></h3>
  </div>
  {% endif %}
</div>

{% endblock %}

{% block pagescripts %}
{#% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/home.js'

    filter='?yui_js' 
    output='js/compiled/pages/home.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %#}
{% endblock %}