<div class="col-xs-8 suggester" >
  <div class="suggestion"><div><span>{% if slider.url is defined %} <a href="{{ path('any_url', {url: slider.url[1:slider.url|length-1]}) }}">{% endif %} {{ slider.title|striptags }}{% if slider.url is defined %} </a> {% endif %}</span> 
  <!--	<button type="button" class="btn btn-primary btn-xs">voir +</button> -->
  </div> </div>
  <div id="carousel-{{loop_index}}"  data-interval="false" class="carousel slide new-slider">
    <!-- Carousel INNER -->
    {% if slider.programs is defined %}
    <div class="carousel-inner">
    {% set pages = slider.programs|to_array|slice(0, 24)|prepare_for_slider(6) %}
    {% for page in pages %}
      <div class="item{{ loop.index == 1 ? ' ' ~ 'active' : '' }}">
      {% for program in page|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:Slider:_program.html.twig' with {p: program }%}
      {% endfor %}
      </div>
    {% endfor %}
  	</div>
    {% endif %}     
    <ul class="wrap-carousel-control">
      {% if pages|length > 1 %}
      <li>
        <a class="right carousel-control" href="#carousel-{{loop_index}}" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
      <li>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% if pages|length %}
            {% for i in 0..pages|length %}
            <li data-target="#carousel-{{loop_index}}" data-slide-to="{{i}}" {% if i == 0 %}class="active"{% endif %}></li>
            {% endfor %}
          {% endif %}
        </ol>   
      </li>
      <li>
      <a class="left carousel-control" href="#carousel-{{loop_index}}" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </li>
        {% endif %}
        
    </ul>
  </div>
</div>