{% set url %}{{ item.url is defined and item.url ? item.url : item.seo_url }}{% endset %}
{% set title %}{{ item.title is defined and item.title ? item.title : item.name }}{% endset %}
{% set picture %}{{ item.picture is defined and item.picture ? item.picture : item.channel.cover_small }}{% endset %}

<a href="{{ path('any_url', {url: url|slice(1, url|length-1)}) }}" class="channel_link">
  <span class="channel_texte">{{ title }}</span>
  <img alt="{{ title }}" data-track-channel="{{ title }}" class="channel_root" src="{{ picture }}">
</a> 