{# définition de variable incrémentée#}
{% set custom_l = 0 %}
{% set custom_ltest = 0 %}
{% set page = 0 %}
{% set item_loop = 0 %} 
{% for item in live | to_array %} 
  {% if item.live is defined and item.live %}
    {% set custom_ltest = custom_ltest + 1 %}
  {% else %}
    {% set custom_ltest = custom_ltest + 1 %}
  {% endif %}
{% endfor %}
{% set page = (custom_ltest / 7)|round_up %}

<h2>
  {% if link is defined and link %}
    <a href="{{ link|slice(0,1) == '/' ? link : path(link) }}">{{ name }}</a>
  {% else %}
    {{ name }}
  {% endif %}
</h2>

<div id="channel_prog-list{{ list_number }}" class="carousel slide vertical" data-interval="false">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      {% for item in live | to_array %}
        {% if item.popular_channel is defined %}
          {% set popular_channel = item.popular_channel %}
        {% elseif fournisseur is defined %}
          {% set popular_channel = fournisseur %}
        {% endif %}
        {# évite les répétitions des items #}
        {% if custom_l is divisibleby(7)  and custom_l != 0 and custom_l != item_loop %}
          {% set item_loop = custom_l %}
          </div>
          <div class="item">
        {% endif %}
        {% if origin == 'hometop' %}
          {% for offer in item.live|to_array if item.live is defined and item.live %}
            {% set custom_l = custom_l + 1 %}

            <a href="{{ path('any_url', {url: offer.program.url|slice(1, offer.program.url|length-1)}) }}">
              <div class="channel-program">
                <div class="icon_chaine"> 
                  <img src="{{ item.channel.img | replace({50:36}) }}" alt="regarder {{ item.channel.name }} en replay">
                </div>
                <div class="desc_chaine">
                  <div>
                    <h3>{{ offer.program.title }}</h3>
                    <span><b>{{ offer.broadcasttime | date("H:i") }}</b>  {{ offer.program.format ? " - "~offer.program.format.name : "" }}</span>
                  </div>
                </div>
              </div>
            </a>
            <div class="hr-like"></div>
          {% endfor %}
        {% elseif popular_channel is defined and popular_channel %}
          {% set custom_l = custom_l + 1 %}
          {% if origin == 'fournisseur_replay' %}
            {% if item.deporte is defined and item.deporte %}
              <a data-play-iframe="{{ item.best_offer.id }}" data-player-elmt=".default-player">
            {% else %}
              <a data-redirect="{{ item.best_offer.url|replace({'/exit' : '/redirect'}) }}">
            {% endif %}
          {% else %}
            <a href="{{ path('any_url', {url: item.url|slice(1, item.url|length-1)}) }}">
          {% endif %}
              <div class="channel-program">
                <div class="icon_chaine"> 
                  <img src="{{ popular_channel.img | replace({45:36}) }}" alt="regarder {{ popular_channel.name }} en replay">
                </div>
                <div class="desc_chaine">
                  <div>
                    <h3>{{ item.title }}</h3>
                    <span>
                      {% if item.best_offer is defined and item.best_offer and item.best_offer.broadcasttime is defined %}
                        {{ origin == 'fournisseur_avenir' ? ('<b>' ~ item.best_offer.broadcasttime | date("H:i") ~ '</b>')|raw : '' }}
                        {{ origin == 'fournisseur_replay' ? item.best_offer.broadcasttime | localizeddate("medium","none",app.request.locale,"Europe/Paris","H:mm EEEE") : (item.format ? ' ' ~ item.format.name : " Émission") }}
                      {% else %}
                         {{ item.format ? ' ' ~ item.format.name : " Émission" }}
                      {% endif %}
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <div class="hr-like"></div>
        {% elseif origin == 'ChannelMyskreener' %}
          {% set custom_l = custom_l + 1 %}
          <a href="{{ path('any_url', {url: item.program.seo_url|slice(1, item.program.seo_url|length-1)}) }}">
            <div class="channel-program">
              <div class="icon_chaine"> 
                <img src="{{ item.channel_ico }}" alt="regarder {{ item.title }}">
              </div>
              <div class="desc_chaine">
                <div>
                  <h3>{{ item.title|wordCut(20,'...') }}</h3>
                  <span>{{ item.title_episode }}</span>
                  <span>{{ item.subtitle|raw }}</span>
                </div>
              </div>
            </div>
          </a>
          <div class="hr-like"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% if custom_l > 7 %}
  <div class="controlersbtn">
    <a  href="#channel_prog-list{{ list_number }}" data-slide="prev">
      <button type="button" class="btn btn-default fleches">  
        <span class="glyphicon glyphicon-chevron-up"></span>
      </button>
    </a>
    <a href="#channel_prog-list{{ list_number }}" data-slide="next">
     <button type="button" class="btn btn-default fleches">  
       <span class="glyphicon glyphicon-chevron-down"></span>
     </button>
   </a>
  </div>
{% else %}
  <div class="controlersbtn"></div>
{% endif %}
{% if name_link is defined and link is defined and name_link and link %}
  <a href="{{ link|slice(0,1) == '/' ? link : path(link) }}" class="undernot">
    <button type="button" class="btn btn-default btn-grille">{{ name_link }}</button>
  </a>
{% endif %}