{% set custom_loop = 0 %}

{% if loop_index == 1 %}
{% set value1 = 0 %}
{% set value2 = 4 %}
{% set value3 = 1 %}
{% elseif loop_index == 2 %}
{% set value1 = 0 %}
{% set value2 = 4 %}
{% set value3 = 1 %}
{% elseif loop_index == 4 %}
{% set value1 = 0 %}
{% set value2 = 4 %}
{% set value3 = 1 %}
{% elseif loop_index == 5 %}
{% set value1 = 0 %}
{% set value2 = 4 %}
{% set value3 = 1 %}
{% endif %}


	<div class="col-lg-6 " >
    <div class="suggestion"><div><span> {{ slider.title }}</span> 
      <!--	<button type="button" class="btn btn-primary btn-xs">voir +</button> -->
      </div> </div>
      <div id="carousel-{{loop_index}}"  data-interval="false" class="carousel slide new-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-{{loop_index}}" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-{{loop_index}}" data-slide-to="1"></li>
          <li data-target="#carousel-{{loop_index}}" data-slide-to="2"></li>
        </ol>        
        <!-- Carousel INNER -->
        {% if slider.programs is defined %}
          <div class="carousel-inner">
          <div class="item active">
        {% for program in slider.programs | to_array %}
         {% if (custom_loop is divisibleby(6))%}
           {% if program.maxsize.width|number_format > 270 and program.maxsize.height|number_format > 380 %}
             {% if custom_loop != 0 %}
                </div>
                <div class="item">
             {% endif %}
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_program.html.twig' with {p: program, loop_index: custom_loop, n_carousel: loop_index}%}
            {% if (custom_loop == value1 )%}
              {% set custom_loop = custom_loop + value2 %}
            {% else %}
              {% set custom_loop = custom_loop + value3 %}
            {% endif %}
           {% endif %}
         {% else %}
          {% include 'SkreenHouseFactoryV3Bundle:Slider:_program.html.twig' with {p: program, loop_index: custom_loop,
          n_carousel: loop_index} %}
          {% if (custom_loop == value1 )%}
            {% set custom_loop = custom_loop + value2 %}
          {% else %}
            {% set custom_loop = custom_loop + value3 %}
          {% endif %}
         {% endif %} 
        
        {% endfor %}
        </div>
      </div>
        {% endif %}
        <div class="wrap-carousel-control">
          <a class="left carousel-control" href="#carousel-{{loop_index}}" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-{{loop_index}}" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
     </div>
}
