<div class="col-xs-8 suggester">
  <div class="suggestion"><{{h_title is defined ? h_title : "h3"}}>{% if slider.url is defined %} <a href="{{ path('any_url', {url: slider.url[1:slider.url|length-1]}) }}">{% endif %} {{ slider.name is defined and slider.name ? slider.name|striptags : slider.title|striptags }}
  {% if slider.is_promo is defined and slider.is_promo %}
    <span class="label label-warning">
      Publicité
    </span>
  {% endif %}
    {% if slider.url is defined %} </a> {% endif %}</{{h_title is defined ? h_title : "h3"}}>
    {#	<button type="button" class="btn btn-primary btn-xs">voir +</button> #}
  </div>
  <div id="carousel-{{ loop_index }}"  data-interval="false" class="carousel slide new-slider"{% if slider.api_url is defined %} data-api-url="{{ slider.api_url }}"{% endif %}>
    {# Carousel INNER #}
    {% if slider.programs is defined %}
    <div class="carousel-inner">
      {% set pages = slider.programs|to_array|slice(0, 24)|prepare_for_slider(6, slider.count is defined ? slider.count : 0, 0, slider_combinaisons is defined ? slider_combinaisons : '') %}
      {% for page in pages %}
      <div class="item{{ loop.index == 1 ? ' active' : '' }}">
        {% if slider.api_url is not defined or slider.count is not defined or loop.index == 1 %}
          {% for program in page|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:Slider:_program.html.twig' with {p: program }%}
          {% endfor %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}     
    <ul class="wrap-carousel-control">
      {% if pages|length > 1 %}
      <li>
        <a class="right carousel-control" href="#carousel-{{loop_index}}" data-slide="next">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
      </li>
      <li>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% if pages|length %}
            {% for i in 0..(pages|length-1) %}
            <li data-target="#carousel-{{loop_index}}" data-slide-to="{{i}}" {% if i == 0 %}class="active"{% endif %}></li>
            {% endfor %}
          {% endif %}
        </ol>   
      </li>
      <li>
        <a class="left carousel-control" href="#carousel-{{loop_index}}" data-slide="prev">
          <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% if slider.id is defined and slider.id in [4586427, 3772205] %}
    <a class="btn btn-default btn-slider" href="{{ path('tvgrid') }}">Voir la grille complète</a>
    {% else %}
    {% if slider.url is defined %}<a class="btn btn-default btn-slider" 
    href="{% if slider.fichier is defined %}{{slider.fichier}}{% else %}{{ path('any_url', {url: slider.url[1:slider.url|length-1]}) }}{% endif %}"> {% if slider.contenu_rss is defined %}{{ slider.contenu_rss }} {% else %}En voir plus...{% endif %}</a>{% endif %}
    {% endif %}
  </div>
</div>