{% set custom_loop = 0 %}
	<div class="col-lg-6 " >
    <div class="suggestion"><div><span> {{ slider.title }}</span> 
      <!--	<button type="button" class="btn btn-primary btn-xs">voir +</button> -->
      </div> </div>
      <div id="carousel-{{loop_index}}"  data-interval="false" class="carousel slide new-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-{{loop_index}}" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-{{loop_index}}" data-slide-to="1"></li>
          <li data-target="#carousel-{{loop_index}}" data-slide-to="2"></li>
        </ol>        
        <!-- Carousel INNER -->
        {% if slider.programs is defined %}
          <div class="carousel-inner">
          <div class="item active">
        {% for program in slider.programs | to_array %}
         {% if (custom_loop is divisibleby(3))%}
           {% if program.maxsize.width|number_format > 270 and program.maxsize.height|number_format > 380 %}
             {% if custom_loop != 0 %}
                </div>
                <div class="item">
             {% endif %}
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_program.html.twig' with {p: program, loop_index: custom_loop } %}
            {% set custom_loop = custom_loop + 1 %}
           {% endif %}
         {% else %}
          {% include 'SkreenHouseFactoryV3Bundle:Slider:_program.html.twig' with {p: program, loop_index: custom_loop } %}
          {% set custom_loop = custom_loop + 1 %}
         {% endif %} 
        
        {% endfor %}
        </div>
      </div>
        {% endif %}
        <div class="wrap-carousel-control">
          <a class="left carousel-control" href="#carousel-{{loop_index}}" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-{{loop_index}}" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>
     </div>
