      <div id="channel_prog-list" class="carousel slide vertical" data-interval="false">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            {% for item in live | to_array %}
            {% if loop.index is divisibleby(6) %}
          </div>
          <div class="item">
            {% endif %}
            {% for offer in item.live|to_array %}
            <a href="{{offer.program.url}}">
              <div class="channel-program">
               <div class="icon_chaine"> 
                 <img src="{{ item.channel.img | replace({50:36}) }}" alt="regarder {{ item.channel.name }} en replay">
               </div>
               <h3>{{ offer.program.title }}</h3>
               <span><b>{{ offer.broadcasttime | date("H:i") }}</b>  {{ offer.program.format ? " - "~offer.program.format.name : "" }}</span>
             </div>
           </a>
           {% if loop.last is not null %}
           <div class="hr-like"></div>
           {% endif %}
           {% endfor %}
           {% endfor %}
         </div>
       </div>
     </div>