{% include 'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {data: data, fav: 'person', trigger_fav: 'Suivre ' ~ data.name} %}
<div id="view-person" data-id="{{ data.id }}" class="container">
  <h2>Sa filmographie{% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}</h3>

  <p class="description">{{ data.description|raw }}</p>

  {% if data.programs|length == 30 or app.request.get('page') > 1 %}
  <ul class="pager">
    {% if app.request.get('page') > 2 %}
    <li class="previous">
      <a href="{{ path('person_page', {type: app.request.get('type'), id: app.request.get('id'), slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 précédents</a>
    </li>
    {% elseif app.request.get('page') == 2 %}
    <li class="previous">
      <a href="{{ path('person', {type: app.request.get('type'), id: app.request.get('id'), slug: app.request.get('slug')}) }}">&larr; 30 précédents</a>
    </li>
    {% endif %}
    <li class="next">
      <a href="{{ path('person_page', {type: app.request.get('type'), id: app.request.get('id'), slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">30 suivants &rarr;</a>
    </li>
  </ul>
  {% endif %}

  <div id="person-programs" class="slider slider-list">
    <ul class="items">
    {% for program in data.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>

  {% if data.tweets is defined %}
  <h4>{{ data.name }} sur Twitter</h4>
  {% include 'SkreenHouseFactoryV3Bundle:Main:_tweets.html.twig' with {tweets: data.tweets } %}
  {% endif %}
  </div>
</div>