{% include 'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {data: data, fav: 'user'} %}

<div class="container">

  {# TODO : PUBLISH PLAYLISTS
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin:20px;">
    <a href="#" class="btn btn-primary" data-placement="bottom" data-title="{{ 'playlist.publish.private.popover.title'|trans }}" data-content="{{ 'playlist.publish.private.popover.content'|trans }}" data-trigger="hover">{{ 'playlist.publish.private.link'|trans }}</a>
    <a href="#" class="btn" data-placement="bottom" data-title="{{ 'playlist.publish.public.popover.title'|trans }}" data-content="{{ 'playlist.publish.public.popover.content'|trans }}" data-trigger="hover">{{ 'playlist.publish.public.link'|trans }}</a>
  </div>
  #}

  <h1>Ses playlists</h1>
  <ul class="nav nav-pills nav-alpha-client uppercase">
    <li{% if app.request.get('onglet') is null %} class="active"{% endif %}>
      <a href="{{ path('user_programs', {onglet: null}) }}">{{ 'nav.all'|trans }}</a>
    </li>
  </ul>

  <div id="user-programs" class="slider slider-list">
    <ul class="items">
    {% for p in data.programs %}
      {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {'p': p, 'header': '<span class="fav fav-on fav-trash badge badge-important"><i class="icon-trash icon-white"></i></span>'} %}
    {% endfor %}
    </ul>
  </div>
</div>