<div id="view-channel-replay">

  {% if channel.live and channel.live.program  %}
  <div class="well" style="min-height:220px;">
    <h3>En Direct <small>de {{ channel.live.program.best_offer.broadcast_begin|date('H:i') }} à {{ channel.live.program.best_offer.broadcast_end|date('H:i') }}</small></h3>
    <table>
      <tr><td style="padding-right: 30px;">
    <img src="{{ channel.live.program.picture }}" alt="{{ channel.live.program.title }} en direct sur {{ channel.name }}">
  </td>
  <td class="actions" data-id="{{ channel.live.program.id }}">
    <h4>{{ channel.live.program.title }}</h4>
    <p>{{ channel.live.program.description }}</p>
    {% if channel.live.program.best_offer.has_replay %}
    <p class="alert alert-success">Ce programme sera bientôt disponible en Replay. Cliquez sur suivre pour être averti dès qu'il sera disponible.</p>
    {% endif %}
    <a class="fav fav-like btn btn-primary" data-placement="right"><i class="icon-plus-sign icon-white"></i> Suivre</a>
    &nbsp;
    <a href="{{ channel.live.program.seo_url }}" class="btn">Tout sur ce programme</a>
  </td>
</tr>
</table>
  </div>
  {% endif %}

  {#
  <div style="margin:0 200px;">
  {% set slider = {title: channel.name, programs: [channel.live.program, channel.next_live.program]} %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_carousel.html.twig' with {slider: slider} %}
  </div>
  #}

  {#% if channel.live %}
  <div id="lives" class="well">

    <div class="relatedlive" id="prevlive">
    {% if channel.prev_live %}
    <h5><small>Juste avant - {{ channel.prev_live.broadcast.broadcast_begin|date('H:i') }}</small><br/>{{ channel.prev_live.program.title }}</h5>
    <img src="{{ channel.prev_live.program.picture }}" width="250" />
    {% endif %}
    </div>

    {% if channel.live and channel.live.program is defined %}
    <div id="live" style="background-image:url({{ channel.live.program.picture }});">
    <h2><small>En ce moment - {{ channel.live.broadcast.broadcast_begin|date('H:i') }}</small><br/>{{ channel.live.program.title }}</h2>
    {% if channel.live.player is defined %}
      <a class="btn btn-large btn-primary link-v2" href="{{ channel.live.program.seo_url }}" title="{{ channel.name }} direct" disabled-data-couchmode="{{ {'type': 'channel', 'id': channel.id}|json_encode }}"><i class="icon-play icon-white"></i> &nbsp; {{ 'channel.live'|trans }}</a>
    {% elseif channel.live.url is defined %}
      <a class="btn btn-large btn-primary" target="_blank" href="{{ path('player_exit_with_infos', {type: 'live', name: channel.name, title: channel.live.program.title, url: channel.live.url|url_encode }) }}" title="{{ channel.name }} direct"><i class="icon-share icon-white"></i> &nbsp; {{ 'channel.live'|trans }}</a>
    {% endif %}
    {% else %}
    <div id="live">
    <p class="alert">Pas de direct</p>
    {% endif %}
    </div>

    <div class="relatedlive" id="nextlive">
    {% if channel.next_live %}
    <h5><small>à venir - {{ channel.next_live.broadcast.broadcast_begin|date('H:i') }}</small><br/>{{ channel.next_live.program.title }}</h5>
    <img src="{{ channel.next_live.program.picture }}" width="250" />
    {% endif %}
    </div>
  
  </div>
  {% endif %#}
  
  {% if channel.programs_replay|length or channel.programs_epg|length %}
  <br/>
  <h2>TV & Replay</h2>
  
  {#<div data-channel-id="{{ channel.id }}" id="access" class="btn-group" data-toggle="buttons-radio" style="z-index: 10;">
    <button data-access="" type="button" class="trigger-channel btn btn-info active">Tout</button>
    <button data-access="deporte" type="button" class="trigger-channel btn">Sur mySkreen</button>
    <button data-access="ios" type="button" class="trigger-channel btn">Sur iOS</button>
  </div>#}
  <div data-channel-id="{{ channel.id }}" id="onglet" class="pull-right btn-group" data-toggle="buttons-radio">
    <button data-onglet="" type="button" class="trigger-channel btn btn-info active">Tout</button>
    <button data-onglet="films" type="button" class="trigger-channel btn">Films</button>
    <button data-onglet="emissions" type="button" class="trigger-channel btn">Emissions</button>
    <button data-onglet="series" type="button" class="trigger-channel btn">Séries</button>
    <button data-onglet="documentaires" type="button" class="trigger-channel btn">Documentaires</button>
    <button data-onglet="sports" type="button" class="trigger-channel btn">Sports</button>
    <button data-onglet="spectacles" type="button" class="trigger-channel btn">Spectacles</button>
  </div>

  <select data-channel-id="{{ channel.id }}" id="date" class="trigger-channel-date">
    <option>Quand ?</option>
    <option data-show="replay">Plus d'une semaine</option>
    <option data-show="replay">La semaine dernière</option>
    <option data-show="replay">Hier</option>
    <option data-show="epg">Aujourd'hui</option>
    <option data-show="epg">Demain</option>
    <option data-show="epg">Cette semaine</option>
    <option data-show="epg">Au delà</option>
  </select>
  {% endif %}
  
  {% if channel.has_replay and channel.programs_replay|length %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {title: 'channel.replay'|trans({'%website%': channel.has_replay}), 
                                                                                programs: channel.programs_replay, 
                                                                                id: 'channel-replay', 
                                                                                url: '/recommend/from_channel/' ~ channel.id ~ '.json?with_method=epg&date=Replay'}} %}
  {% endif %}
  
  {% if channel.epg and channel.programs_epg|length %}
  {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {title: 'channel.epg'|trans({'%name%': channel.name}), 
                                                                                programs: channel.programs_epg, 
                                                                                id: 'channel-epg', 
                                                                                url: '/recommend/from_channel/' ~ channel.id ~ '.json?with_method=epg&date=Epg'}} %}
  {% endif %}

  <br/>
  <hr/>
  <br/>
</div>
