{% set counts = data|pagination(page,30) %}
{#{{ dump(counts) }}#}
<ul class="pagination">
  {% for keys,count in counts %}
    {% if app.request.get('format') %}
      {% if app.request.get('facet') %}
        {% set url = path('channel_format_facet_page', {slug: app.request.get('slug'), page: keys, format: app.request.get('format'), facet: app.request.get('facet') }) %}
      {% else %}
        {% set url = path('channel_format_page', {slug: app.request.get('slug'), page: keys, format: app.request.get('format') }) %}
      {% endif %}
    {% else %}
      {% set url = path('channel_page', {slug: app.request.get('slug'), page: keys }) %}
    {% endif %}
    <li{% if keys == page %} class="active"{% endif %}>
    {% if count is null %}
    	{% if force_replace is not defined %}
            <a href="{{ url }}">...</a>
        {% else %}
            <span data-link-to-replace="{{ url|rot13 }}">...</span>
        {% endif %}
    {% elseif count and force_replace is not defined %}
        <a href="{{ url }}">{{ keys }}</a>
    {% else %}
        <span data-link-to-replace="{{ url|rot13 }}">{{ keys }}</span>
    {% endif %}
    </li>
  {% endfor %}
</ul>