{% extends "SkreenHouseFactoryV3Bundle:Channel:_base-channel.html.twig" %}

{% block customcontent %}

  {% if channel.fournisseur is defined and channel.fournisseur.type in  ['broadcast'] %}
    {% include 'SkreenHouseFactoryV3Bundle:Channel:_header-fournisseur.html.twig' with {channel: channel, sliders: sliders, fournisseur: fournisseur, slug: app.request.get('slug')} %}
  {% else %}
    {% include  'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {data: fournisseur, fav: 'page', trigger_fav: channel.personne is defined ? 'Suivre ' ~ fournisseur.name : '', skip_content: true} %}
  {% endif %}

  <div class="packfournisseur clear">
    <div id="view-fournisseur" data-id="{{ fournisseur.id }}" class="container{% if app.request.get('page') is null and app.request.get('facet') is null and app.request.get('access') is null and app.request.get('format') is null %} container-seo-placement{% endif %}">
      <div class="description-seo description-seo-absolute">
        {% if app.request.get('page') is null and app.request.get('facet') is null and app.request.get('access') is null and app.request.get('format') is null  %}
          <div class="scroll well">
            <h1>{{ fournisseur.name }}, tout le Replay</h1>
            {{ channel.fournisseur.description is defined ? channel.fournisseur.description|raw : (fournisseur.description is defined ? fournisseur.description|raw : '') }}
          </div>
        {% endif %}
      </div>
      {% if channel.fournisseur is not defined or channel.fournisseur.type not in ['broadcast'] %}
        <div class="row ms-channelbiglogo" >
          <div class="col-xs-16">
            {% include 'SkreenHouseFactoryV3Bundle:Channel:_breadcrumb-fournisseur.html.twig' with {channel: fournisseur, skip_root: true} %}
          </div>
        </div>
      {% endif %}

      {# sliders #}
      {% if sliders|to_array|length %}
        <div class="row">
          <div class="col-xs-16">
            {% for slider in sliders|to_array|slice(2, 10) if slider.id is defined %}
              <a name="{{ slider.name }}"></a>
              {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: slider, loop_index: loop.index+1} %}
            {% endfor %}
          </div>
        </div>
        <hr/>
        <br/>
      {% endif %}
      {# fournisseur #}
      {% if sliders|to_array|length and
            app.request.get('page') is null and 
            app.request.get('format') is null and 
            app.request.get('facet') is null %}
        <h2>
          {{ fournisseur.name }}, TV & Replay 
          {% if app.request.get('page') %} <small> - page {{ app.request.get('page') }}</small>{% endif %}
        </h2>
      {% endif %}
      {% include 'SkreenHouseFactoryV3Bundle:Channel:_pager.html.twig' with {data: fournisseur} %}
      <div class="facets" style="height: 40px;">
        {% if app.request.get('format') %}
          {% for k,s in fournisseur.subcategories if k %}
            <span data-link-to-replace="{{ path('channel_format_facet', {format: app.request.get('format'), slug: app.request.get('slug'), facet: k})|rot13 }}" class="label label-default {% if app.request.get('facet') == s %} label-info"{% endif %}">{{ s }}</span> 
          {% endfor %}
        {% else %}
          {% for k,f in fournisseur.formats if k|length %}
            <span data-link-to-replace="{{ path('channel_format', {format: k, slug: app.request.get('slug')})|rot13 }}" class="label{% if app.request.get('facet') == f %} label-info"{% endif %} label-default">{{ f }}</span> 
          {% endfor %}
        {% endif %}
      </div>
      <hr/>
      <div id="channel-programs" class="slider slider-list">
        <ul class="items">
          {% for program in fournisseur.programs|to_array %}
            {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program, theater_id: fournisseur.type == 'cinema' ? fournisseur.id : '' } %}
          {% endfor %}
        </ul>
      </div>
      {% include 'SkreenHouseFactoryV3Bundle:Channel:_pager.html.twig' with {data: fournisseur} %}
    </div>
  </div>
{% endblock %}