{% set tnt_channels = ['TF1','FRANCE 2','FRANCE 3','CANAL','FRANCE 4','FRANCE 5','FRANCE Ô','ARTE','M6','D8','D17','W9','TMC','NT1','NRJ 12','FRANCE 24','BFM TV','BFM Business','iTélé','Public Sénat','HD1','6Ter','numéro 23','DISNEY CHANNEL','Gulli','RMC découverte','cherie 25','KTO'] %}
<div id="cover" class="cover-fournisseur">
  <div class="header-container">
    <div class="container">
      <div class="row fournisseurtop">
        <div class="col-xs-4">
          <div class="prog-list">
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: fournisseur.programs_replay, name: 'Les Derniers replays', link: '', name_link: '', origin: 'fournisseur_replay', list_number: '1' } %}
          </div>
        </div>
        <div class="col-xs-8">
          <h1 data-channel="{{ channel.name }}" data-channel-slug="{{ slug }}">
            {{ channel.name }} : le Direct
          </h1>
          <div>
            <div data-autoplay="1">
              {% if fournisseur.live.player is defined %}
                <iframe class="player-live" frameborder="0" scrolling="no" src="{{ fournisseur.live.player }}"></iframe>
              {% elseif fournisseur.live.url is defined %}
                <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&play=28370043&program_id={{ fournisseur.live.program is defined and fournisseur.live.program ? fournisseur.live.program.id : '' }}&fromWebsite=1{{ app.environment == 'dev' ? '&env=dev' : '' }}" class="player-live" scrolling="no" frameborder="0" style="height:200px"></iframe>
                <p class="alert"><a class="btn btn-default player-stop" data-redirect="{{ fournisseur.live.url }}"><i class="glyphicon glyphicon-play"></i> Voir le direct sur le site de {{ fournisseur.name }}</a></p>
              {% else %}
                <br/>
                <br/>
                <p class="alert alert-warning">Le direct n'est pas disponible.</p>
              {% endif %}
            </div>
            {% if fournisseur.live.program is defined and fournisseur.live.program  %}
              <div class="row">
                <div class="col-xs-11">
                  <p>En ce moment sur {{ channel.name }} :</p>
                  <p><a href="{{ fournisseur.live.program.seo_url }}">{{ fournisseur.live.program.title }}</a></p>
                </div>
                <div class="col-xs-5">
                  <a data-id="{{ fournisseur.live.program.id }}" class="btn btn-suivre fav-like btn-plus">S'abonner</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-xs-4">
          <div class="prog-list">
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: fournisseur.programs_epg, name: 'À venir', link: '', name_link: '', origin: 'fournisseur_avenir', list_number: '2' } %}
          </div>
        </div>
      </div>
      <div id="carousel-chaine" class="row chaines-listing clearfix">
        <div class="clearfix item active">
          {% for c in tnt_channels %}
            {% set slug = c|lower|replace({ ' +': '', ' ': '-', 'é': 'e', 'à': 'a', 'ô': 'o', 'î': 'i', "\'": '-'})|raw %}
            <a class="logo_chaine" href="{{ path('channel', {slug: slug}) }}" data-toggle="tooltip" data-placement="{{ loop.index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14] ?'top':'bottom' }}" data-original-title="{{c|upper}}" data-channel-slug="{{slug}}" href="{{ path('channel', {slug: slug}) }}">
              <img src="http://mskstatic.com/35/medias/ico/chaines/{{ slug }}_medium.png" alt="{{ c }} Replay">
            </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>