<div id="cover">
  <div id="pblv" class="header-container">
    <div class="header-content">
    <h1 data-channel="{{ channel.title }}"><a href="{{ path('channel', {slug: channel.slug }) }}">{{ channel.title }}</a></h1>
      <div class="well">
        <div class="actions slider">
          <span class="text1">La série <strong>Plus Belle La Vie</strong> en streaming, <strong>une semaine avant la diffusion télé       !</strong></span><br><br>
        <span class="text2"><strong>Offre exceptionnelle</strong>: <strong>0,99€</strong> l'épisode ou <strong>3,99€</strong> le Pass Semaine.</span><br><br>
        <div><iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&play={{ program.id }}&height=240&width=520" height="240" width="520"></iframe></div>
        </div>
        <div id="countdown"></div>
        <p class="intro" id="note"></p><br>
      </div>
      <div class="pull-right actions" data-id="{{ channel.id }}" data-playlist="{{ fav }}">
        <a class="fav fav-{{ fav }} btn btn-large btn-primary" data-channel-name="{{ channel.title }}" data-placement="right"><i class="icon-plus-sign icon-white"></i> {{ trigger_fav is defined and trigger_fav ? trigger_fav : 'Suivre Plus Belle La Vie' }}</a>
      </div>
    </div>
  </div>
</div>
{% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/css/jquery.countdown/jquery.countdown.css'
      filter='less,?yui_css'
      output='css/countdown.css'
      %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}