{% set tnt_channels = ['TF1','FRANCE 2','FRANCE 3','CANAL +','FRANCE 4','FRANCE 5','FRANCE Ô','ARTE','M6','D8','D17','W9','TMC','NT1','NRJ 12','FRANCE 24','BFM TV','BFM Business','iTélé','Public Sénat'] %}
<style>
.well ul.breadcrumb {
  padding: 8px 15px 8px 0;
  margin: 0;
}
</style>
<div id="cover">
<div class="header-container">
  {% if fournisseur.live.program is defined and fournisseur.live.program  %}
  <div class="container" style="height: 450px; border-bottom: 1px solid #EEE;padding-top: 80px;">

  <ul style="height: 60px;margin: 0 0 0 15px;">
    {% for c in tnt_channels %}
    {% set slug = c|lower|replace({ ' +': '', ' ': '-', 'é': 'e', 'à': 'a', 'ô': 'o', 'î': 'i', '\'': '-'})|raw %}
    <li style="float:left;list-style:none;margin: 0 6px 5px 7px;"><a data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ c }}" href="{{ path('channel', {slug: slug}) }}"><img src="http://mskstatic.com/35/30/medias/ico/chaines/{{ slug }}_medium.png" alt="{{ c }} Replay"></a></li>
    {% endfor %}
  </ul>

    <div class="well" style="width: 600px;
position: absolute;
border: none;
box-shadow: none;
right: 0px;
margin: 0 20px;
height: 290px;
padding: 10px;">
  {#% include 'SkreenHouseFactoryV3Bundle:Channel:_breadcrumb-fournisseur.html.twig' with {channel: fournisseur} %#}
    <div style="
    position: absolute;
    left: 170px;
    width: 420px;
    height: 270px;
    background: rgba(0,0,0,0.9);
    text-align:center;">
    {% if fournisseur.live.player is defined %}
      <iframe class="player-live" frameborder="0" scrolling="no" src="{{ fournisseur.live.player }}"></iframe>
    {% elseif fournisseur.live.url is defined %}
      <br/>
      <br/>
      <p class="alert alert-info" style="margin:10px;">Le direct est disponible sur le site de {{ fournisseur.name }}.</p>
      <br/>
      <p><a data-redirect="{{ fournisseur.live.url }}" class="btn btn-large"><i class="icon-share"></i> Voir le direct</a></p>
    {% else %}
      <br/>
      <br/>
      <p class="alert" style="margin:10px;">Le direct n'est pas disponible.</p>
    {% endif %}
    </div>
    <div  style="width:160px" class="actions slider" data-id="{{ fournisseur.live.program.id }}">
      {#<small>{{ fournisseur.live.program.best_offer.broadcast_begin|date('H:i')|upper }} / {{ fournisseur.live.program.best_offer.broadcast_end|date('H:i')|upper }}</small>#}
      <ul class="items">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with { p: fournisseur.live.program, class: 'hover' } %}
      </ul>
      <a style="position: absolute;
top: 220px;
padding: 13px 40px;" class="fav fav-like btn btn-large btn-primary" data-placement="bottom"><i class="icon-plus-sign icon-white"></i> Suivre</a>
    </div>
  </div>
  </div>
  {% endif %}
</div>
</div>
