<div id="cover" class="cover28 {% if from_selection is defined and from_selection == true %}selection{% endif %}">
  <div id="channel28" class="header-container">
    <div class="header-content">
    <h1 data-channel="{{ channel.title }}"><a href="{{ path('channel', {slug: channel.slug }) }}">{{ channel.title }}</a></h1>
    <div class="info_saison"><strong>En Streaming une semaine <br>avant la diffusion télé! </strong></div>
      <div class="well">
        <div class="actions slider">
          
          <span class="text1"><strong>DERNIER EPISODE INEDIT:{{episode_name.title | split(' ') | last }}</strong></span><br>
        <span class="text2"><strong>0,99€</strong> l'épisode ou <strong>3,99€</strong> le Pass Semaine.</span><br>
        <div>
           <a href="/serie/drames/3517970-plus-belle-la-vie/?rent">
          <div class="bande">Voir la suite de cet épisode</div></a>
          <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&noPub=1&program_id={{ episode_id }}&height=260&width=520&channel_header=1" height="260" width="520"></iframe></div>
        </div>
        <div id="countdown"></div>
        <p class="intro" id="note"></p><br>
      </div>
      <div class="pull-right actions" data-id="{{ channel.id }}" data-playlist="{{ fav }}">
        <a class="btn btn-large btn-primary" data-placement="left" href="/serie/drames/3517970-plus-belle-la-vie/?rent">{{ trigger_fav is defined and trigger_fav ? trigger_fav : 'Souscrire au Pass Semaine' }}</a>
      </div>
    </div>
  </div>
</div>
{% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/css/jquery.countdown/jquery.countdown.css'
      filter='less,?yui_css'
      output='css/countdown.css'
      %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}