<div id="cover" class="cover-fournisseur{{ channel.cover is defined and channel.cover ? ' no-background' : '' }}">
  <div class="header-container">
    <div class="container">
      <div class="nopadding">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_adsense.html.twig' %}
      </div>

      {% include 'SkreenHouseFactoryV3Bundle:Main:_list_tnt_channels.html.twig' with {id: 'carousel-chaine'} %}
      
      <div class="row fournisseurtop">
        <div class="col-xs-8">
            {% if fournisseur.live.player is defined %}
              <div data-autoplay="1">
                <iframe class="player-live" frameborder="0" scrolling="no" src="{{ fournisseur.live.player }}"></iframe>
              </div>
            {% elseif fournisseur.live.url is defined %}
              <div class="iframe-container" data-autoplay="1">
                <iframe src="http://player.myskreen.com/ad/?program_id={{ fournisseur.live.program is defined and fournisseur.live.program ? fournisseur.live.program.id : '' }}&fromChannelLive" class="player-live" scrolling="no" frameborder="0" style="height:292px"></iframe>
              </div>
              {% set redirect = 1 %}
            {% else %}
              <div data-autoplay="1">
                <iframe src="http://player.myskreen.com/ad/?program_id={{ fournisseur.live.program is defined and fournisseur.live.program ? fournisseur.live.program.id : '' }}&fromChannelLive" class="player-live" scrolling="no" frameborder="0" style="height:292px"></iframe>
              </div>
              {% set indisponible = 1 %}
            {% endif %}
            <div class="player-encart clear">
              {% if fournisseur.live.program is defined and fournisseur.live.program  %}
                <div class="prog-title">
                <a class="btn btn-default btn-suivre btn-plus fav-program" data-id="' + program.id + '">Ajouter</a>
                <small>{{ fournisseur.live.program.format ? fournisseur.live.program.format.name~' - ' : '' }}{{ fournisseur.live.program.year }} {{ fournisseur.live.program.duration ? fournisseur.live.program.duration~'mn' : '' }}</small>
                <a href="{{ fournisseur.live.program.seo_url }}">{{ fournisseur.live.program.title }}</a>
                </div>
              {% endif %}
              {% if redirect is defined %}
                <div class="prog-actions"><a class="btn btn-default player-stop" data-redirect="{{ fournisseur.live.url }}"><i class="glyphicon glyphicon-play"></i> Voir le direct sur le site de {{ fournisseur.name }}</a></div>
              {% elseif indisponible is defined %}
                <div class="prog-actions">Le direct n'est pas disponible.</div>
              {% else %}
                <div class="prog-actions">En direct sur {{ channel.name }}</div>
              {% endif %}
            </div>
        </div>

        <a name="{{ sliders|slice(0, 1)|first.name }}"></a>
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: sliders|slice(0, 1)|first, loop_index: 0} %}

      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="prog-list">
            {% if fournisseur.programs_epg is defined and fournisseur.programs_epg %}
              {% set namefornamelinksoon = channel.name|wordCut(9,'...') %}
              {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: fournisseur.programs_epg, name: 'À venir', link: path('any_url', {url: channel.seo_url|slice(1, channel.seo_url|length-1) ~ 'bientot-en-replay/'}), name_link: 'Bientôt en Replay sur ' ~ namefornamelinksoon, origin: 'fournisseur_avenir', list_number: '2' } %}
            {% else %}
              <h2>À venir</h2>
              <p class="bs-callout bs-callout-info">Indisponible</p>
            {% endif %}
          </div>
        </div>
        <div class="col-xs-4">
          <div class="prog-list">
            {% if fournisseur.programs_replay is defined and fournisseur.programs_replay|to_array|length > 0 %}
              {% set namefornamelinklast = channel.name|wordCut(9,'...') %}
              {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: fournisseur.programs_replay, name: 'Derniers replays', link: path('any_url', {url: channel.seo_url|slice(1, channel.seo_url|length-1) ~ 'derniers-replay/'}), name_link: 'Tous les replays sur ' ~ namefornamelinklast, origin: 'fournisseur_replay', list_number: '1' } %}
            {% endif %}
          </div>
        </div>

        <a name="{{ sliders|slice(1, 1)|first.name }}"></a>
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: sliders|slice(1, 1)|first, loop_index: 0} %}

      </div>
    </div>
  </div>
</div>
