<div id="cover"{% if channel.cover %} style="background: url('{{ channel.cover }}') top center no-repeat;"{% endif %}>
<div class="header-container">
  <div class="header-content">
    <div class="pull-right actions" data-id="{{ data.id }}">
      <a class="fav fav-{{ fav }} btn btn-large btn-primary" data-channel-name="{{ channel.title }}" data-placement="left"><i class="icon-plus-sign icon-white"></i> {{ 'action.add.favorites_channel'|trans }}</a>
    </div>
    <h1><a href="{{ path('channel', {slug: channel.slug }) }}">{{ channel.title }}</a></h1>
    {% if channel.img is defined %}
    <a href="{{ path('channel', {slug: channel.slug }) }}"><img class="channel-logo pull-left" src="{{ channel.img }}" /></a>
    {%elseif data.img is defined %}
    <a href="{{ path('channel', {slug: channel.slug }) }}"><img class="channel-logo pull-left" src="{{ data.img }}" /></a>
    {% endif %}
    {% if channel.description %}
    <p class="lead channel-description">{{ channel.description }}</p>
    {% endif %}
  </div>
</div>
</div>