<style>
.well ul.breadcrumb {
  padding: 8px 15px 8px 0;
  margin: 0;
}
</style>
<div id="cover">
<div class="header-container">
  {% if fournisseur.live.program is defined and fournisseur.live.program  %}
  <div class="container" style="height: 450px;
border-bottom: 1px solid #EEE;">
    <div class="well" style="width: 600px;
position: absolute;
border: none;
box-shadow: none;
right: 0;
margin: 20px;
height: 330px;
padding: 10px;
top: 80px;">
  {% include 'SkreenHouseFactoryV3Bundle:Channel:_breadcrumb-fournisseur.html.twig' with {channel: fournisseur} %}
    <div style="
    position: absolute;
    left: 170px;
    width: 420px;
    height: 270px;
    background: rgba(0,0,0,0.9);
    text-align:center;">
    {% if fournisseur.live.player is defined %}
      <iframe class="player-live" frameborder="0" scrolling="no" src="{{ fournisseur.live.player }}"></iframe>
    {% elseif fournisseur.live.url is defined %}
      <br/>
      <br/>
      <p class="alert alert-info" style="margin:10px;">Le direct est disponible sur le site de {{ fournisseur.name }}.</p>
      <br/>
      <p><a href="{{ fournisseur.live.url }}" class="btn btn-large"><i class="icon-share"></i> Voir le direct</a></p>
    {% else %}
      <br/>
      <br/>
      <p class="alert alert-error" style="margin:10px;">Le direct n'est pas disponible.</p>
    {% endif %}
    </div>
    <div class="actions slider" data-id="{{ fournisseur.live.program.id }}">
      {#<small>{{ fournisseur.live.program.best_offer.broadcast_begin|date('H:i')|upper }} / {{ fournisseur.live.program.best_offer.broadcast_end|date('H:i')|upper }}</small>#}
      <ul class="items">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: fournisseur.live.program} %}
      </ul>
      <a style="position: absolute;
top: 220px;
padding: 13px 40px;" class="fav fav-like btn btn-large btn-primary" data-placement="bottom"><i class="icon-plus-sign icon-white"></i> Suivre</a>
    </div>
  </div>
  </div>
  {% endif %}
</div>
</div>
