<div id="cover">
  <div class="header-container">
    <div id="pblv" class="header-content">
    <h1 data-channel="{{ channel.title }}"><a href="{{ path('channel', {slug: channel.slug }) }}">{{ channel.title }}</a></h1>
      <div class="well">
        <div class="actions slider">La série <strong>Plus Belle La Vie en avance</strong> d'une semaine sur sa diffusion télé disponible sur mySkreen en streaming et en VOD.<br>
Offre exceptionnelle: <strong>0,99</strong> l'épisode ou <strong>3,99€</strong> le Pass hebdomadaire permettant d'accéder chaque jour à l'ensemble des épisodes inédits.
        </div>
        <div id="countdown"></div>
        <p class="intro" id="note"></p><br>
      </div>
      <div class="pull-right actions" data-id="{{ channel.id }}" data-playlist="{{ fav }}">
        <a class="fav fav-{{ fav }} btn btn-large btn-primary" data-channel-name="{{ channel.title }}" data-placement="right"><i class="icon-plus-sign icon-white"></i> {{ trigger_fav is defined and trigger_fav ? trigger_fav : 'Suivre Plus Belle La Vie' }}</a>
      </div>
    </div>
  </div>
</div>
{% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/jquery-ui/css/jquery.countdown/jquery.countdown.css'
      filter='less,?yui_css'
      output='css/countdown.css'
      %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}