{% extends "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% set format_trans = 'format.singulier.' ~ app.request.get('format') %}
{% set formats_trans = 'format.pluriel.' ~ app.request.get('format') %}
{% block meta %}
  <meta property="og:title" content="{{ channel.name }} : derniers replays" />
  <meta property="og:description" content="Retrouvez tous les derniers replays disponibles actuellement sur {{ channel.name }}, gratuitement en 1 seul clic." />
  <meta property="og:type" content="channel" />
  <meta property="og:url" content="http://www.myskreen.com{{ channel.seo_url }}derniers-replay/" />
  {% if channel.img is defined and channel.img %}
    <meta property="og:image" content="{{ channel.img }}" />
    <link rel="image_src" href="{{ channel.img }}" />
  {% endif %}
  <meta name="object_type" content="channel" />
{% endblock %}

{% block title %}{{ channel.name }} : derniers replays{%- endblock %}

{% block description %}Retrouvez tous les derniers replays disponibles actuellement sur {{ channel.name }}, gratuitement en 1 seul clic.{% endblock %}

{% block body_class %}view-fournisseur view-fournisseur-{{ channel.type }} last-replay{% endblock %}

{% block content %}
  <div class="container">
    <ul class="breadcrumb">
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemref="md-child"><a itemprop="url" href="{{ path('any_url', {url: channel.slug|replace({'/': ''})}) }}/"><span itemprop="title">{{ channel.name }}</span></a></li>
      <li id="md-child" itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">Derniers Replays</span></li>
    </ul>
    <div itemscope itemtype="http://schema.org/BroadcastService" class="clearfix">
      <meta itemprop="name" content="{{ channel.name }} - Replay"/>
      <meta itemprop="url" content="http://www.myskreen.com{{ channel.seo_url }}derniers-replay/"/>
      <img itemprop="image" src="{{ channel.fournisseur.img|replace({"/45//": '/45/'}) }}"/>
      <h1 itemprop="broadcaster" itemscope itemtype="http://schema.org/Organization">Les derniers replays sur <span itemprop="name">{{ channel.name }}</span></h1>
      <div itemprop="description" class="bs-callout bs-callout-info">Tous les derniers replays disponibles en seul clic</div>
    </div>  
    <div class="slider slider-list">
      <ul class="items">
        {% set current_date = '' %}
        {% for p in channel.fournisseur.programs_replay|to_array %}
          {% if current_date != p.best_offer.broadcasttime|localizeddate('full', 'none') %}
            </ul>
          </div>
          <h2>{{ p.best_offer.broadcasttime|localizeddate('full', 'none') }}</h2>
          <div class="slider slider-list">
            <ul class="items">
          {% endif %}
          {% set current_date = p.best_offer.broadcasttime|localizeddate('full', 'none') %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {'p': p, origin: 'last-replay'} %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}