{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% set format_trans = 'format.singulier.' ~ app.request.get('format') %}
{% set formats_trans = 'format.pluriel.' ~ app.request.get('format') %}
{% block meta %}
{% if channel.programs|length < 6 or app.request.get('page') %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{% if app.request.get('format') %}{{ app.request.get('format') }} : {% endif %}{{ channel.name }}{% if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif %}{% if app.request.get('facet') %}, {{ app.request.get('facet') }}{% endif %}" />
<meta property="og:description" content="{{ channel.description|striptags }}" />
<meta property="og:type" content="channel" />
<meta property="og:url" content="http://www.myskreen.com/{{ channel.seo_url }}" />
{% if channel.picture %}
<meta property="og:image" content="{{ channel.picture }}" />
<link rel="image_src" href="{{ channel.picture }}" />
{% endif %}
<meta name="object_type" content="channel" />
{% endblock %}
{% block title %}
{% set page_title_channel = 'page.title.channel.' ~ (channel.type == 'broadcast' ? 'tv' : 'default') ~ (app.request.get('format') ? '_format' : null) %}
{{ page_title_channel|trans({'%name%': channel.name, '%format%': format_trans|trans, '%formats%': formats_trans|trans, '%access%': channel.has_replay is defined and channel.has_replay ? 'Replay' : 'Streaming'}) }}
{%- if app.request.get('facet') %}, {{ subcategories[app.request.get('facet')] is defined ? subcategories[app.request.get('facet')] : app.request.get('facet')  }}{% endif -%}
{%- if app.request.get('page') %}, page {{ app.request.get('page') }}{% endif -%}
{%- endblock %}
{% block description %}{{ channel.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}
{% block body_class %}view-fournisseur{% endblock %}

{% block content %}
<div id="view-fournisseur" data-id="{{ channel.id }}" class="container">

  {#<div class="pull-right share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ channel.seo_url, text: 'Je regarde ' ~ channel.name ~ ' sur mySkreen et vous ?' } %}</div>#}

  {% include 'SkreenHouseFactoryV3Bundle:Channel:_breadcrumb-fournisseur.html.twig' with {channel: channel} %}

  {# suivre #}
	{% if channel.type in ['broadcast','cinema'] %}
	<div class="pull-right actions" data-id="{{ channel.id }}">
		<a class="fav fav-{{ channel.type == 'broadcast' ? 'epg' : 'cinema' }} btn btn-large btn-primary" data-placement="left"><i class="icon-plus-sign icon-white"></i> {{ 'action.add.favorites'|trans }}</a>
	</div>
	{% endif %}

  {# title #}
  {% if channel.img %}
  <img class="channel-logo inline-block" src="{{ channel.img }}" />
  {% endif %}
  {% set page_h1_channel = 'page.h1.channel.' ~ (channel.type == 'broadcast' ? 'tv' : 'default') ~ (app.request.get('format') ? '_format' : null) %}
  <h1 class="inline-block" data-channel="{{ channel.name }}">
    {{ page_h1_channel|trans({'%name%': channel.name, '%format%': format_trans|trans, '%formats%': formats_trans|trans, '%access%': channel.has_replay is defined and channel.has_replay ? 'Replay' : 'Streaming'}) }}
     <small>{% if app.request.get('facet') %}{{ categories[app.request.get('facet')] is defined ? categories[app.request.get('facet')] : app.request.get('facet') }}{% endif %}{% if app.request.get('page') %}{{ app.request.get('facet') ? ', ' : '' }}page {{ app.request.get('page') }}{% endif %}{% if channel.city is defined and channel.city %}{{ channel.adress }}<br/>{{ channel.zip_code }} {{ channel.city }}{% endif %}</small>
  </h1>

  {# description #}
  {% if app.request.get('format') is null %}
    <div class="channel-description">
      {{ channel.description|raw }}
    </div>
  {% else %}
    <div class="channel-description">
      {% set page_title_channel = 'page.title.channel.' ~ (channel.type == 'broadcast' ? 'tv' : 'default') ~ (app.request.get('format') ? '_format' : null) %}
      {{ channel.name }} : regardez les {{ app.request.get('format') }} {{ app.request.get('facet') }}.
      {%- if app.request.get('page') %}Page {{ app.request.get('page') }}{% endif -%}
      <br/><br/>
      <h3>{% if app.request.get('facet') %}
        <a href="{{ path('category', {format: app.request.get('format'), category_slug: app.request.get('facet')}) }}">{{ subcategories[app.request.get('facet')] is defined ? subcategories[app.request.get('facet')] : app.request.get('facet') }} : tous les programmes en streaming</a>
      {% else %}
        <a href="{{ path('format', {category_slug: app.request.get('format') }) }}">{{ app.request.get('format') }} : tous les programmes en streaming</a>
      {% endif %}</h3>
    </div>
  {% endif %}

  {# tv/replay ? #}
  {% if app.request.get('page') is null and 
        app.request.get('format') is null and 
        app.request.get('facet') is null %}
    {% if channel.epg is defined and channel.epg %}
    
      {% if channel.live.program is defined and channel.live.program  %}
      <div class="well">
    
        {% if channel.live.player is defined %}
        <iframe class="player-live" frameborder="0" scrolling="no" src="{{ channel.live.player }}"></iframe>
        {% elseif channel.hashtags|length %}
        <a class="twitter-timeline" href="https://twitter.com/search?q={{ channel.hashtags|join(' ')|url_encode }}" data-widget-id="345502983871672320">Tweets concernant "{{ channel.hashtags|join(' ') }}"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        {% endif %}
        <div class="actions" data-id="{{ channel.live.program.id }}">
        <h3><strong>En direct : {{ channel.live.program.title }}</strong>&nbsp; <small>de {{ channel.live.program.best_offer.broadcast_begin|date('H:i') }} à {{ channel.live.program.best_offer.broadcast_end|date('H:i') }}</small></h3>
        <br/>
        <img src="{{ channel.live.program.picture }}" alt="{{ channel.live.program.title }} en direct sur {{ channel.name }}">
        <p>
          {{ channel.live.program.description|striptags|slice(0,600)|raw }}
          <br/><br/>
          <a class="fav fav-like btn btn-primary" data-placement="right"><i class="icon-plus-sign icon-white"></i> Suivre</a>
          &nbsp;
          <a href="{{ channel.live.program.seo_url }}" class="btn">Tout sur ce programme</a>
        </p>
        {% if channel.live.program.best_offer.has_replay %}
        <p class="alert alert-success">Bientôt disponible en Replay. Cliquez sur &laquo; Suivre &raquo; pour être averti dès qu'il sera disponible.</p>
        {% endif %}
      </div>
      </div>
      {% endif %}
    
      {% include 'SkreenHouseFactoryV3Bundle:Channel:_channel-replay.html.twig' with {channel: channel} %}
    {% endif %}
    {% if app.request.get('page') %}<h3><small>page {{ app.request.get('page') }}</small>{% endif %}</h3>
  {% endif%}

  {# pager #}
  {% if channel.count > 30  %}
  <ul class="pager">
    {% if app.request.get('page') > 2 %}
    <li class="previous">
      {% if app.request.get('facet') %}
      <a href="{{ path('channel_format_facet_page', {slug: app.request.get('slug'), facet: app.request.get('facet'), format: app.request.get('format'), page: app.request.get('page', 1) - 1}) }}">
      {% elseif app.request.get('format') %}
      <a href="{{ path('channel_format_page', {slug: app.request.get('slug'), format: app.request.get('format'), page: app.request.get('page', 1) - 1}) }}">
      {% else %}
      <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">
      {% endif %}&larr; 30 précédents</a>
    </li>
    {% elseif app.request.get('page') == 2 %}
    <li class="previous">
        {% if app.request.get('facet') %}
        <a href="{{ path('channel_format_facet', {slug: app.request.get('slug'), facet: app.request.get('facet'), format: app.request.get('format')}) }}">
        {% elseif app.request.get('format') %}
        <a href="{{ path('channel_format', {slug: app.request.get('slug'), format: app.request.get('format')}) }}">
        {% else %}
        <a href="{{ path('channel', {format: app.request.get('format'), slug: app.request.get('slug')}) }}">
        {% endif %}&larr; 30 précédents</a>
    </li>
    {% endif %}
    {% if channel.programs|length > 0 %}
    <li class="next">
        {% if app.request.get('facet') %}
        <a href="{{ path('channel_format_facet_page', {slug: app.request.get('slug'), facet: app.request.get('facet'), format: app.request.get('format'), page: app.request.get('page', 1) + 1}) }}">
        {% elseif app.request.get('format') %}
        <a href="{{ path('channel_format_page', {slug: app.request.get('slug'), format: app.request.get('format'), page: app.request.get('page', 1) + 1}) }}">
        {% else %}
        <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">
        {% endif %}30 suivants &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

  {# pagination alpha #}
  {% if channel.type != 'cinema' %}
  <div class="pagination">
    <ul>
        <li{% if app.request.get('facet') is null %} class="active"{% endif %}><a href="{{ path('channel', { slug: app.request.get('slug')}) }}">{{ 'nav.all'|trans }}</a></li>
      {% for l in alpha %}
        {% if app.request.get('format') %}
        <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a href="{{ path('channel_format_facet', {slug: app.request.get('slug'), facet: l, format: app.request.get('format')}) }}">{{ l }}</a></li>
        {% else %}
        <li{% if app.request.get('facet') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a href="{{ path('channel_facet', {slug: app.request.get('slug'), facet: l}) }}">{{ l }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {# facets #}
  {% if app.request.get('facet')|length < 2 %}
  <div class="facets">
    {% if app.request.get('format') %}
      {% for k,s in categories %}
        <a href="{{ path('channel_format_facet', {format: app.request.get('format'), slug: app.request.get('slug'), facet: k}) }}" class="label{% if app.request.get('facet') == s %} label-info"{% endif %}">{{ s }}</a>
      {% endfor %}
    {% else %}
      {% for k,f in formats %}
        <a href="{{ path('channel_format', {format: k, slug: app.request.get('slug')}) }}" class="badge{% if app.request.get('facet') == f %} badge-info"{% endif %}">{{ f }}</a>&nbsp;
      {% endfor %}
    {% endif %}
    <hr/>
  </div>
  {% endif %}

  {# map #}
  {% if channel.adress is defined %}
  <div id="map-container" class="well">
    {% if channel.tel %}tél : {{ channel.tel }}<br/>{% endif %}
    {% if channel.web %}<a href="http://{{ channel.web }}" target="_blank">{{ channel.web }}</a>{% endif %}
    <hr/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <div id="map-canvas" data-name="{{ channel.name }}" data-adress="{{ channel.adress }} {{ channel.zip_code }} {{ channel.city }}"></div>
  </div>
  {% endif %}


  {% if channel.programs|length %}
  <div id="channel-programs" class="slider slider-list{% if channel.adress is defined %} clear-cancel{% endif %}">
    <ul class="items">
    {% for program in channel.programs %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program, theater_id: channel.type == 'cinema' ? channel.id : '' } %}
    {% endfor %}
    </ul>
  </div>
  {% else %}
  <p class="alert alert-info">Désolé : {{ channel.name }} ne diffuse aucun programme en ce moment !</p>
  {% endif %}

	{% if channel.tweets is defined %}
	<h4>{{ channel.name }} sur Twitter</h4>
	{% include 'SkreenHouseFactoryV3Bundle:Main:_tweets.html.twig' with {tweets: channel.tweets } %}
	{% endif %}
	</div>
</div>
{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/channel.js'
    
    filter='?yui_js' 
    output='js/compiled/pages/channel.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}