{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.sitemap.channels'|trans }}{% endblock %}
{% block description %}{{ 'page.description.sitemap.channels'|trans }}{% endblock %}


{% block content %}
<div class="container">
	<ul class="nav nav-pills">
		<li{{ app.request.get('type') == 'broadcast' ? ' class="active"' : '' }}><a href="{{ path('sitemap_channels', {type: 'broadcast'}) }}">TV & Replay</a></li>
		<li{{ app.request.get('type') == 'vod' ? ' class="active"' : '' }}><a href="{{ path('sitemap_channels', {type: 'vod'}) }}">VOD</a></li>
		<li{{ app.request.get('type') == 'webcast' ? ' class="active"' : '' }}><a href="{{ path('sitemap_channels', {type: 'webcast'}) }}">Web content</a></li>
		<li{{ app.request.get('type') == 'cinema' ? ' class="active"' : '' }}><a href="{{ path('sitemap_channels', {type: 'cinema'}) }}">Cinéma</a></li>
		<li{{ app.request.get('type') == 'dvd' ? ' class="active"' : '' }}><a href="{{ path('sitemap_channels', {type: 'dvd'}) }}">DVD</a></li>
		<li{{ app.request.get('type') == 'box' ? ' class="active"' : '' }}><a href="{{ path('sitemap_channels', {type: 'box'}) }}">BOX</a></li>
	</ul>
	<br/>
	<ul>
		{% for c in channels %}
		<li><a href="{{ path('any_url', {url: c.seo_url|slice(1,c.seo_url|length-1)}) }}">{{ c.name }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}