<h2 id="{{ step }}">{{ title }}</h2>
<form id="" class="form-inline clearfix" role="form" data-step="{{ step }}">
  <div class="form-group">
    <input class="form-control input-lg" type="text" placeholder="{{ suggest }}">
  </div>
  {#<div class="form-group">
    <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></button>
  </div>#}
</form>
<div id="results-{{ step }}" class="results">
  <ul></ul>
</div>