<div id="bandeau-listes"{% if no_background is defined %} class="bg-none"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-xs-3{% if active is defined and active == 'programs' %} active{% endif %} col-users">
        <div class="row titres user-off{% if active is defined and 'user' in app.request.uri %} hide{% endif %}">
          <div class="col-xs-16">
            <a class="auth">
              <img src="{{ asset('bundles/skreenhousefactoryv3/images/icons/programs.png')}}">
              <p class="sk-font">Mes programmes</p>
            </a>
          </div>
        </div>
        <div class="row titres{{ 'user' not in app.request.uri ? ' user-on hide' : '' }} auth">
          <div class="col-xs-16" data-fav="like">
            <a href="{{ path('user_programs') }}">
              <span class="badge{{ (active is defined and active == 'programs') ? '' : ' bg-white grey' }}">&nbsp;</span>
              <p class="sk-font">Mes programmes</p>
            </a>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-xs-16" data-fav="like">
            <a{% if 'user' not in app.request.uri %} class="auth"{% else %} href="{{ path('user_programs') }}"{% endif %}>
              <p class="sk-font">Ne rater plus jamais leurs diffusions</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-3{% if active is defined and active == 'channel' %} active{% endif %} col-users">
        <div class="row titres user-off{% if active is defined and 'user' in app.request.uri %} hide{% endif %}">
          <div class="col-xs-16" data-fav="channel">
            <a class="auth">
              <img src="{{ asset('bundles/skreenhousefactoryv3/images/icons/channel.png')}}">
              <p class="sk-font">Mes chaînes</p>
            </a>
          </div>
        </div>
        <div class="row titres{{ 'user' not in app.request.uri ? ' user-on hide' : '' }} auth">
          <div class="col-xs-16" data-fav="channel">
            <a href="{{ path('user_channels') }}">
              <span class="badge{{ (active is defined and active == 'channel') ? '' : ' bg-white grey' }}">&nbsp;</span>
              <p class="sk-font">Mes chaînes</p>
            </a>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-xs-16" data-fav="channel">
            <a{% if 'user' not in app.request.uri %} class="auth"{% else %} href="{{ path('user_channels') }}"{% endif %}>
              <p class="sk-font">Festival de Cannes, humour, politique, etc.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-4{% if active is defined and active == 'theaters' %} active{% endif %} col-users">
        <div class="row titres user-off{% if active is defined and 'user' in app.request.uri %} hide{% endif %}">
          <div class="col-xs-16" data-fav="cinema">
            <a class="auth">
              <img src="{{ asset('bundles/skreenhousefactoryv3/images/icons/cinema.png')}}">
              <p class="sk-font">Mes cinémas</p>
            </a>
          </div>
        </div>
        <div class="row titres{{ 'user' not in app.request.uri ? ' user-on hide' : '' }} auth">
          <div class="col-xs-16" data-fav="cinema">
            <a href="{{ path('user_theaters') }}">
              <span class="badge{{ (active is defined and active == 'theaters') ? '' : ' bg-white grey' }}">&nbsp;</span>
              <p class="sk-font">Mes cinémas</p>
            </a>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-xs-16" data-fav="cinema">
            <a{% if 'user' not in app.request.uri %} class="auth"{% else %} href="{{ path('user_theaters') }}"{% endif %}>
              <p class="sk-font">La programmation des salles près de chez moi</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-3{% if active is defined and active == 'persons' %} active{% endif %} col-users">
        <div class="row titres user-off{% if active is defined and 'user' in app.request.uri %} hide{% endif %}">
          <div class="col-xs-16" data-fav="person">
            <a class="auth">
              <img src="{{ asset('bundles/skreenhousefactoryv3/images/icons/oscar.png')}}">
              <p class="sk-font">Mes personnalités</p>
            </a>
          </div>
        </div>
        <div class="row titres{{ 'user' not in app.request.uri ? ' user-on hide' : '' }} auth">
          <div class="col-xs-16" data-fav="person">
            <a href="{{ path('user_persons') }}">
              <span class="badge{{ (active is defined and active == 'persons') ? '' : ' bg-white grey' }}">&nbsp;</span>
              <p class="sk-font">Mes personnalités</p>
            </a>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-xs-16" data-fav="person">
            <a{% if 'user' not in app.request.uri %} class="auth"{% else %} href="{{ path('user_persons') }}"{% endif %}>
              <p class="sk-font">Ne manquez aucun de leurs programmes</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-3{% if active is defined and active == 'category' %} active{% endif %} col-users">
        <div class="row titres user-off{% if active is defined and 'user' in app.request.uri %} hide{% endif %}">
          <div class="col-xs-16" data-fav="category">
            <a class="auth">
              <img src="{{ asset('bundles/skreenhousefactoryv3/images/icons/category.png')}}"/>
              <p class="sk-font">Mes catégories</p>
            </a>
          </div>
        </div>
        <div class="row titres{{ 'user' not in app.request.uri ? ' user-on hide' : '' }} auth">
          <div class="col-xs-16" data-fav="category">
            <a href="{{ path('user_category') }}">
              <span class="badge{{ (active is defined and active == 'category') ? '' : ' bg-white grey' }}">&nbsp;</span>
              <p class="sk-font">Mes catégories</p>
            </a>
          </div>
        </div>
        <div class="row descriptions">
          <div class="col-xs-16" data-fav="category">
            <a{% if 'user' not in app.request.uri %} class="auth"{% else %} href="{{ path('user_category') }}"{% endif %}>
              <p class="sk-font">Suspense, comédie, ciné US...</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row user-off{% if active is defined and 'user' in app.request.uri %} hide{% endif %}">
      <a href="{{ path('user_start') }}"  class="btn btn-lg btn-primary">Commencer mes listes</a>
    </div>
  </div>
</div>