{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.category'|trans }}{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-persons.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-persons.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  {% set count %}{{ categories|length }}{% endset %}
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with {active: 'category' } %}

  <div class="container">

    <div id="view-user-categories">
      {% if categories|length > 0 %}
        <table class="table table-striped">
          {# {{ dump(categories) }} #}
          {% for c in categories %}
            <tr id="category-{{ c.id }}">
              <td>
                <strong>{{ c.name }}</strong>
                <div class="pull-right">
                  <a class="btn btn-default" href="{{ path('any_url', {url: c.seo_url[1:c.seo_url|length-1]}) }}">Tous les programmes</a>&nbsp;
                  {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: c.id, name: c.name, fav: (c.type == 'format+category' ? 'format-category' : 'category'), remove: '#category-' ~ c.id } %}
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <p class="bs-callout bs-callout-info{{ categories|length == 0 ? ' no-program' : '' }}">
        {% if categories|length == 0 %}
          Vous ne suivez <strong>aucune catégorie.</strong><br/>
          Ajoutez facilement celles que vous préférez avec aisance !
        {% else %}
          Ajoutez facilement vos catégories préférées !
        {% endif %}
        <a class="btn btn-primary pull-right" href="{{ path('user_start') }}#categories"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;{{ categories|length == 0 ? 'Commencer ' : 'Continuer ' }}mes listes</a>
      </p>
    </div>
  </div>
{% endblock %}