{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.mychannel'|trans }}{% endblock %}

{% block content %}
  <div id="view-mychannel">
    {% set email = datas.email|split('@') %}
    {% set name_email = email[0]|split('.') %}
    <div id="bandeau-listes">
      <div class="container">
        <h1>{{ datas.user_channel is defined and datas.user_channel ? 'Gérer ma chaîne myskreen' : 'Créer ma chaîne myskreen' }}</h1>
        <p>Publiez vos listes sur Facebook et twitter et diffusez en permanence vos contenus préférées sur votre chaine.</p>
        <p>Vous choisissez le nom, par exemple {{ datas.user_channel is defined and datas.user_channel and datas.user_channel.slug is defined and datas.user_channel.slug ? 'www.myskreen.com/' ~ datas.user_channel.slug ~ '/' : 'www.myskreen.com/' ~ name_email[0] ~ '/' }}</p>
      </div>
    </div>
    <div class="container">
      <div class="message-alert clearfix">
        {% if datas.user_channel is defined and datas.user_channel %}
          {% if datas.user_channel.is_active is defined and datas.user_channel.is_active %}
            <p class="alert alert-info">Votre chaîne personnelle existe déjà.</p>
          {% else %}
            <p class="alert alert-warning">Votre chaîne personnelle existe déjà, mais vous ne l'avez pas encore publiée.</p>
          {% endif %}
          <div class="row">
            <div class="col-xs-5">Nom de ma chaîne :</div>
            <div class="col-xs-11 channel-name" data-value="{{ datas.user_channel.name is defined and datas.user_channel.name ? datas.user_channel.name : '' }}">{{ datas.user_channel.name is defined and datas.user_channel.name ? datas.user_channel.name : '' }}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Description :</div>
            <div class="col-xs-11 channel_description" data-value="{{ datas.user_channel.description is defined and datas.user_channel.description ? datas.user_channel.description : '' }}">{{ datas.user_channel.description is defined and datas.user_channel.description ? datas.user_channel.description : '' }}</div>
          </div>
          <div class="row">
            <div class="col-xs-5">URL :</div>
            <div class="col-xs-11 channel-slug" data-value="{{ datas.user_channel.slug is defined and datas.user_channel.slug ? datas.user_channel.slug : '' }}">{{ datas.user_channel.slug is defined and datas.user_channel.slug ? (datas.user_channel.slug ~ ' <small> (ce qui donne : www.myskreen.com/' ~ datas.user_channel.slug ~ '/)</small>')|raw : '' }}</div>
          </div>
          {% if datas.user_channel.is_active is defined and datas.user_channel.is_active %}
            <p class="clearfix">Vous pouvez la consulter : <a href="{{ path('any_url', {url: datas.user_channel.seo_url|replace({'/': ''})}) }}">www.myskreen.com/{{ datas.user_channel.slug }}/</a>
            <button class="col-xs-3 btn btn-warning pull-right depublish">Dépublier</button></p>
          {% else %}
            <p class="clearfix">Vous pouvez la prévisualiser : <a href="{{ path('any_url', {url: datas.user_channel.seo_url|replace({'/': ''})}) }}/?preview=1">www.myskreen.com/{{ datas.user_channel.slug }}/</a>
            <button class="col-xs-3 btn btn-success pull-right publish">Publier</button></p>
          {% endif %}
          <p>Si vous souhaitez la modifier, cliquez <a class="show-form">ici</a></p>
        {% else %}
          <p class="alert alert-danger">Vous n'avez pas encore créé votre chaîne personnelle.</p>
        {% endif %}
      </div>
      {% set class_form = datas.user_channel is defined and datas.user_channel ? "form-horizontal no-show" : "form-horizontal" %}
      {{ form_start(form, {'attr': {'id': 'form-channel','class': class_form, 'role': 'form'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
          <div class="col-xs-4">
            {{ form_label(form.channel_name, 'Nom', {'label_attr': {'class': 'control-label'}}) }}
            <br/>
            <small>(max. 20 caractères)</small>
          </div>
          {{ form_errors(form.channel_name) }}
          <div class="col-xs-12">
            <div class="error name-error"></div>
              {{ form_widget(form.channel_name, {'attr': {'class': 'form-control', 'placeholder': 'Le nom de votre chaîne' }}) }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-4">
            {{ form_label(form.channel_description, 'Description', {'label_attr': {'class': 'control-label'}}) }}
            <br/>
            <small>(max. 40 caractères)</small>
          </div>
          {{ form_errors(form.channel_description) }}
          <div class="col-xs-12">
            <div class="error description-error"></div>
            {{ form_widget(form.channel_description, {'attr': {'class': 'form-control', 'placeholder': 'La description de votre chaîne' }}) }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-4">
            {{ form_label(form.channel_slug, 'URL', {'label_attr': {'class': 'control-label'}}) }}
            <br/>
            <small>(max. 12 caractères, sans espace)</small>
          </div>
          {{ form_errors(form.channel_slug) }}
          <div class="col-xs-12">
            <div class="error slug-error"></div>
            {{ form_widget(form.channel_slug, {'attr': {'class': 'form-control', 'placeholder': 'Le texte de l\'adresse URL de votre chaîne - par exemple : www.myskreen.com/jeandupont/' }}) }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-4">
            {{ form_label(form.channel_img, 'Image', {'label_attr': {'class': 'control-label'}}) }}
            <br/>
            <small>(max. 2 Mo, jpg ou png)</small>
          </div>
          {{ form_errors(form.channel_img) }}
          <div class="col-xs-12">
            <div class="error img-error"></div>
            {{ form_widget(form.channel_img, {'attr': {'class': 'form-control'}}) }}
          </div>
        </div>
      {{ form_end(form) }}
      <div class="clearfix">
        {% if datas.user_channel is defined and datas.user_channel %}
          <button id="modify" class="col-xs-3 btn btn-primary pull-right modify no-show">Modifier</button>
        {% else %}
          <button id="create" class="col-xs-3 btn btn-primary pull-right create">Créer</button>
        {% endif %}
      </div>
      {% if datas.user_channel is defined and datas.user_channel %}
        <hr/>
        <p class="clearfix">En validant ce bouton, votre chaîne sera supprimée définitivement.
          <button class="col-xs-3 btn btn-danger pull-right delete">Supprimer</button>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
  {% javascripts
      '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-mychannel.js'    
      filter='?yui_js' 
      output='js/compiled/pages/user-mychannel.js'  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}