{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.persons'|trans }}{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-persons.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-persons.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  {% set count %}{{ persons|length }}{% endset %}
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with {active: 'persons' } %}

  <div class="container">

    <div id="view-user-persons">
      {% if persons|length > 0 %}
        <ul class="nav nav-pills nav-alpha-client uppercase">
          <li data-toggle class="active">
            <a class="label label-default">{{ 'nav.all'|trans }}</a>
          </li>
          {% for r in relations %}
            {% set rel = r|lower %}
            {% if rel == 'cité dans ...' %}{% set rel = 'cité-dans' %}{% endif %}
            <li data-toggle="type-{{ rel|replace({'é': 'e'}) }}">
              <a class="label label-default">{{ r }}</a>
            </li>
          {% endfor %}
          <li class="pull-right">
            <a class="btn btn-success btn-xs mychannel-link" href="{{ path('user_mychannel') }}">Créez votre chaîne !</a>
          </li>
        </ul>
        <table class="table table-striped">
          {% for p in persons %}
            {% set main_activity = p.main_activity|lower %}
            {% if main_activity == 'cité dans ...' %}{% set main_activity = 'cité-dans' %}{% endif %}
            <tr id="person-{{ p.id }}" class="type-{{ main_activity|replace({'é': 'e'}) }}">
              <td>
                <b>{{ p.name }}</b>, {{ p.main_activity }}
                <div class="pull-right">
                  <a class="btn btn-default" href="{{ path('any_url', {url: p.seo_url[1:p.seo_url|length-1]}) }}">Tous ses programmes</a>&nbsp;
                  {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: p.id, name: p.name, fav: 'person', remove: '#person-' ~ p.id } %}
                </div>
                {#{ p.roles|join(', ') }#}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <p class="bs-callout bs-callout-info{{ persons|length == 0 ? ' no-program' : '' }}">
        {% if persons|length == 0 %}
          Vous ne suivez <strong>aucune personnalité.</strong><br/>
          Ajoutez celles que vous appréciez avec facilité !
        {% else %}
          Ajoutez les personnalités que vous appréciez avec facilité !
        {% endif %}
        <a class="btn btn-primary pull-right" href="{{ path('user_start') }}#persons"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;{{ persons|length == 0 ? 'Commencer ' : 'Continuer ' }}mes listes</a>
      </p>
    </div>
  </div>
{% endblock %}