{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.programs'|trans }}{% endblock %}

{% block content %}

  {% set count %}{{ programs|length }}{% endset %}
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with {active: 'programs' } %}

  <div class="container">

  {# TODO POUR PUBLIER LA PLAYLIST
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin:20px;">
    <a href="#" class="btn btn-primary" data-placement="bottom" data-title="{{ 'playlist.publish.private.popover.title'|trans }}" data-content="{{ 'playlist.publish.private.popover.content'|trans }}" data-trigger="hover">{{ 'playlist.publish.private.link'|trans }}</a>
    <a href="#" class="btn" data-placement="bottom" data-title="{{ 'playlist.publish.public.popover.title'|trans }}" data-content="{{ 'playlist.publish.public.popover.content'|trans }}" data-trigger="hover">{{ 'playlist.publish.public.link'|trans }}</a>
  </div>
  #}
      
      <ul class="nav nav-pills nav-alpha-client uppercase">
        <li{% if app.request.get('onglet') is null %} class="active"{% endif %}>
          <a class="label label-default" href="{{ path('user_programs', {onglet: null}) }}">{{ 'nav.all'|trans }}</a>
        </li>
        {% for o in onglets %}
          <li{% if app.request.get('onglet') == o %} class="active"{% endif %}>
            <a class="label label-default" href="{{ path('user_programs', {onglet: o}) }}">{{ ['category.',o]|join|trans }}</a>
          </li>
        {% endfor %}
        <li class="pull-right">
          <a class="btn btn-success btn-xs mychannel-link" href="{{ path('user_mychannel') }}">Publiez votre chaîne !</a>
        </li>
      </ul>

    {% if programs|length > 6 %}
      <a class="block" data-toggle-hide=".pagination" data-toggle-text="... fermer">Plus de filtres ...</a>
      <ul class="pagination pagination-client-alpha hide">
        <li{% if app.request.get('alpha') is null %} class="active"{% endif %}><a>{{ 'nav.all'|trans }}</a></li>
        {% for l in alpha %}
          <li{% if app.request.get('alpha') == l %} class="active"{% elseif l not in alpha_available %} class="disabled"{% endif %}><a>{{ l }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <br class="clear"/>
    <div id="user-programs" class="slider slider-list">
      <ul class="items">
        {% for p in programs %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {'p': p, 'header': '<span class="fav fav-like fav-on fav-trash badge badge-important" data-id="' ~ p.id ~ '"><i class="glyphicon glyphicon-trash"></i></span>'} %}
        {% endfor %}
      </ul>
    </div>

      <p class="bs-callout bs-callout-info{{ programs|length == 0 ? ' no-program' : '' }}">
        {% if programs|length == 0 %}
          {% if app.request.get('onglet') is null %}
            Vous ne suivez <strong>aucun programme.</strong><br/>
            Ajoutez ceux que vous aimez (films, séries, émissions, etc.) avec facilité !
          {% elseif app.request.get('onglet') == 'films' %}
            Vous ne suivez <strong>aucun film.</strong><br/>
            Ajoutez ceux que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'documentaires' %}
            Vous ne suivez <strong>aucun documentaire.</strong><br/>
            Ajoutez ceux que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'series' %}
            Vous ne suivez <strong>aucune série.</strong><br/>
            Ajoutez celles que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'emissions' %}
            Vous ne suivez <strong>aucune émission.</strong><br/>
            Ajoutez celles que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'spectacles' %}
            Vous ne suivez <strong>aucun spectacle.</strong><br/>
            Ajoutez ceux que vous aimez avec facilité !
          {% endif %}
        {% else %}
          {% if app.request.get('onglet') is null %}
            Ajoutez les programmes que vous aimez (films, séries, émissions, etc.) avec facilité !
          {% elseif app.request.get('onglet') == 'films' %}
            Ajoutez les films que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'documentaires' %}
            Ajoutez les documentaires que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'series' %}
            Ajoutez les séries que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'emissions' %}
            Ajoutez les émissions que vous aimez avec facilité !
          {% elseif app.request.get('onglet') == 'spectacles' %}
            Ajoutez les spectacles que vous aimez avec facilité !
          {% endif %}
        {% endif %}
        <a class="btn btn-primary pull-right" href="{{ path('user_start') }}{% if app.request.get('onglet') in [null,'films','documentaires','spectacles'] %}#films{% elseif app.request.get('onglet') == 'series' %}#series{% elseif app.request.get('onglet') == 'emissions' %}#emissions{% endif %}"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;{{ programs|length == 0 ? 'Commencer ' : 'Continuer ' }}ma chaîne</a>
      </p>

  </div>
{% endblock %}