{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block title %}
  Commencer ma chaîne
{% endblock %}

{% block content %}
  <div id="bandeau-listes" class="fond-bleu">
    {% if app.request.get('flag_type') %}
    <div id="#addflag" data-flag-type="{{ app.request.get('flag_type') }}" data-flag-id="{{ app.request.get('flag_id') }}"></div>
    {% endif %}
    <div class="container">
      <ul class="nav timeline sk-font">
        <li><a id="menu-films">Mes films <span id="count-films" class="badge">0</span></a></li>
        <li><a id="menu-emissions">Mes émissions <span id="count-emissions" class="badge">0</span></a></li>
        <li><a id="menu-series">Mes séries <span id="count-series" class="badge">0</span></a></li>
        <li><a id="menu-persons">Mes personnalités <span id="count-persons" class="badge">0</span></a></li>
        <li><a id="menu-theaters">Mes cinémas <span id="count-theaters" class="badge">0</span></a></li>
        <li><a id="menu-categories">Mes catégories<span id="count-categories" class="badge">0</span></a></li>
        <li class="user-on"><a id="menu-amis">Mes amis</a></li>
        <li class="confirm"><a id="menu-confirm">Enregistrer</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="forms-container">
        <div class="panel-start">
          {% if app.request.get('goal') == 'vod' %}
            <div class="container">
              <div class="bs-callout bs-callout-warning">
                <h3>Plutôt Netflix ou plutôt Canalplay ?</h3>
                <p>Découvrez quel service propose les films et les séries qui vous intéressent le plus.
                  <br/>
                  Pour cela renseignez en quelques clics les programmes, les personnalités et les catégories qui vous intéressent le plus.
                </p>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <a class="btn btn-default btn-warning btn-lg" data-trigger-click="a[id='menu-films']">Commencer <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
          {% else %}
        
            <h1>Créer votre chaîne</h1>
            <p id="intro-step-one" class="sk-font">Suivez les programmes, acteurs, réalisateurs, salles de cinémas et catégories que vous aimez !</p>
            <div id="intro-ligne-one" class="intro-ligne"><span></span></div>
            <p id="intro-step-two" class="sk-font">Un programme correspondant à votre chaîne est diffusé ? <br/>myskreen vous envoie une notification !</p>
            <div id="intro-ligne-two" class="intro-ligne"><span></span></div>
            <p id="intro-step-three" class="sk-font">myskreen est le seul guide qui réunit la Télé, le Replay, la VOD et le Cinéma !</p>
            <div id="intro-ligne-three" class="intro-ligne"></div>
            <div id="intro-ligne-four" class="intro-ligne"><span></span></div>
            
            <a class="btn btn-default btn-primary btn-lg start-list" data-trigger-click="a[id='menu-films']">Commencer ma chaîne <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
          {% endif %}
          
        </div>
        <div class="panel-start">
          <div class="relative">
            <button id="back-to-start" class="btn btn-default btn-primary btn-lg btn-back"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg" data-trigger-click="a[id='menu-emissions']">Fini ? Passez aux émissions que vous ne voulez pas rater ! <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container">
              {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'films', title: 'Quels sont les films que vous voulez voir ?', placeholder: 'Avengers, Intouchables...', suggests: selection_pack.films.programs, favlike: 'fav-like'} %}
            </div>
          </div>
        </div>
        <div class="panel-start">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back" data-trigger-click="a[id='menu-films']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg" data-trigger-click="a[id='menu-series']">On continue ? Ajoutez les séries que vous suivez ! <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container">
              {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'emissions', title: 'Une émission manquée ? Ajoutez-la...', placeholder: 'The Voice, Le Petit Journal...', suggests: selection_pack.emissions.programs, favlike: 'fav-like'} %}
            </div>
          </div>
        </div>
        <div class="panel-start">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back" data-trigger-click="a[id='menu-emissions']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg" data-trigger-click="a[id='menu-persons']">Fan d'un acteur, d'un réalisateur ? Par ici ! <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container">
              {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'series', title: 'Retrouvez et sélectionnez vos séries fétiches...', placeholder: 'How I Met Your Mother, House of Cards...', suggests: selection_pack.series.programs, favlike: 'fav-like'} %}
            </div>
          </div>
        </div>
        <div class="panel-start">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back" data-trigger-click="a[id='menu-series']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg" data-trigger-click="a[id='menu-theaters']">Ajoutez les cinémas près de chez vous ! <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container">
              {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'persons', title: 'Toutes vos personnalités préférées à suivre...', placeholder: 'Leonardo DiCaprio, Steven Spielberg...', suggests: selection_pack.persons, favlike: 'fav-person'} %}
            </div>
          </div>
        </div>
        <div class="panel-start">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back" data-trigger-click="a[id='menu-persons']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg" data-trigger-click="a[id='menu-categories']">Plutôt "Cinéma coréen" ou "Cinéma français" ? Ou les deux ? <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container theater-container">
              {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'theaters', title: 'Quels sont les écrans que vous fréquentez ?', placeholder: 'Marseille, 75014, Le Palace...', suggests: null, favlike: 'fav-cinema'} %}
            </div>
          </div>
        </div>
        <div class="panel-start">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back user-on" data-trigger-click="a[id='menu-theaters']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg user-on" data-trigger-click="a[id='menu-amis']">Partagez votre chaîne avec vos amis... <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <a class="btn btn-default btn-primary btn-lg user-off" data-trigger-click="a[id='menu-confirm']">Bravo ! Vous n'avez plus qu'à enregistrez votre chaîne <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container">
              {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'categories', title: 'Choisissez les catégories de programmes qui vous ressemblent...', placeholder: 'séries US, comédies dramatiques, téléréalités...', suggests: selection_pack.categories, favlike: 'fav-category'} %}
            </div>
          </div>
        </div>
        <div class="panel-start user-on">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back" data-trigger-click="a[id='menu-categories']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a class="btn btn-default btn-primary btn-lg" data-trigger-click="a[id='menu-confirm']">Bravo ! Vous n'avez plus qu'à enregistrez votre chaîne <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="form-container share-container">
              <h2>Connexion et partage Facebook</h2>
              <div class="share share-placeholder share-start">
                <a class="text share-off sk-font" data-modal="facebook" data-modal-title="Connectez mySkreen à votre compte Facebook" data-modal-message="... et suivez ce que regardent vos amis !">Connectez vous avec Facebook et partagez votre chaîne avec vos amis !
                  <div>
                    <img src="{{ asset('bundles/skreenhousefactoryv3/images/fb-connect.png') }}"/>
                  </div>
                </a>
                <a class="text share-on hide">
                  Partage Facebook&nbsp; 
                  <span class="btn-group" data-toggle="buttons-radio">
                  <span class="btn btn-xs btn-info" data-share="allow">{{ 'yes'|trans }}</span>
                  <span class="btn btn-xs btn-default" data-share="disallow">{{ 'no'|trans }}</span>
                </span>
                </a>
              </div>
              <div class="user-friends-link">
                <a href="{{ path('user_friends') }}" class="btn btn-lg btn-primary">Mes amis regardent...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-start">
          <div class="relative">
            <button class="btn btn-default btn-primary btn-lg btn-back user-on" data-trigger-click="a[id='menu-amis']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <button class="btn btn-default btn-primary btn-lg btn-back user-off" data-trigger-click="a[id='menu-categories']"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
            <a id="register" class="btn btn-default btn-primary btn-lg">Enregistrer ma chaîne&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span></a>
            <div class="form-container confirmed scroll">
              <h2 id="confirm">Récapitulatif de votre chaîne</h2>
              <div class="no-results bs-callout bs-callout-info">
                <p class="h4">Vous n'avez pas encore fait votre chaîne</p>
                <p><a class="btn btn-primary" data-trigger-click="a[id='menu-films']">Commencer maintenant</a></p>
              </div>
              <div class="results hide">
                <ul></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/start.less'
      filter='lessphp,?yui_css'
      output='css/start.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-start.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-start.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}