{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.svod'|trans }}{% endblock %}

{% block content %}
<div id="svod-view" class="container">
  <ul class="nav nav-pills pull-right">
    <li>
      <a href="{{ path('user_vod', {onglet: null}) }}">&raquo; Vos vidéos à la demande</a>
    </li>
  </ul>
	<h1>{{ 'user.svod'|trans }}</h1>
	{% if svods|to_array|length %}
    <ul>
      {% for svod in svods|to_array %}
        {% if loop.index > 1 %}<hr/>{% endif %}
        <a data-unsubscribe-pass="{{ svod.id }}" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-remove-sign"></i> Mettre fin à cet abonnement</a>
        <b>{{ svod.name }}</b>
        <br/>{{ svod.description }}
        <br/><i>Prochain prélèvement le {{ svod.pass.perempted_at|date('d-m-Y') }}</i>
      {% endfor %}
    </ul>
  {% else %}
  <p class="alert alert-warning">Vous n'avez pas d'abonnement VOD.</p>
  {% endif %}
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  {#
	<div class="hero-unit">
		<h2>Les abonnements disponibles</h2>
		<br/>
	  <p>Votre compte mySkreen vous permet de vous abonner aux offres VOD suivantes :</p>
	  <ul>
      {% for svod in svods_available %}
        {% if loop.index > 1 %}<hr/>{% endif %}
        <b>{{ svod.pass.name }}</b>
        <br/>{{ svod.pass.description }}
      {% endfor %}
    </ul>
	</div>
  #}
</div>
{% endblock %}

{% block pagescripts %}
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-vod.js'
    
    filter='?yui_js' 
    output='js/compiled/pages/user-vod.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}