{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.theaters'|trans }}{% endblock %}

{% block content %}
  {% set count %}{{ theaters|length }}{% endset %}
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with {active: 'theaters' } %}

  <div class="container">

    {% if theaters|length == 0 %}

      <p class="bs-callout bs-callout-info">Il n'y a aucun film programmé dans vos cinémas favoris.<a class="btn btn-primary pull-right" href="{{ path('user_start') }}#theaters"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Commencer mes listes</a></p>
      <div class="container well well-small playlist">
        <h3>Recherchez un cinéma pour l'ajouter à vos favoris</h3>
        {% include 'SkreenHouseFactoryV3Bundle:Cinema:_popin-search.html.twig' with {cinemas: {}} %}
      </div>

    {% else %}

      <div class="container well well-small playlist">
        <h3>Les films programmés dans vos cinémas favoris</h3>
        <a class="pull-right btn btn-suivre btn-xs" data-modal="remote" data-modal-title="{{ 'theaters.playlist.add'|trans }}" href="{{ path('theaters_search', {'init': 1, 'theater_ids': ''}) }}"><span class="glyphicon glyphicon-pencil"></span> Modifier mes cinémas</a>
        <div id="theaters-names"></div>
        {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {id: 'cinema'}, noheader: true} %}
      </div>
      <br/>
      <hr/>
      <div id="user-theaters">
        <h3>Gérer vos cinémas</h3>
        <br/>
        {% for t in theaters %}
          {% if loop.index > 1 %}<hr/>{% endif %}
            <div id="theater-{{ t.id }}">
              <div class="pull-right">
                <a class="btn btn-default" href="{{ path('any_url', {url: t.seo_url[1:t.seo_url|length-1]}) }}">Films & horaires</a>&nbsp;
                {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: t.id, class: 'fav-cinema', remove: '#theater-' ~ t.id, name: t.name , text: 'Ajouter à vos cinémas' } %}
              </div>
              <p>
                <strong>{{ t.name }}</strong><br/>
                {{ t.adress }} {{ t.zip_code }} {{ t.city }}<br/>
                {{ t.access is defined ? 'accès : ' ~ t.access ~ '<br/>' : '' }}
              </p>
            </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}