{% extends 'SkreenHouseFactoryV3Bundle::empty.html.twig' %}
{% block nostats %}nostat{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
<style>
body {
  margin: 0;
  padding: 0;
}
#player { height: 100%; }
#trigger {
  position: absolute;
  z-index: 2;
  width: {{ width }}px;
  height: {{ height }}px;
  background: url({{ asset('bundles/skreenhousefactoryv3/images/big-play.png') }}) no-repeat center;
}
</style>
{% endblock %}
{% block title %}embed{% endblock %}
{% block description %}embed{% endblock %}

{% block content %}

<a class="player-cover" target="_blank" style="position:absolute;top:3%;left:{{ width-120 }}px;z-index:3;" href="http://www.myskreen.com"><img src="http://mskstatic.com/medias/logo_player.png" alt="mySkreen : Guide Replay, Vod, Ciné"></a>
<a class="player-cover" id="trigger" data-play-embed="{{ offer.id }}"></a>
<div id="player" data-player-config="{{ {width: width, height: height}|json_encode }}" style="background: url({{ offer.program.picture }}) center no-repeat;width:{{ width }}px;height:{{ height }}px;" class="player on"></div>

{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/embed.js'

    filter='?yui_js' 
    output='js/compiled/embed.js'  %}
    <script src="http://benoit.myskreen.typhon.net/skPlayerPlugin/js/SkhfPlayerIframeApi.js"></script>
    <script src="{{ asset_url }}?v2.1"></script>
{% endjavascripts %}

{# analitycs #}
{% if app.environment == 'prod' %}
  {% include 'SkreenHouseFactoryV3Bundle::_ga.html.twig' with {tag: 'UA-6151896-15'} %}
{% endif %}

{% endblock %}