{% extends 'SkreenHouseFactoryV3Bundle::exit.html.twig' %}

{% block title %}{{ 'page.title.redirect'|trans }}{% endblock %}

{% block content %}
  <div class="well">
    <div id="ad">
      <script src="http://ad.himediadx.com/ttj?id=971095&size=300x250"></script>
    </div>
    <a href="http://www.myskreen.com" title="{{ 'service.name'|trans }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="{{ 'service.name'|trans }}" /></a>
    <br/>
    <br/>
    <br/>
    <h2>{{ 'redirection.h1'|trans }}</h2>
    <h6>{{ 'redirection.message'|trans }}</h6>
  </div>

  <script>

  </script>

  {# beead #}
  <script src="http://www.beead.fr/scripts/api/beead_apiV4.js"></script>
  <script>

    if (document.referrer.match(/myskreen/) == null) {
      setTimeout(function() {
        document.location= '{{ url }}';
      }, 4000);
    
    } else {
      function beeadCallbackSuccess() {
        _gaq.push(['_trackEvent', 
                  'beead', 
                  'beead-completed', 
                  document.location.pathname]);
        setTimeout(function() {
          document.location= '{{ url }}';
        }, 4000);
      }
      function beeadCallbackEmpty(){
        _gaq.push(['_trackEvent', 
            'beead', 
            'beead-ploof', 
            document.location.pathname]);
        beeadCallbackSuccess();
      }      BeeadAds.init({pid:2751, jsCallback: "beeadCallbackSuccess", noPubCallback: "beeadCallbackEmpty", onCloseCallback: "beeadCallbackSuccess"});
  
      _gaq.push(['_trackEvent', 
                'beead', 
                'beead-called', 
                document.location.pathname]);
    }  </script>
{% endblock %}