{% extends 'SkreenHouseFactoryV3Bundle::exit.html.twig' %}

{% block title %}{{ 'page.title.redirect'|trans }}{% endblock %}

{% block content %}
  <div class="well">
    <a href="http://www.myskreen.com" title="{{ 'service.name'|trans }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="{{ 'service.name'|trans }}" /></a>
    <br/>
    <br/>
    <h1>{{ 'redirection.h1'|trans }}</h1>
    <h6>{{ 'redirection.message'|trans }}</h6>
  </div>
  <script>
  setTimeout(function() {
    document.location= '{{ url }}';
  }, 3000)
  </script>
  {# analitycs #}
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6151896-8']);
    _gaq.push(['_trackPageview']);
    (function() { 
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.id = 'scriptAnalytics';
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
      var s = document.body.appendChild(ga); 
      })(); 
  </script>
{% endblock %}