{% extends 'SkreenHouseFactoryV3Bundle::exit.html.twig' %}

{% block title %}{{ 'page.title.redirect'|trans }}{% endblock %}

{% block content %}
  <div class="well">
    <div id="ad">
      <script src="http://ad.himediadx.com/ttj?id=971095&size=300x250"></script>
    </div>
    <a href="http://www.myskreen.com" title="{{ 'service.name'|trans }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="{{ 'service.name'|trans }}" /></a>
    <br/>
    <br/>
    <br/>
    <h2>{{ 'redirection.h1'|trans }}</h2>
    <h6>{{ 'redirection.message'|trans }}</h6>
  </div>
{% endblock %}