{% extends 'SkreenHouseFactoryV3Bundle::exit.html.twig' %}

{% block title %}{{ 'page.title.redirect'|trans }}{% endblock %}

{% block content %}
  <div class="well">
    <div id="ad">
      {# adsense banner #}
      {{ include ('SkreenHouseFactoryV3Bundle:Main:_adsense.html.twig', {banner: 'colonne'}) }}
    </div>
    <a href="http://www.myskreen.com" title="{{ 'service.name'|trans }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="{{ 'service.name'|trans }}" /></a>
    <br/>
    <br/>
    <br/>
    <h2>{{ 'redirection.h1'|trans }}</h2>
    <h6>{{ 'redirection.message'|trans }}</h6>
  </div>
{% endblock %}