{% if banner is defined and banner == 'colonne' %}
<div id="adsense-banner-colonne" class="adsense-block-colonne">
<script type="text/javascript">
googletag.cmd.push(function() { googletag.display('adsense-banner-colonne'); });
console.log('adsense', 'adsense-banner-colonne', 'adsense-banner-colonne');
</script>
</div>
{% else %}

<div id="adsense-banner-{{ banner is defined ? banner : 'default' }}">
<script type="text/javascript">
var div_id = 'adsense-banner-{{ banner is defined ? banner : 'default' }}'
if ('matchMedia' in window && window.matchMedia('(min-width:500px)').matches) {
  googletag.cmd.push(function() { googletag.display('adsense-banner-{{ banner is defined ? banner : 'default' }}'); });
  document.getElementById(div_id).className = 'adsense-block-{{ banner is defined ? banner : 'default' }}';
  console.log('adsense', 'adsense-banner-{{ banner is defined ? banner : 'default' }}', div_id);
} else {
  document.getElementById(div_id).id = 'adsense-block-mobile';
  googletag.cmd.push(function() { googletag.display('adsense-banner-mobile'); });
  console.log('adsense', 'adsense-banner-mobile');
}
</script>
</div>

{% endif %}
{{ html is defined ? html|raw : '' }}