{% if app.environment == 'prod' %}
{% set base_url = 'preprod' not in app.request.httpHost  ? 'http://www.myskreen.com' : '' %}
{% else %}
{% set base_url = '' %}
{% endif %}
<div id="carousel-{{ slider.title|replace({' ': '-', 'é':'e'})|lower }}"{% if skip_autoload is not defined %} data-carousel-autoload="1"{% endif %} class="carousel slide{{ slider.id is defined ? ' carousel-' ~ slider.id : '' }}">
  <div class="container">
  <a class="carousel-control left" href="#carousel-{{ slider.title|replace({' ': '-', 'é':'e'})|lower }}" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-{{ slider.title|replace({' ': '-', 'é':'e'})|lower }}" data-slide="next">&rsaquo;</a>
  </div>
  <div class="carousel-inner">

  {#% if slider.id is defined and slider.id == 3772205 %}
  <div class="item pointer active">
    <a target="_blank" href="https://www.facebook.com/myskreen/app_579438962083607" class="mask mask-1500" style="background-image: url(http://mskstatic.com/1500/455/b/medias/jeux/slider-jeu-116.jpg);"></a>
  </div>
  {% endif %
    and slider.id is defined  and slider.id != 3772205
    #}

  {% for p in slider.programs|to_array %}
  <div class="item pointer{% if loop.first %} active{% endif %}">
    <a href="{{ base_url }}{{ path('any_url', {url: p.seo_url[1:p.seo_url|length-1]}) }}" class="mask {{ 'Slider1500' in p.sliderPicture is defined and p.sliderPicture ? 'mask-1500' : 'mask-990' }}" style="background-image: url({% if p.sliderPicture is defined %}{{ force_size is defined ? p.sliderPicture|replace({'/990': force_size }) : p.sliderPicture }}{% else %}{{ p.picture }}{% endif %});"></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-16">
      <div class="carousel-caption actions">
      {% if p.id < 100000000 %}
      {#% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: p.id , class: 'fav-like'} %#}
      {% endif %}
      <h4><a href="{{ base_url }}{{ path('any_url', {url: p.seo_url[1:p.seo_url|length-1]}) }}">{{ p.title }}</a></h4>
      <p class="pull-left">{{ p.format ? p.format.name : '' }}{% if p.duration %}, {{ p.duration }}mn{% endif %}</p>
      {% if p.pitch is defined and p.pitch %}
      <p class="clear">{{ p.pitch }}</p>
      {% endif %}
      {#% if skip_like is not defined %}
      <div id="fc{{ p.id }}" class="fb-like" data-href="http://www.myskreen.com{{ p.seo_url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" style="margin-left: 10px"></div>
      {% endif %#}
    </div>
      </div>
  </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>