<a name="footer"></a>
<div class="container">
  <div class="row">
    <ul class="nav  nav-share">
      <li class="col-xs-4">
        <a class="pull-left" href="http://www.myskreen.com/">
          <img src="{{ asset('bundles/skreenhousefactoryv3/images/logo-footer.png') }}" alt="mySkreen.com">
        </a>
      </li>
      <li class="col-xs-4"><iframe class="facebook" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmyskreen&amp;send=false&amp;layout=button_count&amp;width=215&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=193945860617344" style="border: none; overflow: hidden; width: 200px; height: 20px;"></iframe><a rel="nofollow" href="http://www.facebook.com/myskreen" id="fb" class="colorbox">Facebook.com/mySkreen</a></li>
      <li class="col-xs-4"><iframe class="twitter" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1337330192.html#_=1338538061760&amp;id=twitter-widget-0&amp;lang=fr&amp;screen_name=mySkreen&amp;show_count=true&amp;show_screen_name=true&amp;size=m" style="width: 200px; height: 20px;" title="Twitter Follow Button"></iframe><a rel="nofollow" href="http://www.twitter.com/myskreen" id="tw" class="colorbox">Twitter.com/mySkreen</a></li>
      <li class="col-xs-3"><iframe class="google" frameborder="0" scrolling="no" src="https://plusone.google.com/_/+1/fastbutton?bsv=pr&amp;url=http%3A%2F%2Fwww.myskreen.com%2F&amp;size=medium&amp;count=true&amp;origin=https%3A%2F%2Fplusone.google.com&amp;hl=fr&amp;jsh=m%3B%2F_%2Fapps-static%2F_%2Fjs%2Fgapi%2F__features__%2Frt%3Dj%2Fver%3Da4VcHo_vwLs.en.%2Fsv%3D1%2Fam%3D!g1Jk74_hHGWYLXF4lw%2Fd%3D1%2Frs%3DAItRSTPHZ_P8iXGq2qNGyjGPcq1Cnsfr7w#id=I9_1343289996918&amp;parent=https%3A%2F%2Fplusone.google.com&amp;rpctoken=71946186&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart" style="width: 90px; margin-top: 0px; border-style: none; height: 30px; visibility: visible;" title="+1"></iframe><a rel="nofollow" href="https://plus.google.com/106555719800030017985/posts">Google+</a></li>
    </ul>
  </div>
  <hr/>
  <div class="row row_apps">
    <a class="footer_apps" href="{{ path('channel', {slug: 'apps'}) }}">
      <ul>
        <li><img src="{{ asset('bundles/skreenhousefactoryv3/images/btn-appstore-footer2.png') }}"></li>
        <li><img src="{{ asset('bundles/skreenhousefactoryv3/images/btn-android-footer2.png') }}"></li>
      </ul>
    </a>
    <ul class="col-xs-16 nav nav-pills">
      <li><a rel="nofollow" class="pull-left" target="_blank" href="http://medias.myskreen.com/pdf/cguv.pdf">CGUV</a></li>
      <li><a rel="nofollow" class="pull-left" href="#footer" data-modal="feedback">Nous écrire</a></li>
      {#<li><a class="pull-left" href="{{ app.environment == 'dev' ? '/m' : 'http://m.myskreen.com' }}">Site mobile</a></li>#}
    </ul>
  </div>

  {% if app.request.get('route') == 'homes' and app.request.get('home') == '' %}

  <div id="boost" class="row">
    <div class="col-xs-16">
      <p class="ms-surtitre">mySkreen c'est...</p>
      <p>Un <strong>guide de programmes innovant</strong> qui réunit sur un seul site toutes les <strong>chaînes de télévision</strong>, tout le <strong>replay</strong>, tous les catalogues de <strong>VOD</strong>, le </strong>cinéma avec <strong>les horaires et les salles</strong>, et les <strong>web séries</strong> produites par les meilleurs sites médias. Suivez les programmes que vous aimez et soyez avertis à chaque diffusion ou nouvelle offre en streaming. Grâce à mySkreen, reprenez le pouvoir : mySkreen c’est <strong>votre télé à la carte et à la demande</strong>.</p>
    </div>
    <hr/>
    {% render(controller('SkreenHouseFactoryV3Bundle:Main:boost',{})) %}
  </div>

  <hr/>  
  <div class="row" id="sitemap">
    <div class="col-xs-16">
      <p class="ms-surtitre">Tous les programmes</p>
      <strong class="pull-left">Par média :&nbsp;&nbsp;&nbsp;</strong>
      <p><a href="/programme-tv/">Tv & Replay</a></p>
      <p><a href="/video-a-la-demande/">Vidéo à la demande</a></p>
      <p><a href="/cinema/">Cinéma</a></p>
      <div class="clear"></div>
      <strong class="pull-left">Par type :&nbsp;&nbsp;&nbsp;</strong>
      <p><a href="/film/">Films</a></p>
      <p><a href="/telefilm/">Téléfilms</a></p>
      <p><a href="/documentaire/">Documentaires</a></p>
      <p><a href="/serie/">Séries</a></p>
      <p><a href="/emission/">Emission</a></p>
      <p><a href="/journal/">Journaux</a></p>
      <p><a href="/court-metrage/">Court-métrages</a></p>
      <p><a href="/theatre/">Pièces de théatre</a></p>
      <p><a href="/concert/">Concerts</a></p>
      <p><a href="/clip/">Clips musicaux</a></p>
      <p><a href="/spectacle/">Spectacles</a></p>
      <p><a href="/jeunesse/">Jeunesse</a></p>
      <p><a href="/dessin-anime-et-manga/">Dessin-animés et mangas</a></p>
      <p><a href="/webserie/">Web-séries</a></p>
      <div class="clear"></div>
      <strong class="pull-left">Par diffuseur :&nbsp;&nbsp;&nbsp;</strong>
      <p><a href="{{ path('sitemap_channels', {type: 'broadcast'}) }}">Chaînes TV & Replay</a></p>
      <p><a href="{{ path('sitemap_channels', {type: 'vod'}) }}">Chaînes Vidéo à la demande</a></p>
      <p><a href="{{ path('sitemap_channels', {type: 'webcast'}) }}">Chaînes Web</a></p>
      <p><a href="{{ path('sitemap_channels', {type: 'thematique'}) }}">Chaînes thématiques</a></p>
      <p><a href="{{ path('sitemap_channels', {type: 'cinema'}) }}">Salles de cinéma</a></p>
      <p><a href="{{ path('sitemap_channels', {type: 'dvd'}) }}">Dvd et Blu-ray</a></p>
      <div class="clear"></div>
      <hr>
            <div class="container">
        <div class="row">
          <p class="ms-surtitre">Toutes les catégories</p>
          <div class="col-xs-4">
            <br><strong class="pull-left">Par films :&nbsp;&nbsp;&nbsp;</strong><br>
            <p><a href="/film/action-aventure/" >Film action</a></p><p><a href="/film/cinema-americain/" >Film américain</a></p><p><a href="/film/cinema-asiatique/" >Film asiatique</a></p><p><a href="/film/cinema-classique/" >Film classique</a></p><p><a href="/film/cinema-du-monde/" >Film monde</a></p><p><a href="/film/cinema-europeen/" >Film européen</a></p><p><a href="/film/cinema-francais/" >Film français</a></p><p><a href="/film/comedies/" >Film comique</a></p><p><a href="/film/drames/" >Film dramatique</a></p><p><a href="/film/epouvante-horreur/" >Film horreur</a></p><p><a href="/film/fantastique/" >Film fantastique</a></p><p><a href="/film/film-culte/" >Film populaire</a></p><p><a href="/film/policier-thriller/" >Film policier</a></p><p><a href="/film/romance/" >Film d'amour</a></p><p><a href="/film/science-fiction/" >Film Science-fiction</a></p>
          </div>
          <div class="col-xs-4">
            <br><strong class="pull-left">Par séries :&nbsp;&nbsp;&nbsp;</strong><br>
            <p><a href="/serie/action-aventure/" >Action - Aventure</a></p><p><a href="/serie/archives/" >Archives</a></p><p><a href="/serie/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/serie/comedies/" >Comédies</a></p><p><a href="/serie/drames/" >Drames</a></p><p><a href="/serie/erotique/" >Erotique</a></p><p><a href="/serie/fantastique/" >Fantastique</a></p><p><a href="/serie/humour/" >Humour</a></p><p><a href="/serie/jeunesse/" >Jeunesse</a></p><p><a href="/serie/policier-thriller/" >Policier - Thriller</a></p><p><a href="/serie/romance/" >Romance</a></p><p><a href="/serie/science-fiction/" >Science-fiction</a></p><p><a href="/serie/serie-animee/" >Série animée</a></p><p><a href="/serie/series-americaines/" >Séries américaines</a></p><p><a href="/serie/series-francaises/" >Séries françaises</a></p>
          </div>
          <div class="col-xs-4">
          <br><strong class="pull-left">Par téléfilms :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/telefilm/action-aventure/" >Action - Aventure</a></p><p><a href="/telefilm/biographie-biopic/" >Biographie - Biopic</a></p><p><a href="/telefilm/cinema-americain/" >Cinéma américain</a></p><p><a href="/telefilm/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/telefilm/cinema-francais/" >Cinéma français</a></p><p><a href="/telefilm/comedies/" >Comédies</a></p><p><a href="/telefilm/drames/" >Drames</a></p><p><a href="/telefilm/epouvante-horreur/" >Epouvante - horreur</a></p><p><a href="/telefilm/erotique/" >Erotique</a></p><p><a href="/telefilm/fantastique/" >Fantastique</a></p><p><a href="/telefilm/histoire/" >Histoire</a></p><p><a href="/telefilm/jeunesse/" >Jeunesse</a></p><p><a href="/telefilm/policier-thriller/" >Policier - Thriller</a></p><p><a href="/telefilm/romance/" >Romance</a></p><p><a href="/telefilm/science-fiction/" >Science-fiction</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par documentaires :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/documentaire/action-aventure/" >Action - Aventure</a></p><p><a href="/documentaire/arts/" >Arts</a></p><p><a href="/documentaire/arts-martiaux/" >Arts martiaux</a></p><p><a href="/documentaire/biographie-biopic/" >Biographie - Biopic</a></p><p><a href="/documentaire/cinema-americain/" >Cinéma américain</a></p><p><a href="/documentaire/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/documentaire/cinema-francais/" >Cinéma français</a></p><p><a href="/documentaire/danse/" >Danse</a></p><p><a href="/documentaire/decouverte/" >Découverte</a></p><p><a href="/documentaire/equitation/" >Equitation</a></p><p><a href="/documentaire/histoire/" >Histoire</a></p><p><a href="/documentaire/loisirs-passions/" >Loisirs - Passions</a></p><p><a href="/documentaire/sante-bien-etre/" >Santé - bien-être</a></p><p><a href="/documentaire/sciences/" >Sciences</a></p><p><a href="/documentaire/societe/" >Société</a></p>
          <div class="clear"></div>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-4">
            <br><strong class="pull-left">Par dessin animé et mangas :&nbsp;&nbsp;&nbsp;</strong><br>
            <p><a href="/dessin-anime-et-manga/action-aventure/" >Action - Aventure</a></p><p><a href="/dessin-anime-et-manga/arts/" >Arts</a></p><p><a href="/dessin-anime-et-manga/cinema-americain/" >Cinéma américain</a></p><p><a href="/dessin-anime-et-manga/cinema-asiatique/" >Cinéma asiatique</a></p><p><a href="/dessin-anime-et-manga/cinema-classique/" >Cinéma classique</a></p><p><a href="/dessin-anime-et-manga/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/dessin-anime-et-manga/cinema-europeen/" >Cinéma européen</a></p><p><a href="/dessin-anime-et-manga/cinema-francais/" >Cinéma français</a></p><p><a href="/dessin-anime-et-manga/comedies/" >Comédies</a></p><p><a href="/dessin-anime-et-manga/drames/" >Drames</a></p><p><a href="/dessin-anime-et-manga/decouverte/" >Découverte</a></p><p><a href="/dessin-anime-et-manga/fantastique/" >Fantastique</a></p><p><a href="/dessin-anime-et-manga/jeunesse/" >Jeunesse</a></p><p><a href="/dessin-anime-et-manga/science-fiction/" >Science-fiction</a></p><p><a href="/dessin-anime-et-manga/serie-animee/" >Série animée</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par émissions :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/emission/archives/" >Archives</a></p><p><a href="/emission/arts/" >Arts</a></p><p><a href="/emission/athletisme/" >Athlétisme</a></p><p><a href="/emission/comedies/" >Comédies</a></p><p><a href="/emission/divertissement/" >Divertissement</a></p><p><a href="/emission/drames/" >Drames</a></p><p><a href="/emission/decouverte/" >Découverte</a></p><p><a href="/emission/histoire/" >Histoire</a></p><p><a href="/emission/humour/" >Humour</a></p><p><a href="/emission/jeunesse/" >Jeunesse</a></p><p><a href="/emission/loisirs-passions/" >Loisirs - Passions</a></p><p><a href="/emission/policier-thriller/" >Policier - Thriller</a></p><p><a href="/emission/societe/" >Société</a></p><p><a href="/emission/sports-d-equipe/" >Sports d'équipe</a></p><p><a href="/emission/sports-de-cible/" >Sports de cible</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par journaux :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/journal/archives/" >Archives</a></p><p><a href="/journal/arts/" >Arts</a></p><p><a href="/journal/divertissement/" >Divertissement</a></p><p><a href="/journal/decouverte/" >Découverte</a></p><p><a href="/journal/infos/" >Infos</a></p><p><a href="/journal/societe/" >Société</a></p><p><a href="/journal/sports-d-equipe/" >Sports d'équipe</a></p><p><a href="/journal/election-presidentielle-2012/" >Élection présidentielle 2012</a></p><p><a href="/journal/archives/" >Archives</a></p><p><a href="/journal/arts/" >Arts</a></p><p><a href="/journal/divertissement/" >Divertissement</a></p><p><a href="/journal/decouverte/" >Découverte</a></p><p><a href="/journal/infos/" >Infos</a></p><p><a href="/journal/societe/" >Société</a></p><p><a href="/journal/sports-d-equipe/" >Sports d'équipe</a></p><p><a href="/journal/election-presidentielle-2012/" >Élection présidentielle 2012</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par court-métrages :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/court-metrage/action-aventure/" >Action - Aventure</a></p><p><a href="/court-metrage/arts/" >Arts</a></p><p><a href="/court-metrage/cinema-americain/" >Cinéma américain</a></p><p><a href="/court-metrage/cinema-classique/" >Cinéma classique</a></p><p><a href="/court-metrage/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/court-metrage/cinema-europeen/" >Cinéma européen</a></p><p><a href="/court-metrage/cinema-francais/" >Cinéma français</a></p><p><a href="/court-metrage/comedies/" >Comédies</a></p><p><a href="/court-metrage/drames/" >Drames</a></p><p><a href="/court-metrage/decouverte/" >Découverte</a></p><p><a href="/court-metrage/fiction/" >Fiction</a></p><p><a href="/court-metrage/jeunesse/" >Jeunesse</a></p><p><a href="/court-metrage/ovni-experimental/" >OVNI / Expérimental</a></p><p><a href="/court-metrage/romance/" >Romance</a></p><p><a href="/court-metrage/societe/" >Société</a></p>
          <div class="clear"></div>
        </div>
      </div>
          <div class="row">
            <div class="col-xs-4">
          <br><strong class="pull-left">Par pièces de théatre :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/theatre/action-aventure/" >Action - Aventure</a></p><p><a href="/theatre/archives/" >Archives</a></p><p><a href="/theatre/arts/" >Arts</a></p><p><a href="/theatre/biographie-biopic/" >Biographie - Biopic</a></p><p><a href="/theatre/cinema-classique/" >Cinéma classique</a></p><p><a href="/theatre/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/theatre/comedies/" >Comédies</a></p><p><a href="/theatre/drames/" >Drames</a></p><p><a href="/theatre/decouverte/" >Découverte</a></p><p><a href="/theatre/histoire/" >Histoire</a></p><p><a href="/theatre/humour/" >Humour</a></p><p><a href="/theatre/jeunesse/" >Jeunesse</a></p><p><a href="/theatre/policier-thriller/" >Policier - Thriller</a></p><p><a href="/theatre/romance/" >Romance</a></p><p><a href="/theatre/societe/" >Société</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par concerts :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/concert/action-aventure/" >Action - Aventure</a></p><p><a href="/concert/archives/" >Archives</a></p><p><a href="/concert/arts/" >Arts</a></p><p><a href="/concert/biographie-biopic/" >Biographie - Biopic</a></p><p><a href="/concert/cinema-americain/" >Cinéma américain</a></p><p><a href="/concert/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/concert/comedies/" >Comédies</a></p><p><a href="/concert/danse/" >Danse</a></p><p><a href="/concert/divertissement/" >Divertissement</a></p><p><a href="/concert/drames/" >Drames</a></p><p><a href="/concert/decouverte/" >Découverte</a></p><p><a href="/concert/equitation/" >Equitation</a></p><p><a href="/concert/humour/" >Humour</a></p><p><a href="/concert/loisirs-passions/" >Loisirs - Passions</a></p><p><a href="/concert/societe/" >Société</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par clips musicaux :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/clip/action-aventure/" >Action - Aventure</a></p><p><a href="/clip/archives/" >Archives</a></p><p><a href="/clip/arts/" >Arts</a></p><p><a href="/clip/cinema-asiatique/" >Cinéma asiatique</a></p><p><a href="/clip/cinema-classique/" >Cinéma classique</a></p><p><a href="/clip/comedies/" >Comédies</a></p><p><a href="/clip/divertissement/" >Divertissement</a></p><p><a href="/clip/decouverte/" >Découverte</a></p><p><a href="/clip/film-culte/" >Film culte</a></p><p><a href="/clip/loisirs-passions/" >Loisirs - Passions</a></p><p><a href="/clip/romance/" >Romance</a></p><p><a href="/clip/societe/" >Société</a></p>
          <div class="clear"></div>
        </div>
        <div class="col-xs-4">
          <br><strong class="pull-left">Par spectacles :&nbsp;&nbsp;&nbsp;</strong><br>
          <p><a href="/spectacle/archives/" >Archives</a></p><p><a href="/spectacle/arts/" >Arts</a></p><p><a href="/spectacle/arts-martiaux/" >Arts martiaux</a></p><p><a href="/spectacle/cinema-du-monde/" >Cinéma du monde</a></p><p><a href="/spectacle/cinema-francais/" >Cinéma français</a></p><p><a href="/spectacle/comedies/" >Comédies</a></p><p><a href="/spectacle/ceremonie/" >Cérémonie</a></p><p><a href="/spectacle/danse/" >Danse</a></p><p><a href="/spectacle/divertissement/" >Divertissement</a></p><p><a href="/spectacle/drames/" >Drames</a></p><p><a href="/spectacle/decouverte/" >Découverte</a></p><p><a href="/spectacle/equitation/" >Equitation</a></p><p><a href="/spectacle/humour/" >Humour</a></p><p><a href="/spectacle/jeunesse/" >Jeunesse</a></p><p><a href="/spectacle/loisirs-passions/" >Loisirs - Passions</a></p>
          <div class="clear"></div>
        </div>
      </div>
          <div class="row">
            <div class="col-xs-4">
              <br><strong class="pull-left">Par web-séries :&nbsp;&nbsp;&nbsp;</strong><br>
              <p><a href="/webserie/action-aventure/" >Action - Aventure</a></p><p><a href="/webserie/arts/" >Arts</a></p><p><a href="/webserie/cinema-francais/" >Cinéma français</a></p><p><a href="/webserie/comedies/" >Comédies</a></p><p><a href="/webserie/entertainment/" >Entertainment</a></p><p><a href="/webserie/epouvante-horreur/" >Epouvante - horreur</a></p><p><a href="/webserie/fantastique/" >Fantastique</a></p><p><a href="/webserie/humour/" >Humour</a></p><p><a href="/webserie/romance/" >Romance</a></p><p><a href="/webserie/science-fiction/" >Science-fiction</a></p><p><a href="/webserie/societe/" >Société</a></p>
              <div class="clear"></div>
        </div>
      </div>
      </div>
    </div>
  </div>

  {% endif %}
</div>