<a name="footer"></a>
<div class="container">
  <div class="row">
  <ul class="nav nav-pills nav-share">
    <li class="span3"><iframe class="facebook" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmyskreen&amp;send=false&amp;layout=button_count&amp;width=215&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=193945860617344" style="border: none; overflow: hidden; width: 200px; height: 20px;"></iframe><a rel="nofollow" href="http://www.facebook.com/myskreen" id="fb" class="colorbox">Facebook.com/mySkreen</a></li>
    <li class="span3"><iframe class="twitter" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1337330192.html#_=1338538061760&amp;id=twitter-widget-0&amp;lang=fr&amp;screen_name=mySkreen&amp;show_count=true&amp;show_screen_name=true&amp;size=m" style="width: 200px; height: 20px;" title="Twitter Follow Button"></iframe><a rel="nofollow" href="http://www.twitter.com/myskreen" id="tw" class="colorbox">Twitter.com/mySkreen</a></li>
    <li class="span3"><iframe class="google" frameborder="0" scrolling="no" src="https://plusone.google.com/_/+1/fastbutton?bsv=pr&amp;url=http%3A%2F%2Fwww.myskreen.com%2F&amp;size=medium&amp;count=true&amp;origin=https%3A%2F%2Fplusone.google.com&amp;hl=fr&amp;jsh=m%3B%2F_%2Fapps-static%2F_%2Fjs%2Fgapi%2F__features__%2Frt%3Dj%2Fver%3Da4VcHo_vwLs.en.%2Fsv%3D1%2Fam%3D!g1Jk74_hHGWYLXF4lw%2Fd%3D1%2Frs%3DAItRSTPHZ_P8iXGq2qNGyjGPcq1Cnsfr7w#id=I9_1343289996918&amp;parent=https%3A%2F%2Fplusone.google.com&amp;rpctoken=71946186&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart" style="width: 90px; margin: 0px; border-style: none; height: 20px; visibility: visible;" title="+1"></iframe><a rel="nofollow" href="https://plus.google.com/106555719800030017985/posts">Google+</a></li>
  </ul>
  </div>
  <div class="row clear">
    <div class="span2"><a class="pull-left" href="http://www.myskreen.com/"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo-footer.jpg') }}" alt="mySkreen.com"></a></div>
    <div class="span8"><p class="clear">mySkreen est un guide de programmes innovant qui réunit sur un seul site toutes les chaines de télévision, tout le replay, tous les catalogues de VOD, le cinéma avec les horaires et les salles, et les web séries produites par les meilleurs sites médias. Suivez les programmes que vous aimez et soyez avertis à chaque diffusion ou nouvelle offre en streaming. Grâce à mySkreen vous reprenez le pouvoir : mySkreen c’est votre télé à la carte et à la demande.</p></div>
  </div>
  <hr/>
  <div class="row" style="font-size: 0.9em;">
    <div id="boost" class="span2">
    {% render 'SkreenHouseFactoryV3Bundle:Main:boost' with {}, {'standalone': true} %}
    </div>
    <div id="cats" class="span2">
      Replay :<br/> 
      <a href="{{ path('tvgrid') }}">Replay</a>
      <a href="{{ path('channel', {slug: 'm6'}) }}">M6 en Replay</a>
      <a href="{{ path('channel', {slug: 'tf1'}) }}">TF1 en Replay</a>
      <a href="{{ path('channel', {slug: 'w9'}) }}">W9 en Replay</a>
      <a href="{{ path('channel', {slug: 'france-2'}) }}">France 2 en Replay</a>
      <a href="{{ path('channel', {slug: 'france-3'}) }}">France 3 en Replay</a>
      <hr/>
      Chaînes : <br/>
      <a href="{{ path('sitemap_channels', {type: 'broadcast'}) }}">Chaînes TV & Replay</a>
      <a href="{{ path('sitemap_channels', {type: 'vod'}) }}">Chaînes VOD</a>
      <a href="{{ path('sitemap_channels', {type: 'webcast'}) }}">Chaînes Web</a>
      <a href="{{ path('sitemap_channels', {type: 'cinema'}) }}">Salles de cinéma</a>
      <a href="{{ path('sitemap_channels', {type: 'dvd'}) }}">Location / achat Dvd</a>
      <a href="{{ path('sitemap_channels', {type: 'box'}) }}">Box</a>
    </div>
    {% if app.request.get('home') and 
          app.request.get('home') not in ['tv-replay','cinema','video-a-la-demande','mixte'] %}
      {% set base_footer = app.request.get('home') %}
    {% else %}{% set base_footer = 'film' %}{% endif %}
    <div id="cats" class="span3">
      Catégories : 
      {% set footerspin =  ' streaming' %}
      {#% if base_footer in ['film'] %#}
      <a href="/{{ base_footer }}/film-culte/">Film culte{{ footerspin }}</a>
      <a href="/{{ base_footer }}/ovni-experimental/">OVNI / Expérimental{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['film','dessin-anime-et-manga','serie'] %#}
      <a href="/{{ base_footer }}/romance/">Romance{{ footerspin }}</a>
      <a href="/{{ base_footer }}/policier-thriller/">Policier - Thriller{{ footerspin }}</a>
      <a href="/{{ base_footer }}/fantastique/">Fantastique{{ footerspin }}</a>
      <a href="/{{ base_footer }}/comedies/">Comédies{{ footerspin }}</a>
      <a href="/{{ base_footer }}/drames/">Drames{{ footerspin }}</a>
      <a href="/{{ base_footer }}/jeunesse/">Jeunesse{{ footerspin }}</a>
      <a href="/{{ base_footer }}/erotique/">Erotique{{ footerspin }}</a>
      <a href="/{{ base_footer }}/action-aventure/">Action - Aventure{{ footerspin }}</a>
      <a href="/{{ base_footer }}/epouvante-horreur/">Epouvante - horreur{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['film','documentaire'] %#}
      <a href="/{{ base_footer }}/biographie-biopic/">Biographie - Biopic{{ footerspin }}</a>
      <a href="/{{ base_footer }}/societe/">Société{{ footerspin }}</a>
      <a href="/{{ base_footer }}/arts/">Arts{{ footerspin }}</a>
      <a href="/{{ base_footer }}/histoire/">Histoire{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['documentaire'] %#}
      <a href="/{{ base_footer }}/sciences/">Sciences{{ footerspin }}</a>
      <a href="/{{ base_footer }}/justice/">Justice{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['film','documentaire','serie','dessin-anime-et-manga'] %#}
      <a href="/{{ base_footer }}/science-fiction/">Science-fiction{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['emission','journal','documentaire'] %#}
      <a href="/{{ base_footer }}/sport/">Sport{{ footerspin }}</a>
      <a href="/{{ base_footer }}/decouverte/">Découverte{{ footerspin }}</a>
      <a href="/{{ base_footer }}/sante-bien-etre/">Santé - bien-être{{ footerspin }}</a>
      <a href="/{{ base_footer }}/loisirs-passions/">Loisirs - Passions{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['emission','journal'] %#}
      <a href="/{{ base_footer }}/divertissement-humour/">Divertissement-humour{{ footerspin }}</a>
      <a href="/{{ base_footer }}/archives/">Archives{{ footerspin }}</a>
      {#% endif %}
      {% if base_footer in ['serie'] %#}
      <a href="/serie/series-americaines/">Séries américaines{{ footerspin }}</a>
      <a href="/serie/series-francaise/">Séries françaises{{ footerspin }}</a>
      <a href="/serie/serie-animee/">Série animée{{ footerspin }}</a>
      {#% endif %#}
    </div>
  </div>
  <hr/>
  <div class="row">
    <ul class="span10 nav nav-pills">
      <li><a rel="nofollow" class="pull-left" target="_blank" href="http://medias.myskreen.com/pdf/cguv.pdf">CGUV</a></li>
      <li><a rel="nofollow" class="pull-left" href="#footer" data-modal="feedback">Nous écrire</a></li>
      <li><a class="pull-left" href="{{ app.environment == 'dev' ? '/m' : 'http://m.myskreen.com' }}">Site mobile</a></li>
    </ul>
  </div>
</div>