<a name="footer"></a>
<div class="container">
  <div id="boost" class="row">
    {% render(controller('SkreenHouseFactoryV3Bundle:Main:boost',{})) %}
  </div>
  <hr/>
  
  <div id="sitemap">
    <h2>mySkreen est un guide de programmes innovant qui réunit sur un seul site toutes les chaînes de télévision, tout le replay, tous les catalogues de VOD, le cinéma avec les horaires et les salles, et les web séries produites par les meilleurs sites médias. Suivez les programmes que vous aimez et soyez avertis à chaque diffusion ou nouvelle offre en streaming. Grâce à mySkreen, reprenez le pouvoir : mySkreen c’est votre télé à la carte et à la demande.</h2>
    
    <strong class="pull-left">Par média :&nbsp;&nbsp;&nbsp;</strong>
    <h3><a href="/programme-tv/">Tv & Replay</a></h3>
    <h3><a href="/video-a-la-demande/">Vidéo à la demande</a></h3>
    <h3><a href="/cinema/">Cinéma</a></h3>
    <div class="clear"></div>
    <strong class="pull-left">Par type de programme :&nbsp;&nbsp;&nbsp;</strong>
    <h3><a href="/film/liste">Films</a></h3>
    <h3><a href="/telefilm/">Téléfilms</a></h3>
    <h3><a href="/documentaire/">Documentaires</a></h3>
    <h3><a href="/serie/">Séries</a></h3>
    <h3><a href="/emission/">Emission</a></h3>
    <h3><a href="/journal/">Journaux</a></h3>
    <h3><a href="/court-metrage/">Court-métrages</a></h3>
    <h3><a href="/theatre/">Pièces de théatre</a></h3>
    <h3><a href="/concert/">Concerts</a></h3>
    <h3><a href="/clip/">Clips musicaux</a></h3>
    <h3><a href="/spectacle/">Spectacles</a></h3>
    <h3><a href="/jeunesse/">Jeunesse</a></h3>
    <h3><a href="/dessin-anime-et-manga/">Dessin-animés et mangas</a></h3>
    <h3><a href="/webserie/">Web-séries</a></h3>
    <div class="clear"></div>
    <strong class="pull-left">Par diffuseur :&nbsp;&nbsp;&nbsp;</strong>
    <h3><a href="{{ path('sitemap_channels', {type: 'broadcast'}) }}">Chaînes TV & Replay</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'vod'}) }}">Chaînes Vidéo à la demande</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'webcast'}) }}">Chaînes Web</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'thematique'}) }}">Chaînes thématiques</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'cinema'}) }}">Salles de cinéma</a></h3>
    <h3><a href="{{ path('sitemap_channels', {type: 'dvd'}) }}">Dvd et Blu-ray</a></h3>
  </div>
  <br/>
  <br/>
  <hr/>
  <div class="row">
  <ul class="nav nav-pills nav-share">
    <li class="col-xs-4"><a class="pull-left" href="http://www.myskreen.com/"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo-footer.jpg') }}" alt="mySkreen.com"></a></li>
    <li class="col-xs-4"><iframe class="facebook" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fmyskreen&amp;send=false&amp;layout=button_count&amp;width=215&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=193945860617344" style="border: none; overflow: hidden; width: 200px; height: 20px;"></iframe><a rel="nofollow" href="http://www.facebook.com/myskreen" id="fb" class="colorbox">Facebook.com/mySkreen</a></li>
    <li class="col-xs-4"><iframe class="twitter" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1337330192.html#_=1338538061760&amp;id=twitter-widget-0&amp;lang=fr&amp;screen_name=mySkreen&amp;show_count=true&amp;show_screen_name=true&amp;size=m" style="width: 200px; height: 20px;" title="Twitter Follow Button"></iframe><a rel="nofollow" href="http://www.twitter.com/myskreen" id="tw" class="colorbox">Twitter.com/mySkreen</a></li>
    <li class="col-xs-3"><iframe class="google" frameborder="0" scrolling="no" src="https://plusone.google.com/_/+1/fastbutton?bsv=pr&amp;url=http%3A%2F%2Fwww.myskreen.com%2F&amp;size=medium&amp;count=true&amp;origin=https%3A%2F%2Fplusone.google.com&amp;hl=fr&amp;jsh=m%3B%2F_%2Fapps-static%2F_%2Fjs%2Fgapi%2F__features__%2Frt%3Dj%2Fver%3Da4VcHo_vwLs.en.%2Fsv%3D1%2Fam%3D!g1Jk74_hHGWYLXF4lw%2Fd%3D1%2Frs%3DAItRSTPHZ_P8iXGq2qNGyjGPcq1Cnsfr7w#id=I9_1343289996918&amp;parent=https%3A%2F%2Fplusone.google.com&amp;rpctoken=71946186&amp;_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart" style="width: 90px; margin: 0px; border-style: none; height: 20px; visibility: visible;" title="+1"></iframe><a rel="nofollow" href="https://plus.google.com/106555719800030017985/posts">Google+</a></li>
  </ul>
  </div>
  <hr/>
  <div class="row">
    <ul class="col-xs-16 nav nav-pills">
      <li><a rel="nofollow" class="pull-left" target="_blank" href="http://medias.myskreen.com/pdf/cguv.pdf">CGUV</a></li>
      <li><a rel="nofollow" class="pull-left" href="#footer" data-modal="feedback">Nous écrire</a></li>
      <li><a class="pull-left" href="{{ app.environment == 'dev' ? '/m' : 'http://m.myskreen.com' }}">Site mobile</a></li>
    </ul>
  </div>
</div>