<div id="top-header">
    <div class="row">
      <div class="col-xs-16">
        <a class="burger-icon" href="#msk-menu"><span class="glyphicon glyphicon-align-justify"></span></a>
        <a id="logo" href="{{ path('homes', {home: null})|replace({'//': '/'}) }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="mySkreen" ></a>
        <ul class="nav navbar-nav">
          <li{{ app.request.attributes.get('_route') in ['tvgrid_date','tvgrid'] ? ' class="active"' : '' }}>
            <span data-link-to-replace="{{ path('tvgrid')|rot13 }}">TV &amp; Replay</span>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_header-dropdown.html.twig' with {home: "tv"} %}
          </li>
          <li{{ app.request.get('home') == 'video-a-la-demande' ? ' class="active"' : '' }}>
            <a href="{{ path('homes', {home: 'video-a-la-demande'}) }}">A la demande</a>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_header-dropdown.html.twig' with {home: "video-a-la-demande"} %}
          </li>
          <li{{ app.request.get('home') == 'cinema' ? ' class="active"' : '' }}>
            <a href="{{ path('homes', {home: 'cinema'}) }}">En salles</a>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_header-dropdown.html.twig' with {home: "cinema"} %}
          </li>
        </ul>

        <form id="nav-search" class="navbar-search">
          <span class="glyphicon glyphicon-search" style="display: inline-block;position: absolute;top: 24px;right: 9px;color:#777777"></span>
          <input type="text"  value="{{ app.request.get('q') }}" class="search-query pull-left searchbutton" placeholder=" Un film, un acteur, etc.">
        </form>

        <ul class="nav nav-playlists headertoprighticons hide"> 
          {# NOTIFS #}
          <li class="hide user-on dropdown notifications tv-component inline-block">
            <a data-toggle="dropdown" class="dropdown-toggle uppercase notifications-count"></a>
            <ul id="dropdown-menu-notification" class="dropdown-menu">
              <span class="notification-filter">
                <a class="label label-info filter" data-filter="all">Tout</a>
                <a class="label filter" data-filter="tv">TV</a>
                <a class="label filter" data-filter="replay">Replay</a>
                <a class="label filter" data-filter="vod">VOD</a>
                <a class="label filter" data-filter="theaters">Ciné</a>
                <a class="label filter" data-filter="chaîne">Chaînes</a>
                <a class="label filter" data-filter="friends">Amis</a>
              </span>
              <div class="scroll notification-scroll">
                <li class="empty">
                  <p class="ms-surtitre">{{ 'notifications.empty.title'|trans }}</br>{{ 'notifications.empty.text'|trans }}
                  </p>
                </li>
              </div>
              <span class="link-usernotifs clearfix">
                <span data-link-to-replace="{{ path('user_notifs')|rot13 }}">Toutes mes notifications</span>
                <span rel="tooltip" class="remove-all-notifs pull-right" data-trigger-click=".notifications .remove" data-container="body" data-placement="bottom" title="Supprimer toutes les notifications de la liste">
                  <span class="glyphicon glyphicon-trash"></span>
                </span>
              </span>
            </ul>
          </li>

          {# SE CONNECTER #}
          <li class="user-off playlists">
            <a class="auth btn btn-primary" data-modal-title="Connexion / inscription" data-modal-message="Tous vos programmes TV, Replay, Ciné, VOD et Web dans une même playlist !">
              Mes listes<br/><small>Se connecter / s'inscrire</small>
            </a>
          </li>

          {# MA PLAYLIST / MES FAVORIS #}
          <li class="hide user-on playlists inline-block">
            <a data-toggle="collapse" data-target="#top-playlist" class="tv-component">
            Mes playlists
            </a>
          </li>

          {# MON COMPTE #}
          <li class="hide user-on dropdown user-menu disable-select inline-block">
            <a id="dLabel" data-toggle="dropdown" class="dropdown-toggle tv-component pull-right">
              <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class="nav-header user-email"></li>
              <li class="divider"></li>
              <li class="fb-placeholder hide">
                <div id="fbconnect"><img src="{{ asset('bundles/skreenhousefactoryv3/images/fb-connect.png') }}" style="width: 180px;height: 32px;margin-left: 20px;cursor: pointer"/>
                </div>
              </li>
              <li class="share share-placeholder">
                <a class="text share-off" data-modal="facebook" data-modal-title="Connectez mySkreen à votre compte Facebook" data-modal-message="... et suivez ce que regardent vos amis !">Facebook : activer le partage</a>
                <a class="text share-on hide">
                Partage Facebook&nbsp; 
                  <span class="btn-group" data-toggle="buttons-radio">
                  <span class="btn btn-xs btn-info" data-share="allow">{{ 'yes'|trans }}</span>
                  <span class="btn btn-xs btn-default" data-share="disallow">{{ 'no'|trans }}</span>
                </span>
                </a>
              </li>
              <li class="divider"></li>
              <li class="dropdown-user-programs">
                <span class="programs" data-link-to-replace="{{ path('user_programs')|rot13 }}"><i class="glyphicon glyphicon-list"></i> Mes listes <span></span></span>
              </li>
              <li>
                <span class="mychannel" data-link-to-replace="{{ path('user_mychannel')|rot13 }}"><i class="glyphicon glyphicon-globe"></i> Publier mes listes</span>
              </li>
              <li class="dropdown-user-friends">
                <span class="friends" data-link-to-replace="{{ path('user_friends')|rot13 }}"><i class="glyphicon glyphicon-heart-empty"></i> Mes amis regardent <span></span></span>
              </li>
              {# <li>
                <span class="vod" data-link-to-replace="{{ path('user_vod')|rot13 }}"><i class="glyphicon glyphicon-film"></i> {{ 'nav.vod'|trans }}</span>
              </li> #}
              <li>
                <span class="account" data-link-to-replace="{{ path('user_settings')|rot13 }}"><i class="glyphicon glyphicon-user"></i> {{ 'nav.account'|trans }}</span>
              </li>
              <li class="divider"></li>
              <li>
                <a class="signout"><i class="glyphicon glyphicon-remove"></i> {{ 'signout'|trans }}</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>

    <div id="top-playlist" class="collapse" data-selector-url="{{ path('playlist_load', {type:'selector', session_uid: 'session.uid'}) }}">
      <div class="container playlist">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_selector.html.twig' %}
      </div>
    </div>

</div>