{% if app.environment == 'prod' %}{% set header_base = 'http://www.myskreen.com' %}{% else %}{% set header_base = '' %}{% endif %}
<div id="top-bar" class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container">
<div class="nav-collapse-disabled">
  <ul class="pull-right nav hide">
    <li class="divider-vertical"></li>
    <li><a href="#" class="couchmode-close"><i class="icon-off icon-white"></i> {{ 'nav.menu.tv.off'|trans }}</a></li>
    <li class="divider-vertical"></li>
  </ul>
  <ul class="pull-right nav couchmode-off">
    <li class="divider-vertical"></li>
    <li class="user-off">
      <a class="auth" href="#"><i class="sprite-user"></i> {{ 'nav.menu.account.off'|trans }}</a>
    </li>
    <li class="divider-vertical user-off"></li>
    <li class="user-off">
      <a data-toggle="collapse" data-target="#top-playlist" class="btn-last notifications" href="#">{{ 'playlist.discover'|trans }} <i class="icon-chevron-down icon-white"></i></a>
    </li>
    <li class="hide user-on dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle tv-component user" href="#">
        <span class="username"></span>
      </a>
      <ul class="dropdown-menu">
   			<li class="share">
	        <a href="#" class="text share-off" data-modal="facebook" data-modal-title="Connectez mySkreen à votre compte Facebook">Facebook : activer le partage</a>
	        <a href="#" class="text share-on hide">
						<span class="btn-group" data-toggle="buttons-radio">
		          <span class="btn btn-small btn-primary" data-share="allow">{{ 'yes'|trans }}</span>
		          <span class="btn btn-small" data-share="disallow">{{ 'no'|trans }}</span>
						</span>&nbsp;Partage Facebook
	        </a>
	      </li>
		  	<li><a class="favoris" href="{{ path('user_programs') }}" target="_top"><i class="icon-list-alt"></i> {{ 'nav.favoris'|trans }} <span></span></a></li>
				{% if app.environment == 'dev' %}
		  	<li><a class="favoris" href="{{ path('user_vod') }}" target="_top"><i class="icon-film"></i> {{ 'nav.vod'|trans }} <span></span></a></li>
				{% endif %}
        <li><a class="account" href="{{ path('user_settings') }}" target="_top"><i class="icon-user"></i> {{ 'nav.account'|trans }}</a></li>
        <li><a class="signout" href="#"><i class="icon-remove"></i> {{ 'signout'|trans }}</a></li>
      </ul>
    </li>
    <li class="divider-vertical hide user-on"></li>
    <li class="hide user-on dropdown">
      <a data-toggle="collapse" data-target="#top-playlist" class="tv-component" href="#">{{ 'playlist.yours'|trans }} <i class="icon-chevron-down icon-white"></i></a>
    </li>
    <li class="divider-vertical hide user-on"></li>
    <li class="hide user-on dropdown notifications">
      <a data-toggle="dropdown" class="dropdown-toggle tv-component btn-last notifications-count" href="#"></a>
      <ul class="dropdown-menu">
        <div class="scroll"><li class="empty"><h6>{{ 'notifications.empty.title'|trans }}<small>{{ 'notifications.empty.text'|trans }}</small></h6></li></div>
      </ul>
    </li>
    <li class="divider-vertical"></li>
  </ul>
  <a class="pull-left" href="http://www.myskreen.com/" target="_top" title="{{ 'service.name'|trans }}"><img id="logo" src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="{{ 'service.name'|trans }}" /></a>
  <form class="navbar-search pull-left">
  <i class="icon-search icon-white"></i>
  <input type="text" value="{{ app.request.get('q') }}" class="search-query pull-left" placeholder="{{ 'search.pitch'|trans }}">
  </form>
</div>
</div>
</div>
</div>

<div id="top-nav" class="couchmode-off">
  <div class="subnav subnav-fixed">
    <div class="container">
      <ul id="shortcuts" class="pull-right">
        <li class="shortcut-jeunesse"><a href="{{ header_base }}{{ path('homes', {home: 'jeunesse'}) }}" target="_top">{{ 'nav.jeunesse'|trans }}</a></li>
        <li class="shortcut-spectacles"><a href="{{ header_base }}{{ path('homes', {home: 'spectacle'}) }}" target="_top">{{ 'nav.spectacles'|trans }}</a></li>
        <li class="shortcut-series"><a href="{{ header_base }}{{ path('homes', {home: 'serie'}) }}" target="_top">{{ 'nav.series'|trans }}</a></li>
        <li class="shortcut-documentaires"><a href="{{ header_base }}{{ path('homes', {home: 'documentaire'}) }}" target="_top">{{ 'nav.documentaires'|trans }}</a></li>
        <li class="shortcut-emissions"><a href="{{ header_base }}{{ path('homes', {home: 'emission'}) }}" target="_top">{{ 'nav.emissions'|trans }}</a></li>
        <li class="shortcut-films"><a href="{{ header_base }}{{ path('homes', {home: 'film'}) }}" target="_top">{{ 'nav.films'|trans }}</a></li>
      </ul>
      <ul class="nav">
        <li class="tv"><a href="{{ header_base }}{{ path('homes', {home: 'tv-replay'}) }}" target="_top">{{ 'nav.subnav.tv'|trans }}</a></li>
        <li class="vod"><a href="{{ header_base }}{{ path('homes', {home: 'video-a-la-demande'}) }}" target="_top">{{ 'nav.subnav.vod'|trans }}</a></li>
        <li class="cine"><a href="{{ header_base }}{{ path('homes', {home: 'cinema'}) }}" target="_top">{{ 'nav.subnav.cine'|trans }}</a></li>
      </ul>
    </div>
  </div>
  <div id="top-filters">{% include 'SkreenHouseFactoryV3Bundle:Main:_header-filters.html.twig' %}</div>
</div>
