<ul class="container nav nav-pills hide btn-group">
  <li class="vod vod-films"><a class="link-v2" href="/films" href="#">{{ 'nav.films'|trans }}</a></li>
  <li class="vod vod-documentaires"><a class="link-v2" href="/documentaires" href="#">{{ 'nav.documentaires'|trans }}</a></li>
  <li class="vod vod-series"><a class="link-v2" href="/series" href="#">{{ 'nav.series'|trans }}</a></li>
  <li class="vod vod-spectacles"><a class="link-v2" href="/spectacles" href="#">{{ 'nav.spectacles'|trans }}</a></li>
  <li class="vod vod-jeunesse"><a class="link-v2" href="/jeunesse" href="#">{{ 'nav.jeunesse'|trans }}</a></li>
  {#<li class="tv"><a href="{{ path('player_live') }}" target="_parent">{{ 'nav.tv.live'|trans }}</a></li>#}
  {#<li class="btn home tv tv-grid dropdown">
    <a class="link-v2 dropdown-toggle" data-filter="all" data-toggle="dropdown" href="/programme-tv">{{ 'nav.tv.grid'|trans }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="nav-header">{{ 'past'|trans }}</li>
      <li><a href="#">{{ 'nav.tv.selection.lastweek'|trans }}</a></li>
      <li><a href="#">{{ 'nav.tv.selection.yesterday'|trans }}</a></li>
      <li class="divider"></li>
      <li class="nav-header">{{ 'today'|trans }}</li>
      <li><a href="#">{{ 'nav.tv.selection.now'|trans }}</a></li>
      <li><a href="#">{{ 'nav.tv.selection.tonight'|trans }}</a></li>
      <li class="divider"></li>
      <li class="nav-header">{{ 'coming'|trans }}</li>
      <li><a href="#">{{ 'nav.tv.selection.tommorrow'|trans }}</a></li>
      <li><a href="#">{{ 'nav.tv.selection.thisweek'|trans }}</a></li>
    </ul>
  </li>#}
  <li class="btn home tv tv-grid"><a class="link-v2" href="/programme-tv">La grille TV </a></li>
  <li class="btn home tv no-link">Les chaînes &raquo</li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 102, slug: 'tf1'}) }}" title="TF1 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/tf1_medium.png" alt="TF1 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 50, slug: 'france-2'}) }}" title="FRANCE 2 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-2_medium.png" alt="FRANCE 2 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 51, slug: 'france-3'}) }}" title="FRANCE 3 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-3_medium.png" alt="FRANCE 3 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 14, slug: 'canal'}) }}" title="CANAL + Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/canal-%2B_medium.png" alt="CANAL + Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 53, slug: 'france-5'}) }}" title="FRANCE 5 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-5_medium.png" alt="FRANCE 5 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 52, slug: 'france-4'}) }}" title="FRANCE 4 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-4_medium.png" alt="FRANCE 4 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 54, slug: 'france-o'}) }}" title="FRANCE Ô Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-o_medium.png" alt="FRANCE Ô Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 6, slug: 'arte'}) }}" title="ARTE Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/arte_medium.png" alt="ARTE Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 64, slug: 'm6'}) }}" title="M6 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/m6_medium.png" alt="M6 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 36, slug: 'd8'}) }}" title="D8 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/d8_medium.png" alt="D8 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 4133, slug: 'd17'}) }}" title="D17 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/d17_medium.png" alt="D17 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 115, slug: 'w9'}) }}" title="W9 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/w9_medium.png" alt="W9 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 105, slug: 'tmc'}) }}" title="TMC Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/tmc_medium.png" alt="TMC Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 81, slug: 'nt1'}) }}" title="NT1 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/nt1_medium.png" alt="NT1 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 78, slug: 'nrj-12'}) }}" title="NRJ 12 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/nrj-12_medium.png" alt="NRJ 12 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 56, slug: 'gulli'}) }}" title="GULLI Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/gulli_medium.png" alt="GULLI Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 166, slug: 'france-24'}) }}" title="FRANCE 24 Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-24_medium.png" alt="FRANCE 24 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 11, slug: 'bfm-tv'}) }}" title="BFM TV Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/bfm-tv_medium.png" alt="BFM TV Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 59, slug: 'itele'}) }}" title="iTélé Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/itele_medium.png" alt="iTélé Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ path('channel_replay', {id: 89, slug: 'public-senat'}) }}" title="Public Sénat Replay"><img src="http://mskstatic.com/34/28/medias/ico/chaines/public-senat_medium.png" alt="Public Sénat Replay"></a></li>

  
  <li class="cine cine-new"><a class="link-v2" href="/selection/7845147-a-voir-au-cinema" href="#">{{ 'nav.theaters.release'|trans }}</a></li>
  <li class="cine cine-coming"><a class="link-v2" href="/selection/7845150-prochainement-dans-les-salles" href="#">{{ 'nav.theaters.coming'|trans }}</a></li>
  <li class="cine cine-box-office"><a target="_parent" href="{{ path('cinema_boxoffice', {alpha: 'a'}) }}" href="#">{{ 'nav.theaters.boxoffice'|trans }}</a></li>
</ul>