<div id="top-header">
    <div class="row">
      <div class="col-xs-16">
        <a class="burger-icon" href="#msk-menu"><span class="glyphicon glyphicon-align-justify"></span></a>
        <a id="logo" href="{{ path('homes', {home: null})|replace({'//': '/'}) }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="mySkreen" ></a>
        <ul>
          <li{{ app.request.attributes.get('_route') in ['tvgrid_date','tvgrid'] ? ' class="active"' : '' }}>
            <span data-link-to-replace="{{ path('tvgrid')|rot13 }}">TV &amp; Replay</span>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_header-dropdown.html.twig' with {home: "tv"} %}
          </li>
          <li{{ app.request.get('home') == 'video-a-la-demande' ? ' class="active"' : '' }}>
            <a href="{{ path('homes', {home: 'video-a-la-demande'}) }}">A la demande</a>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_header-dropdown.html.twig' with {home: "video-a-la-demande"} %}
          </li>
          <li{{ app.request.get('home') == 'cinema' ? ' class="active"' : '' }}>
            <a href="{{ path('homes', {home: 'cinema'}) }}">En salles</a>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_header-dropdown.html.twig' with {home: "cinema"} %}
          </li>
        </ul>
        <form id="nav-search" class="navbar-search">
          <i class="glyphicon glyphicon-search" style="display: inline-block;position: absolute;top: 24px;right: 9px;color:#777777"></i>
          <input type="text"  value="{{ app.request.get('q') }}" class="search-query pull-left searchbutton" placeholder=" Un film, un acteur, etc.">
        </form>
      </div>
    </div>
</div>
