<div id="top-bar" class="navbar navbar-inverse couchmode-overlay">
<div class="navbar-inner">
<div class="container">
<div class="nav-collapse">
  <ul class="pull-right nav hide couchmode-on">
    <li class="divider-vertical"></li>
    <li><a href="#" class="couchmode-close"><i class="icon-off icon-white"></i> {{ 'nav.menu.tv.off'|trans }}</a></li>
    <li class="divider-vertical"></li>
  </ul>
  <ul class="pull-right nav couchmode-off">
    <li class="divider-vertical"></li>
    <li class="user-off">
      <a class="signin" href="#"><i class="sprite-user"></i> {{ 'nav.menu.account.off'|trans }}</a>
    </li>
    <li class="divider-vertical user-off"></li>
    <li class="user-off">
      <a data-toggle="collapse" data-target="#top-playlist" class="btn-last notifications" href="#">{{ 'playlist.discover'|trans }} <i class="icon-chevron-down icon-white"></i></a>
    </li>
    <li class="hide user-on dropdown">
      {#<a class="signout" href="#"><i class="icon-ban-circle icon-white"></i></a>#}
      {#<a  data-toggle="collapse" data-target="#top-playlist" class="" href="#"><i class="icon-resize-vertical icon-white"></i></a>#}
      <a data-toggle="dropdown" class="dropdown-toggle user" href="#"><span></span></a>
      <ul class="dropdown-menu">
        <li><a class="favoris" href="{{ path('user_programs') }}" target="_parent"><i class="icon-list-alt"></i> {{ 'nav.favoris'|trans }} <span></span></a></li>
        <li><a class="account" href="#"><i class="icon-cog"></i> {{ 'nav.account'|trans }}</a></li>
        <li><a class="signout" href="#"><i class="icon-remove"></i> {{ 'signout'|trans }}</a></li>
      </ul>
    </li>
    <li class="divider-vertical hide user-on"></li>
    <li class="hide user-on dropdown">
      <a data-toggle="collapse" data-target="#top-playlist" class="" href="#">{{ 'playlist.yours'|trans }} <i class="icon-chevron-down icon-white"></i></a>
    </li>
    <li class="divider-vertical hide user-on"></li>
    <li class="hide user-on dropdown notifications">
      <a data-toggle="dropdown" class="dropdown-toggle btn-last notifications-count" href="#"></a>
      <ul class="dropdown-menu">
        <div><li class="empty"><h6>{{ 'notifications.empty.title'|trans }}<small>{{ 'notifications.empty.text'|trans }}</small></h6></li></div>
        {#
        <li class="nav-header">{{ 'nav.filter'|trans }}</li>
        <li><a class="link-v2 films" href="/films">{{ 'nav.films'|trans }}</a></li>
        <li><a class="link-v2 documentaires" href="/documentaires">{{ 'nav.documentaires'|trans }}</a></li>
        <li><a class="link-v2 emissions" href="/emissions">{{ 'nav.emissions'|trans }}</a></li>
        <li><a class="link-v2 series" href="/series">{{ 'nav.series'|trans }}</a></li>
        <li><a class="link-v2 spectacles" href="/spectacles">{{ 'nav.spectacles'|trans }}</a></li>
        <li class="divider"></li>
        <li><a class="link-v2 films" href="/films">Ce soir à la TV</a></li>
        <li class="divider"></li>
        <li><a class="link-v2 films" href="/films">Dans vos cinémas préférés</a></li>
        #}
      </ul>
    </li>
    <li class="divider-vertical"></li>
  </ul>
  <a class="pull-left link-v2 link-force" href="/" title="{{ 'service.name'|trans }}"><img id="logo" src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="{{ 'service.name'|trans }}" /></a>
  <form class="navbar-search pull-left">
  <i class="icon-search"></i>
  <input type="text" class="search-query pull-left" placeholder="{{ 'search.pitch'|trans }}">
  </form>
</div>
</div>
</div>
</div>

<div id="top-nav" class="couchmode-off">
  <div class="subnav subnav-fixed">
    <div class="container">
      <ul id="shortcuts" class="pull-right">
        <li class="shortcut-spectacles"><a class="link-v2" href="/spectacles" href="#">{{ 'nav.spectacles'|trans }}</a></li>
        <li class="shortcut-series"><a class="link-v2" href="/series" href="#">{{ 'nav.series'|trans }}</a></li>
        <li class="shortcut-documentaires"><a class="link-v2" href="/documentaires" href="#">{{ 'nav.documentaires'|trans }}</a></li>
        <li class="shortcut-emissions"><a class="link-v2" href="/emissions" href="#">{{ 'nav.emissions'|trans }}</a></li>
        <li class="shortcut-films"><a class="link-v2" href="/films" href="#">{{ 'nav.films'|trans }}</a></li>
      </ul>
      <ul class="nav">
        <li class="tv"><a class="link-v2 link-force" href="http://www.myskreen.com/tv-replay">{{ 'nav.subnav.tv'|trans }}</a></li>
        <li class="vod"><a class="link-v2 link-force" href="http://www.myskreen.com/vod">{{ 'nav.subnav.vod'|trans }}</a></li>
        <li class="cine"><a class="link-v2 link-force" href="http://www.myskreen.com/cine">{{ 'nav.subnav.cine'|trans }}</a></li>
      </ul>
    </div>
  </div>
  <div id="top-filters">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_header-filters.html.twig' %}
    <h6 id="top-baseline" class="user-off hide" data-toggle="collapse" data-target="#top-playlist">
      {{ 'playlist.baseline'|trans }}
    </h6>
  </div>
</div>

<div id="top-playlist" class="collapse" data-selector-url="{{ path('playlist_load', {type:'selector', session_uid: 'session.uid'}) }}">
  <div class="container">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_selector.html.twig' %}
  </div>
</div>