<header class="navbar navbar-fixed-top bs-docs-nav">
  <div class="container">
    <a href="{{ path('homes', {home: ''}) }}"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="mySkreen" id="logo"></a>
    <ul class="nav navbar-nav">
      <li><a href="{{ path('tvgrid') }}">TV &amp; Replay</a></li>
      <li><a href="#">WEB TV</a></li>
      <li><a href="{{ path('homes', {home: 'video-a-la-demande'}) }}">VOD</a></li>
      <li><a href="{{ path('homes', {home: 'cinema'}) }}">En salles</a></li>
    </ul>

    <form id="nav-search" class="navbar-search">
          <i class="glyphicon glyphicon-search" style="display:inline-block; margin-left:15px;"></i>
          <input type="text"  value="{{ app.request.get('q') }}" placeholder="{{ 'search.pitch'|trans }}" class="search-query pull-left searchbutton">
          <div class=" hide mini-loading mini-bar"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
      </form>


        <div class="headertoprighticons">
          <span class="toprigthicons-square ms-usericon">
            <span  class="toprigthicons-nbr glyphicon glyphicon-user"></span>
          </span>
          <span class="toprighticons-label toprighticons-user">Philibert</span>
        </div>
        <div class="separator"></div>
        <div class="headertoprighticons">
          <span class="toprigthicons-square ms-playlisticon">
            <span  class="toprigthicons-nbr ">99</span>
          </span>
          <span class="toprighticons-label toprighticons-playlist">Mes playlists</span>
        </div>

      </div>
    </header>