{% if app.environment == 'prod' %}{% set header_base = 'http://www.myskreen.com' %}{% else %}{% set header_base = '' %}{% endif %}
<ul class="container nav nav-pills hide btn-group">
  <li class="vod vod-film"><a href="{{ header_base }}/film" target="_top">{{ 'nav.films'|trans }}</a></li>
  <li class="vod vod-documentaire"><a href="{{ header_base }}/documentaire" target="_top">{{ 'nav.documentaires'|trans }}</a></li>
  <li class="vod vod-serie"><a href="{{ header_base }}/serie" target="_top">{{ 'nav.series'|trans }}</a></li>
  <li class="vod vod-spectacle"><a href="{{ header_base }}/spectacle" target="_top">{{ 'nav.spectacles'|trans }}</a></li>
  <li class="vod vod-jeunesse"><a href="{{ header_base }}/jeunesse" target="_top">{{ 'nav.jeunesse'|trans }}</a></li>
  <li class="btn home tv tv-grid"><a href="http://v2.myskreen.com/programme-tv" target="_top">La grille TV </a></li>
  <li class="btn home tv no-link">Les chaînes &raquo</li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'tf1'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/tf1_medium.png" alt="TF1 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'france-2'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-2_medium.png" alt="FRANCE 2 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'france-3'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-3_medium.png" alt="FRANCE 3 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'canal'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/canal-%2B_medium.png" alt="CANAL + Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'france-4'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-4_medium.png" alt="FRANCE 4 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'france-5'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-5_medium.png" alt="FRANCE 5 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'france-o'}) }}""><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-o_medium.png" alt="FRANCE Ô Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'arte'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/arte_medium.png" alt="ARTE Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'm6'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/m6_medium.png" alt="M6 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'd8'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/d8_medium.png" alt="D8 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'd17'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/d17_medium.png" alt="D17 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'w9'}) }}""><img src="http://mskstatic.com/34/28/medias/ico/chaines/w9_medium.png" alt="W9 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'tmc'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/tmc_medium.png" alt="TMC Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'nt1'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/nt1_medium.png" alt="NT1 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'nrj-12'}) }}""><img src="http://mskstatic.com/34/28/medias/ico/chaines/nrj-12_medium.png" alt="NRJ 12 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', { slug: 'gulli'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/gulli_medium.png" alt="GULLI Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'france-24'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/france-24_medium.png" alt="FRANCE 24 Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'bfm-tv'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/bfm-tv_medium.png" alt="BFM TV Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'itele'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/itele_medium.png" alt="iTélé Replay"></a></li>
  <li class="btn home tv tv-channel"><a target="_top" href="{{ header_base }}{{ path('channel', {slug: 'public-senat'}) }}"><img src="http://mskstatic.com/34/28/medias/ico/chaines/public-senat_medium.png" alt="Public Sénat Replay"></a></li>

  <li class="cine cine-new"><a href="{{ header_base }}/cinema/selection/7845147-a-decouvrir-dans-les-salles-cette-semaine/" target="_top">{{ 'nav.theaters.release'|trans }}</a></li>
  <li class="cine cine-coming"><a href="{{ header_base }}/cinema/selection/7845150-bientot-dans-les-salles/" target="_top">{{ 'nav.theaters.coming'|trans }}</a></li>
  <li class="cine cine-box-office"><a target="_top" href="{{ header_base }}{{ path('cinema_boxoffice', {alpha: 'a'}) }}">{{ 'nav.theaters.boxoffice'|trans }}</a></li>
</ul>