<div id="top-bar" class="container">
  <ul class="pull-right nav">
    <li id="signin" class="active">
      <a href="#">{{ 'signin'|trans }} - {{ 'signup'|trans }}</a>
    </li>
    <li id="signed-in" class="active hide">
      <a href="#"><span></span> - {{ 'signout'|trans }}</a>
    </li>
    <li>
      <a data-toggle="collapse" data-target="#top-playlist" href="#">
        <big>{{ 'playlist.trigger'|trans }}</big> <i class="icon-chevron-down icon-white"></i>
      </a>
  </li>
  </ul>

  <a class="pull-left" href="/" title="mySkreen"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo-v3.png') }}" alt="mySkreen" /></a>

  <form class="navbar-search btn-group pull-left">
  <input type="text" class="search-query btn-large pull-left" placeholder="{{ 'search.pitch'|trans }}">
  <a class="btn btn-large btn-inverse"><i class="icon-search icon-white"></i></a>
  </form>
</div>

<div id="top-nav">
  <div class="subnav subnav-fixed">
  <div class="container">
    <ul class="nav">
      <li class="with_badge active"><a data-target="#nav-toggle .suggestions" onClick="API.linkV2('/')">{{ 'nav.subnav.suggestions'|trans }}</a></li>
      <li><a data-target="#nav-toggle .tv" href="#">{{ 'nav.subnav.tv'|trans }}</a></li>
      <li><a data-target="#nav-toggle .cine" href="#">{{ 'nav.subnav.cine'|trans }}</a></li>
    </ul>
  </div>
  </div>
  <div class="container">
    <ul id="nav-toggle" class="nav nav-pills">
      <li id="history-back" class="hide"><a onClick="Session.postMessage(['javascript', 'history.back()'])" href="#">&laquo; Retour</a></li>
      <li class="with_badge badge-films suggestions"><a class="player" href="http://yahoo.fr">yahoo</a></li>
      <li class="with_badge badge-films suggestions"><a onClick="API.linkV2('/films')" href="#">{{ 'nav.films'|trans }}</a></li>
      <li class="with_badge badge-emissions suggestions"><a onClick="API.linkV2('/emissions')" href="#">{{ 'nav.emissions'|trans }}</a></li>
      <li class="with_badge badge-series suggestions"><a onClick="API.linkV2('/series')" href="#">{{ 'nav.series'|trans }}</a></li>
      <li class="with_badge badge-documentaires suggestions"><a onClick="API.linkV2('/documentaires')" href="#">{{ 'nav.documentaires'|trans }}</a></li>
      <li class="with_badge badge-spectacles suggestions"><a onClick="API.linkV2('/spectacles')" href="#">{{ 'nav.spectacles'|trans }}</a></li>
      <li class="tv hide"><a href="#">{{ 'nav.tv.live'|trans }}</a></li>
      <li class="tv hide dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'nav.tv.grid'|trans }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="nav-header">{{ 'past'|trans }}</li>
          <li><a href="#">{{ 'nav.tv.selection.lastweek'|trans }}</a></li>
          <li><a href="#">{{ 'nav.tv.selection.yesterday'|trans }}</a></li>
          <li class="divider"></li>
          <li class="nav-header">{{ 'today'|trans }}</li>
          <li><a href="#">{{ 'nav.tv.selection.now'|trans }}</a></li>
          <li><a href="#">{{ 'nav.tv.selection.tonight'|trans }}</a></li>
          <li class="divider"></li>
          <li class="nav-header">{{ 'coming'|trans }}</li>
          <li><a href="#">{{ 'nav.tv.selection.tommorrow'|trans }}</a></li>
          <li><a href="#">{{ 'nav.tv.selection.thisweek'|trans }}</a></li>
        </ul>
      </li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/films')" href="#">{{ 'nav.films'|trans }}</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/emissions')" href="#">{{ 'nav.emissions'|trans }}</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/series')" href="#">{{ 'nav.series'|trans }}</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/documentaires')" href="#">{{ 'nav.documentaires'|trans }}</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/spectacles')" href="#">{{ 'nav.spectacles'|trans }}</a></li>
      <li class="cine hide"><a onClick="API.linkV2('/selection/3520923-a-voir-au-cinema')" href="#">{{ 'nav.theaters.release'|trans }}</a></li>
      <li class="cine hide"><a onClick="API.linkV2('/selection/4588325-prochainement-dans-les-salles')" href="#">{{ 'nav.theaters.coming'|trans }}</a></li>
    </ul>
  </div>
  </div>
</div>

<div id="top-player" class="collapse">PLAYER</div>

<div id="top-playlist" class="collapse in" data-selector-url="{{ path('playlist_load', {type:'selector', session_uid: 'session.uid'}) }}">
  <h6 id="top-baseline">{{ 'playlist.title'|trans }}</h6>
  <div class="container">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_selector.html.twig' %}
  </div>
</div>

<div id="top-redirect" class="collapse">PLAYER</div>

<div id="top-links">
{% for key,m in menus %}
  <ul>{{  'all.the.format'|trans({'%format%': key|lower}) }} : 
  {% for l in m %}
    <li><a href="linkV2('{{ l.seo_url }}');" title="{{ l.name }} {{  key }} {{ 'access.streaming'|trans }}">{{ l.name }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
</div>