<div id="top-bar" class="container">
  <ul class="pull-right nav">
    <li class="active user-off btn-group">
      <a class="btn btn-inverse btn-large signin" href="#"><i class="sprite-user"></i> {{ 'nav.menu.account.off'|trans }}</a>
      {#<a  data-toggle="collapse" data-target="#top-playlist" class="btn btn-inverse btn-large" href="#"><i class="icon-resize-vertical icon-white"></i></a>#}
      {#<a class="btn btn-inverse btn-large" href="#"><i class="icon-off icon-white"></i> {{ 'nav.menu.tv'|trans }}</a>#}
    </li>
    <li class="hide user-on btn-group dropdown">
      {#<a class="btn btn-inverse btn-large signout" href="#"><i class="icon-ban-circle icon-white"></i></a>#}
      {#<a  data-toggle="collapse" data-target="#top-playlist" class="btn btn-inverse btn-large" href="#"><i class="icon-resize-vertical icon-white"></i></a>#}
      <a data-toggle="dropdown" class="dropdown-toggle btn btn-inverse btn-large user" href="#"><span></span></a>
      <a data-toggle="collapse" data-target="#top-playlist" class="btn btn-inverse btn-large btn-last notifications" href="#"><i class="icon-th-list icon-white"></i> {{ 'playlist.yours'|trans }}<span></span></a>
      <ul class="dropdown-menu">
        <li><a class="favoris" href="{{ path('user_programs') }}" target="_parent"><i class="icon-list-alt"></i> {{ 'nav.favoris'|trans }}</a></li>
        <li><a class="link-v2 account" href="#"><i class="icon-cog"></i> {{ 'nav.account'|trans }}</a></li>
        <li><a class="link-v2 signout" href="#"><i class="icon-remove"></i> {{ 'signout'|trans }}</a></li>
        {#<li class="nav-header">{{ 'nav.filter'|trans }}</li>
        <li><a class="link-v2 films" href="/films">{{ 'nav.films'|trans }}</a></li>
        <li><a class="link-v2 documentaires" href="/documentaires">{{ 'nav.documentaires'|trans }}</a></li>
        <li><a class="link-v2 emissions" href="/emissions">{{ 'nav.emissions'|trans }}</a></li>
        <li><a class="link-v2 series" href="/series">{{ 'nav.series'|trans }}</a></li>
        <li><a class="link-v2 spectacles" href="/spectacles">{{ 'nav.spectacles'|trans }}</a></li>
        <li class="divider"></li>
        <li><a class="link-v2 films" href="/films">Ce soir à la TV</a></li>
        <li class="divider"></li>
        <li><a class="link-v2 films" href="/films">Dans vos cinémas préférés</a></li>#}
      </ul>
    </li>
  </ul>
  <a class="pull-left link-v2 link-force" href="/" title="mySkreen"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo.png') }}" alt="mySkreen" /></a>
  <form class="navbar-search btn-group pull-left">
  <input type="text" class="search-query btn-large pull-left" placeholder="{{ 'search.pitch'|trans }}">
  <a class="btn btn-large btn-inverse"><i class="icon-search icon-white"></i></a>
  </form>
</div>

<div id="top-nav">
  <div class="subnav subnav-fixed">
    <div class="container">
      <ul class="nav">
        <li class="vod"><a class="link-v2 link-force" href="/vod">{{ 'nav.subnav.vod'|trans }}</a></li>
        <li class="tv"><a class="link-v2 link-force" href="/tv">{{ 'nav.subnav.tv'|trans }}</a></li>
        <li class="cine"><a class="link-v2 link-force" href="/cine">{{ 'nav.subnav.cine'|trans }}</a></li>
      </ul>
    </div>
  </div>
  <div id="top-filters">
    <h6 id="top-baseline" class="user-off" data-toggle="collapse" data-target="#top-playlist">
      {{ 'playlist.baseline'|trans }}
    </h6>
    {% include 'SkreenHouseFactoryV3Bundle:Main:_header-filters.html.twig' %}
  </div>
</div>

<div id="top-playlist" class="collapse in" data-selector-url="{{ path('playlist_load', {type:'selector', session_uid: 'session.uid'}) }}">
  <div class="container">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_selector.html.twig' %}
  </div>
</div>