<div class="container" id="top-bar">
  <ul class="pull-right nav">
    <li id="signin" class="active">
      <a href="#">{{ 'signin'|trans }} - {{ 'signup'|trans }}</a>
    </li>
    <li id="signed-in" class="active hide">
      <a href="#"><span></span> - {{ 'signout'|trans }}</a>
    </li>
    {#<li>
      <a data-toggle="collapse" data-target="#top-playlist" href="#">
        <big>{{ 'playlist.trigger'|trans }}</big> <i class="icon-chevron-down icon-white"></i>
      </a>
  </li>#}
  </ul>

  <a class="pull-left" href="/" title="mySkreen"><img src="{{ asset('bundles/skreenhousefactoryv3/images/logo-v3.png') }}" alt="mySkreen" /></a>

  <form class="navbar-search btn-group pull-left">
  <input type="text" class="search-query btn-large pull-left" placeholder="{{ 'search.pitch'|trans }}">
  <input type="submit" class="btn btn-large btn-inverse" value="{{ 'search.launch'|trans }}">
  </form>
</div>

<div id="top-nav">
  <div class="subnav subnav-fixed">
  <div class="container">
    <ul class="nav">
      <li class="with_badge active"><a data-toggle="collapse" data-target="#nav-toggle .suggestions" href="#">{{ 'nav.suggestions'|trans }}</a></li>
      <li><a data-toggle="collapse" data-target="#nav-toggle .tv" href="#">{{ 'nav.tv'|trans }}</a></li>
      <li><a data-toggle="collapse" data-target="#nav-toggle .cine" href="#">{{ 'nav.cine'|trans }}</a></li>
    </ul>
  </div>
  </div>
  <div class="container">
    <ul id="nav-toggle" class="nav nav-pills">
      <li id="history-back" class="hide"><a onClick="Session.postMessage(['javascript', 'history.back()'])" href="#">&laquo; Retour</a></li>
      <li class="with_badge badge-films suggestions"><a onClick="API.linkV2('/films')" href="#">{{ 'nav.films'|trans }}</a></li>
      <li class="with_badge badge-emissions suggestions"><a onClick="API.linkV2('/emissions')" href="#">{{ 'nav.emissions'|trans }}</a></li>
      <li class="with_badge badge-series suggestions"><a onClick="API.linkV2('/series')" href="#">{{ 'nav.series'|trans }}</a></li>
      <li class="with_badge badge-documentaires suggestions"><a onClick="API.linkV2('/documentaires')" href="#">{{ 'nav.documentaires'|trans }}</a></li>
      <li class="with_badge badge-spectacles suggestions"><a onClick="API.linkV2('/spectacles')" href="#">{{ 'nav.spectacles'|trans }}</a></li>
      <li class="tv hide"><a href="#">Le direct des chaînes</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv')" href="#">Programme TV</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/films')" href="#">&raquo; les films</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/emissions')" href="#">&raquo; les émissions</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/series')" href="#">&raquo; les séries</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/documentaires')" href="#">&raquo; les documentaires</a></li>
      <li class="tv hide"><a onClick="API.linkV2('/programme-tv/spectacles')" href="#">&raquo; les spectacles</a></li>
      <li class="cine hide"><a onClick="API.linkV2('/selection/3520923-a-voir-au-cinema')" href="#">Sorties de la semaine</a></li>
      <li class="cine hide"><a onClick="API.linkV2('/selection/4588325-prochainement-dans-les-salles')" href="#">Sorties à venir venir</a></li>
    </ul>
  </div>
  </div>
</div>

<div id="top-playlist" class="collapse in" data-selector-url="{{ path('playlist_load', {type:'selector', session_uid: 'session.uid'}) }}">
  <div class="container">
    {% include 'SkreenHouseFactoryV3Bundle:Main:_selector.html.twig' %}
  </div>
</div>

<div id="top-player" class="collapse">PLAYER</div>