{% set header_base = app.environment == 'prod' ? 'http://www.myskreen.com' : '' %}
{% set tv_channels = ['TF1','FRANCE 2','FRANCE 3','CANAL +','FRANCE 4','FRANCE 5','FRANCE Ô','ARTE','M6','D8','D17','W9','TMC','NT1','NRJ 12','FRANCE 24','BFM TV','BFM Business','iTélé','Public Sénat'] %}
{% set web_channels = ['Allocine','Yahoo','Perform','Le Figaro','Europe 1','France Info','Le Monde','Télérama','Marmiton','Doctissimo','Studio 4 0','Verywatch','It\'s big','Rendez-vous à Paris','Xtremevidéo','Paris Saint-Germain','La Chaîne techno','LeZapping','RMC sport','Arte Live Web'] %}

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
  <div class="navbar-inner-container">
    <a class="brand" href ="http://www.myskreen.com"><img src="http://mskstatic.com/150/medias/logo_black_nobaseline.png" alt="mySkreen.com"/></a>
    <ul class="nav nav-playlists pull-left">
      {# user off #}
      <li class="user-off playlists">
        <a class="auth" data-modal-title="Connexion / inscription" data-modal-message="Tous vos programmes TV, Replay, Ciné, VOD et Web dans une même playlist !"> {{ 'playlist.yours'|trans }}</a>
      </li>
      {# user on #}
      <li class="hide user-on dropdown notifications">
        <a data-toggle="dropdown" class="dropdown-toggle tv-component notifications-count"/></a>
        <ul class="dropdown-menu">
          <div class="scroll"><li class="empty"><h6>{{ 'notifications.empty.title'|trans }}<small>{{ 'notifications.empty.text'|trans }}</small></h6></li></div>
        </ul>
      </li>
      <li class="hide user-on playlists">
        <a data-toggle="collapse" data-target="#top-playlist" class="tv-component"> {{ 'playlist.yours'|trans }}</a>
      </li>
    </ul>
    </ul>
    <ul class="nav nav-menu">
      <li class="dropdown with-caret {{ app.request.get('home') == 'tv-replay' ? 'active' : '' }}">
        <a data-toggle="dropdown" class="a-caret visible-touch dropdown-toggle tv-component"><i class="icon-chevron-down icon-white"></i></a>
        <a class="with-caret tv-component" href="{{ header_base }}{{ path('tvgrid') }}" target="_top">{{ 'nav.subnav.tv'|trans }}<i></i></a>
        <ul class="dropdown-menu dropdown-menu-tv">
          <li class="nav-header">La grille TV</li>
          <li class="pull-left"><a href="{{ path('tvgrid') }}" target="_top">En ce moment</a></li>
          <li class="pull-left"><a href="{{ path('tvgrid_date', {date: 'ce-soir'}) }}" target="_top">Ce soir</a></li>
          <li class="pull-left"><a href="{{ path('tvgrid_date', {date: 'hier-soir'}) }}" target="_top">Hier soir</a></li>
          <li class="clear divider"></li>
          <li class="nav-header">Les chaînes de la Tnt</li>
          <li class="tv-channels">
            {% for channel in tv_channels %}
            {% set slug = channel|lower|replace({ ' +': '', ' ': '-', 'é': 'e', 'à': 'a', 'ô': 'o', 'î': 'i', '\'': '-'})|raw %}
            <a class="tv-component" target="_top" href="{{ header_base }}{{ path('channel', {slug: slug}) }}"><img src="http://mskstatic.com/37/40/medias/ico/chaines/{{ slug }}_medium.png" alt="{{ channel }} Replay"/></a>
            {% endfor %}
          </li>
          <li><a href="{{ path('sitemap_channels', {type: 'broadcast'}) }}"><i class="icon-chevron-right"></i> Toutes les chaines TV</a></li>
          <li class="divider clear"></li>
          <li class="nav-header">Les chaînes Web</li>
          <li class="tv-channels">
            {% for channel in web_channels %}
            {% set slug = channel|lower|replace({ ' +': '', ' ': '-', 'é': 'e', 'à': 'a', 'ô': 'o', 'î': 'i', '\'': '-'})|raw %}
            <a class="tv-component" target="_top" href="{{ header_base }}{{ path('channel', {slug: slug}) }}"><span class="hidden-touch">{{ channel }}</span><img src="http://mskstatic.com/37/40/medias/ico/chaines/{{ slug }}_medium.png" alt="{{ channel }} Replay"/></a>
            {% endfor %}
          </li>
          <li><a href="{{ path('sitemap_channels', {type: 'webcast'}) }}"><i class="icon-chevron-right"></i> Toutes les chaînes web</a></li>
          <li class="divider clear"></li>
          <li class="nav-header">Les chaînes mySkreen</li>
          <li class="tv-channels">
            <a class="tv-component" target="_top" href="{{ header_base }}{{ path('channel', {slug: 'les-inconnus'}) }}"><span class="hidden-touch">Les Inconnus</span><img src="http://mskstatic.com/50/50/c/medias/photos/channel/1-les-inconnus.jpg" alt="Les Inconnus"/></a>
            <a class="tv-component" target="_top" href="{{ header_base }}{{ path('channel', {slug: 'jacques-demy'}) }}"><span class="hidden-touch">Jacques Demy</span><img src="http://mskstatic.com/50/50/c/medias/photos/channel/3-jacques-demy.jpg" alt="Jacques Demy"/></a>
            <a class="tv-component" target="_top" href="{{ header_base }}{{ path('channel', {slug: 'agnes-varda'}) }}"><span class="hidden-touch">Agnès Varda</span><img src="http://mskstatic.com/50/50/c/medias/photos/channel/8-logo-agnes-varda.jpg" alt="Agnès Varda"/></a>
          </li>
        </ul>
      </li>
      <li class="dropdown with-caret active-dropdown-visible active-vod {{ app.request.get('home') == 'video-a-la-demande' ? ' active' : '' }}">
        <a data-toggle="dropdown" class="a-caret visible-touch dropdown-toggle tv-component"><i class="icon-chevron-down icon-white"></i></a>
        <a class="with-caret tv-component" href="{{ header_base }}{{ path('homes', {home: 'video-a-la-demande'}) }}" target="_top">{{ 'nav.subnav.vod'|trans }}<i></i></a>
        <ul class="dropdown-menu">
          <li><a href="{{ header_base }}{{ path('homes_vod', {home: 'film'}) }}" target="_top">{{ 'nav.films'|trans }}</a></li>
          <li><a href="{{ header_base }}{{ path('homes_vod', {home: 'documentaire'}) }}" target="_top">{{ 'nav.documentaires'|trans }}</a></li>
          <li><a href="{{ header_base }}{{ path('homes_vod', {home: 'serie'}) }}" target="_top">{{ 'nav.series'|trans }}</a></li>
          <li><a href="{{ header_base }}{{ path('homes_vod', {home: 'spectacle'}) }}" target="_top">{{ 'nav.spectacles'|trans }}</a></li>
          <li><a href="{{ header_base }}{{ path('homes_vod', {home: 'jeunesse'}) }}" target="_top">{{ 'nav.jeunesse'|trans }}</a></li>
        </ul>
      </li>
      <li class="dropdown with-caret active-dropdown-visible active-cinema {{ app.request.get('home') == 'cinema' or app.request.get('format') == 'cinema' ? ' active' : '' }}">
        <a data-toggle="dropdown" class="a-caret visible-touch dropdown-toggle tv-component"><i class="icon-chevron-down icon-white"></i></a>
        <a class="with-caret tv-component" href="{{ header_base }}{{ path('homes', {home: 'cinema'}) }}" target="_top">{{ 'nav.subnav.cine'|trans }}<i></i></a>
        <ul class="dropdown-menu">
          <li><a href="{{ header_base }}{{ path('any_url', {url : 'cinema/selection/7845147-a-decouvrir-dans-les-salles-cette-semaine/'}) }}" target="_top">{{ 'nav.theaters.release'|trans }}</a></li>
          <li><a href="{{ header_base }}{{ path('any_url', {url : 'cinema/selection/7845150-bientot-dans-les-salles/'}) }}" target="_top">{{ 'nav.theaters.coming'|trans }}</a></li>
          <li><a href="{{ header_base }}{{ path('cinema_boxoffice', {alpha: 'a'}) }}" target="_top">{{ 'nav.theaters.boxoffice'|trans }}</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav pull-right">
      <li>
        <form class="navbar-search">
        <i class="icon-search"></i>
        <input type="text" value="{{ app.request.get('q') }}" class="search-query pull-left span4" placeholder="{{ 'search.pitch'|trans }}">
        <img id="loading_gif" src="{{ asset('bundles/skreenhousefactoryv3/images/loader.gif') }}" style="margin-left: -50px" class="hide"/>
        </form>
      </li>
      <li class="hide user-on dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle tv-component" class="pull-right"><span class="badge-placeholder"><i class="icon-user icon-white"></i></span></a>
        <ul class="dropdown-menu">
          <li class="nav-header user-email"></li>
          <li class="fb-placeholder hide"><div id="fbconnect"><img src="{{ asset('bundles/skreenhousefactoryv3/images/fb-connect.png') }}" style="width: 180px;height: 32px;margin-left: 20px;cursor: pointer"/></div></li>
           <li class="share share-placeholder">
            <a class="text share-off" data-modal="facebook" data-modal-title="Connectez mySkreen à votre compte Facebook" data-modal-message="... et suivez ce que regardent vos amis !">Facebook : activer le partage</a>
            <a class="text share-on hide">
              Partage Facebook&nbsp; 
              <span class="btn-group" data-toggle="buttons-radio">
                <span class="btn btn-small btn-info" data-share="allow">{{ 'yes'|trans }}</span>
                <span class="btn btn-small" data-share="disallow">{{ 'no'|trans }}</span>
              </span>
            </a>
          </li>
          <li class="playlist-publish">
            <a data-toggle="collapse" data-target="#top-playlist"><i class="icon-play-circle"></i> {{ 'playlist.yours'|trans }} {% if app.environment == 'dev' %}<span data-publish="remove" class="btn btn-small">Publier</span>{% endif %}</a>
          </li>
          <li><a class="vod" href="{{ path('user_vod') }}" target="_top"><i class="icon-film"></i> {{ 'nav.vod'|trans }}</a></li>
          <li><a class="programs" href="{{ path('user_programs') }}" target="_top"><i class="icon-list"></i> {{ 'nav.favoris'|trans }} <span></span></a></li>
          <li><a class="programs" href="{{ path('user_channels') }}" target="_top"><i class="icon-list"></i> {{ 'nav.channel_favoris'|trans }} <span></span></a></li>
          <li><a class="programs" href="{{ path('user_theaters') }}" target="_top"><i class="icon-list"></i> {{ 'nav.theater_favoris'|trans }} <span></span></a></li>
          <li><a class="programs" href="{{ path('user_persons') }}" target="_top"><i class="icon-list"></i> {{ 'nav.person_favoris'|trans }} <span></span></a></li>
          <li><a class="account" href="{{ path('user_settings') }}" target="_top"><i class="icon-user"></i> {{ 'nav.account'|trans }}</a></li>
          <li class="divider"></li>
          <li><a class="signout"><i class="icon-remove"></i> {{ 'signout'|trans }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</div>
