<ul class="container nav nav-pills hide">
  <li class="vod vod-all"><a class="link-v2" href="/vod" href="#">{{ 'nav.filters.all'|trans }}</a></li>
  <li class="vod vod-replay"><a href="#">{{ 'nav.replay.channels'|trans }}</a></li>
  <li class="vod vod-films"><a class="link-v2" href="/films" href="#">{{ 'nav.films'|trans }}</a></li>
  <li class="vod vod-documentaires"><a class="link-v2" href="/documentaires" href="#">{{ 'nav.documentaires'|trans }}</a></li>
  <li class="vod vod-emissions"><a class="link-v2" href="/emissions" href="#">{{ 'nav.emissions'|trans }}</a></li>
  <li class="vod vod-series"><a class="link-v2" href="/series" href="#">{{ 'nav.series'|trans }}</a></li>
  <li class="vod vod-spectacles"><a class="link-v2" href="/spectacles" href="#">{{ 'nav.spectacles'|trans }}</a></li>
  {#<li class="tv"><a href="{{ path('player_live') }}" target="_parent">{{ 'nav.tv.live'|trans }}</a></li>#}
  <li class="tv active"><a class="link-v2" href="tv">{{ 'nav.filters.all'|trans }}</a></li>
  <li class="tv tv-grid tv-grid-main dropdown">
    <a class="link-v2 dropdown-toggle" data-filter="all" data-toggle="dropdown" href="/programme-tv">{{ 'nav.tv.grid'|trans }} {#<b class="caret"></b>#}</a>
    {#<ul class="dropdown-menu">
      <li class="nav-header">{{ 'past'|trans }}</li>
      <li><a href="#">{{ 'nav.tv.selection.lastweek'|trans }}</a></li>
      <li><a href="#">{{ 'nav.tv.selection.yesterday'|trans }}</a></li>
      <li class="divider"></li>
      <li class="nav-header">{{ 'today'|trans }}</li>
      <li><a href="#">{{ 'nav.tv.selection.now'|trans }}</a></li>
      <li><a href="#">{{ 'nav.tv.selection.tonight'|trans }}</a></li>
      <li class="divider"></li>
      <li class="nav-header">{{ 'coming'|trans }}</li>
      <li><a href="#">{{ 'nav.tv.selection.tommorrow'|trans }}</a></li>
      <li><a href="#">{{ 'nav.tv.selection.thisweek'|trans }}</a></li>
    </ul>#}
  </li>
  <li class="tv tv-grid tv-grid-filter tv-grid-filter-first hide"><a class="link-v2" data-filter="all" href="/programme-tv" title="{{ 'nav.tv.title.all' }}">&raquo; {{ 'nav.all'|trans }}</a></li>
  <li class="tv tv-grid tv-grid-filter hide"><a class="link-v2" data-filter="films" href="/programme-tv" title="{{ 'nav.tv.title.films' }}">&raquo; {{ 'nav.films'|trans }}</a></li>
  <li class="tv tv-grid tv-grid-filter hide"><a class="link-v2" data-filter="emissions" href="/programme-tv" title="{{ 'nav.tv.title.emissions' }}">&raquo; {{ 'nav.emissions'|trans }}</a></li>
  <li class="tv tv-grid tv-grid-filter hide"><a class="link-v2" data-filter="series" href="/programme-tv" title="{{ 'nav.tv.title.series' }}">&raquo; {{ 'nav.series'|trans }}</a></li>
  <li class="tv tv-grid tv-grid-filter hide"><a class="link-v2" data-filter="documentaires" href="/programme-tv" title="{{ 'nav.tv.title.documentaires' }}">&raquo; {{ 'nav.documentaires'|trans }}</a></li>
  <li class="tv tv-grid tv-grid-filter tv-grid-filter-last hide"><a class="link-v2" data-filter="spectacles" href="/programme-tv" title="{{ 'nav.tv.title.spectacles' }}">&raquo; {{ 'nav.spectacles'|trans }}</a></li>
  <li class="cine active"><a class="link-v2" href="/cine">{{ 'nav.filters.all'|trans }}</a></li>
  <li class="cine"><a class="link-v2" href="/selection/7845147-a-voir-au-cinema" href="#">{{ 'nav.theaters.release'|trans }}</a></li>
  <li class="cine cine-box-office"><a target="_parent" href="{{ path('cinema_boxoffice', {alpha: 'a'}) }}" href="#">{{ 'nav.theaters.boxoffice'|trans }}</a></li>
  <li class="cine"><a class="link-v2" href="/selection/7845150-prochainement-dans-les-salles" href="#">{{ 'nav.theaters.coming'|trans }}</a></li>
</ul>