{% if p is not defined %}
{% set p = {title:'%title%',id:'%id%',picture:'',onglet:'%onglet%',seo_url:'%seo_url%',has_vod:'%has_vod%',best_offer:'',deporte:'%deporte%'} %}
{% endif %}
<li class="tv-component {{ p.onglet }}{% if p.id == '%id%' %}slider-sample{% endif %}{% if p.deporte %} deporte{% endif %}{% if 'missing' in p.picture %} missing-picture{% endif %}" data-id="{% if p.episodeof.id is defined %}{{ p.episodeof.id }}{% else %}{{ p.id }}{% endif %}" data-play-program-id="{{ p.id }}" style="{% if p.picture %}background-image:url({{ p.picture }}){% endif %}"{% if p.alpha is defined %} data-alpha="{{ p.alpha }}"{% endif %}>
  {% if p.best_offer is defined and p.best_offer.channel_img is defined %}
    <div class="channel">
      <img src="{{ p.best_offer.channel_img }}" alt="{{ p.best_offer.channel_name }}">
      <span class="diff">{{ p.best_offer.broadcastdate|replace(' à', ' à') }}</span>
    </div>
  {% else %}
    <div class="channel">
      {% if p.popular_channel is defined %}
      <img src="{{ p.popular_channel.img }}" alt="{{ p.popular_channel.name }}" />
      {% endif %}
      <span class="diff">
      {% if p.deporte %}<i class="icon-th icon-white"></i> {{ 'action.play.deporte'|trans }}
      {% elseif p.has_vod == 4 %}{{ 'action.play.cine'|trans }}
      {% elseif p.has_vod == 3 %}{{ 'action.play.dvd'|trans }}
      {% elseif p.has_vod == 5 %}{{ 'action.play.tv'|trans }}
      {% elseif p.has_vod == 6 %}{{ 'action.play.rec'|trans }}
      {% elseif p.has_vod == 7 or p.has_vod == 8 %}{{ 'action.play.replay'|trans }}
      {% elseif p.has_vod %}{{ 'action.play.streaming'|trans }}{% endif %}
      </span>
    </div>
  {% endif %}
  {#<div class="actions" data-id="{% if p.episodeof.id is defined %}{{ p.episodeof.id }}{% else %}{{ p.id }}{% endif %}" data-onglet="{{ p.onglet }}">
    <a class="btn fav" href="#"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
  </div>#}
  <a href="{{ p.seo_url }}" class="title">
    {{ p.title }}
  </a>
</li>