{% if app.environment == 'prod' %}
{% set base_url = 'preprod' not in app.request.httpHost  ? 'http://www.myskreen.com' : '' %}
{% else %}
{% set base_url = '/app_dev.php' %}
{% endif %}
{% if p is not defined or p.title is not defined %}
{% set p = {title:'%title%',
            id:'%id%',
            picture:'',
            onglet:'%onglet%',
            seo_url:'',
            root_id:'',
            has_vod:'%has_vod%',
            best_offer:'',
            deporte:''} %}
{% endif %}
{% if ' - ' in p.title %}
  {% set tmp = p.title|split(' - ') %}
  {% set p_title = tmp[1] ~ ' / ' ~ tmp[0] %}
{% else %}
  {% set p_title = p.title %}
{% endif %}
<li class="tv-component actions hasvod-{{ p.has_vod }} root-{{ p.episodeof.id is defined ? p.episodeof.id ~ ' ' : p.id }}{{ p.onglet is defined ? ' ' ~ p.onglet : '' }}{% if p.id == '%id%' %} slider-sample{% endif %}{% if p.deporte %} deporte{% endif %}{% if 'missing' in p.picture %} missing-picture{% endif %}{% if class is defined %} {{ class }}{% endif %}" data-id="{% if p.episodeof.id is defined %}{{ p.episodeof.id }}{% else %}{{ p.id }}{% endif %}" data-play-program-id="{{ p.id }}" style="{% if p.picture %}background-image:url({{ p.picture }}){% endif %}"{% if p.alpha is defined %} data-alpha="{{ p.alpha }}"{% endif %}>
  {% if header is defined %}{{ header|raw }}{% endif %}
  {% if p.onglet != 'channel' %}
    {% if p.best_offer is defined and p.best_offer.channel_id is defined %}
    <a class="channel is-best-offer logo-channel-{{ p.best_offer.channel_id }}">
      {% if p.best_offer.channel_img is defined and p.best_offer.channel_name is defined %}
      <img src="{{ p.best_offer.channel_img }}" alt="{{ p.best_offer.channel_name }}">
      {% endif %}
      
      {% if p.best_offer.broadcastdate is defined and p.best_offer.access.name is defined and p.best_offer.access.name == "Live" and p.best_offer.broadcasttime < "now"|date('U') and "now"|date('U') < p.best_offer.endtime  %}
      <span class="diff">En ce moment</span>    
      {% else %}
      <span class="diff">{{ p.best_offer.broadcastdate|replace(' à', ' à') }}</span>
      {% endif %}
    </a>
    {% elseif p.popular_channel is defined or p.has_vod %}
    <a class="channel is-popular-channel{% if p.popular_channel is defined %} logo-channel-{{ p.popular_channel.id }}{% endif %}"{% if p.popular_channel is defined %} href="{{ base_url }}{{ p.popular_channel.seo_url }}"{% endif %}>
      {%- if p.popular_channel is defined -%}
      <img src="{{ p.popular_channel.img }}" alt="{{ p.popular_channel.name }}" />
      {%- endif -%}
      <span class="diff">
      {#%- if p.deporte == true %}<i class="icon-th icon-white"></i> {{ 'action.play.deporte'|trans }}#}
      {%- if p.has_vod == 4 %}{{ 'action.play.cine'|trans }}
      {%- elseif p.has_vod == 3 %}{{ 'action.play.dvd'|trans }}
      {%- elseif p.has_vod == 5 %}{{ 'action.play.tv'|trans }}
      {%- elseif p.has_vod == 6 %}{{ 'action.play.rec'|trans }}
      {%- elseif p.has_vod in [7,8] %}{{ 'action.play.replay'|trans }}
      {%- elseif p.has_vod in [9,10] %}{{ 'action.play.webcast'|trans }}
      {%- elseif p.has_vod == 13 %}{{ 'action.play.archive'|trans }}
      {%- elseif p.has_vod != '%has_vod%' %}{{ 'action.play.streaming'|trans }}{% endif -%}
      {% if app.environment == 'dev' and p.nb_like is defined and p.nb_like %}
      <div class="container-friends"><i class="icon-user icon-white"></i> <big>{{ p.nb_like }}</big></div>
      {% endif%}
    </span>
    </a>
    {% endif %}
  {% endif %}
  <a {% if p.seo_url %}href="{{ base_url }}{{ p.seo_url }}{{ theater_id is defined and theater_id > 0 ? '?theater_id=' ~ theater_id : '' }}"{% endif %} target="_top" class="title"><i class="icon-th icon-white"></i> {{ p_title }}</a>
</li>