{% if p is not defined %}
{% set p = {title:'%title%',id:'%id%',picture:'%picture%',onglet:'%onglet%',seo_url:'%seo_url%',has_vod:'%has_vod%'} %}
{% endif %}
<li class="slider-sample tv-component" data-id="{% if p.episodeof.id is defined %}{{ p.episodeof.id }}{% else %}{{ p.id }}{% endif %}" style="background-image:url({{ p.picture }})"{% if p.alpha is defined %} data-alpha="{{ p.alpha }}"{% endif %}>
  {% if p.popular_channel is defined %}
    %popular_channel%
  {% endif %}
  <div class="actions" data-id="{% if p.episodeof.id is defined %}{{ p.episodeof.id }}{% else %}{{ p.id }}{% endif %}" data-onglet="{{ p.onglet }}">
    <a class="btn fav" title="{{ 'seo.title.add'|trans }}" href="#"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
    <a class="btn play" title="{{ p.title }} {{ 'seo.title.play'|trans }}" href="{{ p.seo_url }}"><i class="icon-play"></i> 
    {% if p.has_vod == 4 %}{{ 'action.play.cine'|trans }}
    {% elseif p.has_vod == 3 %}{{ 'action.play.dvd'|trans }}
    {% elseif p.has_vod == 5 %}{{ 'action.play.tv'|trans }}
    {% elseif p.has_vod == 6 %}{{ 'action.play.rec'|trans }}
    {% elseif p.has_vod == 7 or p.has_vod == 8 %}{{ 'action.play.replay'|trans }}
    {% else %}{{ 'action.play.streaming'|trans }}{% endif %}
    <span>{{ 'action.deporte'|trans }}</span></a>
  </div>
  <a href="{{ p.seo_url }}" title="{{ p.title }} {{ 'seo.title.play'|trans }}" class="title">{{ p.title }}</a>
</li>