<div id="selector-back" class="btn-group pull-right hide">
  <a class="btn" href="#">&laquo; {{ 'back'|trans }}</a><a class="btn btn-primary"></a>
</div>
<h2>{{ 'playlist.title'|trans }}</h2>
<div class="slider">
  <a class="next badge badge-inverse">&raquo;</a>
  <a class="prev badge badge-inverse">&laquo</a>
  <div class="slider-container">
  <ul id="playlist" class="items{% if addClass is defined %} {{ addClass }}{% endif %}" data-load-url="{{ path('playlist_load', {type:'group.name', session_uid: 'session.uid'}) }}">
    <li id="all" class="selector" data-load-url="{{ path('playlist_load', {type:'all', session_uid: 'session.uid'}) }}" style="background:url(http://mskstatic.com/150/200/medias/photos/programmes/moins_de4350000/4348916/the-divide.jpg) no-repeat;" data-name="name.all">
      <span class="label label-inverse">{{ 'playlist.all'|trans }}</span><br/>
      <span class="badge badge-info">1</span>
    </li>
    <li id="cine" class="selector empty" data-name="name.cine">
      <span class="label opacity">{{ 'playlist.cine'|trans }} </span><br/>
      <span class="badge opacity">?</span>
      <a class="btn" href="API.linkV2('/selection/3772198-a-voir-au-cinema')">{{ 'playlist.add.programs.cine'|trans }}</a>
    </li>
    <li id="tv" class="selector empty" data-name="name.tv">
      <span class="label opacity">{{ 'playlist.tv'|trans }}</span><br/>
      <span class="badge opacity">?</span>
      <a class="btn" href="API.linkV2('/programme-tv')">{{ 'playlist.add.programs.tv'|trans }}</a>
    </li>
    <li id="replay" class="selector empty" data-name="name.replay">
      <span class="label opacity">{{ 'playlist.replay'|trans }}</span><br/>
      <span class="badge opacity">?</span>
      <a class="btn" href="API.linkV2('/selection/3772173-les-meilleures-audiences-tele-d-hier')">{{ 'playlist.add.programs.replay'|trans }}</a>
    </li>
    <li id="vod" class="selector empty" data-name="name.vod">
      <span class="label opacity">{{ 'playlist.web'|trans }}</span><br/>
      <span class="badge opacity">?</span>
      <a class="btn" href="#" onClick="API.linkV2('/selection/2344698-les-nouveautes-vod')">{{ 'playlist.add.programs.vod'|trans }}</a>
    </li>
    <li id="friends" class="selector empty" data-name="name.friends">
      <span class="label label-warning">{{ 'playlist.friends'|trans }}</span><br/>
      <span class="badge badge-important">?</span>
    </li>
    <li id="item" onClick="API.linkV2($(this).data('url'));" data-url="%url%" style="background:url(%img%) no-repeat;">
    <div class="actions">
      <a class="btn fav" href="#"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
      <a class="btn play" href="#"><i class="icon-play"></i> {{ 'action.play'|trans }}</a>
    </div>
    <span class="title">%title%<br/><span class="label %label_class%">%label_name%</span></span>
    </li>
  </ul>
  </div>
</div>