<h2 class="user-on-visibility">{{ 'playlist.yours'|trans }} <small></small> <small></small></h2>
<div id="playlist" class="slider" data-pager-offset="0" data-animate="width" data-url="{{ path('playlist_load', {type:'access.name', session_uid: 'session.uid'}) }}">
  <div class="slider-container">
  <ul class="items{% if addClass is defined %} {{ addClass }}{% endif %}">
    <li class="loader static">Chargement ...</li>
    <li data-id="%id%" class="slider-sample %onglet%">
      %popular_channel%
      <div data-id="%id%" class="actions">
        <a class="btn fav" title="{{ 'seo.title.add'|trans }}" href="#"><i class="icon-plus-sign"></i> {{ 'action.add.favorites'|trans }}</a>
        <a class="btn play" title="%seo_play_title% {{ 'seo.title.play'|trans }}" href="%url%"><i class="icon-play"></i> {{ 'action.play.streaming'|trans }}<span>{{ 'action.deporte'|trans }}</span></a>
      </div>
      <a href="%url%" title="%seo_play_title% {{ 'seo.title.play'|trans }}" class="title"><span>%title%</span></a>
    </li>
    <li id="tv" class="selector static empty" data-name="{{ 'playlist.name.tv'|trans }}" data-original-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.tv'|trans }}</small>" data-content="{{ 'playlist.popover.tv'|trans }}" data-placement="top">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.tv'|trans|lower }}</span>
      <h6 class="teaser">{{ 'playlist.teaser.tv'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/programme-tv"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.tv'|trans }}</a>
    </li>
    <li id="replay" class="selector static empty" data-name="{{ 'playlist.name.replay'|trans }}" data-original-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.replay'|trans }}</small>" data-content="{{ 'playlist.popover.replay'|trans }}" data-placement="top">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.replay'|trans|lower }}</span>
      <h6 class="teaser"><b>{{ 'playlist.teaser.nb.replay'|trans }}</b> {{ 'playlist.teaser.replay'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/tv-replay"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.replay'|trans }}</a>
    </li>
    <li id="vod" class="selector static empty" data-name="{{ 'playlist.name.vod'|trans }}" data-original-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.vod'|trans }}</small>" data-content="{{ 'playlist.popover.vod'|trans }}" data-placement="top">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.vod'|trans|lower }}</span>
      <h6 class="teaser"><b>{{ 'playlist.teaser.nb.vod'|trans }}</b> {{ 'playlist.teaser.vod'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/vod"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.vod'|trans }}</a>
    </li>
    <li id="cine" class="selector static empty" data-name="{{ 'playlist.name.cine'|trans }}" data-original-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.cine'|trans }}</small>" data-content="{{ 'playlist.popover.cine'|trans }}" data-placement="top">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.cine'|trans|lower }}</span>
      <h6 class="teaser">{{ 'playlist.teaser.cine'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/cine"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.cine'|trans }}</a>
    </li>
    <li id="friends" class="selector static empty" data-name="{{ 'playlist.name.friends'|trans }}" data-original-title="{{ 'playlist.friends'|trans }}" data-content="{{ 'playlist.popover.friends'|trans }}" data-placement="top">
      <span class="label label-warning opacity"><span></span> {{ 'playlist.friends'|trans|lower }}</span>
      <h6 class="teaser">{{ 'playlist.teaser.friends'|trans }}</h6>
      <a class="btn btn-large" data-modal="invitefriends" href="#"><i class="icon-plus-sign"></i> {{ 'playlist.add.friends'|trans }}</a>
    </li>
  </ul>
  </div>
</div>