<ul class="breadcrumb user-on-visibility">
  <li><a href="#">{{ 'playlist.yours'|trans }}</a> <span class="divider">/</span></li>
  <li><a href="#">dddd</a> <span class="divider">/</span></li>
  <li class="active">dddd</li>
</ul>
<div id="playlist" class="slider" data-pager-offset="0" data-animate="width" data-paginate-url="{{ path('playlist_load', {type:'access.name', session_uid: 'session.uid'}) }}">
  <div class="slider-container">
  <ul class="items{% if addClass is defined %} {{ addClass }}{% endif %}">
    <li class="loader static"><p class="alert alert-info">Chargement …</p></li>
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' %}
    <li id="tv" class="selector static empty" data-name="{{ 'playlist.name.tv'|trans }}" data-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.tv'|trans }}</small>" data-content="{{ 'playlist.popover.tv'|trans }}" data-placement="top" data-trigger="hover">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.tv'|trans|lower }}</span>
      <h6 class="teaser">{{ 'playlist.teaser.tv'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/programme-tv"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.tv'|trans }}</a>
    </li>
    <li id="replay" class="selector static empty" data-name="{{ 'playlist.name.replay'|trans }}" data-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.replay'|trans }}</small>" data-content="{{ 'playlist.popover.replay'|trans }}" data-placement="top" data-trigger="hover">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.replay'|trans|lower }}</span>
      <h6 class="teaser"><b>{{ 'playlist.teaser.nb.replay'|trans }}</b> {{ 'playlist.teaser.replay'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/tv-replay"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.replay'|trans }}</a>
    </li>
    <li id="vod" class="selector static empty" data-name="{{ 'playlist.name.vod'|trans }}" data-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.vod'|trans }}</small>" data-content="{{ 'playlist.popover.vod'|trans }}" data-placement="top" data-trigger="hover">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.vod'|trans|lower }}</span>
      <h6 class="teaser"><b>{{ 'playlist.teaser.nb.vod'|trans }}</b> {{ 'playlist.teaser.vod'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/vod"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.vod'|trans }}</a>
    </li>
    <li id="cine" class="selector static empty" data-name="{{ 'playlist.name.cine'|trans }}" data-title="{{ 'playlist.yours'|trans }}<br/><small>{{ 'playlist.cine'|trans }}</small>" data-content="{{ 'playlist.popover.cine'|trans }}" data-placement="top" data-trigger="hover">
      <span class="label label-inverse opacity"><span></span> {{ 'playlist.cine'|trans|lower }}</span>
      <h6 class="teaser">{{ 'playlist.teaser.cine'|trans }}</h6>
      <a class="btn btn-large link-v2" href="/cine"><i class="icon-plus-sign"></i> {{ 'playlist.add.programs.cine'|trans }}</a>
    </li>
    <li id="friends" class="selector static empty" data-name="{{ 'playlist.name.friends'|trans }}" data-title="{{ 'playlist.friends'|trans }}" data-content="{{ 'playlist.popover.friends'|trans }}" data-placement="top" data-trigger="hover">
      <span class="label label-warning opacity"><span></span> {{ 'playlist.friends'|trans|lower }}</span>
      <h6 class="teaser">{{ 'playlist.teaser.friends'|trans }}</h6>
      <a class="btn btn-large" data-modal="invitefriends" href="#"><i class="icon-plus-sign"></i> {{ 'playlist.add.friends'|trans }}</a>
    </li>
  </ul>
  </div>
</div>