{#
<div class="fb-like" data-href="{{ url }}" data-width="130" data-layout="button_count" data-show-faces="false" data-send="false"></div>


<a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr" data-count="none">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<div class="g-plusone" data-size="medium" data-annotation="none"></div>




<iframe class="pull-left" src="//www.facebook.com/plugins/like.php?href={{ url|url_encode }}&amp;width=88&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=422066694500806" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px; margin-left:7px;" allowTransparency="true"></iframe>
#}

<iframe class="pull-left fbshare"  src="http://www.facebook.com/plugins/like.php?locale=fr_FR&amp;app_id=422066694500806&amp;href={{ url|url_encode }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; height:21px; margin-left:5px; overflow:hidden; width:93px;" allowTransparency="true"></iframe>
<iframe class="pull-left twitter-share" style="height: 20px;width: 94px; margin-right:0px; margin-left:5px;" allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1355514129.html#_=1356719798951&amp;id=twitter-widget-0&amp;lang=fr&amp;original_referer={{ url|url_encode }}&amp;size=m&amp;text={{ text|url_encode|replace({'+': '%20'}) }}&amp;url={{ url|url_encode }}" class="block-twitter" data-twttr-rendered="true"></iframe>

<iframe  class="g-plus-share"frameborder="0" scrolling="no" style="border-style:none; height:30px; margin: 0px 3px 0; visibility:visible; width:70px;" id="I0_share" name="I0_share" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=fr&amp;url={{ url|url_encode }}&amp;id=I0_share" allowtransparency="true" data-gapiattached="true" title="+1"></iframe>

