{% if slider.seo_url is defined %}
<div class="slider-link pull-right">
{#<a class="btn btn-inverse trigger-tv" href="#" data-couchmode="{{ {'type': 'pack', 'id': slider.id}|json_encode }}"><i class="icon-off icon-white"></i> {{ 'program.tv.on'|trans }}</a>#}
<a href="{{ path('any_url', {url: slider.seo_url[1:slider.seo_url|length-1]}) }}"><i class="icon-fullscreen"></i> {{ 'slider.link.default'|trans }}</a>
</div>
{% endif %}
{% if noheader is not defined %}
  <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %} class="user-on-visibility">{{ slider.title|raw }}{% if slider.name is defined and 'promo_' in slider.name %} <span class="label label-warning">{{ 'slider.sponsor'|trans }}</span>{% endif %}</h3>
{% endif %}
<div{% if slider.id is defined %} id="{{ slider.id }}"{% endif %}{% if slider.paginate is defined %} data-paginate-url="{{ slider.paginate }}"{% endif %} class="slider" data-autoload="1" data-nb-results="{{ app.request.get('nb_results', '10') }}" data-pager-offset="0" data-animate="width">
  <div class="slider-container">
    <ul class="items{% if addClass is defined %} {{ addClass }}{% endif %}">
      <li class="loader static">{{ 'loading'|trans }} ...</li>
      {% for program in slider.programs %}
      {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
      {% endfor %}
    </ul>
  </div>
</div>