{% set base_url = app.environment == 'prod' and ('www.myskreen.com' not in app.request.uri or '/partners/' in app.request.uri) ? 'http://www.myskreen.com' : (app.environment == 'dev' ? '/app_dev.php' : '') %}
{% if slider.seo_url is defined %}
  <div class="slider-link pull-right">
    {#<a class="btn btn-inverse trigger-tv" href="#" data-couchmode="{{ {'type': 'pack', 'id': slider.id}|json_encode }}"><i class="icon-off icon-white"></i> {{ 'program.tv.on'|trans }}</a>#}
    <a href="{{ base_url }}{% if slider.fichier is defined and slider.fichier is not empty %}{{ slider.fichier }}{% else %}{{ slider.seo_url }}{% endif %}"> <i class="icon-fullscreen"></i> {% if slider.contenu_rss is defined and slider.contenu_rss is not empty %}{{ slider.contenu_rss}}{% else %}{{ 'slider.link.default'|trans }}{% endif %}</a>
  </div>
{% endif %}
{% if noheader is not defined %}
  <h{{ h_level is defined ? h_level : 4 }}{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %} class="user-on-visibility">{% if slider.seo_url is defined %}<a href="{{ base_url }}{% if slider.fichier is defined and slider.fichier is not empty %}{{ slider.fichier }}{% else %}{{  slider.seo_url }}{% endif %}">{% endif %}{{ slider.title|raw }}{% if slider.name is defined and 'promo_' in slider.name %} <span class="label label-warning">{{ 'slider.sponsor'|trans }}</span>{% endif %}{% if slider.seo_url is defined %}</a>{% endif %}</h{{ h_level is defined ? h_level : 4 }}>
{% endif %}
<div{% if slider.id is defined %} id="{{ slider.id }}"{% endif %}{% if (slider.paginate is not defined or slider.paginate) and slider.url is defined %} data-paginate-url="{{ slider.url }}"{% endif %} class="slider{{ class is defined and class ? ' ' ~ class : '' }}" data-autoload="1" {% if slider.programs is defined and slider.programs|length  %}data-nb-results="{{ slider.programs|to_array|length }}" {% endif %}data-pager-offset="0" data-animate="width">
  <div class="slider-container">
    <div class="loader static alert alert-info hide">{{ 'loading'|trans }}...</div>
    <ul class="items{% if addClass is defined %} {{ addClass }}{% endif %}">
      {% if slider.programs is defined %}
        {% for program in slider.programs|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  <a class="carousel-control right">›</a>
  <a class="carousel-control left">‹</a>
</div>