{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block meta %}
<meta property="og:title" content="{{ 'page.title.apps.install'|trans }}" />
<meta property="og:description" content="{{ 'page.description.apps.install'|trans }}" />
<meta property="og:image" content="http://medias.myskreen.com/logo.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.myskreen.com" />
{% endblock %}
{% block title %}{{ 'page.title.apps.install'|trans }}{% endblock %}
{% block description %}{{ 'page.description.apps.install'|trans }}{% endblock %}

{% block content %}
<div id="view-appsinstall" >
  <div class="myworldisblue">
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <span class="lato title-1">
            Retrouvez
          </span>
          <span class="mk_logo"/></span>
          <span class="lato title-2">
            sur votre mobile !
          </span>
          <a href="#" class="store">
           <img src="{{ asset('bundles/skreenhousefactoryv3/images/apps_apple.png') }}" alt="Retrouvez l’appli myskreen sur l'app store">
         </a>
         <a href="https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr" class="store">
           <img src="{{ asset('bundles/skreenhousefactoryv3/images/apps_google.png') }}" alt="Retrouvez l’appli myskreen sur google play">
           </a>
       </div>
       <div class="col-xs-7">
        <span class="img_mobile" ></span>
      </div>
    </div>
  </div>
</div>
<div class="container textbgcol"> 
  <div class="row">
   <div class="col-xs-8">
     <h2 class="lato title-3">
       Disponible sur iOs et Android
     </h2>
     <p>
       Découvrez la nouvelle appli gratuite myskreen et profitez du guide de programmes le plus simple et le plus complet :
     </br>
       <ul class="list-style">
        <li><span>TELE</span></li>
        <li><span>REPLAY</span></li>
        <li><span>VOD</span></li>
        <li><span>CINE</span></li>
      </ul>
       Un programme vous intéresse ?
       <br><br>
       myskreen vous indique où et comment le regarder en 1 clic !
       <br>
       Vous pouvez même ajouter vos programmes préférés à vos playlists et créer votre télé personnelle à la carte !
       
     </p>
   </div>
   <div class="col-xs-8">
     <h2 class="lato title-3">
       L’intégrale des inconnus
     </h2>
     <p>
       Retrouvez en ce moment l’Intégrale des Inconnus ! Tous les sketches cultes sont enfin disponibles en streaming gratuit sur l’appli myskreen.<br><br>
       A voir et à revoir absolument : Stade 2, Les Chasseurs, C’est toi que je t’aime, La ZUP, Télémagouilles, Tourez ménages, Le Commissariat et tant d’autres sketches qui vous ont forcément marqué et qui sont toujours tant d’actualité !
     </p>
   </div>
 </div>
</div>
<script>
  var ua = navigator.userAgent.toLowerCase();
  if(ua.indexOf('android') != -1 && ua.indexOf('mobile')) {
      // Redirect to Android-site
      window.location = 'https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr';
    }
    if(ua.indexOf('ios') != -1 && (ua.indexOf('iphone') ||  ua.indexOf('ipod'))) {
      // Redirect to iTunes-site
      //window.location = 'https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr';
    }
  </script>



</div>



{% endblock %}